﻿.multi-tenancy-white {
    .ng-scope {
        .ng-isolate-scope {
            .panel-default {
                border: none;
                box-shadow: none;
                border: 1px solid #B4B4B4;

                .panel-heading {
                    background-color: #fff !important;
                    text-align: center !important;
                    border-bottom: solid 2px #F0F0F0;

                    .plus-btn {
                        display: inline-block;
                        width: 27px;
                        height: 27px;
                        top: 0;

                        &:hover {
                            opacity: 0.75;
                        }

                        .span {
                            top: 0;
                            width: 100%;
                            height: 100%;

                            &:before {
                                content: "";
                                width: 100%;
                                height: 100%;
                                display: block;
                                background-image: data-uri("@{main-url-img}/plus_light_icon.svg");
                            }
                        }
                    }

                    strong {
                        color: #464646;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }

                .panel-body {
                    padding: 0px;

                    .list-group {
                        margin-bottom: 0px;

                        .list-group-item {
                            border: none !important;
                            border-bottom: solid 1px #f0f0f0 !important;
                            margin-bottom: 0px;

                            a {
                                color: #464646 !important;
                                font-weight: normal;

                                &:hover {
                                    color: #464646 !important;
                                    text-decoration: none;
                                }

                                &:focus {
                                    color: #0096C8 !important;
                                    text-decoration: none;
                                }
                            }

                            .pencil-block {
                                width: 16px;
                                height: 16px;
                                background-image: data-uri("@{main-url-img}/pencil_dark.svg");
                                cursor: pointer;
                                background-repeat: no-repeat;
                            }

                            .search-block {
                                width: 16px;
                                height: 16px;
                                background-image: data-uri("@{main-url-img}/search_new.svg");
                                cursor: pointer;
                                background-repeat: no-repeat;
                            }

                            .btn-close {
                                margin-top: 3px;
                                width: 10px;
                                height: 10px;
                                background: none;
                                background-repeat: no-repeat;
                                border: none;
                                background-image: data-uri("@{main-url-img}/close_dark.svg");

                                &:hover {
                                    opacity: 0.75;
                                }
                            }
                        }

                        .active {
                            background-color: #fff !important;
                            border: none !important;
                            border-bottom: solid 1px #f0f0f0 !important;

                            a {
                                color: #0096C8 !important;
                                font-weight: bold;
                            }

                            .glyphicon-pencil {
                                color: #464646 !important;
                            }
                        }
                    }

                    .ng-scope {
                        border-top: solid 5px #F0F0F0;
                        margin-bottom: -6px;

                        .pagination {
                            li {
                                a {
                                    margin: 9px 25px;
                                    text-decoration: none;

                                    &:hover, &:focus {
                                        opacity: 1;
                                        background-color: #fff;
                                        text-decoration: none;
                                    }
                                }

                                .page-prev {
                                    background-image: data-uri("@{main-url-img}/arrow_left1.svg");
                                    background-repeat: no-repeat;
                                    width: 12px;
                                    height: 12px;
                                }

                                .page-next {
                                    background-image: data-uri("@{main-url-img}/arrow_right1.svg");
                                    background-repeat: no-repeat;
                                    width: 12px;
                                    height: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
