﻿#tasksSection, #taskboardTasksSection {


    @media screen and (width: 1024px) {
        .table {
            thead > tr > th {
                &.fourth {
                    display: none;
                }
            }

            tbody {
                tr {
                    .fourth-td {
                        display: none;
                    }
                }
            }
        }
    }

    .table {
        margin-bottom: 0;

        thead {
            tr {
                th {
                    font-family: 'Proxima-Nova-Regular';
                    border: none;
                    font-size: 8pt;
                    padding: 6px 25px;
                    padding-top: 5px;

                    &:first-child {
                        padding: 6px 22px 6px 10px;
                    }

                    &:last-child {
                        padding: 6px 10px 6px 23px;
                    }
                }
            }

            .first {
                width: 130px;
                min-width: 130px;
            }

            .second {
                width: 130px;
                min-width: 130px;
                max-width: 130px;
            }

            .third {
                width: 130px;
                min-width: 130px;
                max-width: 130px;
            }

            .fifth {
                width: 124px;
                min-width: 124px;
            }

            .fifteen {
                width: 15%;
            }
        }

        tbody {
            tr {
                td {
                    padding: 6px 25px;
                    // font-size: 12px;
                    font-size: 10pt;
                    line-height: 1.3em;
                    vertical-align: middle;
                    border-top: none;
                    border-bottom: 0.5px solid @inderline-row;
                    font-family: 'Proxima-Nova-Regular';

                    &:first-child {
                        padding: 6px 22px 6px 9px;
                    }

                    &:last-child {
                        padding: 6px 10px 6px 23px;
                    }

                    .text-blue {
                        color: #00aff0 !important;
                    }
                }

                .input-field {
                    width: 80px;
                    border: none;

                    &:focus {
                        outline: 0;
                    }

                    &[placeholder] {
                        text-overflow: ellipsis;
                        font-size: 10pt;
                        line-height: 1.3em;
                        font-family: 'Proxima-Nova-Regular';
                    }

                    &::-moz-placeholder {
                        text-overflow: ellipsis;
                    }

                    &:-moz-placeholder {
                        text-overflow: ellipsis;
                    }

                    &:-ms-input-placeholder {
                        text-overflow: ellipsis;
                    }
                }

                .new-note {
                    width: 100%;
                    height: 45px;
                    resize: none;
                    border: none;
                    padding-top: 15px;
                    margin-left: -2px;
                    overflow-y: hidden;

                    &:focus {
                        outline: 0;
                    }
                }

                .new-note-two-lines {
                    padding-top: 5px;
                }

                .new-note-110 {
                    height: 110px;
                    overflow-y: initial;
                }

                .fifth-td {
                    // vertical-align: top;
                    padding-top: 6px;
                    padding-left: 0px;
                }
            }

            .first-td {
                button:nth-child(2) {
                    margin: 0 1px;
                }
            }

            .second-td {
                color: @main-brown;
                font-weight: bold;
                max-width: 120px;
                /*overflow: hidden;*/
            }

            .third-td {
                color: @main-brown;
                font-weight: bold;
                max-width: 120px;
                overflow: hidden;
            }

            .fourth-td {
                color: @main-notes;
                min-width: 210px;
                padding-top: 0;
                padding-bottom: 0;
                max-width: 210px;

                p {
                    margin: 0;
                }

                .note-short {
                    // display: inline;
                    position: relative;
                    overflow: hidden;
                    // height: 52px;
                    //pointer-events: none;
                    padding: 4px;
                    padding-left: 0;

                    ul {
                        margin-bottom: 0px !important;
                    }
                }

                .note-short-ellipses {
                    &:after {
                        position: absolute;
                        pointer-events: all;
                        content: '...';
                        bottom: 4px;
                        right: 17px;
                        background-color: #fff;
                        padding: 0;
                        cursor: pointer;
                    }
                }

                .note-full {
                    height: auto;
                    border: 1px dashed @main-blue;
                    padding: 3px;

                    &:after {
                        position: absolute;
                        pointer-events: all;
                        content: '';
                        background-image: data-uri("@{main-url-img}/ok_blue.svg");
                        bottom: 2px;
                        right: 2px;
                        padding: 0 5px 0 5px;
                        width: 10px;
                        height: 10px;
                    }
                }

                .field-of-edit {
                    display: none;
                }
            }

            .fifth-td {
                .status {
                    color: #5D5D5D;
                }

                .btn-circle {
                    border: none;
                    width: 25px;
                    height: 25px;
                }

                button {
                    margin: 0 2px;
                }

                button:first-child {
                    margin-left: 0;
                }
            }

            .fifteen-td {
                width: 15%;
            }

            .text-muted {
                color: @text-grey;
            }

            .text-primary {
                color: @text-blue;

                &:hover {
                    color: @text-blue;
                }
            }

            .edit-tr {
                td {
                    vertical-align: top;
                    padding-top: 12px;
                }

                .fourth-td {
                    padding-top: 6px;
                    padding-bottom: 6px;

                    .note, .note-short {
                        display: none;
                    }

                    .field-of-edit {
                        display: block;
                        // margin-top: 0px;
                        // margin-bottom: 0px;
                        height: 100px;
                        position: relative;

                        textarea {
                            width: 100%;
                            min-width: 100%;
                            resize: none;
                            height: 100%;
                            min-height: 100%;
                            resize: none;
                            border: 1px dashed @main-blue;
                            // color: @main-blue;
                            padding: 5px;
                            background-color: @simple-white;
                        }

                        .accept-btn {
                            position: absolute;
                            bottom: 1px;
                            right: 1px;
                            cursor: pointer;
                            width: 14px;
                            height: 14px;
                            background-color: #fff;
                            border: 2px solid #FFF;

                            &:hover {
                                opacity: 0.75;
                            }
                        }

                        .accept-btn-blue {
                            background-image: data-uri("@{main-url-img}/ok_blue.svg");
                        }

                        .accept-btn-grey {
                            background-image: data-uri("@{main-url-img}/ok_grey.svg");
                        }
                    }
                }

                .fifth-td {
                    // vertical-align: top;
                    // .other-actions {
                    //   float: right;
                    //   text-align: right;
                    //   margin: 15px 5px 0 0;
                    //   border-bottom: 2px solid @main-brown;
                    // }
                    .other-actions {
                        display: block;
                    }
                }
            }

            .edit-tr-only-actions {
                .fifth-td {
                    .other-actions {
                        display: block;
                    }
                }
            }

            .popup-tr {
                td {
                    border-bottom: 1px solid @inactive-name-of-tabs;
                    color: @simple-white;
                    // .note {
                    //   max-width: 400px;
                    //   white-space: nowrap;
                    //   overflow: hidden;
                    //   padding: 5px;
                    //   text-overflow: ellipsis;
                    // }
                    .fifteen {
                        width: 15%;
                    }

                    .circle-img {
                        width: 35px;
                        height: 35px;
                        background-color: @simple-white;
                        border-radius: 50%;
                    }
                }
            }

            .tr-blue-text {
                * {
                    color: @main-blue;
                }

                .btn-priority {
                    color: @simple-white;
                }
            }

            .tr-grey-text {
                * {
                    color: @text-grey;
                }

                .btn-priority {
                    color: @simple-white;
                }
            }
        }

        th {
            color: @darkest-grey;
            font-size: 10pt;
            white-space: nowrap;
            padding: 10px;
        }

        .grey-title {
            color: @inactive-name-of-tabs;
            border-bottom: 1px solid @inactive-name-of-tabs;
        }

        .glyphicon {
            color: @main-blue;
        }
    }

    .navbar-white {
        background-color: @simple-white;
        margin: 0;
        min-height: 40px;
    }

    .new-line {
        td {
            padding: 1px 25px !important;

            &:first-child {
                padding: 1px 8px !important;
            }

            &:last-child {
                padding: 6px 10px 6px 23px !important;
            }
        }

        .second-td {
            overflow: initial !important;
            padding: 1px 23px 1px 23px !important;
        }

        .fourth-td {
            padding-top: 0 !important;
            padding-bottom: 0 !important;

            .new-note {
                font-family: 'Proxima-Nova-Regular';
                font-size: 10pt;
                line-height: 20px;
                background: none;
                display: block;
                height: 52px;
            }

            .new-note-110 {
                height: 110px;
            }
        }

        .fifth-td {
            vertical-align: middle !important;
        }

        .bootstrap-select {
            .dropdown-toggle {
                .caret {
                    right: 18px;
                    margin-top: -6px;
                }

                .filter-option {
                    font-size: 10pt;
                    line-height: 1.3em;
                    color: @placeholder-color;
                }
            }
        }
    }
}
