.received-container {
    padding: 0 50px 30px 0;
    position: relative;

    .received-title-container {
        display: flex;

        .title-select {
            color: @main-brown;
            font-size: 14px;
        }

        .simple-column {
            width: 17%;
            padding-left: 10px;
        }

        .contributors-column {
            width: 30%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 5px;
        }
    }

    .received-content {
        .swiper-container {
            height: 120px;
        }

        .swiper-slide {
            display: flex;
            padding: 10px 0;
            border-bottom: 1px solid @main-background;
        }

        .simple-column {
            width: 17%;
            padding-left: 10px;
        }

        .contributors-column {
            width: 30%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 5px;
        }
    }

    .receivedSwiper-prev {
        position: absolute;
        width: 8px;
        height: 5px;
        top: 20px;
        right: 20px;
        // background-color: #321;
        background-image: data-uri("@{main-url-img}/arrow_top_brown.svg");
        cursor: pointer;

        &:hover {
            opacity: 0.75;
        }
    }

    .receivedSwiper-next {
        position: absolute;
        width: 8px;
        height: 5px;
        bottom: 20px;
        right: 20px;
        // background-color: #321;
        background-image: data-uri("@{main-url-img}/arrow_down_brown.svg");
        cursor: pointer;

        &:hover {
            opacity: 0.75;
        }
    }

    .swiper-button-disabled {
        cursor: default;
    }
}

.received-container-separator-tab {
    background-color: #464646;
    min-height: 25px;
    margin-bottom: 10px;
}

.list-container {
    @media @media991 {
        overflow-x: scroll;
    }
}

.received-container .received-title-container {
    @media @media991 {
        min-width: 890px;
    }
}

.received-container .received-content {
    @media @media991 {
        min-width: 890px;
    }
}


.receivedSwiper .active-line {
    border: 2px solid #f29105 !important;
}
