﻿@model ProjectAdminAddTaskDialogViewModel

<div id="addTaskFormDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" class="modal fade project-admin-add-task-dialog" data-keyboard="false" data-backdrop="static">

  @using (Html.BeginForm())
  {
  @Html.AntiForgeryToken()
  @Html.HiddenFor(m => m.OwnerId)
  @Html.HiddenFor(m => m.AssignedTo)
  @Html.HiddenFor(m => m.StartLimitDate)
  @Html.HiddenFor(m => m.ProjectId)
  @Html.HiddenFor(m => m.CreatorId)
  @Html.HiddenFor(m => m.CanAddToReport)

  <div class="modal-dialog">
    <div class="theme">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row vertical-center">
            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <div id="modalTitle" class="modal-title">Add Task</div>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-4 text-right">
              <button type="submit" class="btn btn-save">Save</button>
              <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
              <div class="row no-margin">
                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                  <div class="field-container">
                    @Html.LabelFor(m => m.Name, new { @class = "title-select" })
                    @Html.TextBoxFor(m => m.Name, new { @class = "simple-input", @placeholder = "Enter Name" })
                    @Html.ValidationMessageFor(m => m.Name)
                  </div>
                </div>
                <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5">
                  <div class="select-type">
                    @Html.LabelFor(m => m.Priority, new { @class = "title-select" })
                    @Html.EnumDropDownListFor(m => m.Priority, new { @class = "select-list" })
                    @Html.ValidationMessageFor(m => m.Priority)
                  </div>
                </div>
                <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding">
                  <div class="avatar-block">
                    <div class="field-container">
                      @Html.LabelFor(m => m.AssignedTo, new { @class = "title-select" })
                      <a href="javascript:void(0)" class="team-btn">
                        @if (Model.AssignedTo.HasValue)
                        {
                                                  <img src="/Media/GetAvatarForEmployee?employeeId=@(Model.AssignedTo)&amp;width=100&amp;height=100"
                                                       class="media-object img-circle assigned-to-large-photo">
                        }
                        else
                        {
                                                  <img src="~/Content/img/svg/task-assignee.svg" class="media-object img-circle assigned-to-large-photo no-assignee-image">
                        }
                        @Html.ValidationMessageFor(m => m.AssignedTo)
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
              <div class="field-container">
                @Html.LabelFor(m => m.Notes, new { @class = "title-select" })
                @Html.TextAreaFor(m => m.Notes, new { @class = "textarea simple-textarea", @rows = "3", @maxlength = "500", @placeholder = "Enter Text (max. 500 characters)" })
                @Html.ValidationMessageFor(m => m.Notes)
              </div>
            </div>
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
              <div class="tags-input-container">
                @Html.LabelFor(m => m.TagsString, new { @class = "title-select" })
                <div class="ms-ctn form-control ms-ctn-focus tags-input"></div>
                @Html.ValidationMessageFor(m => m.Tags)
              </div>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding margin-top-20">
              <div class="radio-btn-group">
                @Html.LabelFor(m => m.SendingOption, new { @class = "title-select" })
                <label>
                  @Html.RadioButtonFor(m => m.SendingOption, TaskSendingOptions.Now)
                  <span class="radio-label">Now</span>
                </label>
                <label>
                  @Html.RadioButtonFor(m => m.SendingOption, TaskSendingOptions.Pending)
                  <span class="radio-label">Schedule</span>
                </label>
              </div>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-20">
              <div class="popup-actions" style="@(Model.SendingOption == TaskSendingOptions.Now ? "pointer-events: none; opacity: 0.5;" : string.Empty)">
                @Html.LabelFor(m => m.SendDate, new { @class = "title-select" })
                @Html.TextBox("SendDate", Model.SendDate.CalendarFormatWidthYear(), new { @class = "simple-input datepicker", @placeholder = "Select Send Date", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.SendDate)
              </div>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-20">
              <div class="popup-actions">
                <div class="field-container">
                  @Html.LabelFor(model => model.Deadline, new {@class = "title-select"})
                  @Html.TextBox("Deadline", Model.Deadline.CalendarFormatWidthYear(), new {@class = "simple-input datepicker", @placeholder = "Select Due Date", @readonly = "readonly"})
                  @Html.ValidationMessageFor(m => m.Deadline)
                </div>
              </div>
            </div>
            @*<div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
              <div class="radio-btn-group" style="@(Model.CanAddToReport == false ? "pointer-events: none; opacity: 0.5;" : string.Empty)">
                @Html.LabelFor(m => m.AddToReport, new { @class = "title-select" })
                <label>
                  @Html.RadioButtonFor(m => m.AddToReport, true)
                  <span class="radio-label">Yes</span>
                </label>
                <label>
                  @Html.RadioButtonFor(m => m.AddToReport, false)
                  <span class="radio-label">No</span>
                </label>
              </div>
            </div>*@
          </div>
        </div>
      </div>
    </div>
  </div>

        <script>
          (function ()
          {
            var dialog = $("#addTaskFormDialog");
            var ownerId = $("#OwnerId", dialog).val();
            var startLimitDate = Relay.DotNetDate.dateStringToDate("@Model.StartLimitDate.ToString()");
            var startSendLimitDate = new Date(startLimitDate); startSendLimitDate.setDate(startSendLimitDate.getDate() + 1);
            //-------
            var searchTags = $(".tags-input", dialog).magicSuggest({
              placeholder: 'Enter tags',
              maxSelection: 7,
              hideTrigger: true,
              toggleOnClick: true,
              name: "Tags",
              value: [@Html.Raw(Model.TagsString)]
            });

            $(searchTags).on('selectionchange', function (e, m, v)
            {
              $("button[type=submit]", dialog).trigger("activate");
            });
            //------
            $(".avatar-block", dialog).click(function ()
            {
              var chooseTeammateDialog = Relay.ProjectChooseTeammateDialog({
                projectId: $("#ProjectId", dialog).val(),
                selectedUserId: $("#AssignedTo", dialog).val()
              });

              chooseTeammateDialog.setChooseEvent(assigneTo);
              chooseTeammateDialog.open();
            });

            function assigneTo(userId)
            {
              if (userId)
              {
                $("#AssignedTo", dialog).val(userId);
                $(".team-btn img", dialog).attr("src", "/Media/GetAvatarForEmployee?employeeId=" + userId + "&amp;width=100&amp;height=100");
                $("button[type=submit]", dialog).trigger("activate");
                $(".team-btn img", dialog).removeClass("no-assignee-image");
                $(".field-validation-error", ".team-btn").hide();

              }

              if (ownerId == userId)
              {
                $("input[name='SendingOption'][value='Now']", dialog).prop('checked', true);
                $(".radio-btn-group", dialog).attr("style", "pointer-events: none; opacity: 0.5;");
                $("#SendDate", dialog).val('');
                $("#SendDate", dialog).parent().attr("style", "pointer-events: none; opacity: 0.5;");
                deadline.datepicker("setStartDate", startLimitDate);
              }
              else
              {
                $(".radio-btn-group", dialog).removeAttr("style");
              }
            }
            //------
            var deadline = $("#Deadline", dialog).datepicker({
              format: "dd M yyyy",
              container: dialog,
              todayBtn: false,
              startDate: startLimitDate
            });

            var sendDate = $("#SendDate", dialog).datepicker({
              format: "dd M yyyy",
              container: dialog,
              todayBtn: false,
              startDate: startSendLimitDate
            });

            deadline.on('changeDate', function ()
            {
              $(this).datepicker('hide');
              $("button[type=submit]", dialog).trigger("activate");
            });

            sendDate.on('changeDate', function ()
            {
              $("#Deadline", dialog).val('');
              deadline.datepicker("setStartDate", $(this).datepicker('getDate'));
              $(this).datepicker('hide');
              $("button[type=submit]", dialog).trigger("activate");
            });
            //------
            $("input[name='SendingOption']", dialog).change(function ()
            {

              $("#Deadline", dialog).val('');
              $("#SendDate", dialog).val('');

              switch (this.value)
              {
                case "Now":
                  $("#SendDate", dialog).parent().attr("style", "pointer-events: none; opacity: 0.5;");
                  deadline.datepicker("setStartDate", startLimitDate);
                  break;
                case "Pending":
                  $("#SendDate", dialog).parent().removeAttr("style");
                  break;
              }
            });
            //------
          })();
        </script>
  }
</div>