﻿@model IEnumerable<SelectListItem>

<div Id="chooseTeammateDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade choose-teammate-dialog choose-assignee-dialog">
    <div class="modal-dialog">
        <div class="theme">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row vertical-center">
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div Id="modalTitle" class="modal-title">My Team</div>
                        </div>
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                            <button type="button" class="btn btn-save @(Model.Any() ? "" : "hide")">Save</button>
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                            @if (Model.Any())
                            {
                                <div class="team-item-container">
                                    @foreach (var user in Model)
                                    {
                                        <div class="user user-photo-online tooltipster" id="@user.Value" @Html.TooltipAttritutes(user.Text)>
                                            <img src="@Url.Action("GetAvatarForEmployee", "Media", new {area = "", employeeId = user.Value, width = 32, height = 32})"
                                                 class="user-img" />
                                        </div>

                                    }
                                </div>
                            }
                            else
                            {
                                <div class="no-team-item-container">This project has no followers</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>