﻿<div id="TaskLogsTab">
    <div class="row">
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="logs-container">
                @for (int i = 0; i < 20; i++)
                {
                    <div class="log-row">Chris Tarrant created the task and assigned it to George Miller.    17th Jul </div>
                }
            </div>
        </div>
    </div>
</div>