﻿@model rTopicViewModel

<style>
    .select-list {
        border-bottom: 1px solid #464646;
    }
</style>

<div Id="topicFormDialog" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade rTopic-dialog">
    @using (Html.BeginForm("EditCoreTopicDialogFromFramework", "CoreModule", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.TopicGroupId)
        @Html.HiddenFor(model => model.Enabled)
        @Html.HiddenFor(model => model.PageNumber)
        @Html.HiddenFor(model => model.Metrics)

        <div class="modal-dialog  modal-sm">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div Id="modalTitle" class="modal-title">Edit Core Topic</div>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-4 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="field-container">
                                    <span class="title-select">Topic name</span>
                                    @Html.TextBoxFor(model => model.TopicGroupName, new { @class = "simple-input", @placeholder = "Enter Topic Name" })
                                    @Html.ValidationMessageFor(model => model.TopicGroupName)
                                </div>
                            </div>
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                <div class="field-container">
                                    <span class="title-select">Reference name</span>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "simple-input", @placeholder = "Enter Reference Name" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                <div class="field-container">
                                    <span class="title-select">@Html.LabelFor(model => model.Description)</span>
                                    @Html.TextAreaFor(model => model.Description, new { @class = "textarea simple-textarea textarea-stretch", @rows = "3", @maxlength = "1000", @placeholder = "Enter Text (1000 characters)" })
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                            </div>
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                <div class="radio-btn-group">
                                    @Html.LabelFor(m => m.Metrics, new { @class = "title-select" })
                                    <label class="trueMetrics">
                                        @Html.RadioButtonFor(m => m.Metrics, true, new { @class = "metricsYes" })
                                        <span class="radio-label">Yes</span>
                                    </label>
                                    <label class="NoMetrics">
                                        @Html.RadioButtonFor(m => m.Metrics, false, new { @class = "metricsNo" })
                                        <span class="radio-label">No</span>
                                    </label>
                                    <div class="select-type" metric-val="@Model.UnitsSelectedType">
                                        @Html.DropDownListFor(m => m.UnitsSelectedType, Model.Units, "Units", new { @class = "select-list" })
                                    </div>
                                </div>
                            </div>
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20" style="font-size: 10px; font-weight: bold;">
                                Please note that editing this topic will affect ALL templates.
                            </div>
                        </div>
                </div>
            </div>
        </div>
        </div>
    }
</div>

<script>
    ; (function (window) {
        var result = $(".select-type").attr("metric-val");

        if (result != null && result) {
            $(".select-type").show();
        }
        else {
            $(".select-type").hide();
        }

        $(".trueMetrics").on("change", function () {
            $('#Metrics').val($(".metricsYes").val());
             $("input[name='Metrics'][value='Yes']").prop('checked', true);
            $("input[name='Metrics'][value='true']").prop('checked', true);
            $(".select-type").show();
        });

          $(".NoMetrics").on("change", function () {
            $('#Metrics').val($(".metricsNo").val());
            $("input[name='Metrics'][value='false']").prop('checked', false);
            $("input[name='Metrics'][value='No']").prop('checked', false);
            $(".select-type").hide();
        });
 })(window);
</script>