﻿@model rModuleViewModel

@{
    var currentController = ViewContext.RouteData.Values["controller"].ToString();
}


<div class="panel panel-default">
    <div class="panel-heading panel-heading-icon-right">
        <div class="row vertical-center">
            <div class="col col-lg-10 col-sm-10 col-md-10 col-xs-10">
                <span class="big-title">
                    @Html.TopicsPanelTitle(@Model.Type)
                </span>
            </div>
            <div class="col col-lg-2 col-sm-2 col-md-2 col-xs-2">
                @if (@Model.ActiveTopicGroupId.HasValue)
                {
                    <a href="javascript:void(0)" class="icon-right plus-btn btn-circle btn btn-link topic-create-btn pull-right" group="@Model.ActiveTopicGroupId">
                        <span class="glyphicon span"></span>
                    </a>
                }
            </div>
        </div>


    </div>
    <div class="panel-body">
        <ul class="list-group">
            @if (Model.TopicsList != null && Model.TopicsList.Any())
            {
                foreach (var topic in Model.TopicsList)
                {
                    <li class="list-group-item list-group-item-action@(Model.ActiveTopicId == topic.Id ? " active" : "")">
                        <div class="row vertical-center">
                            <div class="col col-lg-10 col-sm-10 col-md-10 col-xs-10">
                                <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(),
                                             Request.QueryString.AddOrUpdate(new Dictionary<string, object> {{"topic", topic.Id}, {"tasksPageNo", 1}}))">
                                    @topic.Name
                                </a>
                            </div>
                            <div class="col col-lg-2 col-sm-2 col-md-2 col-xs-2">

                                <a href="javascript:void(0)" class="topic-remove-btn pull-right btn-close"  Id="@topic.Id">
                                    @*<span class="glyphicon glyphicon-remove  topic-remove-btn pull-right" Id="@topic.Id" style="right:5px;"></span>*@
                                </a>

                                <a href="javascript:void(0)" class="topic-edit-btn pull-right pencil-block" Id="@topic.Id">
                                    @*<span class="glyphicon glyphicon-pencil topic-edit-btn pull-right" Id="@topic.Id" style="right:10px;"></span>*@
                                </a>
                            </div>
                        </div>

                    </li>
                }


                @Html.Pager(Model.TopicsList.PageSize, Model.TopicsList.PageNumber, Model.TopicsList.TotalItemCount).Options(o => o
                    .DisplayTemplate("TemplateBootstrapPagination")
                    .MaxNrOfPages(3)
                    .AlwaysAddFirstPageNumber()
                    .PageRouteValueKey("topicsPageNo")
                    .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] {"topicsPageNo"})))


            }
            else
            {
                <li class="list-group-item text-center">
                    @if (Model.ActiveTopicGroupId.HasValue)
                    {
                        @:No topics in this group.
                    }
                    else
                    {
                        @:Select a topic group.
                    }
                </li>
            }
        </ul>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        $(".topic-create-btn").click(createTopicFormDialog);
        $(".topic-edit-btn").click(editTopicFormDialog);
        $(".topic-remove-btn").click(removeTopicFormDialog);

        function createTopicFormDialog(e)
        {

            var formDialog = Relay.FormDialog({
                url: '/' + '@currentController' + '/' + 'CreateTopicDialog/?group=' + $(this).attr('group'),
                method: "GET",
                dialogId: "topicFormDialog"
            });
            formDialog.setSubmitEvent(function () {
                location.reload();
            });
            formDialog.open();
        }

        function editTopicFormDialog(e)
        {
            var formDialog = Relay.FormDialog({
                url: '/' + '@currentController' + '/' + 'EditTopicDialog/' + e.currentTarget.id,
                method: "GET",
                dialogId: "topicFormDialog"
            });
            formDialog.setSubmitEvent(function () {
                location.reload();
            });
            formDialog.open();
        }


        function removeTopicFormDialog(e) {
            var confirmDialog = Relay.ConfirmDialog(
                "Remove Reference",
                "Are you sure that you want to delete the reference?",
                "Yes",
                "No"
            );

            confirmDialog.setOkEvent(function () {

                $.ajax({
                    url: '/' + '@currentController' + '/' + 'RemoveTopic',
                    method: "POST",
                    data: { topicId: e.currentTarget.id }
                })
                    .done(function (data) {
                        /*if (data == "") {
                            location.reload();
                        }
                        var infoDlg = Relay.InfoDialog(data);
                        infoDlg.open();*/
                        location.reload();
                    });
            });
            confirmDialog.setCancelEvent();
            confirmDialog.open();
        }

    });
</script>