﻿@model TaskBoardViewModel

@{
    Layout = "~/Views/Rotation/TaskBoard/_Layout.cshtml";
}

<div class="assigned-tasks-panel">
    @if (!Model.TasksTopics.Any())
    {
        <div class="empty-panel-content">No tasks to display.</div>
    }
    else
    {
        <div class="table-block">
            <table class="table">
                <thead>
                <tr>
                    <th class="actions-title">Details</th>
                    <th class="handover-reference-title">Handover Reference</th>
                    <th class="task-name-title">Task Name</th>
                    <th class="status-title">Status</th>
                    <th class="priority-title">
                        <div class="priority-name">Priority</div>
                        <div class="priority-sort-icon @(Model.SortStrategy == TaskBoardSortOptions.PriorityDirect
                                                             ? "high-to-low"
                                                             : Model.SortStrategy == TaskBoardSortOptions.PriorityReverse
                                                                 ? "low-to-high" : string.Empty)">
                        </div>
                    </th>
                    <th class="due-date-title">
                        <div class="due-date-name">Due Date</div>
                        <div class="due-date-sort-icon @(Model.SortStrategy == TaskBoardSortOptions.DueDateDirect
                                                             ? "high-to-low"
                                                             : Model.SortStrategy == TaskBoardSortOptions.DueDateReverse
                                                                 ? "low-to-high" : string.Empty)">
                        </div>
                    </th>
                    <th class="intel-title">Intel</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var task in Model.TasksTopics)
                {
                    <tr read-only="@task.ReadOnly.ToString()" is-task-board="@task.IsTaskBoardTask.ToString()">
                        @Html.Hidden("Id", task.Id)
                        <td class="actions-body">
                            @if (task.IsCustom && !task.ReadOnly)
                            {
                                <div class="remove-btn tooltipster" @Html.TooltipAttritutes("Delete")></div>
                            }
                            else
                            {
                                <div class="none-btn">
                                    <div></div>
                                </div>
                            }
                            @if (!task.IsTaskBoardTask)
                            {
                                <div class="tooltipster arrow-btn" @Html.TooltipAttritutes("Carry Forward") topic-val="@task.CarryforwardCounter.ToString()"></div>
                            }
                            else
                            {
                                <div class="none-btn">
                                    <div></div>
                                </div>
                            }

                            <div class="arrows-btn tooltipster @(task.IsFeedbackRequired ? "hand-back-active-btn" : "hand-back-inactive-btn")" topic-val="@task.IsFeedbackRequired.ToString().ToLower()" @Html.TooltipAttritutes("Hand-back")></div>
                        </td>
                        <td class="handover-reference-body">
                            @if (string.IsNullOrEmpty(task.Reference))
                            {
                                <div class="btn btn-circle none-btn">
                                    <span class="glyphicon span"></span>
                                </div>
                            }
                            else
                            {
                                <div>@task.Reference</div>
                            }
                        </td>
                        <td class="task-name-body" task-id="@task.Id">
                            @task.Name
                        </td>
                        <td class="status-body">
                            <div class="status">
                                <div class="complete-status">
                                    @task.CompleteStatus
                                </div>
                            </div>
                        </td>
                        <td class="priority-body">
                            <div topic-val="@task.Priority.ToString()" class="btn-priority">
                                @task.Priority.ToString()
                            </div>
                        </td>
                        <td class="due-date-body">
                            @task.DueDate
                        </td>
                        <td class="intel-body">
                            <div topic-val="@task.AssigneeId.ToString()" class="btn btn-circle user-photo-btn team-btn tooltipster" @Html.TooltipAttritutes(task.AssigneeName)>
                                <img src="@Url.Action("GetAvatarForEmployee", "Media", new {employeeId = task.AssigneeId, width = 30, height = 30 })" class="user-photo-img"/>
                            </div>
                            <div class="btn btn-circle more-btn tooltipster more-active-btn" @Html.TooltipAttritutes("Extras")>
                                <span class="glyphicon span"></span>
                            </div>
                            <div class="btn btn-circle archive-btn tooltipster" topic-val="@task.IsInArchive.ToString()" @Html.TooltipAttritutes("Archive")>
                                <span class="glyphicon span"></span>
                            </div>
                            <div class="other-actions">
                                <button topic-val="@task.HasAttachments.ToString().ToLower()" class="action-btn attachments-btn attachment-active-btn tooltipster" @Html.TooltipAttritutes("Attachments")></button>
                                @*<button topic-val="@task.HasVoiceMessages.ToString().ToLower()" class="action-btn voice-msg-btn voice-messages-active-btn tooltipster" @Html.TooltipAttritutes("Voice Messages") disabled style="cursor: not-allowed !important"></button>*@
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }

    @if (Model.TasksTopics.TotalItemCount > 8)
    {
        <div class="footer-block">
            <div class="view-block">
                <div class="eyes"></div>
                <div class="count-block">
                    <a href="@Url.Action("AssignedSection", "TaskBoard", new {pageSize = 8, sortStrategy = Model.SortStrategy, filter = Model.Filter})">
                        <div class="counter @(Model.TasksTopics.PageSize == 8 ? "active" : string.Empty)">8</div></a>
                    <a href="@Url.Action("AssignedSection", "TaskBoard", new {pageSize = 16, sortStrategy = Model.SortStrategy, filter = Model.Filter})">
                        <div class="counter @(Model.TasksTopics.PageSize == 16 ? "active" : string.Empty)">16</div></a>
                    <a href="@Url.Action("AssignedSection", "TaskBoard", new {pageSize = Model.TasksTopics.TotalItemCount, sortStrategy = Model.SortStrategy, filter = Model.Filter})">
                        <div class="counter @(Model.TasksTopics.PageSize > 16 ? "active" : string.Empty)">All</div></a>
                </div>
            </div>
            <div class="pagination-block">
                <div class="pagination-pages">
                    @Html.Pager(Model.TasksTopics.PageSize, Model.TasksTopics.PageNumber, Model.TasksTopics.TotalItemCount).Options(o => o
                        .DisplayTemplate("BootstrapPagination")
                        .MaxNrOfPages(1)
                        .DisplayFirstAndLastPage()
                        .AddRouteValue("sortStrategy", Model.SortStrategy)
                        .AddRouteValue("filter", Model.Filter))
                </div>
            </div>
        </div>
    }
</div>
@Scripts.Render("~/bundles/scripts/shared/task-board-assigned-section")