.task-board-edit-task-dialog {

    .modal-content {
        width: 600px !important;
        height: 500px !important;

        .modal-body {
            padding-top: 15px !important;

            .has-tasks-image,
            .no-tasks-image,
            .has-attachments-image,
            .no-attachments-image,
            .has-voise-messages-image,
            .no-voise-messages-image,
            .has-feedback-required-image,
            .no-feedback-required-image {
                width: 18px;
                height: 18px;
                display: inline-block;
                background-repeat: no-repeat;
                background-position: center;
            }

            .has-tasks-image {
                cursor: pointer;
                background-image: data-uri("@{main-url-img}/ok_active.svg");
            }

            .no-tasks-image {
                background-image: data-uri("@{main-url-img}/ok_inactive.svg");
            }

            .has-attachments-image {
                cursor: pointer;
                background-image: data-uri("@{main-url-img}/clip_active.svg");
            }

            .no-attachments-image {
                background-image: data-uri("@{main-url-img}/clip_inactive.svg");
            }

            .has-voise-messages-image {
                cursor: pointer;
                background-image: data-uri("@{main-url-img}/sound_active.svg");
            }

            .no-voise-messages-image {
                background-image: data-uri("@{main-url-img}/sound_inactive.svg");
            }

            .has-feedback-required-image {
                background-image: data-uri("@{main-url-img}/arrows_active.svg");
            }

            .no-feedback-required-image {
                background-image: data-uri("@{main-url-img}/arrows_inactive.svg");
            }

            .conter-row {
                margin-right: 0px;

                .counter {
                    font-size: 10px;
                    color: #ffffff;
                    position: absolute;
                    display: inline-block;
                    top: 3px;
                    padding-left: 6px;
                }
            }

            .popup-actions {
                padding-left: 15px;

                .title-select {
                    width: 150px;
                }

                .datepicker {
                    width: 150px;
                }
            }

            .avatar-block {
                float: right;

                .field-container {
                    span {
                        &.field-validation-error {
                            position: absolute;
                            left: -45px;
                            font-size: 10px;
                        }
                    }
                }

                img {
                    &.img-circle {
                        border: 2px solid #00AFF0;
                        width: 30px;
                        height: 30px;
                        margin-left: 5px;
                    }

                    &.no-assignee-image {
                        border-radius: 0%;
                        width: 36px;
                        height: 30px;
                        background-repeat: no-repeat;
                        border: none;
                        margin-left: 3px;
                    }
                }
            }

            .radio-btn-group {
                color: white;
                font-size: 14px;

                .radio-label {
                    position: relative;
                    top: 4px;
                    padding-right: 10px;
                    margin-left: -4px;
                }


                input {
                    width: 14px;
                    height: 14px;
                    margin-right: 5px;
                    position: relative;
                    top: 7px;
                }

                span {
                    display: inline-block;
                }

                input[type="radio"]:checked:before {
                    content: "";
                    display: block;
                    position: relative;
                    top: 3px;
                    left: 3px;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background: #00AFF0;
                }

                .option-name {
                    vertical-align: middle;
                    padding-right: 15px;
                }
            }

            .assigned-to-title {
                padding-left: 65px;
            }

            .tab-pane {
                padding: 15px;
            }

            .logs-container {
                overflow-y: auto;
                max-height: 297px;

                &::-webkit-scrollbar {
                    width: 1em;
                }

                &::-webkit-scrollbar-track {
                    background-color: grey;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #454545;
                    border: 3px solid transparent;
                    border-radius: 9px;
                    background-clip: content-box;
                }

                .log-row {
                    padding-bottom: 10px;
                    color: #fff;
                }
            }

            .empty-logs {
                text-align: center;
                padding-top: 130px;
                color: #fff;
            }
        }
    }
}
