﻿<div Id="projectFollowersPanel" class="panel panel-primary project-followers-panel">
    <div class="panel-heading clearfix">
        <div class="pull-left">
            <span class="panel-title" style="left: 15px !important">Team</span>
        </div>
        <div class="pull-right">
            <button type="button" class="plus-btn btn-circle btn btn-link follower-add-btn">
                <span class="glyphicon span"></span>
            </button>
        </div>
    </div>
    <div class="panel-body"></div>
    <div class="followers-footer" style="display: none;">
        <div class="view-block">
            <div class="eyes"></div>
            <div class="count-block" min-page-size="6" max-page-size="12">
                <a href="javascript:void(0)"><div class="counter">6</div></a>
                <a href="javascript:void(0)"><div class="counter">12</div></a>
                <a href="javascript:void(0)"><div class="counter">All</div></a>
            </div>
        </div>
        <div class="pagination-block">
            <div class="pagination-pages">
                <a class="first-page" href="javascript:void(0)"></a>
                <a class="prev-page" href="javascript:void(0)"></a>
                <div class="page">
                    <div class="current-page"></div> /
                    <div class="total-page"></div>
                </div>
                <a class="next-page" href="javascript:void(0)"></a>
                <a class="last-page" href="javascript:void(0)"></a>
            </div>
        </div>
    </div>
</div>