﻿@model ProjectTeamPanelViewModel

@if (Model.Followers.Any())
{
    <div class="followers" counter="@Model.TotalFolowersCounter">
        <div class="title-container">
            <span class="title-select image-column"></span>
            <span class="title-select name-column">Name</span>
            <span class="title-select position-column">Position</span>
        </div>
        <div class="followers-container">
            @foreach (var follower in Model.Followers)
            {
                <div class="follower-row" followerId="@follower.Id">
                    <div class="follower-image user-photo-btn">
                        <img src="@Url.Action("GetAvatarForEmployee", "Media", new { employeeId = follower.Id, width = 100, height = 100 })"
                             class="user-photo-img" alt="@follower.Name" />
                    </div>
                    <div class="follower-name">@follower.Name</div>
                    <div class="follower-position">@follower.Position</div>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="row" counter="0">
        <div class="col col-lg-12">
            <div class="empty-project-followers-label">No followers in this project</div>
        </div>
    </div>
}
