﻿@model AttachmentViewModel

@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
}

<style>
    .link {
        border: none !important;
    }
    .field-validation-error {
        color: red !important;
    }
    .input-validation-error {
        color: red !important;
    }
</style>

@using (Html.BeginForm(action, controller, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.TargetId);
    @Html.HiddenFor(m => m.UserId)

    <div class="title-block-with-line">
        <div class="title-container">
            <span class="file-input-title">New</span>
        </div>
    </div>
    <div class="field-container margin-top-20">
        <span class="title-select">@Html.LabelFor(model => model.Name)</span>
        @Html.TextBoxFor(model => model.Name, new { @class = "simple-input", @placeholder = "Enter Name" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="title-select large-margin">
        <div class="file" style="display: inline-block; cursor:pointer;">Upload from Computer</div> /
        <div class="link" style="display: inline-block;cursor:pointer;">Add Link</div>
    </div>

    //-----------------------------------------Added file---------------------------------------------

    //<span class="title-select large-margin">@Html.LabelFor(model => model.File)</span>
    <div class="fileAdd">
        <div data-provides="fileinput" class="fileinput fileinput-new input-group">
            <div data-trigger="fileinput" class="form-control">
                <i class="glyphicon glyphicon-file fileinput-exists">
                    <span>Choose file</span>
                </i>
                <span class="fileinput-filename"></span>
                @Html.ValidationMessageFor(m => m.File)
            </div>
            <span class="input-group-addon" style="display:none">
                @Html.TextBoxFor(m => m.File, new { type = "file" })
            </span>
            <span class="input-group-addon btn-default btn-file btn-upload"></span>
            <div class="file-extensions">Allowed File Formats: .pdf, .doc, .docx, .txt, .rtf, .jpg, .jpeg, .png, .mp3, .mp4, .wav, .wma, .wmv, .amv, .avi, .mpg, .mpeg, .3gp, .3g2</div>
        </div>
    </div>
    //-----------------------------------------Added link---------------------------------------------

    <div class="linkAdd">
        <div data-provides="linkinput" class="fileinput fileinput-new input-group">
            <div data-trigger="fileinput" class="form-control">
                @Html.TextBoxFor(model => model.Link, new { @class = "simple-input link", @placeholder = "Enter Link" })
                <span class="fileinput-filename"></span>
                @*@Html.ValidationMessageFor(m => m.Link)*@
                @Html.ValidationMessageFor(model => model.Link)
            </div>
            <span class="input-group-addon" style="display:none">
                @Html.TextBoxFor(m => m.Link, new { type = "text" })
            </span>
            <span class="input-group-addon btn-default btn-file btn-upload"></span>
        </div>
    </div>
    }


<script>
  ; (function (window) {
      $(".linkAdd").hide();
      $('div.file').css('color','#0096C8');

      $('div.link').click(function () {
          $('div.link').css('color','#0096C8');
          $('div.file').css('color','#464646');
          $(".linkAdd").show();
          $(".fileAdd").hide();
     });

    $('div.file').click(function () {
            $('div.file').css('color','#0096C8');
            $('div.link').css('color','#464646');
            $(".linkAdd").hide();
            $(".fileAdd").show();
     });

   })(window);
</script>
