﻿@model TeamRotationViewModel
<style>
    .webui-popover.bottom, .webui-popover.bottom-left, .webui-popover.bottom-right {
        margin-top: 40px;
        margin-left: 40px !important;
    }
    .webui-popover-rPopover {
        background-color: #454545;
        color: #e3e3e3;
    }
</style>
<div class="col col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="row panels no-margin">
        <div class="col col-lg-5 col-md-3 col-sm-3 col-xs-3 no-padding user-photo">
            @if (Model.IsHaveContributerUsers)
            {
                <a href="/Rotation/@Model.OwnerId/Summary">
                    <div class="user-photo-img">

                        <div class="team-icon">
                            <div class="stat-counter" @Html.PopoverFromList(Model.ContributorsUsersList)>
                                <div class="contributes-icon">
                                    <img src="~/Content/img/svg/Team.svg"/>
                                </div>
                            </div>
                        </div>

                        <img src="@Url.Action("GetAvatarForEmployee", "Media", new { employeeId = Model.OwnerId, width = 108, height = 108 })" alt="@Model.OwnerFullName" class="tooltipster" title="@Model.OwnerFullName" />
                    </div>
                </a>
            }
            else
            {
                <a href="/Rotation/@Model.OwnerId/Summary">
                    <div class="user-photo-img">
                        <img src="@Url.Action("GetAvatarForEmployee", "Media", new { employeeId = Model.OwnerId, width = 108, height = 108 })" alt="@Model.OwnerFullName" class="tooltipster" title="@Model.OwnerFullName" />
                    </div>
                </a>
            }
        </div>
        <div class="user-data col col-lg-7 col-md-9 col-sm-9 col-xs-9 no-padding">
            <div class="user-status @(Model.IsLock ? "inactive" : "")">inactive</div>
            <div class="row no-margin">
                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                    <div class="row no-margin user-contact">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                            <div class="user-block">
                                <a class="user-name" href="@Url.Action("Index", "Summary", new {userId = Model.OwnerId})">
                                    @Model.OwnerFullName
                                </a>
                            </div>
                            <div @Html.TooltipAttritutes(Model.StateMessage) class="circle @(Model.IsActive ? "green" : "grey") tooltipster"></div>
                        </div>
                    </div>
                    <div class="row no-margin user-contact">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                            <div class="user-email">
                                <a href="mailto: @Model.OwnerEmail" title="@Model.OwnerEmail" class="tooltipster">@Model.OwnerEmail</a>
                            </div>
                        </div>
                    </div>
                    <div class="row no-margin user-contact">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                            <div class="user-position">
                                @Model.OwnerPosition
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-margin">
                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                    <div class="row no-margin user-container">
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                            <div class="handover">Handover to:</div>
                            @if (Model.BackToBackId.HasValue)
                            {
                                <div class="handover-icon">
                                    <img id="@Model.ID"
                                         src="@Url.Action("GetAvatarForEmployee", "Media", new {area = "", employeeId = Model.BackToBackId.Value, width = 30, height = 30})"
                                         alt="@Model.BackToBackName" title="@Model.BackToBackName"
                                         class="tooltipster initials" />
                                    <div id="@Model.ID" class="rotation-dlg edit-user"></div>
                                </div>
                            }
                        </div>
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                            @if (Model.IsLineManager && Model.IsEnable || Model.IsAdmin && Model.IsEnable)
                            {
                                <a href="@Url.Action("Index", "TeamRotations", new {userId = Model.OwnerId})">
                                    <div class="view-team-btn">View Team</div>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.stat-counter').webuiPopover({
            hideEmpty: true,
            style: 'rPopover',
            type: 'html',
            width: '150',
            top: '250',
            right: '255',
            multi: true,
            dismissible: true,
            trigger: 'hover'
        });

    });
</script>