﻿@model MyTeamRotationViewModel

@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}

<style>
    .AddUserBtn {
        width: 140px;
        background-color: #F0F0F0;
        border-radius: 20px;
        color: #464646;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        display: inline-block;
        cursor: pointer;
        height: 27px;
        float: right;
        margin-top: 10px;
        padding-top: 5px;
    }
</style>

@if (Model.IsViewMode)
{
    @Html.Partial("~/Views/Rotation/Shared/_ViewModePanel.cshtml", Model.OwnerName)
}
@if (!Model.TeamRotations.Any())
{
    if (Model.IsViewTeamBtn)
    {
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px !important; padding-right: 0px !important;">
            <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top: 15px;margin-bottom: 0px !important;padding-left: 0px !important;"> <strong>Users:</strong> @Model.XUser/@Model.YUser</p>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 AddUserBtn">Add New User</div>
        </div>
    }
    <div class="panel panel-default text-center margin-top-20" style=" margin-top: 50px !important;">
        <div class="panel-body">
            <strong>You have no team members at present!</strong>
        </div>
    </div>
}
else
{
    if (Model.IsViewTeamBtn)
    {
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px !important; padding-right: 0px !important;">
            <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top: 15px;margin-bottom: 0px !important;padding-left: 0px !important;"> <strong>Users:</strong> @Model.XUser/@Model.YUser</p>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 AddUserBtn">Add New User</div>
        </div>
    }
    <div class="container-team my-team">

        <div class="row panels-block">
            @foreach (var item in Model.TeamRotations)
            {
                @Html.Partial("~/Views/MyTeam/_TeamRotationControl.cshtml", item)
            }
        </div>
        @if (Model.TeamRotations.TotalItemCount > 9)
        {
            <div class="footer-block">
                <div class="view-block">
                    <div class="eyes"></div>
                    <div class="count-block">
                        <a href="@Url.Action("Index", "TeamRotations", new { pageSize = 9 })"><div class="counter @(Model.TeamRotations.PageSize == 9 ? "active" : "" )">9</div></a>
                        <a href="@Url.Action("Index", "TeamRotations", new { pageSize = 18 })"><div class="counter @(Model.TeamRotations.PageSize == 18 ? "active" : "" )">18</div></a>
                        <a href="@Url.Action("Index", "TeamRotations", new { pageSize = Model.TeamRotations.TotalItemCount > 18 ? Model.TeamRotations.TotalItemCount : 19 })"><div class="counter @(Model.TeamRotations.PageSize > 18 ? "active" : string.Empty)">All</div></a>
                    </div>
                </div>
                <div class="pagination-block">
                    <div class="pagination-pages">
                        @Html.Pager(Model.TeamRotations.PageSize, Model.TeamRotations.PageNumber, Model.TeamRotations.TotalItemCount).Options(o => o
                                 .DisplayTemplate("BootstrapPagination")
                                 .MaxNrOfPages(1)
                                 .DisplayFirstAndLastPage())
                    </div>
                </div>
            </div>
        }
    </div>

    <script>
        $(document).ready(function () {

            $('.rotation-dlg').on('click', function () {
                var rotationId = $(this).prop('id');
                var formDialog = Relay.FormDialog({
                    url: "/TeamRotations/EditRotationDialog?RotationId=" + rotationId,
                    method: "GET",
                    dialogId: "editRotationFormDialog"
                });

                formDialog.setCloseEvent(function () {
                    location.reload();
                });

                formDialog.open();
            });

            $(".tooltipster").tooltipster({
                debug: false
            });

        });
    </script>
}

<script>
    $(document).ready(function () {

        $(".tooltipster").tooltipster({
            debug: false
        });

        $('.AddUserBtn').on('click', function () {

            var boardManagerStep1Dialog = Relay.BoardManagerDialog({
                url: "/BoardManager/StepOneDialog",
                method: "GET",
                acceptFiles: true,
                dialogId: "stepOneFormDialog"
            });
            boardManagerStep1Dialog.setSubmitEvent(function (step1Modal, result) {
                var boardManagerStep2Dialog = Relay.BoardManagerDialog({
                    url: "/BoardManager/StepTwoDialog?positionId=" + result.positionId,
                    method: "GET",
                    acceptFiles: true,
                    dialogId: "stepTwoFormDialog"
                });
                boardManagerStep2Dialog.setSubmitEvent(function (step2Modal, result) {
                    if (typeof result.userId !== "undefined") {
                        var boardManagerStep3Dialog = Relay.BoardManagerDialog({
                            url: "/BoardManager/StepThreeDialog?userId=" + result.userId + "&teamId=" + result.teamId,
                            method: "GET",
                            acceptFiles: true,
                            dialogId: "stepThreeFormDialog"
                        });
                        boardManagerStep3Dialog.setSubmitEvent(function (step3Modal, result) {
                            if (typeof result.userId !== "undefined") {
                                $(step3Modal.dialog).modal("hide");
                                location.reload();
                            }
                            else {
                                $(step3Modal.dialog).modal("hide");
                                var url = result.action;

                                $.each(result.param, function (index, value) {
                                    url += !url.includes("?") ? "?" : "&";
                                    url += index + "=" + value;
                                });

                                window.location.assign(document.location.origin + url);
                                $location.href = document.location.origin + url;
                                $window.location.href = document.location.origin + url;
                                document.location.href = document.location.origin + url;
                                document.location.reload();
                            }

                        });

                        boardManagerStep3Dialog.open();
                        $(step2Modal.dialog).modal("hide");
                    } else {
                        $(step2Modal.dialog).modal("hide");
                        var url = result.action;

                        $.each(result.param, function (index, value) {
                            url += !url.includes("?") ? "?" : "&";
                            url += index + "=" + value;
                        });

                        document.location = document.location.origin + url;
                        location.reload();
                    }

                });
                boardManagerStep2Dialog.open();
                $(step1Modal.dialog).modal("hide");


            });
            boardManagerStep1Dialog.open();
        });

    });
</script>
@section Scripts
{
    <script src="~/Content/lib/angular/angular.js"></script>
    <script src="~/Content/js/relay/rotation-manager/modules/employees-app/employees-app.module.js"></script>
    <script src="~/Content/js/relay/rotation-manager/modules/employees-app/components/employees-panel/employees-panel.component.js"></script>
    <script src="~/Content/js/relay/rotation-manager/modules/employees-app/components/teams-panel/teams-panel.component.js"></script>
    <script src="~/Content/js/relay/dialogs/board-manager-dialog.module.js"></script>
}
