﻿.webui-popover-registrationBasketDropdown {
    background-color: white;
    color: black;
    border-radius: 0px;
    padding: 0px !important;
    border: none !important;

    #basketDropdown {
        width: 100% !important;
    }

    &.top > .webui-arrow, &.top-left > .webui-arrow, &.top-right > .webui-arrow, &.top > .webui-arrow:after, &.top-left > .webui-arrow:after, &.top-right > .webui-arrow:after {
        border-top-color: orange;
    }

    &.right > .webui-arrow, &.right-top > .webui-arrow, &.right-bottom > .webui-arrow, &.right > .webui-arrow:after, &.right-top > .webui-arrow:after, &.right-bottom > .webui-arrow:after {
        border-right-color: orange;
    }

    &.bottom > .webui-arrow, &.bottom-left > .webui-arrow, &.bottom-right > .webui-arrow, &.bottom > .webui-arrow:after, &.bottom-left > .webui-arrow:after, &.bottom-right > .webui-arrow:after {
        border-bottom-color: orange;
    }

    &.left > .webui-arrow, &.left-top > .webui-arrow, &.left-bottom > .webui-arrow, &.left > .webui-arrow:after, &.left-top > .webui-arrow:after, &.left-bottom > .webui-arrow:after {
        border-left-color: orange;
    }


    .webui-popover-content {
        text-align: center;
        padding: 0px;

        .title {
            width: 100%;
            background: orange;
            color: white;
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            font-weight: bold;
        }

        .order-details {
            width: 100%;
            padding: 0px;
            list-style: none;
            margin-bottom: 0px;

            li {
                padding: 7px 0px;
                font-size: 12px;
                border-bottom: 1px solid #F0F0F0;
                margin: 0 15px;
                color: #464646;

                .type {
                    font-weight: bold;

                    &.counter {
                        font-weight: normal;
                    }

                    .strong {
                        font-weight: bold;
                    }
                }

                .description {
                }

                &:last-child {
                    border-bottom: none !important;
                }
            }
        }


        .btn-remove-order {
            width: 100%;
            background: #F0F0F0;
            border-radius: 0px;
            color: #F29105;
            font-weight: bold;
            font-size: 12px;
        }

        .btn-checkout {
            width: 100%;
            background: #464646;
            border-radius: 0px;
            color: white;
            font-weight: bold;
            font-size: 12px;
        }
    }
}
