﻿.webui-popover-registrationCurrencyDropdown {
    background-color: white;
    color: black;
    border-radius: 0px;
    padding: 0px !important;
    border: none !important;
    /*margin-left: 20px;*/

    /*.webui-arrow {
        left: 64px !important;
    }*/

    /*.webui-popover-notification .webui-arrow{

    }*/

    #currencyDropdown {
        width: 100% !important;
    }

    &.top > .webui-arrow, &.top-left > .webui-arrow, &.top-right > .webui-arrow, &.top > .webui-arrow:after, &.top-left > .webui-arrow:after, &.top-right > .webui-arrow:after {
        border-top-color: orange;
    }

    &.right > .webui-arrow, &.right-top > .webui-arrow, &.right-bottom > .webui-arrow, &.right > .webui-arrow:after, &.right-top > .webui-arrow:after, &.right-bottom > .webui-arrow:after {
        border-right-color: orange;
    }

    &.bottom > .webui-arrow, &.bottom-left > .webui-arrow, &.bottom-right > .webui-arrow, &.bottom > .webui-arrow:after, &.bottom-left > .webui-arrow:after, &.bottom-right > .webui-arrow:after {
        border-bottom-color: orange;
    }

    &.left > .webui-arrow, &.left-top > .webui-arrow, &.left-bottom > .webui-arrow, &.left > .webui-arrow:after, &.left-top > .webui-arrow:after, &.left-bottom > .webui-arrow:after {
        border-left-color: orange;
    }


    .webui-popover-content {
        text-align: center;
        padding: 0px;

        .title {
            width: 100%;
            background: orange;
            color: white;
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            font-weight: bold;
        }

        .currency-list {
            width: 100%;
            padding: 0px;
            list-style: none;
            margin-bottom: 0px;

            li {
                padding: 7px 0px;
                font-size: 12px;
                border-bottom: 1px solid #F0F0F0;
                margin: 0 15px;

                &:last-child {
                    border-bottom: none !important;
                }

                &:hover {
                    font-weight: bold;
                    cursor: pointer;
                }

                &.active {
                    font-weight: bold;
                }
            }
        }
    }
}
