﻿.sign-up-wizard-step-3 {

    .select-country {
        margin-bottom: 16px;
        border: none;
        border-radius: 0px;
        box-shadow: none;
        border-bottom: 2px solid #0096C8;
        font-size: 16px;
        height: 33px;
        color: #464646;
        width: 150px;
        position: relative;
        top: -10px;

        &.has-error {
            border-bottom: 2px solid red !important;
            color: red;

            option:first-child {
                color: red;
            }
        }
    }




    .levelTypeInfo {
        display: inline-block;
        width: 100px;
        height: 40px;
        padding: 5px;
        border-radius: 6px;
        background: white;
        display: inline-block;
        margin: 0 20px;
        margin-bottom: 24px;
        border: 4px solid transparent;
        position: relative;
    }

    .userCountInfo {
        display: inline-block;
        width: 90px;
        height: 40px;
        padding: 5px;
        border-radius: 6px;
        background: white;
        display: inline-block;
        margin: 0 20px;
        margin-bottom: 24px;
        border: 4px solid transparent;
        position: relative;
    }

    .priceInfo {
        display: inline-block;
        width: 90px;
        height: 40px;
        padding: 5px;
        border-radius: 6px;
        background: white;
        display: inline-block;
        margin: 0 20px;
        margin-bottom: 24px;
        border: 4px solid transparent;
        position: relative;
    }

    .user-details-block, .payment-details-block {
        width: 460px;
        height: 360px;
        padding: 35px 60px 0 60px;
        border-radius: 6px;
        background: white;
        display: inline-block;
        margin: 0 20px;
        margin-bottom: 24px;
        border: 4px solid transparent;
        position: relative;

        &.trial {
            height: 370px;
        }

        .form-control {
            margin-bottom: 40px;
            border: none;
            border-radius: 0px;
            box-shadow: none;
            border-bottom: 2px solid #0096C8;
            padding: 0 0 10px 0;
            font-size: 16px;
            height: 24px;
            color: #464646;
            .placeholder(#464646);

            &.has-error {
                border-bottom: 2px solid red !important;
                .placeholder(red);
            }
        }
    }

    .terms-conditions-block {
        margin: 0 auto;
        width: 658px;
        background-color: #FFF;
        border-radius: 6px;
        height: 40px;
        padding-top: 10px;

        a {
            color: #0096C8;
        }

        .terms-conditions-title {
            display: inline-block;
            font-size: 14px;
            font-weight: normal;
            color: #464646;
            float: left;
            margin-left: 17px;

            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }

        .terms-check {
            display: table-cell;
            float: right;
            margin-right: 20px;

            [type="checkbox"]:not(:checked),
            [type="checkbox"]:checked {
                position: relative;
                padding-left: 25px;
                cursor: pointer;
            }

            [type="checkbox"]:not(:checked):before,
            [type="checkbox"]:checked:before {
                content: '';
                position: absolute;
                left: 0;
                top: -2px;
                width: 17px;
                height: 17px;
                border: 1px solid #000;
                background: #fff;
                border-radius: 3px;
                box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
            }

            [type="checkbox"]:not(:checked):after,
            [type="checkbox"]:checked:after {
                content: "✔";
                position: absolute;
                top: -14px;
                left: 1px;
                font-size: 24px;
                color: #0096C8;
                transition: all .2s;
            }

            [type="checkbox"]:not(:checked):after {
                opacity: 0;
                transform: scale(0);
            }

            [type="checkbox"]:checked:after {
                opacity: 1;
                transform: scale(1);
            }

            [type="checkbox"]:disabled:not(:checked):before,
            [type="checkbox"]:disabled:checked:before {
                box-shadow: none;
                border-color: #bbb;
                background-color: #ddd;
            }

            [type="checkbox"]:disabled:checked:after {
                color: #999;
            }

            [type="checkbox"]:disabled {
                color: #aaa;
            }

            label:hover:before {
                border: 1px solid #0096C8 !important;
            }
        }
    }

    .buttons-block {
        margin: 26px 0px;

        .btn-pay {
            width: 120px;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0px;
            color: #ffffff;
            background: #0096C8;
            box-shadow: 0px 2px 0px #0096C8;
            height: 33px;
            border-radius: 15px;

            &:hover {
                opacity: 0.9;
            }

            &.active {
                background: #0096C8;
                box-shadow: 0px 2px 0px #0096C8;
            }
        }
    }
}
