﻿.sign-up-wizard-step-4 {
    .start-block {
        width: 800px;
        height: 160px;
        border-radius: 6px;
        background: white;
        display: inline-block;
        margin: 0 20px;
        margin-bottom: 24px;
        border: 4px solid transparent;
        position: relative;
        padding: 20px 100px;
        font-size: 24px;

        .first-col {
            border-bottom: 2px solid #0096C8;
            padding-bottom: 15px;
            font-weight: bold;
        }

        .second-col {
            padding-top: 15px;
        }
    }

    .buttons-block {
        margin: 26px 0px;

        .btn-continue {
            width: 120px;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0px;
            color: #ffffff;
            background: #0096C8;
            box-shadow: 0px 2px 0px #0096C8;
            height: 33px;
            border-radius: 15px;

            &:hover {
                opacity: 0.9;
            }
        }
    }
}
