﻿.sign-up-wizard-step-2 {

    .BtnSeeMore {
        cursor: pointer;
        top: 145px;
        padding-top: 5px;
        width: 240px;
        height: 30px;
        border-radius: 6px;
        background: #fff;
        display: inline-block;
        position: relative;
    }

    .selected-line {
        width: 248px;
        height: 477px!important;
        border-radius: 6px;
        background: transparent;
        display: inline-block;
        position: relative;
        margin: 15px;
      //  top: 150px;

        &.selected {
            background: #F29105;
        }
    }

    .featuresBlock {
        width: 248px;
        height: 320px;
        border-radius: 6px;
        background: transparent;
        display: inline-block;
        position: relative;
        margin: 15px;
        top: 3px;
    }

    .subscription-type-block-features {
        width: 240px;
        height: 325px;
        border-radius: 6px;
        background: white;
        display: inline-block;
        position: relative;
      //  top: 106px;

        .promotion-label {
            position: absolute;
            background: orange;
            color: white;
            border-radius: 6px;
            padding: 0 10px;
            top: 10px;
            right: 10px;
        }

        .price-block {
            height: 50px;
            display: block;
            margin: 0 auto;
            background-color: #F0F0F0;
            padding: 0 10px;
            border-radius: 6px 6px 0px 0px;


            .from-label {
                color: #0096C8;
                font-size: 20px;
                float: left;
                padding-top: 10px;
                width: 100%;
                text-align: left;
                padding-left: 10px;
            }
        }

        .description-block {
            text-align: left;
            color: black;

            .white-row {
                background: white;
            }

            .grey-row {
                background: #F0F0F0;
            }


            .type-title {
                height: 35px;
                font-weight: bold;
                font-size: 20px;
                margin: 0 auto;
                width: 122px;
                border-bottom: 2px solid #00AFF0;
            }

            .type-stats {
                //     padding-top: 5px;
                .handover-items-counter, .handover-tasks-counter, .email-shares-counter, .month-archive-counter, .carry-forward-counter, .branding-info, .empty-row {
                    font-size: 16px;
                    padding-left: 10px;
                    padding-top: 5px;
                    color: #464646;
                    padding-bottom: 2px;
                    text-align: left;

                    span {
                        &.number {
                            font-weight: bold;
                            color: black;
                        }

                        &.check-block {
                            background-image: url("@{main-url-img}/edit-rotation.svg");
                            width: 27px;
                            height: 27px;
                            background-repeat: no-repeat;
                            cursor: pointer;
                        }
                    }


                    .check-block {
                        background-image: url("@{main-url-img}/edit-rotation.svg");
                        width: 27px;
                        height: 27px;
                        background-repeat: no-repeat;
                        cursor: pointer;
                    }
                }

                .empty-row {
                    height: 27px;
                }
            }
        }
    }


    .subscription-type-block {
        width: 240px;
        height: 396px;
        border-radius: 6px;
        background: white;
        display: inline-block;
        position: relative;
        top: 4px;

        .promotion-label {
            position: absolute;
            background: orange;
            color: white;
            border-radius: 6px;
            padding: 0 10px;
            top: 10px;
            right: 10px;
        }

        .price-block {
            height: 120px;
            display: block;
            margin: 0 auto;
            background-color: #F0F0F0;
            padding: 0 20px;
            border-radius: 6px 6px 0px 0px;


            .from-label {
                color: #0096C8;
                font-size: 20px;
                float: left;
                padding-top: 30px;
                width: 100%;
                text-align: left;
            }

            .price-info {
                text-align: left;
                color: #0096C8;

                .currency-label {
                    display: inline-block;
                }

                .currency-symbol {
                    display: inline-block;
                    position: relative;
                    font-size: 16px;
                    top: -10px;
                }

                .price-label {
                    display: inline-block;
                    font-size: 30px;
                    position: relative;
                    top: 5px;
                }

                .period-label {
                    display: inline-block;
                    position: relative;
                }
            }
        }

        .description-block {
            //      margin-top: 30px;
            text-align: center;
            color: black;

            .white-row {
                background: white;
            }

            .grey-row {
                background: #F0F0F0;
            }


            .type-title {
                height: 35px;
                font-weight: bold;
                font-size: 20px;
                margin: 0 auto;
                width: 122px;
                border-bottom: 2px solid #00AFF0;
            }

            .type-stats {
                //     padding-top: 5px;
                .handover-items-counter, .handover-tasks-counter, .email-shares-counter, .month-archive-counter, .carry-forward-counter, .branding-info, .empty-row {
                    font-size: 16px;
                    padding-top: 2px;
                    color: #464646;
                    padding-bottom: 5px;

                    span {
                        &.number {
                            font-weight: bold;
                            color: black;
                        }

                        &.check-block {
                            height: 25px;
                            width: 25px;
                            background-image: url("../img/svg/check-mark.svg");
                        }
                    }
                }

                .empty-row {
                    height: 27px;
                }
            }
        }
    }

    .buttons-block {
        margin: 26px 0px;

        .btn-buy {
            width: 120px;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0px;
            color: #ffffff;
            background: #0096C8;
            box-shadow: 0px 2px 0px #0096C8;
            height: 33px;
            border-radius: 15px;

            &:hover {
                opacity: 0.9;
            }

            &.active {
                background: #0096C8;
                box-shadow: 0px 2px 0px #0096C8;
            }
        }
    }
}
