﻿.sign-up-wizard {
    //===============================================
    // Variables
    //===============================================
    @wizard-background: #B4B4B4;
    @border-color: transparent;

    @complete-color: white;
    @complete-background: #B4B4B4;

    @active-color: white;
    @active-background: #0096C8;

    @incomplete-color: white;
    @incomplete-background: #B4B4B4;
    @row-height: 50px;


    .inactive {
        pointer-events: none;
        cursor: default;
    }
    //===============================================
    // Mixins
    //===============================================
    .li-color(@color, @background) {
        color: @color;
        background: @background;

        &:after {
            border-left: 16px solid @background;
        }

        a, a:active, a:visited, a:focus {
            color: @color;
            background: @background;
        }
    }

    .chevron-comp(@color) {
        position: absolute;
        display: block;
        border: 26px solid transparent;
        border-left: 16px solid @color;
        border-right: 0;
        top: -1px;
        z-index: 1;
        content: '';
    }
    //===============================================
    // Class Def
    //===============================================
    ul.nav-wizard {
        background-color: @wizard-background;
        border: 0px;
        border-radius: 6px;
        *zoom: 1;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        margin-top: 50px;

        &:before {
            display: block;
            position: absolute;
            left: 0px;
            right: 0px;
            top: @row-height;
            height: @row-height+1px !important;
            border-top: 1px solid @border-color;
            border-bottom: 1px solid @border-color;
            z-index: 11;
            content: " ";
        }

        &:after {
            display: block;
            position: absolute;
            left: 0px;
            right: 0px;
            top: 3 * (@row-height);
            height: @row-height+1px !important;
            border-top: 1px solid @border-color;
            border-bottom: 1px solid @border-color;
            z-index: 11;
            content: " ";
        }

        li {
            position: relative;
            float: left;
            height: @row-height;
            display: inline-block;
            text-align: center;
             padding: 0 20px 0 30px;
            padding: 0px;
            margin: 0;
            font-size: 16px;
            min-width: 25%;
            width: 25%;
            line-height: @row-height;
             a {
                color: @complete-color;
                padding: 0;

                &:hover {
                    background-color: transparent;
                }

                &:focus {
                    background-color: transparent;
                }
            }

            &:before {
                .chevron-comp(@border-color);
                right: -16px;
            }

            &:after {
                .chevron-comp(@wizard-background);
                right: -15px;
            }

            &.active {
                .li-color(@active-color, @active-background);
                font-size: 24px;
            }

            @media (max-width: 1366px) {
                &.active {
                    font-size: 20px !important;
                }
            }
        }
         .active ~ li {
            .li-color(@incomplete-color, @incomplete-background);
        }

        &.nav-wizard-backnav {
            li:hover {
                .li-color(@complete-color, lighten(@active-background, 7%));
            }

            .active ~ li {
                .li-color(@incomplete-color, @incomplete-background);
            }
        }
    }

    .wizard-content {
        margin-top: 50px;
        text-align: center;
    }
}
