﻿.sign-up-wizard-step-1 {

    .selected-line {
        width: 248px;
        height: 404px;
        border-radius: 6px;
        background: transparent;
        display: inline-block;
        position: relative;
        margin: 15px;

        &.selected {
            background: #F29105;
        }
    }


    .user-subscription-type-block {
        width: 240px;
        height: 396px;
        border-radius: 6px;
        background: white;
        display: inline-block;
        position: relative;
        top: 4px;




        .price-block {
            height: 120px;
            display: block;
            margin: 0 auto;
            background-color: #F0F0F0;
            padding: 0 20px;
            border-radius: 6px;



            .from-label {
                color: #0096C8;
                font-size: 20px;
                float: left;
                padding-top: 30px;
                width: 100%;
                text-align: left;
            }

            .price-info {
                text-align: left;
                color: #0096C8;

                .currency-label {
                    display: inline-block;
                }

                .currency-symbol {
                    display: inline-block;
                    position: relative;
                    font-size: 16px;
                    top: -10px;
                }

                .price-label {
                    display: inline-block;
                    font-size: 30px;
                    position: relative;
                    top: 5px;
                }

                .period-label {
                    display: inline-block;
                    position: relative;
                }
            }
        }

        .description-block {
            margin-top: 70px;
            text-align: center;
            color: #0096C8;

            .type-title {
                height: 35px;
                font-size: 16px;
                margin: 0 auto;
                color: #0096C8;
            }

            .type-stats {

                .manager-counter, .user-counter {
                    font-size: 16px;
                    color: #0096C8;

                    span {
                        &.number {
                            font-weight: bold;
                            color: #0096C8;
                        }
                    }
                }

                .user-counter {
                    font-size: 16px;
                    color: #0096C8;
                    bottom: 20px;
                    position: relative;
                }

                &.team-stats {
                    margin: 0 auto;
                    width: 122px;
                    height: 300px;

                    .user-counter {
                    }
                }

                .user-counter-text {
                    position: relative;
                    top: 50px;
                }

                .user-slider {
                    top: 5px !important;
                }
            }
        }
    }




    .buttons-block {
        margin: 50px 0px;

        .btn-next {
            width: 120px;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0px;
            color: #ffffff;
            background: #0096C8;
            box-shadow: 0px 2px 0px #0096C8;
            height: 33px;
            border-radius: 15px;

            &:hover {
                opacity: 0.9;
            }
        }
    }
}
