﻿.edit-rotation-dates-dialog{

    .modal-content {
        width: 600px !important;
        height: 300px !important;

        .modal-body {
            #swing {
                .field-validation-error {
                    display: block;
                    font-size: 12px;
                    position: absolute;
                    top: 5px;
                    margin-left: -15px;
                }

                .field-container {
                    &.active {
                        .title-select {
                            color: #00AFF0;
                        }

                        .simple-input {
                            border-bottom: 1px solid #00AFF0;
                        }

                        .choose-date-btn {
                            background-color: #00AFF0;
                            color: #fff;
                        }
                    }

                    .date-container {
                        display: inline-block;

                        span {
                            margin-right: 10px;
                        }
                    }

                    .simple-input {
                        display: inline-block;
                        min-width: 40px;
                        max-width: 40px;
                        width: 40px;
                        text-align: center;
                        margin-right: 20px;

                        &.active {
                            border-bottom: 1px solid #00AFF0;
                        }
                    }

                    .choose-date-btn {
                        width: 85px;
                        background-color: #F0F0F0;
                        border-radius: 20px;
                        color: #464646;
                        text-align: center;
                        font-size: 10px;
                        font-weight: bold;
                        display: inline-block;
                        cursor: pointer;
                        height: 18px;
                        padding-top: 2px;

                        &.active {
                            background-color: #00AFF0;
                        }
                    }

                    .field-validation-error {
                        font-size: 12px;
                        position: absolute;
                        display: block;
                        margin-left: 0px;
                        top: 55px;
                    }
                }
            }
        }
    }
}
