﻿.edit-shift-rotation-dates-dialog {

    .modal-content {
        width: 600px !important;
        height: 450px !important;

        .modal-body {
            #shift {
                .field-validation-error {
                    display: block;
                    font-size: 12px;
                    position: absolute;
                    margin-left: -15px;
                    top: 5px;
                }

                .field-container {
                    &.validation-error {

                        .simple-input {
                            border-bottom: 1px solid #f29105;
                        }
                    }

                    &.active {
                        .title-select {
                            color: #00AFF0;
                        }

                        .time-select {
                            pointer-events: auto !important;
                        }

                        .simple-input {
                            border-bottom: 1px solid #00AFF0;
                        }

                        .choose-date-btn {
                            background-color: #00AFF0;
                            color: #fff;
                        }

                        .bootstrap-select {
                            border-bottom: 1px solid #00AFF0 !important;
                        }
                    }

                    .date-container {
                        display: inline-block;

                        div {
                            margin-right: 10px;
                        }

                        div:last-child {
                            margin-right: 0px;
                        }

                        margin-right: 20px;
                    }

                    .time-container {
                        display: inline-block;
                        color: #fff;
                        margin-right: 20px;

                        .simple-input {
                        }

                        &.disabled {
                            pointer-events: none;
                        }

                        div {
                            margin-right: 5px;
                        }
                    }

                    .simple-input {
                        width: 40px;
                        min-width: 40px;
                        max-width: 40px;
                        text-align: center;
                        height: 21px;
                        display: inline-block;

                        &.active {
                            border-bottom: 1px solid #00AFF0;
                        }
                    }

                    .choose-date-btn {
                        display: inline-block;
                        width: 85px;
                        background-color: #F0F0F0;
                        border-radius: 20px;
                        color: #464646;
                        text-align: center;
                        font-size: 10px;
                        font-weight: bold;
                        display: inline-block;
                        cursor: pointer;
                        height: 18px;
                        padding-top: 2px;

                        &.active {
                            background-color: #00AFF0;
                        }

                        &:hover {
                            background-color: #00AFF0;
                            color: #fff;
                        }
                    }

                    .field-validation-error {
                        font-size: 12px;
                        position: absolute;
                        display: block;
                        margin-left: 0px;
                        top: auto;
                    }
                }

                .radio-btn-group {
                    color: white;
                    font-size: 14px;

                    .title-select {
                        &.active {
                            color: #00AFF0;
                        }
                    }

                    label {
                        font-weight: normal;

                        .radio-label {
                            position: relative;
                            top: 4px;
                            padding-right: 22px;
                            margin-left: -4px;
                        }

                        input {
                            width: 14px;
                            height: 14px;
                            margin-right: 5px;
                            position: relative;
                            top: 7px;
                        }


                        input[type="radio"]:checked:before {
                            content: "";
                            display: block;
                            position: relative;
                            top: 3px;
                            left: 3px;
                            width: 7px;
                            height: 7px;
                            border-radius: 50%;
                            background: #00AFF0;
                        }

                        .option-name {
                            vertical-align: middle;
                            padding-right: 15px;
                        }
                    }
                }

                .repeat-count {
                    margin-bottom: 64px;
                    display: none;

                    &.active {
                        display: inline-block;
                    }

                    label {
                        width: 75px;
                        margin-right: 14px;
                        font-weight: normal;

                        .radio-label {
                            padding-right: 0px;
                        }
                    }
                }

                .select-type {

                    &.time-select {
                        display: inline-block;
                        width: 35px;
                        pointer-events: none;


                        &.disabled {
                            pointer-events: none;
                        }

                        .bs-caret {
                            display: none;
                        }

                        .dropdown-toggle {
                            height: 20px;
                        }

                        .filter-option {
                            padding-right: 0px !important;
                            text-align: center !important;
                        }

                        .dropdown-menu {
                            width: 50px;
                            text-align: center;

                            > li > a {
                                padding: 3px 7px !important;
                            }
                        }
                    }
                }
            }

            #swing {
                .field-validation-error {
                    display: block;
                    font-size: 12px;
                    position: absolute;
                    top: 5px;
                    margin-left: -15px;
                }

                .field-container {
                    &.active {
                        .title-select {
                            color: #00AFF0;
                        }

                        .simple-input {
                            border-bottom: 1px solid #00AFF0;
                        }

                        .choose-date-btn {
                            background-color: #00AFF0;
                            color: #fff;
                        }
                    }

                    .date-container {
                        display: inline-block;

                        span {
                            margin-right: 10px;
                        }
                    }

                    .simple-input {
                        display: inline-block;
                        min-width: 40px;
                        max-width: 40px;
                        width: 40px;
                        text-align: center;
                        margin-right: 20px;

                        &.active {
                            border-bottom: 1px solid #00AFF0;
                        }
                    }

                    .choose-date-btn {
                        width: 85px;
                        background-color: #F0F0F0;
                        border-radius: 20px;
                        color: #464646;
                        text-align: center;
                        font-size: 10px;
                        font-weight: bold;
                        display: inline-block;
                        cursor: pointer;
                        height: 18px;
                        padding-top: 2px;

                        &.active {
                            background-color: #00AFF0;
                        }
                    }

                    .field-validation-error {
                        font-size: 12px;
                        position: absolute;
                        display: block;
                        margin-left: 0px;
                        top: 55px;
                    }
                }
            }
        }
    }
}
