﻿<section class="panel panel-default">
    <div class="panel-heading text-center panel-heading-icon-right">
        <a href="javascript:void(0)">
            <strong>
                Job Title
            </strong>
        </a>
        <a href="javascript:void(0)" class="icon-right plus-btn btn-circle btn btn-link" ng-click="$ctrl.createPositionDialog()">
            <span class="glyphicon span"></span>
        </a>
    </div>
    <div class="panel-body">
        <div class="text-center">{{$ctrl.vm.errorMsg}}</div>
        <div class="list-group" style="font-size: 12px">
            <div class="list-group-item list-group-item-action"
                 ng-class="{'active text-white': $ctrl.vm.chosenPositionId === position.Id}"
                 ng-repeat="position in $ctrl.vm.page.Positions">
                <a href="javascript:void(0)" style="text-decoration: none" ng-click="$ctrl.choosePosition(position.Id)">
                    {{::position.Name}}
                </a>

                <a href="javascript:void(0)" class="pull-right btn-close" ng-click="$ctrl.removePositionDialog(position.Id)">
                    <!--<span class="pull-right glyphicon glyphicon-remove" style="color: #464646 !important;"></span>-->
                </a>

                <a href="javascript:void(0)" class="pull-right pencil-block" style="margin-right: 10px;" ng-click="$ctrl.editPositionDialog(position.Id)">
                    <!--<span class="pull-right glyphicon glyphicon-pencil" style="right:5px;"></span>-->
                </a>
            </div>
        </div>
        <div class="text-center" ng-if="$ctrl.vm.page.PageCount > 1">
            <ul class="pagination">
                <li>
                    <a class="page-prev" href="javascript:void(0)" ng-click="$ctrl.showPrevPage()"></a>
                </li>
                <li>
                    <a class="page-next" href="javascript:void(0)" ng-click="$ctrl.showNextpage()"></a>
                </li>
            </ul>
        </div>
    </div>
</section>