.administration-content {

    @media screen and (width: 768px) {
        .major-hazard-content {
            margin-left: 85px;
        }
    }

    @media screen and (width: 640px) {
        .major-hazard-content {
            margin-left: 45px;
        }
    }

    @media screen and (width: 480px) {
        .major-hazard-content {
            margin-left: 0px;
        }
    }

    @media screen and (width: 320px) {
        .major-hazard-content {
            margin-left: 0px;
        }
    }

    .major-hazard-content {
        margin-top: 35px;

        .major-hazard-owner {
            border-radius: 5px;
            background-color: #464646;
            color: #fff;
            height: 30px;
            width: 180px;
            text-align: center;
            margin-top: 5px;
            display: inline-block;
            vertical-align: middle;
            font-size: 12px;
            padding-top: 5px;

            .title {
                display: inline-block;
                font-weight: bold;
                vertical-align: middle;
            }

            .name-field {
                vertical-align: middle;
                display: inline-block;
                overflow: hidden;
                word-wrap: normal;
                max-width: 125px;
                min-width: initial;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        .major-hazard-item {
            width: 180px;
            height: 165px;
            cursor: pointer;
            vertical-align: middle;
            padding: 10px;
            text-align: center;
            display: inline-block;
            border-radius: 5px;
            margin-top: 20px;
            background: @warning-color;

            .upload-photo {
                .fileinput-new, .fileinput-exists {
                    .fileinput-preview {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        padding: 0;
                        border: none;

                        &:hover {
                            cursor: pointer;
                            opacity: 0.7;
                        }
                    }

                    div {
                        .btn-file {
                            border: none;
                            background: none;

                            input {
                            }
                        }
                    }
                }
            }

            .upload-photo.middle-size {
                .fileinput-new, .fileinput-exists {
                    margin-top: 15px;
                    height: 70px;

                    .fileinput-preview {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        padding: 0;
                        border: none;

                        &:hover {
                            cursor: pointer;
                            opacity: 0.7;
                        }
                    }
                }
            }

            &.grey {
                color: white;
                background: @main-brown;
                padding-top: 70px;
            }

            img {
                margin-top: 12px;
                width: 95px;
                height: 95px;
            }

            .large-margin {
                margin-top: 8px;
            }

            .fileinput {
                & > div:nth-child(2) {
                    display: none;
                }
            }

            .thumbnail {
                background: none;
                background-image: data-uri("@{main-url-img}/bgd.svg");
                position: relative;
                line-height: initial !important;

                &:before {
                    position: absolute;
                    content: 'Select Image';
                    left: 0;
                    top: 40%;
                    width: 100%;
                    color: #fff;
                    font-size: 11px;
                }
            }

            .fileinput-exists {
                .thumbnail {
                    img {
                        margin-top: 0;
                        width: 100%;
                        height: auto;
                    }

                    &:before {
                        display: none;
                    }
                }
            }

            .major-hazard-name {
                font-size: 11px;
                color: white;
                position: relative;
                top: 20px;
                width: 100%;
                font-weight: 900;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .plus {
                background-image: data-uri("@{main-url-img}/white_plus.svg");
                position: relative;
                width: 30px;
                height: 30px;
                background-size: cover;
                top: ~'calc(50% - 15px)';
                left: ~'calc(50% - 13px)';
            }
        }
    }

    .pagination-block {
        margin-top: 25px;
        text-align: center;

        .pagination-pages {
            display: inline;
            position: relative;

            .page {
                color: @main-brown;
            }

            .first-page {
                position: absolute;
                top: 4px;
                left: -55px;
                width: 9px;
                height: 8px;
                padding: 0;
                border: none;
                background: none;
                background-repeat: no-repeat;
                background-image: data-uri("@{main-url-img}/arrow_left2.svg");

                &:hover {
                    opacity: 0.7;
                }
            }

            .prev-page {
                position: absolute;
                top: 4px;
                left: -30px;
                width: 5px;
                height: 8px;
                padding: 0;
                border: none;
                background: none;
                background-repeat: no-repeat;
                background-image: data-uri("@{main-url-img}/arrow_left1.svg");

                &:hover {
                    opacity: 0.7;
                }
            }

            .next-page {
                position: absolute;
                top: 4px;
                right: -30px;
                width: 5px;
                height: 8px;
                padding: 0;
                border: none;
                background: none;
                background-repeat: no-repeat;
                background-image: data-uri("@{main-url-img}/arrow_right1.svg");

                &:hover {
                    opacity: 0.7;
                }
            }

            .last-page {
                position: absolute;
                top: 4px;
                right: -55px;
                width: 9px;
                height: 8px;
                padding: 0;
                border: none;
                background: none;
                background-repeat: no-repeat;
                background-image: data-uri("@{main-url-img}/arrow_right2.svg");

                &:hover {
                    opacity: 0.7;
                }
            }

            .inactive {
                opacity: 0.7;
                cursor: default;
            }
        }
    }
}
