.safety-scheduler-v2-page {

    .page-content {

        .scheduler-container {

            .container-calendar-v2 {
                text-align: center;
                padding-top: 47px;
                max-width: 1140px;
                margin: 0 auto;
                background-clip: content-box;
                border-radius: 5px;

                * {
                    border: 0px;
                    padding: 10px 10px;
                }

                table {
                    border-collapse: collapse;
                    border-width: 0px 0px 1px 1px;
                    margin: 0px auto;
                    font-size: 20px;
                    padding-top: 0px;
                    border-right: 2px #00aff0 solid;
                    border-bottom: 2px #00aff0 solid;
                    border-left: 2px #00aff0 solid;
                    background: white;

                    .view {
                        opacity: 0.5;
                    }

                    .pagination-cell {
                        padding: 0px;
                        border: none;
                        margin: 0px auto;
                        height: 40px;
                        border-right: 2px #444 solid;
                        border-left: 2px #444 solid;

                        .pagination-pages {
                            text-align: center;
                            display: inline-block;
                            padding: 0;
                            background-color: #444;
                            height: 40px;
                            width: 100%;
                            padding-top: 10px;

                            .page {
                                color: #fff;
                                padding: 0;
                                display: inline-block;
                                width: 150px;
                                letter-spacing: 1.3px;
                                font-weight: bold;
                                font-size: 12px;
                            }

                            .prev-page {
                                display: inline-block;
                                width: 5px;
                                height: 8px;
                                padding: 0;
                                border: none;
                                background: none;
                                background-repeat: no-repeat;
                                background-image: data-uri("@{main-url-img}/arrow_white_right.svg");

                                &:hover {
                                    opacity: 0.7;
                                }
                            }

                            .next-page {
                                display: inline-block;
                                width: 5px;
                                height: 8px;
                                padding: 0;
                                border: none;
                                background: none;
                                background-repeat: no-repeat;
                                background-image: data-uri("@{main-url-img}/arrow_white_left.svg");

                                &:hover {
                                    opacity: 0.7;
                                }
                            }

                            .inactive {
                                opacity: 0.7;
                                cursor: default;
                            }
                        }
                    }

                    td {
                        width: 76px;
                        height: 76px;
                        text-align: left;
                        vertical-align: middle;
                        padding: 1px 3px;
                        /*background: white;*/
                        border: 1px solid #00aff0;
                        color: #444;
                        text-transform: uppercase;
                        position: relative;
                        font-size: 14px;


                        img {
                            width: 100%;
                            height: 100%;
                            cursor: pointer;

                            &.view {
                                opacity: .5;
                                cursor: auto;
                            }
                        }

                        p {
                            padding: 0px;
                            z-index: 4;
                            position: absolute;
                            font-weight: bold;
                            top: 2px;
                            left: 3px;

                            &.view {
                                opacity: .5;
                                font-weight: normal;
                            }
                        }
                    }

                    th {
                        text-align: center;
                        vertical-align: bottom;
                        padding: 0px;
                        height: 20px;
                        background: #00aff0;
                        color: white;
                        font-size: 11px;
                        border: 0px solid #444;
                        text-transform: uppercase;
                        letter-spacing: 1.5px;
                    }
                }

                .plus {
                    background-image: data-uri("@{main-url-img}/11.svg");
                    background-size: 25px;
                    background-repeat: no-repeat;
                    z-index: 6;
                    display: none;
                    width: 25px;
                    height: 29px;
                    padding: 0px;
                    cursor: pointer;
                    margin: 0px auto;
                }

                .plus-down {
                    background-image: data-uri("@{main-url-img}/plus_grey.svg");
                    background-size: 12px;
                    background-repeat: no-repeat;
                    z-index: 6;
                    background-position: 100%;
                    position: absolute;
                    right: 2px;
                    bottom: 2px;
                    display: none;
                    cursor: pointer;
                }

                td:hover .plus-down, td:hover .plus {
                    display: block;
                }

                td:focus .plus-down, td:focus .plus {
                    display: block;
                }

                .many-messages {
                    background-image: data-uri("@{main-url-img}/bgd.svg");
                    position: relative;
                    height: 52px;
                    width: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    font-size: 26px;
                    color: #ffffff;
                    text-align: center;
                    cursor: pointer;

                    &.view {
                        opacity: .5;
                        cursor: auto;
                    }
                }
            }
        }
    }
}
