﻿.webui-popover-task-board-menu-popover {
    background-color: #0096C8;
    border-radius: 2px;
    box-shadow: none;
    padding: 0px;
    border: none;

    i.icon-refresh {
        display: block;
        margin-top: 12px;
        margin-bottom: 12px;
        position: relative;
    }

    .webui-popover-content {
        padding: 0px;

        .task-board-menu-popover-content {
            padding: 0px;

            .filter-content {
                .filter-row {
                    width: 100%;
                    color: #fff;
                    font-size: 12px;
                    font-weight: normal;
                    text-align: left;
                    height: 28px;
                    border-bottom: solid 2px #008CBC;
                    padding-top: 5px;
                    padding-right: 10px;
                    padding-left: 10px;
                    cursor: pointer;

                    &:hover {
                        background-color: #00aff0;
                    }

                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }


    .webui-arrow {
        color: #0096C8;
        border-bottom-color: #0096C8 !important;
        left: 25% !important;

        &:after {
            border-bottom-color: #0096C8 !important;
        }
    }

    &.top > .webui-arrow, &.top-left > .webui-arrow, &.top-right > .webui-arrow, &.top > .webui-arrow:after, &.top-left > .webui-arrow:after, &.top-right > .webui-arrow:after {
        border-top-color: #fff;
    }

    &.right > .webui-arrow, &.right-top > .webui-arrow, &.right-bottom > .webui-arrow, &.right > .webui-arrow:after, &.right-top > .webui-arrow:after, &.right-bottom > .webui-arrow:after {
        border-right-color: #fff;
    }

    &.bottom > .webui-arrow, &.bottom-left > .webui-arrow, &.bottom-right > .webui-arrow, &.bottom > .webui-arrow:after, &.bottom-left > .webui-arrow:after, &.bottom-right > .webui-arrow:after {
        border-bottom-color: #fff;
    }

    &.left > .webui-arrow, &.left-top > .webui-arrow, &.left-bottom > .webui-arrow, &.left > .webui-arrow:after, &.left-top > .webui-arrow:after, &.left-bottom > .webui-arrow:after {
        border-left-color: #fff;
    }
}
