﻿body {
    &.task-board-report {
        background-color: white !important;
        width: 1140px;

        .document-head {
            text-align: center;
            margin-bottom: 15px;

            .report-title {
                font-size: 26px;
                font-weight: bold;
            }

            .report-date {
                font-size: 16px;
                font-weight: normal;
            }
        }

        .document-body {
            width: 99%;
            border-top: solid 1px #464646;
            tr {
                border-top: 1px solid #B4B4B4;

                &:first-child {
                    border-top: none;
                }

                &:last-child {
                    border-bottom: 1px solid #B4B4B4;
                }
            }

            tbody {
                width: 100%;

                tr {
                    page-break-inside: avoid !important;
                    width: 100%;

                    td {
                        padding-top: 5px;
                        padding-bottom: 5px;
                        font-size: 14px;
                        vertical-align: top;

                        &.task-number {
                            vertical-align: middle;

                            .number-icon {
                                display: inline-block;
                                width: 40px;
                                height: 40px;
                                line-height: 40px;
                                border-radius: 40px;
                                background-color: #95989A;
                                color: white;
                                text-align: center;
                                font-size: 16px;
                            }
                        }


                        &.second-td {
                            padding-left:15px;
                            .task-block {
                                .topic-name {
                                    /*height: 14px;*/
                                    display: inline-block;
                                    font-size: 12px;
                                    font-weight: bold;
                                    padding-right: 10px;
                                    border-right: #464646 1px solid;
                                }

                                .task-name {
                                    /*height: 14px;*/
                                    display: inline-block;
                                    font-size: 12px;
                                    font-weight: bold;
                                    padding-left: 10px;
                                }
                            }

                            .task-notes {
                                /*min-height: 14px;*/
                                font-size: 12px;
                                font-weight: normal;
                                word-break: break-word;
                                word-wrap: break-word;
                            }
                        }

                        &.third-td {
                            text-align: right;

                            .task-priority {
                                /*height: 14px;*/
                                font-size: 12px;
                                font-weight: bold;
                            }

                            .task-date {
                                /*height: 14px;*/
                                font-size: 12px;
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
        }
    }
}
