﻿.task-board-page-content {
    .footer-block {
        margin-top: 10px;
        background-color: #fff;
        height: 30px;
        border-radius: 4px;

        .view-block {
            display: inline-block;

            .eyes {
                display: inline-block;
                background-image: data-uri("@{notification-img-url}/ViewEye_Icon.svg");
                width: 20px;
                height: 20px;
                margin-left: 20px;
                margin-bottom: 5px;
                margin-top: 5px;
            }

            .count-block {
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                padding-left: 20px;
                padding-bottom: 20px;

                a {
                    padding-right: 20px;

                    .counter {
                        font-size: 12px;
                        font-weight: bold;
                        display: inline-block;
                        color: #464646;

                        &.active {
                            font-weight: bold;
                            border-bottom: 2px solid #464646;
                        }
                    }
                }
            }
        }

        .pagination-block {
            display: inline-block;
            float: right;
            margin-top: 5px;
            width: 150px;
            text-align: center;

            .pagination-pages {
                display: inline;
                position: relative;

                .page {
                    color: #464646;
                    font-size: 12px;
                }

                .first-page {
                    position: absolute;
                    top: 4px;
                    left: -55px;
                    width: 9px;
                    height: 8px;
                    padding: 0;
                    border: none;
                    background: none;
                    background-repeat: no-repeat;
                    background-image: data-uri("@{main-url-img}/arrow_left2.svg");

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .prev-page {
                    position: absolute;
                    top: 4px;
                    left: -30px;
                    width: 5px;
                    height: 8px;
                    padding: 0;
                    border: none;
                    background: none;
                    background-repeat: no-repeat;
                    background-image: data-uri("@{main-url-img}/arrow_left1.svg");

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .next-page {
                    position: absolute;
                    top: 4px;
                    right: -30px;
                    width: 5px;
                    height: 8px;
                    padding: 0;
                    border: none;
                    background: none;
                    background-repeat: no-repeat;
                    background-image: data-uri("@{main-url-img}/arrow_right1.svg");

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .last-page {
                    position: absolute;
                    top: 4px;
                    right: -55px;
                    width: 9px;
                    height: 8px;
                    padding: 0;
                    border: none;
                    background: none;
                    background-repeat: no-repeat;
                    background-image: data-uri("@{main-url-img}/arrow_right2.svg");

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .inactive {
                    opacity: 0.7;
                    cursor: default;
                    pointer-events: none;
                }
            }
        }
    }
}
