﻿.multi-tenancy-white {
    .task-board-page {
        .pdf-report {
            background-image: data-uri("@{main-url-img}/relay_pdf_report_icon.svg");
            width: 26px;
            height: 26px;
            border-radius: 50%;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;

            &:hover {
                opacity: .75;
            }
        }

        .filter-btn {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: middle;
            background-image: data-uri("@{main-url-img}/relay_filter_icon.svg");
            cursor: pointer;
            margin-right: 5px;

            &:hover {
                opacity: .75;
            }
        }

        .plus-btn {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: middle;
            background-image: data-uri("@{main-url-img}/plus_light_icon.svg");
            cursor: pointer;
            margin-right: 5px;

            &:hover {
                opacity: .75;
            }
        }

        .panel-heading {
            height: 40px;
            min-height: 40px;
            padding: 7px 10px;
            background-color: #fff;
            color: #464646;
            border-bottom: solid 2px #F0F0F0;

            .task-board-title {
                text-align: center;
                display: inline-block;
                width: 100%;

                .panel-title {
                    display: inline-block;
                    position: initial;
                }
            }

            .task-board-controls {
                position: absolute;
                top: 7px;
                right: 10px;
            }
        }

        .navbar {
            padding: 7px 0 0 0;
        }

        .panel-body {
            background-color: #fff;
            border-bottom: solid 2px #F0F0F0;

            .navbar-white {
                background-color: #fff;
            }
        }

        .task-board-side-menu {
            text-align: center !important;
            letter-spacing: 1px !important;

            .nav {
                display: inline-block;
                border: none;
                padding-top: 0px !important;
                padding-bottom: 0px;

                li {
                    display: inline-block;
                    background-color: #F0F0F0;
                    width: 120px;
                    height: 26px;
                    margin-right: 10px;
                    border-radius: 13px;
                    font-weight: bold;

                    a, a:focus {
                        background-color: #F0F0F0;
                        width: 120px;
                        height: 26px;
                        font-weight: bold;
                        display: inline-block;
                        margin: 0px;
                        padding: 0px;
                        font-size: 12px;
                        font-family: 'Proxima-Nova-Regular';
                        color: #464646;
                        border-radius: 13px;
                        line-height: 2;
                        border: none;
                    }
                }

                .active {


                    a, a:focus {
                        background-color: #0096C8;
                        color: #fff;
                    }
                }
            }
        }
    }
}
