﻿@model IEnumerable<DailyNotesTopicViewModel>

<div Id="dailyNotesSection">
    <div class="panel-body grey-panel">
        <div class="navbar navbar-blue"><span class="label">@Html.EnumDescription(ModuleType.DailyNote)</span></div>
    </div>
    <div class="table-block">
        @if (Model != null && Model.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th class="first">Actions</th>
                        <th class="second">Date</th>
                        <th class="fourth">Notes</th>
                        <th class="intel-title" style="width:120px !important;">Intel</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var topic in Model)
                    {
                        <tr>
                            <td class="first-td">
                                @Html.Hidden("Id", topic.Id)
                                <div class="btn none-btn btn-circle"><span class="glyphicon span"></span></div>
                                <div class="btn none-btn btn-circle"><span class="glyphicon span"></span></div>
                                @*<div class="btn none-btn btn-circle"><span class="glyphicon span"></span></div>*@
                            </td>
                            <td>
                                <div class="second-td">
                                    @topic.Date
                                </div>
                            </td>
                            <td class="fourth-td">
                                <p class="note-short">@topic.Notes</p>
                                <div class="field-of-edit">
                                    <textarea class="change-note" maxlength="1000"></textarea>
                                    <div topic-val="@topic.IsFinalized.ToString().ToLower()" class="accept-btn finalise-btn tooltipster" @Html.TooltipAttritutes("Finalise")></div>
                                </div>

                                @*<div class="contributes-users">
                                    @Html.Partial("~/Views/Rotation/Shared/ShowIconContributorUsers.cshtml", topic.EditorUsers)
                                </div>*@


                            </td>
                            <td class="fifth-td">
                                
                                @Html.Action("ManagerCommentButton", "Topic", new ManagerCommentButtonViewModel { ItemId = topic.Id.Value, HasComments = topic.HasComments })

                                <div class="btn none-btn btn-circle">
                                    <span class="glyphicon span"></span>
                                </div>
                                <div class="btn btn-circle more-btn tooltipster" @Html.TooltipAttritutes("Extras")>
                                    <span class="glyphicon span"></span>
                                </div>
                                <div class="other-actions">
                                    @*<button topic-val="@topic.HasLocation.ToString().ToLower()" class="action-btn location-btn" @Html.TooltipAttritutes("Location")></button>*@
                                    @*<button topic-val="@topic.HasTasks.ToString().ToLower()" class="action-btn tasks-btn tooltipster" @Html.TooltipAttritutes("Tasks")></button>*@
                                    <button topic-val="@topic.HasAttachments.ToString().ToLower()" class="action-btn attachments-btn tooltipster" @Html.TooltipAttritutes("Attachments")></button>
                                    @*<button topic-val="@topic.HasVoiceMessages.ToString().ToLower()" class="action-btn voice-msg-btn tooltipster" @Html.TooltipAttritutes("Voice Messages") disabled style="cursor: not-allowed!important"></button>*@
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="text-center" style="margin: 10px; padding-bottom: 5px">@Html.EnumDescription(ModuleType.DailyNote, "No Received {0} Items")</div>
        }
    </div>
</div>