.project-dialog {

    .modal-dialog {
        width: 600px !important;

        .modal-body {
            padding: 15px 0 0 0 !important;
        }

        .project-image {
            .img-circle {
                border-radius: 50%;
                border: 4px solid #00b0f0;
            }
        }
    }
}
