.project-admin-add-task-dialog {
    .modal-content {
        width: 600px !important;
        height: 450px !important;

        .modal-body {
            padding-top: 15px !important;

            .popup-actions {
                padding-left: 15px;

                .title-select {
                    width: 150px;
                }

                .datepicker {
                    width: 150px;
                }
            }

            .select-list {
                .bs-searchbox {

                    input {
                        background-color: #464646;
                        color: #fff;
                        height: 25px;
                        width: 260px;
                        border: none;
                        border-bottom: 1px solid #fff;
                        border-radius: 0;
                        box-shadow: none;
                        padding-left: 0px;
                        padding-right: 0px;
                    }
                }

                .dropdown-menu {
                    a {
                        padding-left: 10px;
                    }

                    .no-results {
                        background-color: #464646;
                        color: #fff;
                        height: 25px;
                        width: 260px;
                        padding-left: 2px;
                    }
                }
            }

            .avatar-block {
                float: right;

                .field-container {
                    span {
                        &.field-validation-error {
                            position: absolute;
                            left: -45px;
                            font-size: 10px;
                        }
                    }
                }

                img {
                    &.img-circle {
                        border: 2px solid #00AFF0;
                        width: 30px;
                        height: 30px;
                        margin-left: 5px;
                    }

                    &.no-assignee-image {
                        border-radius: 0%;
                        width: 36px;
                        height: 30px;
                        background-repeat: no-repeat;
                        border: none;
                        margin-left: 3px;
                    }
                }
            }

            .radio-btn-group {
                color: white;
                font-size: 14px;

                .radio-label {
                    position: relative;
                    top: 4px;
                    padding-right: 10px;
                    margin-left: -4px;
                }


                input {
                    width: 14px;
                    height: 14px;
                    margin-right: 5px;
                    position: relative;
                    top: 7px;
                }

                span {
                    display: inline-block;
                }

                input[type="radio"]:checked:before {
                    content: "";
                    display: block;
                    position: relative;
                    top: 3px;
                    left: 3px;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background: #00AFF0;
                }

                .option-name {
                    vertical-align: middle;
                    padding-right: 15px;
                }
            }

            .assigned-to-title {
                padding-left: 65px;
            }

            .tab-pane {
                padding: 15px;
            }
        }
    }
}
