﻿@model SafetyCalendarV2ViewModel

@Html.Hidden("CalendarDate", Model.Date.ToISOString())

<table class="table-condensed table-bordered">
    <thead>
        <tr>
            <td colspan="7" class="pagination-cell">
                <div class="pagination-pages">
                    <button class="prev-page"></button>
                    <div class="page">@Model.MonthYear</div>
                    <button class="next-page"></button>
                </div>
            </td>
        </tr>
        <tr>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Dates.Length; i += 7)
        {
            <tr>
                @for (int j = 0; j < 7; ++j)
                {
                    bool notActive = Model.Dates[i + j].Date.Month != Model.Date.Month || Model.Dates[i + j].Date <= Model.CurrentDate;

                    string viewClass = (Model.Dates[i + j].Date.Month != Model.Date.Month) ? "view" : "";

                    <td date="@Model.Dates[i+j].Date.ToISOString()">
                        <p class="@viewClass">@Model.Dates[i + j].Date.Day</p>

                        @if (@Model.Dates[i + j].MessagesNumber == 0)
                        {
                            if (!notActive)
                            {
                                <div class="plus"></div>
                            }
                        }
                        else
                        {
                            if (@Model.Dates[i + j].MessagesNumber == 1)
                            {
                                <img src="@Model.Dates[i + j].IconUrl" class="@viewClass">
                            }
                            else
                            {
                                <div class="many-messages @viewClass">@Model.Dates[i + j].MessagesNumber</div>
                            }

                            if (!notActive)
                            {
                                <div class="plus-down"></div>
                            }
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>