﻿@model SafetyMessageV2ViewModel

<div Id="safetyMessagePreviewV2Dialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" class="modal fade safety-message-v2-dialog">
    <div class="page-content">
        <div class="modal-dialog modal-sm">
            <div class="theme">
                <div class="modal-content no-padding">
                    <div class="modal-header">
                        <div class="row no-margin">
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding left-block">
                                @*<button type="button" data-dismiss="modal" class="arrow-forward-btn next-safety"></button>*@
                            </div>
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                                <div class="row no-margin">
                                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                                        <div class="padding-left-20 margin-top-20 bold">Critical Control</div>
                                    </div>
                                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6  no-padding text-right">
                                        <button type="button" data-dismiss="modal" aria-hidden="true" class="btn margin-right-20 btn-close" style="margin-top: 23px;"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row no-margin">
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding left-block yellow-block">
                                <img src="@Model.IconUrl" class="message-icon">
                                <div class="title">Major Hazard</div>
                                <div class="title">@Model.MajorHazardName</div>
                            </div>
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 right-block">
                                <div class="title">@Model.CriticalControlName</div>
                                <div class="message">@Model.Message</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>