﻿@model SafetyMessagesForDateV2ViewModel

<div Id="safetyDayMessagesV2Dialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" class="modal fade safety-message-date-v2-dialog">
    <div class="page-content">
        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <div Id="modalTitle" class="modal-title">Safety Messages: @Model.DateString</div>
                            </div>
                            <div class="col col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right">
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="safety-message-dialog-title row no-margin">
                                    <div class="col col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding">
                                        <div class="title-name">Critical Controls</div>
                                    </div>
                                    <div class="col col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding">
                                        <div class="title-icon @(Model.IsExpired ? "expired" : "")">
                                            <div class="view">View </div>
                                            <div class="other">@(Model.IsExpired ? " Reschedule" : " Edit")</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-container safety-message-swiper">
                                    <div class="swiper-wrapper">
                                        @foreach (var message in Model.SafetyMessages)
                                        {
                                            <div message-Id="@message.Id" class="row swiper-slide safety-message-dialog-body">
                                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                                    <div class="group-name">@message.Message</div>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 safety-btn-group no-padding @(Model.IsExpired ? "expired" : "")">
                                                    <div class="view"></div>
                                                    <div class="@(Model.IsExpired ? "reschedule glyphicon glyphicon-calendar" : "edit")"></div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="swiper-prev"></div>
                                <div class="swiper-next"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        (function () {

            new Swiper($(".safety-message-swiper"), {
                direction: 'vertical',
                height: 40,
                nextButton: $(".swiper-next"),
                prevButton: $(".swiper-prev")
            });

            $("#safetyDayMessagesV2Dialog .safety-message-dialog-body .view").click(function () {
                var messageId = $(this).parent().parent().attr("message-Id");

                var safetyForm = Relay.FormDialog({
                    url: "/SafetyMessageV2/SafetyMessagePreviewDialog",
                    method: "GET",
                    dialogId: "safetyMessagePreviewV2Dialog",
                    data: { safetyMessageId: messageId }
                }).open();
            });

            $("#safetyDayMessagesV2Dialog .safety-message-dialog-body .edit").click(function () {
                var messageId = $(this).parent().parent().attr("message-Id");

                var safetyForm = Relay.FormDialog({
                    url: "/SafetyShedulerV2/EditSafetyMessageDialog",
                    method: "GET",
                    dialogId: "editSafetyMessageV2Dialog",
                    data: { safetyMessageId: messageId }
                }).open();
            });

            $("#safetyDayMessagesV2Dialog .safety-message-dialog-body .reschedule").click(function () {
                var messageId = $(this).parent().parent().attr("message-Id");

                var safetyForm = Relay.FormDialog({
                    url: "/SafetyShedulerV2/RescheduleSafetyMessageDialog",
                    method: "GET",
                    dialogId: "rescheduleSafetyMessageV2Dialog",
                    data: { safetyMessageId: messageId }
                }).open();
            });

        })();
    </script>
</div>