﻿@model IEnumerable<SafetyMessageViewModel>

<div Id="safetyMessageDialog" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" class="modal fade safety-message-dialog">
    <div class="modal-dialog modal-sm">
        @foreach (var safetyItem in Model)
        {
            <div class="modal-content safety-message no-padding" style="display: none;">
                <div class="modal-header">
                    <div class="left-block yellow-block">
                        <button type="button" safety-Id="@safetyItem.Id" class="arrow-forward-btn next-safety"></button>
                        <img src="@Url.Action("GetImage", "Media", new { imageId = safetyItem.IconId })" class="message-icon">
                        <div class="title">@safetyItem.MajorHazardName</div>
                    </div>
                    <div class="right-block">
                        <button type="button" data-dismiss="modal" aria-hidden="true" class="btn-close"></button>
                        <div class="title">@safetyItem.CriticalControlName</div>
                        <div class="message">@safetyItem.Message</div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $(".safety-message").first().show();
    $(".next-safety").click(function () {

        var current = $(this).parent().parent().parent();
        var safetyMessageId = $(this).attr('safety-Id');

        $.ajax({
            url: '/ScheduleMessage/SetSafetyMessageShowForUser',
            method: 'POST',
            data: { safetyMessageId: safetyMessageId },
        })
        .done(function (result) {
            $(current).hide();
            var currentMsg = $(current).next();
            if (currentMsg.length) {
                currentMsg.show();
            }
            else {
                $("#safetyMessageDialog").modal("hide");
            }
        })
        .fail(function () {
            var errorDialog = Relay.ErrorDialog();
            errorDialog.setCloseEvent(function () {
                location.reload();
            });
            errorDialog.open();
        });
    });
</script>