﻿@model SafetyMessageViewModel

<div Id="safetyMessagePreviewDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" class="modal fade safety-message-dialog">
    <div class="modal-dialog modal-sm">
        <div class="theme">
            <div class="modal-content safety-message no-padding">
                <div class="modal-header">
                    <div class="left-block yellow-block">
                        <button type="button" data-dismiss="modal" class="arrow-forward-btn next-safety"></button>
                        <img src="@Url.Action("GetImage", "Media", new {imageId = Model.IconId, width = 100, height = 100})" class="message-icon">
                        <div class="title">@Model.MajorHazardName</div>
                    </div>
                    <div class="right-block">
                        <button type="button" data-dismiss="modal" aria-hidden="true" class="btn-close"></button>
                        <div class="title">@Model.CriticalControlName</div>
                        <div class="message">@Model.Message</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
</div>