﻿@model SafetyMessagesViewModel

<div Id="safetyDayMessagesDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" class="modal fade">
    <div class="page-content">
        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <div Id="modalTitle" class="modal-title">Safety Messages: @Model.Date</div>
                            </div>
                            <div class="col col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right">
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="safety-message-date-dialog">
                                    <div class="safety-message-dialog-title">
                                        <div class="title-name">Critical Controls</div>
                                        <div class="title-icon">View  Edit</div>
                                    </div>
                                    @foreach (var safetyMsg in Model.SafetyMessages)
                                    {
                                        <div Id="@safetyMsg.Value" class="safety-message-dialog-body">
                                            <div class="group-name">@safetyMsg.Text</div>
                                            <div class="view"></div>
                                            <div class="edit"></div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script>
            (function () {
                $("#safetyDayMessagesDialog .safety-message-date-dialog .view").click(function () {
                    var messageId = $(this).parent().attr("Id");

                    var safetyForm = Relay.FormDialog({
                        url: "/ScheduleMessage/SafetyMessagePreviewDialog",
                        method: "GET",
                        dialogId: "safetyMessagePreviewDialog",
                        data: { safetyMessageId: messageId }
                    }).open();
                });
                $("#safetyDayMessagesDialog .safety-message-date-dialog .edit").click(function () {
                    var messageId = $(this).parent().attr("Id");

                    var safetyForm = Relay.FormDialog({
                        url: "/ScheduleMessage/EditSafetyMessageDialog",
                        method: "GET",
                        dialogId: "editSafetyMessageDialog",
                        data: { safetyMessageId: messageId }
                    }).open();
                });
            })();
        </script>
    </div>
</div>