﻿@model IEnumerable<HSETopicViewModel>



<div Id="safetySection">
  <div class="panel-body grey-panel">
    <div class="navbar navbar-blue" id="Core"><span class="label">@Html.EnumDescription(ModuleType.HSE)</span></div>
  </div>
  <div class="table-block">
    @if (Model != null && Model.Any())
    {
    <table class="table">
      <thead>
        <tr>
          <th class="actions-title">Actions</th>
          <th class="type-title">Topic</th>
          <th class="reference-title">Reference</th>
          <th class="notes-title">Notes</th>
          <th class="intel-title"></th>
          <th class="intel-title">Intel</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var topic in Model)
        {
          <tr>
              @Html.Hidden("Id", topic.Id)
              @Html.Hidden("CreatorId", topic.CreatorId)

              @*<td class="actions-body">

            @if (topic.IsNullReport)
            {
                <div class="btn btn-circle nr-active-btn tooltipster" @Html.TooltipAttritutes("Nil-report")>
                    <span class="glyphicon span"></span>
                </div>
            }
            else
            {
                <div class="btn btn-circle none-btn">
                    <span class="glyphicon span"></span>
                </div>
            }
            @if (topic.IsSharingTopic)
            {
                <div class="is-shared">S</div>
            }
            else
            {
                <div class="btn none-btn btn-circle">
                    <span class="glyphicon span"></span>
                </div>
            }
        </td>*@
              <td class="actions-body">
                  @if (topic.IsCustom)
                  {
                      <div class="btn none-btn btn-circle">
                          <span class="glyphicon span"></span>
                      </div>
                  }
                  else
                  {
                      if (topic.IsNullReport || topic.Notes == "All good.")
                      {
                          <div class="btn btn-circle nr-active-btn tooltipster" @Html.TooltipAttritutes("Checked")>
                              <span class="glyphicon span"></span>
                          </div>
                      }
                      else
                      {
                          <div class="btn btn-circle nr-inactive-btn tooltipster" @Html.TooltipAttritutes("Checked")>
                              <span class="glyphicon span"></span>
                          </div>
                      }
                  }


                  @if (topic.IsPinned.HasValue && topic.IsPinned.Value == true)
                  {
                      <div class="btn btn-circle note-btn pin-active-btn tooltipster" topic-val="@topic.IsPinned.Value.ToString().ToLower()" @Html.TooltipAttritutes("Pin")>
                          <span class="glyphicon span"></span>
                      </div>
                  }
                  else if (topic.IsPinned.HasValue && topic.IsPinned.Value == false)
                  {
                      <div class="btn btn-circle note-btn pin-grey-btn tooltipster" topic-val="@topic.IsPinned.Value.ToString().ToLower()" @Html.TooltipAttritutes("Pin")>
                          <span class="glyphicon span"></span>
                      </div>
                  }
                  else
                  {
                      <div class="btn btn-circle pin-inactive-btn tooltipster" @Html.TooltipAttritutes("Pin")>
                          <span class="glyphicon span"></span>
                      </div>
                  }

              </td>

              @if (topic.IsNullReport || topic.Notes != null && topic.Notes.Contains("All good."))
              {
                  if (topic.IsFirstTopicByTopicGroupName.HasValue && topic.IsFirstTopicByTopicGroupName.Value)
                  {
                      <td class="type-body" style=" color: #b4b4b4 !important;">
                          @topic.Type
                      </td>
                  }
                  else
                  {
                      <td class="type-body"></td>
                  }
              }
              else
              {
                  if (topic.IsFirstTopicByTopicGroupName.HasValue && topic.IsFirstTopicByTopicGroupName.Value)
                  {
                      <td class="type-body">
                          @topic.Type
                      </td>
                  }
                  else
                  {
                      <td class="type-body"></td>
                  }
              }
              @if (topic.IsNullReport || topic.Notes != null && topic.Notes.Contains("All good."))
              {
                  <td class="reference-body" style=" color: #b4b4b4 !important;">
                      @topic.Reference
                  </td>
              }
              else
              {
                  <td class="reference-body">
                      @topic.Reference
                  </td>
              }
                  <td class="notes-body" topic-id="@topic.Id">

                      <div class="plannedActualNoEdit" topic-id="@topic.Id">
                          @Html.Partial("~/Views/Rotation/Shared/NotEditPvA.cshtml", topic.PlannedActualField)
                      </div>

                      @if (topic.PlannedActualHas.HasValue && topic.PlannedActualHas.Value || topic.PlannedActualField.IsExpandPlannedActualField.HasValue && topic.PlannedActualField.IsExpandPlannedActualField.Value)
                      {
                          <div class="plannedActual" topic-id="@topic.Id">
                              @Html.Partial("~/Views/Rotation/Shared/PvADraft.cshtml", topic.PlannedActualField)
                          </div>
                      }
                      else
                      {
                          <div class="plannedActual" style="display:none;" topic-id="@topic.Id">
                              @Html.Partial("~/Views/Rotation/Shared/PvADraft.cshtml", topic.PlannedActualField)
                          </div>
                      }
                      <span class="icon-text"></span>
                      @if (topic.IsNullReport || topic.Notes != null && topic.Notes.Contains("All good."))
                      {
                          <p class="note-short-nr"> @(topic.IsNullReport ? "All good." : topic.Notes)</p>
                      }
                      else
                      {
                          <p class="note-short">  @(topic.IsNullReport ? "All good." : topic.Notes)</p>
                      }

                      <div class="field-of-edit">
                          <textarea class="change-note" maxlength="1000"></textarea>
                          <div topic-val="@topic.IsFinalized.ToString().ToLower()" class="accept-btn finalise-btn tooltipster" @Html.TooltipAttritutes("Finalise")></div>
                      </div>

                      @if (topic.TagsTopicField.HasTags.Value)
                      {
                          <div class="tags" topic-id="@topic.Id">
                              @Html.Partial("~/Views/Rotation/Shared/TagsTopic.cshtml", Tuple.Create<string, Guid>(topic.TagsString, topic.Id.Value))
                          </div>
                      }
                      else
                      {
                          <div class="tags" style="display:none;" topic-id="@topic.Id">
                              @Html.Partial("~/Views/Rotation/Shared/TagsTopic.cshtml", Tuple.Create<string, Guid>(topic.TagsString, topic.Id.Value))
                          </div>
                      }

                      <div class="contributes-users">
                          @Html.Partial("~/Views/Rotation/Shared/ShowIconContributorUsers.cshtml", topic.EditorUsers)
                      </div>

                  </td>

              <td class="tags-body">
                  @Html.Partial("~/Views/Rotation/Shared/ShowTagsTopic.cshtml", topic.TagsTopicField)
              </td>

              <td class="intel-body">

                  @Html.Action("ManagerCommentButton", "Topic", new ManagerCommentButtonViewModel { ItemId = topic.Id.Value, HasComments = topic.HasComments })

                  <div class="btn btn-circle more-btn tooltipster" @Html.TooltipAttritutes("Extras")>
                      <span class="glyphicon span"></span>
                  </div>
                  <div class="other-actions">
                      <div class="action-btn share-btn tooltipster" topic-val="@topic.SharedCounter" @Html.TooltipAttritutes("Share") style="margin-bottom: 10px;">
                          <span class="counter-block"></span>
                      </div>
                      <button topic-val="@topic.IsFeedbackRequired.ToString().ToLower()" class="action-btn arrows-btn tooltipster" @Html.TooltipAttritutes("Hand-back")></button>
                      <button topic-val="@topic.HasLocation.ToString().ToLower()" class="action-btn location-btn tooltipster" @Html.TooltipAttritutes("Locations")></button>
                      <button topic-val="@topic.HasAttachments.ToString().ToLower()" class="action-btn attachments-btn tooltipster" @Html.TooltipAttritutes("Attachments")></button>
                      <button topic-val="@topic.HasTags.ToString().ToLower()" class="action-btn tags-btn tooltipster" @Html.TooltipAttritutes("Tags")></button>
                      @*<button topic-val="@topic.HasVoiceMessages.ToString().ToLower()" class="action-btn voice-msg-btn tooltipster" @Html.TooltipAttritutes("Voice Messages") disabled style="cursor: not-allowed!important"></button>*@
                      <button topic-val="@topic.PlannedActualHas.ToString().ToLower()" class="action-btn planned-actual-btn tooltipster" @Html.TooltipAttritutes("Planned & Actual")></button>
                  </div>
              </td>
          </tr>
        }
      </tbody>
    </table>
    }
    else
    {
    <div class="text-center" style="margin: 10px">@Html.EnumDescription(ModuleType.Core, "No {0} Items")</div>
    }
  </div>
</div>