﻿@model RotationCompleteTaskOutcomesTabViewModel

<div id="TaskOutcomesTab">
    @Html.HiddenFor(m => m.ID)
    <div class="row">
        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
            <div class="field-container">
                @Html.LabelFor(model => model.Name, new {@class = "title-select"})
                @Html.TextBoxFor(model => model.Name, new {@class = "simple-input", @readonly = ""})
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-35">
            <div class="field-container">
                @Html.LabelFor(model => model.TaskNotes, new {@class = "title-select"})
                @Html.TextAreaFor(model => model.TaskNotes, new {@class = "textarea simple-textarea", @rows = "3", @maxlength = "500", @placeholder = "No Notes", @readonly = ""})
                @Html.ValidationMessageFor(model => model.TaskNotes)
            </div>
        </div>
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-35">
            <div class="field-container">
                @Html.LabelFor(model => model.Feedback, new {@class = "title-select"})
                @Html.TextArea("OutcomesTab.Feedback", Model.Feedback, new {@class = "textarea simple-textarea", @rows = "3", @maxlength = "500", @placeholder = "Enter Text (max. 500 characters)"})
                @Html.ValidationMessageFor(model => model.Feedback)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding margin-top-20">
            <div class="row conter-row  margin-top-20">
                @if (Model.AttacmentsCounter > 0)
                {
                    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-right">
                        <span class="@(Model.AttacmentsCounter > 0 ? "has-attachments-image" : "no-attachments-image")"></span>
                        <div class="counter">
                            @Model.AttacmentsCounter
                        </div>
                    </div>
                }
                @if (Model.VoiceMessagesCounter > 0)
                {
                    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-right">
                        <span class="@(Model.VoiceMessagesCounter > 0 ? "has-voise-messages-image" : "no-voise-messages-image")"></span>
                        <div class="counter">
                            @Model.VoiceMessagesCounter
                        </div>
                    </div>
                }
                @if (Model.IsFeedbackRequired)
                {
                    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-right">
                        <span class="@(Model.IsFeedbackRequired ? "has-feedback-required-image" : "no-feedback-required-image")"></span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>