﻿@model ManagerCommentsViewModel

@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
}

@using (Html.BeginForm("AddManagerCommentsForTopic", "Topic", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IsEditManagerComments)
    @Html.HiddenFor(model => model.RotationTopicId)

    <div class="title-block-with-line">
        <div class="title-container">
            <span class="file-input-title" style="background-color:white;">New</span>
        </div>
    </div>
    <div class="field-container margin-top-20">
        <span class="title-select">Edit Comment</span>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                <table style="border:none;">
                    <tr style="border:none;">
                        <td style="border:none; width:500px;">
                            <div class="field-container">
                                @Html.TextAreaFor(model => model.Notes, new { @class = "textarea simple-textarea", @rows = "4", @maxlength = "300", @placeholder = "Enter Text (max. 300 characters)" })
                                @Html.ValidationMessageFor(model => model.Notes)
                            </div>
                        </td>
                        <td style="border:none; padding-left: 30px;"><span class="input-group-addon btn-default btn-file btn-upload-new"></span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}
