﻿@model IEnumerable<ManagerCommentsViewModel>

<style>
    p.note {
        overflow: auto;
        width: 400px;
        min-width: 400px;
        height: auto !important;
        min-height: 70px;
        max-height: 125px;
        padding: 5px;
        border: none;
        background-color: #F0F0F0;
        border-radius: 5px;
        padding-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
        word-wrap: break-word;
        font-size: 13px;
    }

    p {
        font-size: 13px;
    }

    .swiper-slide-active, .swiper-slide-next, .swiper-slide-prev {
        pointer-events: auto;
        visibility: visible;
        height: auto !important;
        max-height: 125px;
        min-height: 80px;
    }
</style>

<div Id="managerCommentsDetailsDialog" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade manager-comments-dialog ">
    <div class="modal-dialog">
        <div class="theme">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row vertical-center">
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div Id="modalTitle" class="modal-title">Comments</div>
                        </div>
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 10px;">
                            <div class="add-new-manager-comments">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="btn-plus-white center-block add-manager-comments-btn">
                                            Add
                                        </div>
                                    </div>
                                </div>
                                <div class="add-manager-comments"></div>
                            </div>
                        </div>
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" style="min-height: 173px !important;">
                            <div class="attachments-container">
                                <div class="list-container">
                                    <div class="attachments-list-content">
                                        <div class="swiper-container" style="min-height:100px !important; height:auto !important; max-height: 350px">
                                            <div class="swiper-wrapper">
                                                @if (!Model.Any())
                                                {
                                                    <p>No comments.</p>
                                                }
                                                @foreach (var commentManager in Model.OrderByDescending(t => t.DateTimeCreatedManagerComments).ToList())
                                                {

                                                    <div class="swiper-slide" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms; height: auto !important; max-height:125px; min-height:80px; margin-top: 10px;">
                                                        <table style="border:none;">
                                                            <tr style="border:none;">
                                                                <td style="border:none;">

                                                                    <div class="creator-block" style="margin-bottom:10px !important;">
                                                                        @if (commentManager.CreatorManagerCommentsId.HasValue)
                                                                        {
                                                                            <img src="@Url.Action("GetAvatarForEmployee", "Media", new { area = "", employeeId = commentManager.CreatorManagerCommentsId.Value, width = 40, height = 40 })" class="media-object img-circle user-photo tooltipster initials" @Html.TooltipAttritutes(@commentManager.FullNameLineManager) style="width:40px; height:40px;" />
                                                                        }
                                                                        @if (commentManager.IsLineManager.HasValue && commentManager.IsLineManager.Value)
                                                                        {
                                                                            <img src="@Url.Content("~/Content/img/svg/icon_line_manager.svg")" style="width: 20px; height: 20px; margin-left: 10px;margin-top: 5px;" />
                                                                        }
                                                                    </div>
                                                                </td>
                                                                <td style="border:none;">
                                                                    <p class="note" style=" height: auto !important; min-height: 70px;max-height: 125px;">@commentManager.Notes</p>

                                                                </td>
                                                                <td style="border:none;">
                                                                    <div class="date-block" style="margin-bottom:15px;">
                                                                        <p>@string.Format("{0:dd MMM yyyy}", commentManager.DateTimeCreatedManagerComments.Value)</p>
                                                                        <p style="display:inline-block;">@string.Format("{0:t}", commentManager.DateTimeCreatedManagerComments.Value)</p>
                                                                        @if (commentManager.IsCanRemoveManagerComments.HasValue && commentManager.IsCanRemoveManagerComments.Value)
                                                                        {
                                                                            <div Id="@commentManager.Id.ToString()" class="singl-button remove-manager-comments-btn" style="display:inline-block; margin-left: 25px;">
                                                                                <div class="btn-close"></div>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>

                                                }
                                            </div>
                                        </div>
                                        <div class="swiper-prev @(Model.Any() ? "swiper-button-disabled" : string.Empty)"></div>
                                        <div class="swiper-next @(Model.Any() ? "swiper-button-disabled" : string.Empty)"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        
    });
</script>
