﻿@model PositionViewModel

<div Id="positionFormDialog" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade position-dialog">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.CustomTemplateName)
        @Html.HiddenFor(m => m.TemplateId)

        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <div Id="modalTitle" class="modal-title">@ViewBag.Title</div>
                            </div>
                            <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="field-container">
                                    <span class="title-select">@Html.LabelFor(model => model.Name)</span>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "simple-input", @placeholder = "Enter Job Title" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                <div class="select-type">
                                    <span class="title-select">@Html.LabelFor(m => m.SiteId)</span>
                                    @Html.DropDownListFor(m => m.SiteId, Model.Sites, "Select Location", new { @class = "select-list" })
                                    @Html.ValidationMessageFor(m => m.SiteId)
                                </div>
                            </div>
                                <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5 no-padding margin-top-20" style="width: 100%;">
                                    <div class="select-type">
                                        <span class="title-select">@Html.LabelFor(m => m.TemplateId)</span>
                                        <div id="TemplateBar"></div>
                                        @Html.ValidationMessageFor(m => m.TemplateId)
                                    </div>
                                </div>
                            @*<div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                    <div class="select-type">
                                        <span class="title-select">@Html.LabelFor(m => m.TemplateId)</span>
                                        @Html.DropDownListFor(m => m.TemplateId, Model.Templates, "Select Template", new { @class = "select-list" })
                                        @Html.ValidationMessageFor(m => m.TemplateId)
                                    </div>
                                </div>*@
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>

<script>
    $(function ()
    {
        ///////////////////Initialize///////////////////

        $.validator.setDefaults({
            ignore: "#CustomTemplateName"
        });

        var templateBar = initializeTemplateBar();

        var isCustomSetValues = false;

        ////////////////////////////////////////////////

        $(templateBar).on('selectionchange', templateBarSelectionChange);

        ///////////////////Initialize Functions///////////////////

        function initializeTemplateBar() {
            return $('#TemplateBar').magicSuggest({
                valueField: 'Value',
                displayField: 'Text',
                cls: 'templateBar',
                inputCfg: { "class": "simple-input" },
                infoMsgCls: 'hidden',
                maxSelection: 1,
                typeDelay: 100,
                allowFreeEntries: true,
                method: 'get',
                hideTrigger: false,
                toggleOnClick: true,
                placeholder: 'Template',
                data: '@Url.Action("Templates", "BoardManager")',
                value: [@Html.Raw(Model.TemplateId.GetValue())]
            });
        }


        ///////////////////Changes Functions///////////////////


        function templateBarSelectionChange() {
            var selectedTemplate = this.getValue();

            $(this.input[0]).trigger("input");
            if (!_.isEmpty(selectedTemplate)) {
                if (isGuid(selectedTemplate)) {
                    $("#TemplateId").val(selectedTemplate);

                    //if (!isCustomSetValues) {
                    //    templateBar.disable();
                    //}
                }
                else {
                    $("#CustomTemplateName").val(selectedTemplate);
                }

                $(".btn-save").prop('disabled', false);
            }

            else {
                clearTemplateBar(true);
                $(".btn-save").prop('disabled', true);
            }
        }


        ///////////////////Clear Functions///////////////////

        function clearTemplateBar(clearBar) {
            $("#TemplateId").val('');

            $(".btn-save").prop('disabled', true);

            if (clearBar) {
                templateBar.setDataUrlParams({});
                templateBar.clear(true);
                $("#CustomTemplateName").val('');
            }
        }

        ///////////////////Other Functions///////////////////
        function isGuid(string)
        {
            if (string[0] === "{")
            {
                string = string.substring(1, string.length - 1);
            }
            var regexGuid = /^(\{){0,1}[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}(\}){0,1}$/gi;
            return regexGuid.test(string);
        }
    });
</script>