﻿@model SummaryViewModel

@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}

@Html.Partial("~/Views/Rotation/Summary/ViewModeControls.cshtml", Model)

@Html.HiddenFor(model => model.RotarionOwnerId)

@Html.Action("DailyReportsPanel", "DailyReportsPanel", new { userId = Model.RotarionOwnerId })

<div Id="shiftReportBuilderPanel" class="panel panel-primary"></div>

<script src="~/Content/js/relay/rotation/shift-report-builder/shift-report-filter.module.js"></script>
<script src="~/Content/js/relay/rotation/shift-report-builder/shift-report-builder-finish-shift.module.js"></script>
<script src="~/Content/js/relay/dialogs/edit-swing-shift-dialog.module.js"></script>
@Scripts.Render("~/bundles/scripts/shared/shift-report-builder")
<script src="~/Content/js/relay/rotation/shift-report-builder/received-subpanel.module.js"></script>


<script src="~/Content/js/relay/rotation/sections/topics/topic-controls-factory/contributorIcon.control.js"></script>
<script src="~/Content/js/relay/rotation/sections/topics/topic-controls-factory/tagsTopic.control.js"></script>
<script src="~/Content/js/relay/rotation/sections/topics/topic-controls-factory/tagsTopicReceived.control.js"></script>
<script src="~/Content/js/relay/rotation/sections/topics/topic-controls-factory/tags-body.control.js"></script>

<script src="~/Content/js/relay/rotation/shift-report-builder/draft/taskboard-tasks-section.module.js"></script>
<script src="~/Content/js/relay/rotation/shift-report-builder/received/taskboard-tasks-section.module.js"></script>
@*<script>
      $(document).ready(function ()
      {
          var formDialog = Relay.FormDialog({
              url: "/Shift/ConfirmShiftDialog"
          });
          formDialog.setSubmitEvent(function ()
          {
              location.reload();
          });
          formDialog.open();
      });

  </script>*@