﻿@model SummaryViewModel

@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}

@Html.Partial("~/Views/Rotation/Summary/ViewModeControls.cshtml", Model)

@Html.HiddenFor(model => model.RotationId)


@Html.Action("DailyNotesForRotation", "DailyNotesPanel", new { rotationId = Model.RotationId })

@Html.Action("Index", "RotationReportBuilder", new { userId = Model.RotarionOwnerId })
<script src="~/Content/js/relay/dialogs/edit-swing-shift-dialog.module.js"></script>
<script src="~/Content/js/relay/rotation/sections/topics/topic-controls-factory/contributorIcon.control.js"></script>
<script src="~/Content/js/relay/rotation/rotation-report-builder/swing-report-builder-finish-swing.module.js"></script>
<script src="~/Content/js/relay/rotation/sections/topics/topic-controls-factory/tagsTopic.control.js"></script>
<script src="~/Content/js/relay/rotation/sections/topics/topic-controls-factory/tagsTopicReceived.control.js"></script>
<script src="~/Content/js/relay/rotation/sections/topics/topic-controls-factory/tags-body.control.js"></script>
<script src="~/Content/js/relay/rotation/rotation-report-builder/draft/taskboard-tasks-section.module.js"></script>
<script src="~/Content/js/relay/rotation/rotation-report-builder/history/taskboard-tasks-section.module.js"></script>
<script src="~/Content/js/relay/rotation/rotation-report-builder/received/taskboard-tasks-section.module.js"></script>
