﻿@model IEnumerable<CoreTopicViewModel>

<div Id="coreSection">
    <div class="panel-body grey-panel">
        <div class="navbar navbar-blue" id="Core"><span class="label">@Html.EnumDescription(ModuleType.Core)</span></div>    </div>
    <div class="table-block">
        @if (Model != null && Model.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th class="actions-title">Actions</th>
                        <th class="type-title">Topic</th>
                        <th class="reference-title">Reference</th>
                        <th class="notes-title">Notes</th>
                        <th class="tag-title"></th>
                        <th class="intel-title" style="width:120px !important;">Intel</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var topic in Model)
                    {
                    <tr>
                        @Html.Hidden("Id", topic.Id)
                        @Html.Hidden("CreatorId", topic.CreatorId)

                        <td class="actions-body">

                            @if (topic.IsNullReport || topic.Notes != null && topic.Notes.Contains("All good."))
                            {
                                <div class="btn btn-circle nr-active-btn tooltipster" @Html.TooltipAttritutes("Checked")>
                                    <span class="glyphicon span"></span>
                                </div>
                            }
                            else
                            {
                                <div class="btn btn-circle none-btn">
                                    <span class="glyphicon span"></span>
                                </div>
                            }

                            @if (topic.IsSharingTopic)
                            {
                                <div class="is-shared">S</div>
                            }
                            else
                            {
                                <div class="btn none-btn btn-circle">
                                    <span class="glyphicon span"></span>
                                </div>
                            }
                        </td>
                        @if (topic.IsNullReport || topic.Notes != null && topic.Notes.Contains("All good."))
                        {
                            if (topic.IsFirstTopicByTopicGroupName.HasValue && topic.IsFirstTopicByTopicGroupName.Value)
                            {
                                <td class="type-body" style=" color: #b4b4b4 !important;">
                                    @topic.Category
                                </td>
                            }
                            else
                            {
                                <td class="type-body"></td>
                            }
                        }
                        else
                        {
                            if (topic.IsFirstTopicByTopicGroupName.HasValue && topic.IsFirstTopicByTopicGroupName.Value)
                            {
                                <td class="type-body">
                                    @topic.Category
                                </td>
                            }
                            else
                            {
                                <td class="type-body"></td>
                            }
                        }

                        @if (topic.IsNullReport || topic.Notes != null && topic.Notes.Contains("All good."))
                        {
                            <td class="reference-body" style=" color: #b4b4b4 !important;">
                                @topic.Reference
                            </td>
                        }
                        else
                        {
                            <td class="reference-body">
                                @topic.Reference
                            </td>
                        }

                            <td class="notes-body">

                                @if (topic.PlannedActualHas.HasValue && topic.PlannedActualHas.Value || topic.PlannedActualField.IsExpandPlannedActualField.HasValue && topic.PlannedActualField.IsExpandPlannedActualField.Value)
                                {
                                    <div class="plannedActual" topic-id="@topic.Id">
                                        @Html.Partial("~/Views/Rotation/Shared/ReceivedHistoryPvA.cshtml", topic.PlannedActualField)
                                    </div>
                                }
                                else
                                {
                                    <div class="plannedActual" style="display:none;" topic-id="@topic.Id">
                                        @Html.Partial("~/Views/Rotation/Shared/ReceivedHistoryPvA.cshtml", topic.PlannedActualField)
                                    </div>
                                }

                                <span class="icon-text"></span>

                                <div class="plannedActualNoEdit" topic-id="@topic.Id">
                                    @Html.Partial("~/Views/Rotation/Shared/NotEditPvA.cshtml", topic.PlannedActualField)
                                </div>
                                @if (topic.IsNullReport || topic.Notes != null && topic.Notes.Contains("All good."))
                                {
                                    <p class="note-short-nr"> @(topic.IsNullReport ? "All good." : topic.Notes)</p>
                                }
                                else
                                {
                                    <p class="note-short">  @(topic.IsNullReport ? "All good." : topic.Notes)</p>
                                }

                                <div class="field-of-edit">
                                    <textarea class="change-note" maxlength="1000"></textarea>
                                    <div topic-val="@topic.IsFinalized.ToString().ToLower()" class="accept-btn finalise-btn tooltipster" @Html.TooltipAttritutes("Finalise")></div>
                                </div>

                                @if (topic.TagsTopicField.HasTags.Value)
                                {
                                    <div class="tags-recieved" topic-id="@topic.Id">
                                        @Html.Partial("~/Views/Rotation/Shared/RecievedTagsTopic.cshtml", Tuple.Create<string, Guid>(topic.TagsString, topic.Id.Value))
                                    </div>
                                }
                                else
                                {
                                    <div class="tags-recieved" style="display:none;" topic-id="@topic.Id" topic-val="@topic.FirstTagTopic" topic-MoreTags="@topic.MoreTags">
                                        @Html.Partial("~/Views/Rotation/Shared/RecievedTagsTopic.cshtml", Tuple.Create<string, Guid>(topic.TagsString, topic.Id.Value))
                                    </div>
                                }

                                <div class="contributes-users">
                                    @Html.Partial("~/Views/Rotation/Shared/ShowIconContributorUsers.cshtml", topic.EditorUsers)
                                </div>

                            </td>

                        <td class="tags-body">
                            @Html.Partial("~/Views/Rotation/Shared/ShowTagsTopic.cshtml", topic.TagsTopicField)
                        </td>
                        <td class="intel-body">

                            @Html.Action("ManagerCommentButton", "Topic", new ManagerCommentButtonViewModel { ItemId = topic.Id.Value, HasComments = topic.HasComments })

                            <div class="btn btn-circle user-photo-btn team-btn tooltipster" topic-val="@topic.FromTeammateId.ToString()" @Html.TooltipAttritutes(topic.FromTeammateFullName)>
                                <img src="@Url.Action("GetAvatarForEmployee", "Media", new {area = "", employeeId = @topic.FromTeammateId, width = 100, height = 100})"
                                     class="user-photo-img" />
                            </div>
                            <div class="btn btn-circle more-btn tooltipster" @Html.TooltipAttritutes("Extras")>
                                <span class="glyphicon span"></span>
                            </div>
                            <div class="other-actions">
                                @*<button topic-val="@topic.HasTasks.ToString().ToLower()" class="action-btn tasks-btn tooltipster" @Html.TooltipAttritutes("Tasks")></button>*@
                                <button topic-val="@topic.IsFeedbackRequired.ToString().ToLower()" class="action-btn arrows-btn tooltipster" @Html.TooltipAttritutes("Hand-back")></button>
                                <button topic-val="@topic.HasLocation.ToString().ToLower()" class="action-btn location-btn tooltipster" @Html.TooltipAttritutes("Locations")></button>
                                <button topic-val="@topic.HasAttachments.ToString().ToLower()" class="action-btn attachments-btn tooltipster" @Html.TooltipAttritutes("Attachments")></button>
                                @*<button topic-val="@topic.HasVoiceMessages.ToString().ToLower()" class="action-btn voice-msg-btn tooltipster" @Html.TooltipAttritutes("Voice Messages") disabled style="cursor: not-allowed!important"></button>*@
                                <button topic-val="@topic.HasTags.ToString().ToLower()" class="action-btn tags-btn tooltipster" @Html.TooltipAttritutes("Tags")></button>
                                <button topic-val="@topic.PlannedActualHas.ToString().ToLower()" class="action-btn planned-actual-btn tooltipster" @Html.TooltipAttritutes("Planned & Actual")></button>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="text-center" style="margin: 10px">@Html.EnumDescription(ModuleType.Core, "No {0} Items")</div>
        }
    </div>
</div>