﻿@model LocationViewModel

<div Id="locationFormDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" class="modal fade location-dialog">
  <div class="modal-dialog">
    <div class="theme">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row vertical-center">
            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div Id="modalTitle" class="modal-title">Location</div>
            </div>
            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
              <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
              <div class="field-container">
                <span class="title-select">@Html.LabelFor(model => model.Name)</span>
                @Html.TextBoxFor(model => model.Name, new { @class = "simple-input", @placeholder = "No Location Name", @readonly = "" })
                @Html.ValidationMessageFor(model => model.Name)
              </div>
            </div>
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
              <div class="field-container">
                <span class="title-select">@Html.LabelFor(model => model.Address)</span>
                @Html.TextBoxFor(model => model.Address, new { @class = "simple-input", @placeholder = "No Address", @readonly = "" })
                @Html.ValidationMessageFor(model => model.Address)
              </div>
            </div>
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
              <div class="field-container">
                <span class="title-select">@Html.LabelFor(model => model.Notes)</span>
                @Html.TextAreaFor(model => model.Notes, new { @class = "textarea simple-textarea", @rows = "3", @maxlength = "500", @placeholder = "No Notes", @readonly = "" })
                @Html.ValidationMessageFor(model => model.Notes)
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>