﻿@model IEnumerable<string>

<div id="TopicLogsTab">
    <div class="row no-margin">
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            @if (Model != null && Model.Any())
            {
                <div class="logs-container">
                    @foreach (var logRow in Model.ToList())
                    {
                        <div class="log-row">@Html.Raw(logRow)</div>
                    }
                </div>
            }
            else
            {
                <div class="empty-logs">
                    No log to display
                </div>
            }
        </div>
    </div>
</div>