﻿@model IEnumerable<ManagerCommentsViewModel>

<style>
    p.note {
        overflow: auto;
        width: 400px;
        min-width: 400px;
        height: auto !important;
        min-height: 70px;
        max-height: 125px;
        padding: 5px;
        border: none;
        background-color: #F0F0F0;
        border-radius: 5px;
        padding-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
        word-wrap: break-word;
        font-size: 13px;
    }


    .swiper-slide-active, .swiper-slide-next, .swiper-slide-prev {
        pointer-events: auto;
        visibility: visible;
        height: auto !important;
        max-height: 125px;
        min-height: 80px;
        margin-top: 0px !important;
    }
</style>

<div id="managerCommentsDetailsDialog">
    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
        <div class="attachments-container">
            <div class="list-container">
                <div class="attachments-list-content">
                    <table style="border:none;">
                        <tr style="border:none;">
                            <td style="border:none; min-width: 540px;padding-top: 0px !important;padding-bottom: 80px;padding: 0px;"> 
                                <div class="swiper-container comment-swiper">
                                    <div class="swiper-wrapper" style="max-height: 350px;">
                                        @if (!Model.Any())
                                        {
                                            <p style="padding-bottom: 170px;">No comments.</p>
                                        }
                                        @foreach (var commentManager in Model.OrderByDescending(t => t.DateTimeCreatedManagerComments).ToList())
                                        {

                                            <div class="swiper-slide" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms; height: auto !important; max-height:125px; min-height:80px; margin-top: 10px;">
                                                <table style="border:none;">
                                                    <tr style="border:none;">
                                                        <td style="border:none;">

                                                            <div class="creator-block">
                                                                @if (commentManager.CreatorManagerCommentsId.HasValue)
                                                                {
                                                                    <img src="@Url.Action("GetAvatarForEmployee", "Media", new { area = "", employeeId = commentManager.CreatorManagerCommentsId.Value, width = 40, height = 40 })" class="media-object img-circle user-photo tooltipster initials" @Html.TooltipAttritutes(@commentManager.FullNameLineManager) style="width:40px; height:40px;" />
                                                                }
                                                                @if (commentManager.IsLineManager.HasValue && commentManager.IsLineManager.Value)
                                                                {
                                                                    <img src="@Url.Content("~/Content/img/svg/icon_line_manager.svg")" style="width: 20px; height: 20px; margin-left: 10px;margin-top: 5px;" />
                                                                }
                                                            </div>
                                                        </td>
                                                        <td style="border:none;">
                                                            <p class="note" style=" height: auto !important; min-height: 70px;max-height: 125px;">@commentManager.Notes</p>

                                                        </td>
                                                        <td style="border:none;">
                                                            <div class="date-block" style="margin-bottom:15px;">
                                                                <p>@string.Format("{0:dd MMM yyyy}", commentManager.DateTimeCreatedManagerComments.Value)</p>
                                                                <p style="display:inline-block;">@string.Format("{0:t}", commentManager.DateTimeCreatedManagerComments.Value)</p>
                                                                @if (commentManager.IsCanRemoveManagerComments.HasValue && commentManager.IsCanRemoveManagerComments.Value)
                                                                {
                                                                    <div Id="@commentManager.Id.ToString()" class="singl-button remove-manager-comments-btn" style="display:inline-block; margin-left: 25px;">
                                                                        <div class="btn-close"></div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </td>
                                                        @*<td style="border:none;">
                                                            @if (commentManager.IsCanRemoveManagerComments.HasValue && commentManager.IsCanRemoveManagerComments.Value)
                                                            {
                                                                <div Id="@commentManager.Id.ToString()" class="singl-button remove-manager-comments-btn">
                                                                    <div class="btn-close"></div>
                                                                </div>
                                                            }
                                                        </td>*@
                                                    </tr>
                                                </table>
                                            </div>

                                        }
                                    </div>
                                </div>
                            </td>
                            <td style="border:none;">
                                @*<div class="swiper-prev" style="cursor:pointer;"></div>
                                <div class="swiper-next" style="margin-top: 150px;cursor:pointer;"></div>*@
                                <div class="swiper-prev @(Model.Any() ? "swiper-button-disabled" : string.Empty)"></div>
                                <div class="swiper-next @(Model.Any() ? "swiper-button-disabled" : string.Empty)"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        (function () {

            new Swiper($(".comment-swiper"), {
                direction: 'vertical',
                height: 40,
                nextButton: $(".swiper-next"),
                prevButton: $(".swiper-prev")
            });

        })();
</script>