﻿@model TopicDetailsDialogViewModel

<div Id="topicDetailsDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" class="modal fade rotation-task-dialog">
  @Html.HiddenFor(m => m.Id)
  @Html.HiddenFor(m => m.SelectedTabNumber)


  <div class="modal-dialog">
    <div class="theme">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row vertical-center">
            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <div Id="modalTitle" class="modal-title">View Topic</div>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-4 text-right">
              <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
              <div class="tab-block">
                <div class="navigation-block">
                  <ul class="nav nav-tabs">
                    <li class="@(Model.SelectedTabNumber == 0 ? "active" : "")" tabNumber="0"><a data-toggle="tab" href="#topic-details">Topic Details</a></li>
                    <li><a data-toggle="tab" href="#task-logs">Log</a></li>
                  </ul>
                </div>
                <div class="tab-content">
                  <div Id="topic-details" class="tab-pane fade in @(@Model.SelectedTabNumber == 0 ? "active" : "")">
                    @Html.Partial("~/Views/Rotation/Tasks/_TopicDetailsDialog.cshtml", Model.TopicDetails)
                  </div>
                  <div id="task-logs" class="tab-pane fade in" style="padding: 0px">
                    @Html.Action("GetTopicLogTab", "Topic", new { topicId = Model.Id })
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $('.nav-tabs > li').click(function ()
    {
      var tabNumber = $(this).attr("tabNumber");
      $("#SelectedTabNumber").val(tabNumber);
    });

    $(".has-tasks-image", "#topic-details").click(function ()
    {
      var _this = this;
      $(_this).attr("style", "pointer-events: none;");
      var id = $("#Id", "#topicDetailsDialog").val();
      var tasksDialog = Relay.TasksListDialog(3, id);
      tasksDialog.setCloseEvent(function ()
      {
        $(_this).removeAttr("style");

      });
      tasksDialog.open();
    });

    $(".has-attachments-image", "#topic-details").click(function ()
    {
      var _this = this;
      $(_this).attr("style", "pointer-events: none;");
      var id = $("#Id", "#topicDetailsDialog").val();
      var attachmentsDialog = Relay.AttachmentsDialog(id, 2, 1);
      attachmentsDialog.setCloseEvent(function ()
      {
        $(_this).removeAttr("style");
      });
      attachmentsDialog.open();
    });
  </script>
</div>
