﻿.confirm-shift-dialog-v2 {
    .modal-content {
        width: 600px !important;
        min-height: 300px !important;
        max-height: 450px !important;

        .modal-body {
            padding-bottom: 0px !important;

            .field-container {
                &.validation-error {

                    .simple-input {
                        border-bottom: 1px solid #f29105;
                    }
                }

                &.active {
                    .title-select {
                        color: #00AFF0;
                    }

                    .simple-input {
                        border-bottom: 1px solid #00AFF0;
                    }

                    .choose-date-btn {
                        background-color: #00AFF0;
                        color: #fff;
                    }

                    .bootstrap-select {
                        border-bottom: 1px solid #00AFF0 !important;
                    }
                }

                .time-container {
                    display: inline-block;
                    color: #fff;
                    margin-right: 20px;

                    .simple-input {
                    }

                    &.disabled {
                        pointer-events: none;
                    }

                    div {
                        margin-right: 5px;
                    }
                }

                .simple-input {
                    width: 40px;
                    min-width: 40px;
                    max-width: 40px;
                    text-align: center;
                    height: 21px;
                    display: inline-block;

                    &.active {
                        border-bottom: 1px solid #00AFF0;
                    }
                }

                .time-label {
                    padding-right: 30px;
                    font-size: 14px;
                    font-weight: bold;
                }

                .today-date-btn, .tomorrow-date-btn {
                    display: inline-block;
                    width: 140px;
                    background-color: #F0F0F0;
                    border-radius: 20px;
                    color: #464646;
                    text-align: center;
                    font-size: 14px;
                    font-weight: bold;
                    display: inline-block;
                    cursor: pointer;
                    height: 30px;
                    margin: 0 10px;

                    &.active {
                        background-color: #00AFF0;
                        color: white !important;
                    }
                }
            }

            .select-type {

                &.time-select {
                    display: inline-block;
                    width: 50px;

                    .bs-caret {
                        display: none;
                    }

                    .dropdown-toggle {
                        height: 20px;
                    }

                    .filter-option {
                        padding-right: 0px !important;
                        text-align: center !important;
                    }

                    .dropdown-menu {
                        width: 50px;
                        text-align: center;

                        > li > a {
                            padding: 3px 7px !important;
                        }
                    }
                }
            }
        }
    }
}
