﻿@model BoardManagerStepTwoViewModel

<div Id="stepTwoFormDialog" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade employee-details-dialog">
    @using (Html.BeginForm("StepTwoDialog", "BoardManager", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.UserPositionId)
        @Html.HiddenFor(m => m.TeamId)
        @*@Html.HiddenFor(m => m.CustomTeamName)*@
        @Html.HiddenFor(m => m.Continue)

        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <div Id="modalTitle" class="modal-title">Step 2 - User Details</div>
                            </div>
                            <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
                                @*<button type="submit" class="btn btn-save">Complete</button>*@
                                <div class="btn btn-save complete">Complete</div>
                                <button type="submit" class="btn btn-save btn-next">Next</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding padding-right-30">
                                <div class="row no-margin">
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                        <div class="field-container">
                                            <span class="title-select">@Html.LabelFor(model => model.Name)</span>
                                            @Html.TextBoxFor(model => model.Name, new { @class = "simple-input", @placeholder = "Enter Name" })
                                            @Html.ValidationMessageFor(model => model.Name)
                                        </div>
                                    </div>
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                        <div class="field-container">
                                            <span class="title-select">@Html.LabelFor(model => model.Surname)</span>
                                            @Html.TextBoxFor(model => model.Surname, new { @class = "simple-input", @placeholder = "Enter Surname" })
                                            @Html.ValidationMessageFor(model => model.Surname)
                                        </div>
                                    </div>
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                        <div class="field-container">
                                            <span class="title-select">@Html.LabelFor(m => m.Email)</span>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "simple-input", @placeholder = "Enter Email" })
                                            @Html.ValidationMessageFor(m => m.Email)
                                        </div>
                                    </div>
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                        <div class="field-container">
                                            <span class="title-select">@Html.LabelFor(m => m.Password)</span>
                                            @Html.PasswordFor(m => m.Password, new { @class = "simple-input", @placeholder = "Enter Password" })
                                            @Html.ValidationMessageFor(m => m.Password)
                                        </div>
                                    </div>
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                        <div class="field-container">
                                            <span class="title-select">@Html.LabelFor(m => m.PasswordConfirm)</span>
                                            @Html.PasswordFor(m => m.PasswordConfirm, new { @class = "simple-input", @placeholder = "Confirm Password" })
                                            @Html.ValidationMessageFor(m => m.PasswordConfirm)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding padding-left-30">
                                <div class="row no-margin">
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                        <div class="select-type">
                                            <span class="title-select">@Html.LabelFor(m => m.CompanyId)</span>
                                            @Html.DropDownListFor(m => m.CompanyId, Model.Companies, "Select Company", new { @class = "select-list" })
                                            @Html.ValidationMessageFor(m => m.CompanyId)
                                        </div>
                                    </div>
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                        <div class="select-type">
                                            <span class="title-select">@Html.LabelFor(m => m.TeamId)</span>
                                            <div id="TeamBar"></div>
                                            @Html.TextBoxFor(m => m.CustomTeamName, new { @class = "simple-input hidden", @placeholder = "Enter Team" })
                                            @Html.ValidationMessageFor(m => m.CustomTeamName)
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                    <div class="select-type">
                                        <span class="title-select">@Html.LabelFor(m => m.RotationPatternId)</span>
                                        @Html.DropDownListFor(m => m.RotationPatternId, Model.RotationPatterns, "Select Working Pattern", new { @class = "select-list" })
                                        @Html.ValidationMessageFor(m => m.RotationPatternId)
                                    </div>
                                </div>

                                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                    <div class="select-type">
                                        <span class="title-select">@Html.LabelFor(m => m.UserTypeId)</span>
                                        @Html.DropDownListFor(m => m.UserTypeId, Model.UserTypes, "Select User Type", new { @class = "select-list" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $(function () {

     $(".complete").click(function (e) {
        var confirmDialog = Relay.ConfirmDialog(
            "Are you sure you want to finish сomplete a user?",
            "",
            "Yes",
            "No"
        );
         confirmDialog.setOkEvent(function (e) {
            $(".btn-save").submit();
         });
        confirmDialog.open();
     });

   ///////////////////Initialize///////////////////

    $("#UserTypeId").change(function () {
        var role = $("#UserTypeId").val();
            if(role == "Executive User")
            {
                 $(".btn-next").hide();
                 $(".btn-close").hide();
            }
            else
            {
                 $(".btn-next").show();
                 $(".btn-close").show();
            }
     });

        var teamId = Relay.UrlHash.getHashParam("teamId");

        var teamBar = initializeTeamBar();

        if (typeof teamId !== "undefined" && isGuid(teamId)) {
            $.get('@Url.Action("GetSelectedTeam", "BoardManager")', { teamId: teamId }).done(function (data) {
                teamBar.addToSelection([data]);
            });
        }

        ////////////////////////////////////////////////

        $(teamBar).on('selectionchange', teamBarSelectionChange);

        ///////////////////Initialize Functions///////////////////


        $(".btn-next").click(function () {
            $("#Continue").val(true);
        });

        var customTeamName = $("#CustomTeamName").val();

        if (!_.isEmpty(customTeamName)) {
            if (!isGuid(customTeamName)) {
                teamBar.setValue({
                    Text: customTeamName,
                    Value: customTeamName
                });
            }
        }


        function initializeTeamBar() {
            return $('#TeamBar').magicSuggest({
                valueField: 'Value',
                displayField: 'Text',
                cls: 'teamBar',
                required: true,
                maxSelection: 1,
                typeDelay: 100,
                infoMsgCls: 'hidden',
                allowFreeEntries: true,
                method: 'get',
                hideTrigger: false,
                toggleOnClick: true,
                placeholder: 'Team',
                data: '@Url.Action("Teams", "BoardManager")',
                value: [@Html.Raw(Model.TeamId.GetValue())]
            });
        }


        ///////////////////Changes Functions///////////////////

        function teamBarSelectionChange() {
            var selectedTeam = this.getValue();

            $(this.input[0]).trigger("input");

            if (!_.isEmpty(selectedTeam)) {
                if (isGuid(selectedTeam)) {
                    $("#TeamId").val(selectedTeam);
                    $("#CustomTeamName").val(selectedTeam);
                }
                else {
                    $("#CustomTeamName").val(selectedTeam);
                }
            }
            else {
                $("#TeamId").val('');
                $("#CustomTeamName").val('');
                teamBar.clear(true);
            }
        }


        ///////////////////Other Functions///////////////////
        function isGuid(string) {
            if (string[0] === "{") {
                string = string.substring(1, string.length - 1);
            }
            var regexGuid = /^(\{){0,1}[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}(\}){0,1}$/gi;
            return regexGuid.test(string);
        }
    });
</script>