﻿@model BoardManagerStepThreeViewModel

<div Id="stepThreeFormDialog" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade handover-setup-dialog">
  @using (Html.BeginForm())
  {
  @Html.AntiForgeryToken()

  @Html.HiddenFor(m => m.UserId)
  @Html.HiddenFor(m => m.TeamUserId)

  <div class="modal-dialog">
    <div class="theme">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row vertical-center">
            <div class="col col-lg-9 col-md-9 col-sm-9 col-xs-9">
              <div Id="modalTitle" class="modal-title">Step 3 - Handover Setup</div>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
                <button type="submit" class="btn btn-save">Complete</button>
                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="row">
              <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="title-block">
                  @*Only complete this step if the individual is to complete a handover.*@
                </div>
              </div>
            </div>

            <div class="row select-rotation-type-row margin-top-20">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col">
                <div class="title-block">
                  Rotation Type*
                </div>
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                  <label class="btn is-shift-btn  @(Model.RotationType == RotationType.Shift ? "active" : "")">
                    @Html.RadioButtonFor(m => m.RotationType, RotationType.Shift)
                    Shift
                  </label>
                  <label class="btn is-swing-btn  @(Model.RotationType == RotationType.Swing ? "active" : "")">
                    @Html.RadioButtonFor(m => m.RotationType, RotationType.Swing)
                    Rotation
                  </label>
                </div>
              </div>
            </div>

            <div class="row margin-top-20">

                @*<div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-right-30">
                    <div class="select-type">
                      <span class="title-select">@Html.LabelFor(m => m.HandoverRecipientId)</span>
                      @Html.DropDownListFor(m => m.HandoverRecipientId, Model.HandoverRecipients, "Select handover recipient", new { @class = "select-list" })
                      @Html.ValidationMessageFor(m => m.HandoverRecipientId)
                    </div>
                </div>*@


                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-right-30">
                    <div class="select-type">
                        <span class="title-select">@Html.LabelFor(m => m.LineManagerId)</span>
                        @Html.DropDownListFor(m => m.LineManagerId, Model.LineManagers, "Select Line Manager", new { @class = "select-list" })
                        @Html.ValidationMessageFor(m => m.LineManagerId)
                    </div>
                </div>

                @if (Model.ContributorEnable)
                {
                    <div class="defualtField">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-right-30" style="margin-top: 20px;">
                            <div class="select-type">
                                <span class="title-select">@Html.LabelFor(m => m.ContributorsIds)</span>
                                @Html.ListBoxFor(model => model.ContributorsIds, Model.Contributors, new { @class = "select-list", @multiple = "" })
                                @Html.ValidationMessageFor(m => m.ContributorsIds)
                            </div>
                        </div>
                    </div>
                }
               
            </div>

            <div class="shiftPattern">
                <div class="row margin-top-20">
                    @if (Model.ContributorEnable)
                    {
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-right-30">
                            <div class="select-type">
                                <span class="title-select">@Html.LabelFor(m => m.ContributorsIds)</span>
                                @Html.ListBoxFor(model => model.ContributorsIds, Model.Contributors, new { @class = "select-list", @multiple = "" })
                                @Html.ValidationMessageFor(m => m.ContributorsIds)
                            </div>
                        </div>

                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-right-30">
                            <div class="select-type">
                                <span class="title-select">@Html.LabelFor(m => m.ShiftPatternType)</span>
                                @Html.DropDownListFor(m => m.ShiftPatternType, Model.ShiftPatterns, "Select Shift Pattern", new { @class = "select-list" })
                                @Html.ValidationMessageFor(m => m.ShiftPatternType)
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-right-30">
                            <div class="select-type">
                                <span class="title-select">@Html.LabelFor(m => m.ShiftPatternType)</span>
                                @Html.DropDownListFor(m => m.ShiftPatternType, Model.ShiftPatterns, "Select Shift Pattern", new { @class = "select-list" })
                                @Html.ValidationMessageFor(m => m.ShiftPatternType)
                            </div>
                        </div>
                    }
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>

<script>
  ; (function (window) {

      var result = $(".defualtField").attr("type-rotation");
   
     $(".shiftPattern").hide();
     $(".defualtField").show();

      if (result == "Shift")
      {
          $(".shiftPattern").show();
          $(".defualtField").hide();
      }
      else if (result == "Swing") 
      {
          $(".shiftPattern").hide();
          $(".defualtField").show();
      }

      $('.is-shift-btn').click(function () {
          $(".shiftPattern").show();
          $(".defualtField").hide();
      });

        $('.is-swing-btn').click(function () {
            $(".shiftPattern").hide();
            $(".defualtField").show();
        });

      $('#ShiftPatternType').change(function () {
          var result = $("#ShiftPatternType");
      });

    $('.btn-close').click(function () {
          location.reload();
     });

   })(window);
</script>