﻿@model BoardManagerStepOneViewModel


<div Id="stepOneFormDialog" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade position-dialog">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.SiteId)
        @Html.HiddenFor(m => m.PositionId)
        @Html.HiddenFor(m => m.TemplateId)

        @Html.HiddenFor(m => m.CustomSiteName)
        @Html.HiddenFor(m => m.CustomPositionName)
        @Html.HiddenFor(m => m.CustomTemplateName)

        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <div Id="modalTitle" class="modal-title">Step 1 - Location & Job Position</div>
                            </div>
                            <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
                                <button type="submit" class="btn btn-save" disabled>Next</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                <div class="title-block">
                                    Here you can select from pre-existing locations and job positions, or create new ones.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5 no-padding margin-top-20" style="width:100%">
                                <div class="select-type">
                                    <span class="title-select">@Html.LabelFor(m => m.SiteId)</span>
                                    <div id="SiteBar"></div>
                                    @Html.ValidationMessageFor(m => m.SiteId)
                                </div>
                            </div>
                        </div>
                        <div class="row position-row">
                            <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5 no-padding margin-top-20" style="width:100%">
                                <div class="select-type">
                                    <span class="title-select">@Html.LabelFor(m => m.PositionId)</span>
                                    <div id="PositionBar"></div>
                                    @Html.ValidationMessageFor(m => m.PositionId)
                                </div>
                            </div>
                        </div>
                        <div class="row template-row">
                            <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5 no-padding margin-top-20" style="width:100%">
                                <div class="select-type">
                                    <span class="title-select">@Html.LabelFor(m => m.TemplateId)</span>
                                    <div id="TemplateBar"></div>
                                    @Html.ValidationMessageFor(m => m.TemplateId)
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>

<script>
    $(function ()
    {
        ///////////////////Initialize///////////////////

        $.validator.setDefaults({
            ignore: "#CustomSiteName, #CustomPositionName, #CustomTemplateName"
        });


        var siteBar = initializeSiteBar();
        var positionBar = initializePositionBar();
        var templateBar = initializeTemplateBar();

        var templateRow = $('.template-row').hide();

        var isCustomSetValues = false;

        ////////////////////////////////////////////////

        $(siteBar).on('selectionchange', siteBarSelectionChange);

        $(positionBar).on('selectionchange', positionBarSelectionChange);

        $(templateBar).on('selectionchange', templateBarSelectionChange);

        ///////////////////Initialize Functions///////////////////

        function initializeSiteBar()
        {
            return $('#SiteBar').magicSuggest({
                valueField: 'Value',
                displayField: 'Text',
                cls: 'siteBar',
                inputCfg: { "class": "simple-input" },
                required: true,
                maxSelection: 1,
                typeDelay: 100,
                infoMsgCls: 'hidden',
                allowFreeEntries: true,
                method: 'get',
                autoSelect: false,
                selectFirst: false,
                hideTrigger: false,
                toggleOnClick: true,
                placeholder: 'Location',
                data: '@Url.Action("Sites", "BoardManager")',
                value: [@Html.Raw(Model.SiteId.GetValue())]
            });
        }

        function initializePositionBar()
        {
            return $('#PositionBar').magicSuggest({
                valueField: 'Value',
                displayField: 'Text',
                cls: 'positionBar',
                inputCfg: { "class": "simple-input" },
                infoMsgCls: 'hidden',
                maxSelection: 1,
                required: true,
                typeDelay: 100,
                allowFreeEntries: true,
                method: 'get',
                autoSelect: false,
    	        selectFirst: false,
                hideTrigger: false,
                toggleOnClick: true,
                placeholder: 'Job Position',
                data: '@Url.Action("Positions", "BoardManager", new { siteId = @Model.SiteId })',
                value: [@Html.Raw(Model.PositionId.GetValue())]
            });
        }


        function initializeTemplateBar()
        {
            return $('#TemplateBar').magicSuggest({
                valueField: 'Value',
                displayField: 'Text',
                cls: 'templateBar',
                inputCfg: { "class": "simple-input" },
                infoMsgCls: 'hidden',
                maxSelection: 1,
                typeDelay: 100,
                allowFreeEntries: true,
                method: 'get',
                autoSelect: false,
                selectFirst: false,
                hideTrigger: false,
                toggleOnClick: true,
                placeholder: 'Template',
                data: '@Url.Action("Templates", "BoardManager", new { positionId = @Model.PositionId })',
                value: [@Html.Raw(Model.TemplateId.GetValue())]
            });
        }


        ///////////////////Changes Functions///////////////////

        function siteBarSelectionChange()
        {
            var selectedSite = this.getValue();

            $(this.input[0]).trigger("input");

            if (!_.isEmpty(selectedSite))
            {
                if (isGuid(selectedSite))
                {
                    $("#SiteId").val(selectedSite);
                    positionBar.setDataUrlParams({ siteId: $('#SiteId').val() });
                }
                else
                {
                    $("#CustomSiteName").val(selectedSite);
                    clearPositionBar();
                    isCustomSetValues = true;
                }
            }
            else
            {
                clearSiteBar();
                clearPositionBar(true);
                clearTemplateBar(true);
                templateRow.hide();
            }
        }

        function positionBarSelectionChange()
        {
            var selectedPosition = this.getValue();

            $(this.input[0]).trigger("input");

            if (!_.isEmpty(selectedPosition))
            {
                if (isGuid(selectedPosition))
                {
                    $("#PositionId").val(selectedPosition);

                    selectTemplateForPosition(selectedPosition);

                    templateBar.setDataUrlParams({});
                }
                else
                {
                    $("#CustomPositionName").val(selectedPosition);

                    $("#CustomTemplateName").val(selectedPosition + " Template");

                    clearTemplateBar();
                    isCustomSetValues = true;
                    templateBar.setValue({
                        Text: selectedPosition + " Template",
                        Value: selectedPosition + " Template"
                    });

                }

                templateRow.show();
            }

            else
            {
                clearPositionBar();
                clearTemplateBar(true);
                templateRow.hide();
            }
        }

        function templateBarSelectionChange()
        {
            var selectedTemplate = this.getValue();

            $(this.input[0]).trigger("input");

            if (!_.isEmpty(selectedTemplate))
            {
                if (isGuid(selectedTemplate))
                {
                    $("#TemplateId").val(selectedTemplate);

                    if (!isCustomSetValues)
                    {
                        templateBar.disable();
                    }
                }
                else
                {
                    $("#CustomTemplateName").val(selectedTemplate);
                }

                $(".btn-save").prop('disabled', false);
            }

            else
            {
                clearTemplateBar(true);
                $(".btn-save").prop('disabled', true);
            }
        }

        ///////////////////Clear Functions///////////////////

        function clearSiteBar()
        {
            $("#SiteId").val('');
            siteBar.clear(true);
        }


        function clearPositionBar(clearBar)
        {
            $("#PositionId").val('');

            if (clearBar)
            {
                positionBar.setDataUrlParams({});
                positionBar.clear(true);
                $("#CustomPositionName").val('');

            }
        }

        function clearTemplateBar(clearBar)
        {
            $("#TemplateId").val('');

            $(".btn-save").prop('disabled', true);

            if (clearBar)
            {
                templateBar.setDataUrlParams({});
                templateBar.clear(true);
                $("#CustomTemplateName").val('');
            }
        }


        ///////////////////Postion Functions///////////////////

        function selectTemplateForPosition(positionId)
        {
            $.get('@Url.Action("GetPositionTemplate","BoardManager")', { positionId: positionId }).done(function (template)
            {
                templateBar.addToSelection([template]);
            });
        }

        ///////////////////Other Functions///////////////////
        function isGuid(string)
        {
            if (string[0] === "{")
            {
                string = string.substring(1, string.length - 1);
            }
            var regexGuid = /^(\{){0,1}[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}(\}){0,1}$/gi;
            return regexGuid.test(string);
        }
    });
</script>