.rotation-topic-tasks-dialog {


    .modal-dialog {
        width: 600px !important;
        height: 300px !important;

        .modal-body {
            padding: 20px 15px 0px 15px !important;

            .tasks-dialog-container {
                position: relative;

                .topic-tasks-container {
                    width: 100%;

                    .list-container {
                        overflow: hidden;

                        .horizontal-title-container {
                            display: flex;
                            padding-bottom: 5px;

                            .title-select {
                                background-color: @main-brown;
                            }

                            .name-block {
                                min-width: 280px;
                            }

                            .simple-column {
                                width: 90px;
                            }
                        }

                        .tasks-list-content {
                            border-bottom: 2px solid @inactive-name-of-tabs;
                            border-top: 2px solid @inactive-name-of-tabs;

                            .swiper-container {
                                height: 150px;
                                overflow: hidden;

                                .swiper-slide {
                                    font-size: 12px;
                                    color: @simple-white;
                                    display: flex;
                                    height: auto !important;
                                    width: ~' calc(100% - 10px)';

                                    .name-block {
                                        padding-top: 10px;
                                        min-width: 280px;
                                        border-bottom: 1px solid @inactive-name-of-tabs;
                                        cursor: pointer;
                                        font-size: 14px;
                                        font-weight: normal;
                                    }

                                    .simple-column {
                                        width: 90px;
                                        border-bottom: 1px solid @inactive-name-of-tabs;
                                        font-weight: normal;
                                        font-size: 12px;

                                        &.status {
                                            padding-top: 10px;
                                        }

                                        &.priority-column {
                                            margin-top: 7px;

                                            .btn-priority {
                                                width: 85px;
                                                height: 25px;
                                                border-radius: 12.5px;
                                                padding-top: 3px;
                                                font-size: 12px;
                                            }

                                            .btn-success {
                                                border: none;
                                                background-color: @success-color;

                                                &:hover {
                                                    background-color: @success-color;
                                                }
                                            }

                                            .btn-danger {
                                                border: none;
                                                background-color: @danger-color;

                                                &:hover {
                                                    background-color: @danger-color;
                                                }
                                            }

                                            .btn-low {
                                                border: none;
                                                background-color: @low-color;
                                                color: @simple-white;

                                                &:hover {
                                                    background-color: @low-color;
                                                    color: @simple-white;
                                                }
                                            }

                                            .btn-warning {
                                                border: none;
                                                background-color: @warning-color;

                                                &:hover {
                                                    background-color: @warning-color;
                                                }
                                            }

                                            .btn-info {
                                                border: none;
                                                background-color: @info-color;

                                                &:hover {
                                                    background-color: @info-color;
                                                }
                                            }
                                        }

                                        &.date-column {
                                            margin-top: 10px;
                                        }

                                        .assigned-to-photo {
                                            margin-top: 5px;
                                            width: 30px;
                                            height: 30px;
                                            background-position: 1px 0px;
                                            margin-left: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .swiper-prev {
                        z-index: 1;
                        position: absolute;
                        width: 7px;
                        height: 4px;
                        top: 30px;
                        right: 0px;
                        background-image: data-uri("@{main-url-img}/arrow_top.svg");
                        cursor: pointer;
                    }

                    .swiper-next {
                        z-index: 1;
                        position: absolute;
                        width: 7px;
                        height: 4px;
                        bottom: 10px;
                        right: 0px;
                        background-image: data-uri("@{main-url-img}/arrow_down.svg");
                        cursor: pointer;
                    }
                }
            }

            .add-new-voice-message {
                margin-top: 23px;

                .btn-plus-white {
                    margin-top: 3px;
                    width: 25px;
                    height: 25px;
                    background: none;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.75;
                    }

                    .span {
                        width: 100%;
                        height: 100%;
                        display: block;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 10px;
                        background-image: data-uri("@{main-url-img}/plus_white.svg");
                    }
                }
            }

            .empty-div {
                height: 51px;
            }
        }
    }
}
