#popupReportPreview {
    .modal-dialog {
        width: 100%;
        max-width: 900px;
    }

    .reportPreviewSwiper {
        min-width: 860px;
        position: relative;

        .swiper-wrapper {
            .swiper-slide {
                background-color: @simple-white;

                .header {
                    width: 100%;
                    height: 60px;
                    background-color: @main-blue;
                    padding: 10px 0 0 40px;

                    .logo {
                        background-image: data-uri("@{main-url-img}/logo.svg");
                        width: 75px;
                        height: 45px;
                    }
                }

                .head-data {
                    .row {
                        width: 100%;
                        margin: 0;
                        background-color: @day-month-grey;
                        padding: 0px 0 0 50px;

                        .col-xs-4 {
                            padding: 10px 0;
                        }

                        .bold-title {
                            font-weight: bold;
                            margin-right: 5px;
                        }
                    }
                }

                .content-block {
                    padding: 0 50px;

                    .title-report-block {
                        color: @day-month-grey;
                        font-weight: bold;
                        font-size: 13px;
                        margin: 20px 55px;
                    }

                    .report-element-block {
                        .title {
                            font-size: 11px;
                            margin-left: 5px;
                            letter-spacing: 0.04em;
                        }

                        .message {
                            font-size: 10px;
                            margin-left: 5px;
                            letter-spacing: 0.08em;
                            color: @inactive-name-of-tabs;
                        }

                        .text-blue {
                                color: @main-blue !important;
               
                        }
                    }

                    .end-block-line {
                        width: 100%;
                        border-bottom: 1px solid @day-month-grey;
                        margin: 25px 0 25px 0;
                    }
                }

                .status {
                    width: 70px;
                    display: inline-block;
                }
            }
        }

        .controls {
            position: absolute;
            bottom: 20px;
            z-index: 1;
            width: 100%;
            text-align: center;

            .controls-inner {
                margin: 0 auto;
                display: inline-block;
                color: @main-brown;
                position: relative;
                padding: 0 15px;

                .reportPreviewSwiper-pagination {
                }

                .reportPreviewSwiper-prev {
                    position: absolute;
                    content: "";
                    background-image: url("@{main-url-img}/arrow_down_brown.svg");
                    background-repeat: no-repeat;
                    top: 6px;
                    left: 0;
                    transform: rotate(90deg);
                    width: 12px;
                    height: 7px;
                }

                .reportPreviewSwiper-next {
                    position: absolute;
                    content: "";
                    background-image: url("@{main-url-img}/arrow_down_brown.svg");
                    background-repeat: no-repeat;
                    top: 5px;
                    right: 0;
                    transform: rotate(-90deg);
                    width: 12px;
                    height: 7px;
                }
            }
        }
    }
}
