﻿@model ReportModuleViewModel


<div class="module-block">
    <div class="page-break-avoid">
        <span class="module-title bold">@Model.Name</span>
        @if (Model.Topics != null && Model.Topics.Any())
        {
            @Html.Partial("~/Views/Rotation/RotationReportBuilder/ReportPreview/_ReportTopic.cshtml", Model.Topics.First())
        }
        else
        {
            <div class="row padding-top-5 padding-bottom-10" style="page-break-inside: avoid !important;">
                <div class="col-xs-12 padding-bottom-5 vertical-center text-center" style="font-size: 15px; justify-content: center;">
                    <span class="text-gray">No items in this section</span>
                </div>
            </div>
        }
    </div>
    @if (Model.Topics != null && Model.Topics.Any())
    {
        foreach (var topic in Model.Topics.Skip(1))
        {
            @Html.Partial("~/Views/Rotation/RotationReportBuilder/ReportPreview/_ReportTopic.cshtml", topic)
        }
    }
</div>