﻿@model ReportTaskViewModel

@if (Model != null)
{
    <div class="task-block row">
        <div class="col-xs-1"><span class="task-column bold">Task</span></div>
        <div class="col-xs-11 no-padding">
            <div class="row">
                <div class="col-xs-9 padding-top-5 bold vertical-center  @(!Model.IsFinalized ? "italic" : null)">
                    @if (Model.IsFeedbackRequired)
                    {
                        <span class="icon hand-back-icon margin-right-15"></span>
                    }
                    @if (Model.IsPinned == true)
                    {
                        <span class="icon pin-disable-icon margin-right-15"></span>
                    }
                    @if (Model.IsPinned == null && !Model.IsNullReport)
                    {
                        <span class="icon pin-enable-icon margin-right-15"></span>
                    }
                    <span class="message-title">@Model.Name</span>
                    <span class="text-gray task-priority padding-left-15">[@Model.Priority]</span>
                </div>
                <div class="col-xs-3 text-right">
                    @if (!Model.IsFinalized)
                    {
                        <span class="icon topic-type-icon margin-right-15"></span>
                    }
                    @if (Model.HasAttachments)
                    {
                        <span class="icon attachments-icon margin-right-15"></span>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12  @(!Model.IsFinalized ? "italic" : null)">
                    <div style="color: black;padding-bottom: 10px!important;margin-top: 10px!important;">
                        @Html.ConvertTextToHtml(Model.Description)
                    </div>
                </div>
            </div>
        </div>
    </div>
}

