﻿.webui-popover-notification {
    background-color: #fff;
    color: #e3e3e3;
    border-radius: 0px;
    border: 1px solid #464646;
    box-shadow: none;
    z-index: 2500;
    padding: 0px;
    margin-top: 15px !important;
    margin-left: 10px;

    i.icon-refresh {
        display: block;
        width: 16px;
        height: 16px;
        margin-top: 12px;
        margin-bottom: 12px;
        position: relative;
        background-image: data-uri("@{main-url-img}/loading-animation.gif");
    }

    p {
        display: none;
    }

    .webui-popover-title {
        background: #fff;
        border-bottom: 1px solid #fff;
        color: white;
    }

    .webui-popover-content {
        width: 360px;
        padding: 0px;
        overflow: hidden;

        &.show {
            max-height: 382.5px;
        }
    }

    .popover-content {
        width: 0 !important;
        padding: 0px;
    }

    .notification-content {

        .messege-content::-webkit-scrollbar {
            width: 15px;
        }

        .messege-content::-webkit-scrollbar-track {
            background-color: #B4B4B4;
        }

        .messege-content::-webkit-scrollbar-thumb {
            background-color: #464646;
            border: 3px solid transparent;
            border-radius: 9px;
            background-clip: content-box;
        }

        .messege-content {
            width: 360px;
            padding: 0px;
            max-height: 353.5px;
            overflow-y: auto;
            overflow-x: hidden;

            .popover-item {
                height: 59px;
                border-bottom: 1.5px solid #F0F0F0;
                cursor: pointer;

                &.unread {
                    background-color: rgba(0,175,240, 0.15);
                }

                .notification-message {
                    padding-top: 5px;
                    color: #464646;
                    font-size: 12px;
                    word-wrap: break-word;
                    width: 100%;
                    overflow-y: hidden;
                    vertical-align: middle;
                    display: inline-block;
                }

                .notification-image {
                    padding-top: 7px;
                    padding-left: 10px;
                    padding-right: 5px;
                    width: 44px;

                    img {
                        height: 30px;
                        width: 30px;
                    }
                }

                .notification-timestapm {
                    color: #464646;
                    font-size: 10px;
                }
            }

            .popover-item:last-child {
                padding-bottom: 0px;
            }
        }

        .see-all {
            background-color: #464646;
            color: #fff;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            float: left;
            cursor: pointer;
            height: 30px;
            width: 360px;
            padding-top: 6px;
            display: none;

            &.show {
                height: 30px;
                width: 360px;
                padding-top: 6px;
            }
        }

        .empty-content {
            width: 357px;
            color: #464646;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            padding-top: 10px;
            height: 40px;
        }
    }


    .webui-popover-content::-webkit-scrollbar {
        width: 1em;
    }

    .webui-popover-content::-webkit-scrollbar-track {
        background-color: #B4B4B4;
    }

    .webui-popover-content::-webkit-scrollbar-thumb {
        background-color: #464646;
        border: 3px solid transparent;
        border-radius: 9px;
        background-clip: content-box;
    }

    .webui-arrow {
        border-bottom-color: rgba(70,70,70, 1) !important;
        margin-left: -22px !important;
    }

    &.top > .webui-arrow, &.top-left > .webui-arrow, &.top-right > .webui-arrow, &.top > .webui-arrow:after, &.top-left > .webui-arrow:after, &.top-right > .webui-arrow:after {
        border-top-color: #fff;
    }

    &.right > .webui-arrow, &.right-top > .webui-arrow, &.right-bottom > .webui-arrow, &.right > .webui-arrow:after, &.right-top > .webui-arrow:after, &.right-bottom > .webui-arrow:after {
        border-right-color: #fff;
    }

    &.bottom > .webui-arrow, &.bottom-left > .webui-arrow, &.bottom-right > .webui-arrow, &.bottom > .webui-arrow:after, &.bottom-left > .webui-arrow:after, &.bottom-right > .webui-arrow:after {
        border-bottom-color: #fff;
    }

    &.left > .webui-arrow, &.left-top > .webui-arrow, &.left-bottom > .webui-arrow, &.left > .webui-arrow:after, &.left-top > .webui-arrow:after, &.left-bottom > .webui-arrow:after {
        border-left-color: #fff;
    }
}
