﻿@model EditRotationDatesViewModel

<div Id="editRotationDatesDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade rotation-dates-dialog">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-dialog  modal-sm">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div Id="modalTitle" class="modal-title">Edit Working Pattern Dates</div>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            @Html.ValidationMessage("Confirm")
                            @{ Html.EnableClientValidation(false); }
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="select-type">
                                    @Html.LabelFor(m => m.StartSwingDate, new { @class = "title-select" })
                                    @Html.TextBox("StartSwingDate", Model.StartSwingDate.CalendarFormatWidthYear(), new { @class = "simple-input", @readonly = "" })
                                    @Html.ValidationMessageFor(m => m.StartSwingDate)
                                </div>
                            </div>
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                <div class="select-type">
                                    @Html.LabelFor(m => m.EndSwingDate, new { @class = "title-select" })
                                    @(Model.EndSwingDateReadOnly
                                        ? Html.TextBox("EndSwingDate", Model.EndSwingDate.CalendarFormatWidthYear(), new { @class = "simple-input avoid-clicks", @readonly = "" })
                                        : Html.TextBox("EndSwingDate", Model.EndSwingDate.CalendarFormatWidthYear(), new { @class = "simple-input datepicker", @placeholder = "Select End Swing Date" }))
                                    @Html.ValidationMessageFor(m => m.EndSwingDate)
                                </div>
                            </div>
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                <div class="select-type">
                                    @Html.LabelFor(m => m.BackOnSiteDate, new { @class = "title-select" })
                                    @(Model.BackOnSiteDateReadOnly
                                        ? Html.TextBox("BackOnSiteDate", Model.BackOnSiteDate.CalendarFormatWidthYear(), new { @class = "simple-input avoid-clicks", @readonly = "" })
                                        : Html.TextBox("BackOnSiteDate", Model.BackOnSiteDate.CalendarFormatWidthYear(), new { @class = "simple-input datepicker", @placeholder = "Select Back On Site Date" }))
                                    @Html.ValidationMessageFor(m => m.BackOnSiteDate)
                                </div>
                            </div>
                            @{ Html.EnableClientValidation(true); }
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script>
            (function () {
                //=============================================================================
                var endSwingDate = $('#editRotationDatesDialog #EndSwingDate').datepicker({
                    format: "dd M yyyy",
                    container: "#editRotationDatesDialog",
                    todayBtn: false
                });

                var backOnSiteDate = $('#editRotationDatesDialog #BackOnSiteDate').datepicker({
                    format: "dd M yyyy",
                    container: "#editRotationDatesDialog",
                    todayBtn: false
                });

                var endDate = new Date($(endSwingDate).datepicker('getDate'));
                endDate.setDate(endDate.getDate() + 1);

                $(endSwingDate).datepicker('setStartDate', new Date("@Model.CurrentDate.ToISOString()"));
                $(backOnSiteDate).datepicker('setStartDate', endDate);

                endSwingDate.on('changeDate', function () {
                    $(this).datepicker('hide');
                    var endDate = new Date($(this).datepicker('getDate'));
                    endDate.setDate(endDate.getDate() + 1);
                    $(backOnSiteDate).datepicker('setStartDate', endDate);
                });
                backOnSiteDate.on('changeDate', function () {
                    $(this).datepicker('hide');
                });
                //=============================================================================
            })();
        </script>
    }
</div>
