﻿@model EditShiftRotationViewModel

<div Id="editShiftRotationDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade edit-shift-rotation-dates-dialog">
    <div class="modal-dialog">
        <div class="theme">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row vertical-center">
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="modal-title">Edit Rotation @(Model.ShiftId.HasValue ? " and Shift" : "")</div>
                        </div>
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                            <button type="button" class="btn btn-save">Save</button>
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    @if (Model.ShiftId.HasValue)
                    {
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="tab-block">
                                    <div class="navigation-block">
                                        <ul class="nav nav-tabs">
                                            <li class="active" tabNumber="0"><a data-toggle="tab" href="#swing">Swing</a></li>
                                            <li class="" tabNumber="1"><a data-toggle="tab" href="#shift">Shift</a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-content">
                                        <div Id="swing" class="tab-pane fade in active swing" is-confirmed="True">
                                            @Html.Action("EditSwingForm", "Rotation", new { rotationId = Model.RotationId })
                                        </div>
                                        <div Id="shift" class="tab-pane fade in shift disabled">
                                            @Html.Action("EditShiftForm", "Shift", new { shiftId = Model.ShiftId.Value })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row swing" Id="swing">
                            @Html.Action("EditSwingForm", "Rotation", new { rotationId = Model.RotationId })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>