﻿@model EditRotationDatesViewModel

@using (Html.BeginForm("EditSwingForm", "Rotation"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.RotationId)

    @Html.HiddenFor(m => m.StartSwingDate)
    @Html.HiddenFor(m => m.BackOnSiteDate)
    @Html.HiddenFor(m => m.EndSwingDate)
    @Html.HiddenFor(m => m.CurrentDate)

    @Html.HiddenFor(m => m.BackOnSiteDateReadOnly)
    @Html.HiddenFor(m => m.EndSwingDateReadOnly)

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding inline-mini-calendar" Id="miniCalendar" style="pointer-events: none;"></div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div class="row">
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="field-container">
                    @Html.LabelFor(m => m.StartSwingDate, new { @class = "title-select" })
                    <div class="date-container">
                        <div class="simple-input" Id="StartSwingDateDay"></div>
                        <div class="simple-input" Id="StartSwingDateMonth"></div>
                        <div class="simple-input" Id="StartSwingDateYear"></div>
                    </div>
                    <div class="choose-date-btn start-date-btn">Choose Date</div>
                    @Html.ValidationMessageFor(m => m.StartSwingDate)
                </div>
            </div>
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding padding-top-20">
                <div class="field-container">
                    @Html.LabelFor(m => m.EndSwingDate, new { @class = "title-select" })
                    <div class="date-container">
                        <div class="simple-input" Id="EndSwingDateDay"></div>
                        <div class="simple-input" Id="EndSwingDateMonth"></div>
                        <div class="simple-input" Id="EndSwingDateYear"></div>
                    </div>
                    <div class="choose-date-btn end-date-btn">Choose Date</div>
                    @Html.ValidationMessageFor(m => m.EndSwingDate)
                </div>
            </div>
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding padding-top-20">
                <div class="field-container">
                    @Html.LabelFor(m => m.BackOnSiteDate, new { @class = "title-select" })
                    <div class="date-container">
                        <div class="simple-input" Id="BackOnSiteDateDay"></div>
                        <div class="simple-input" Id="BackOnSiteDateMonth"></div>
                        <div class="simple-input" Id="BackOnSiteDateYear"></div>
                    </div>
                    <div class="choose-date-btn back-date-btn">Choose Date</div>
                    @Html.ValidationMessageFor(m => m.BackOnSiteDate)
                </div>
            </div>
            <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5 no-padding padding-top-20">
                <div class="select-type">
                    @Html.LabelFor(m => m.RepeatTimes, new { @class = "title-select" })
                    @Html.DropDownListFor(m => m.RepeatTimes, Model.RepeatRotationRange, new { @class = "select-list" })
                </div>
            </div>
        </div>
    </div>

}