﻿@model EditShiftDatesV2ViewModel

@using (Html.BeginForm("EditShiftForm", "Shift"))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.ShiftId)
    @Html.HiddenFor(model => model.EndShiftDate)
    @Html.HiddenFor(model => model.LimitEndShiftDate)
    @*@Html.HiddenFor(model => model.ShiftEndHour)
      @Html.HiddenFor(model => model.ShiftEndMinutes)
      @Html.HiddenFor(model => model.LimitShiftEndHour)
      @Html.HiddenFor(model => model.LimitShiftEndMinutes)*@

    <div Id="miniCalendar" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding inline-mini-calendar" style="pointer-events: none;"></div>


    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding-left:50px; padding-top: 30px;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <span>When is your shift ending?</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                <div class="row">
                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="field-container">
                            <div class="date-container">
                                <div Id="EndShiftDateDay" class="simple-input" style="margin:0px !important;"></div>
                                <div Id="EndShiftDateMonth" class="simple-input" style="margin:0px !important;"></div>
                                <div Id="EndShiftDateYear" class="simple-input"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="field-container">
                            <div class="choose-date-btn end-date-btn">Choose Date</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">

                <div class="row">
                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                        <div class="field-container">
                            <div class="time-container">
                                <div class="select-type time-select">
                                    @Html.DropDownListFor(model => model.ShiftEndHour, Enumerable.Range(0, 24).Select(i =>
                                                                               new SelectListItem
                                                                               {
                                                                                   Value = i.ToString(),
                                                                                   Text = i.ToString("D2")
                                                                               }), "HH", new { @class = "select-list hours-list" })
                                </div>
                                <div class="select-type time-select">
                                    @Html.DropDownListFor(model => model.ShiftEndMinutes, Enumerable.Range(0, 12).Select(i =>
                                                                               new SelectListItem
                                                                               {
                                                                                   Value = (i * 5).ToString(),
                                                                                   Text = (i * 5).ToString("D2")
                                                                               }), "MM", new { @class = "select-list minutes-list" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="field-container">
                            <div class="choose-date-btn end-time-btn">Choose Time</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
