﻿@model Guid?

<div Id="editShiftDatesDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade edit-shift-dates-dialog">
    <div class="modal-dialog">
        <div class="theme">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row vertical-center">
                        <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <div class="modal-title">Edit Shift</div>
                        </div>
                        <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
                            <button type="submit" class="btn btn-save">Save</button>
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row shift" Id="shift">
                        @Html.Action("EditShiftForm", "Shift", new { shiftId = Model })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
