﻿.scheduler-filter {
    width: auto;

    div:first-child {
        padding-left: 0px;
    }

    div:last-child {
        padding-right: 0px;
    }

    @media (max-width: 992px) {
        .col-md-6, .col-sm-6, .col-xs-6 {
            padding-right: 0px !important;
        }

        .col-md-12, .col-sm-12, .col-xs-12 {
            padding-left: 0px !important;
        }
    }

    @media (max-width: 768px) {
        .col-md-6, .col-sm-6, .col-xs-6 {
            padding-right: 0px !important;
        }

        .col-md-12, .col-sm-12, .col-xs-12 {
            padding-left: 0px !important;
        }
    }



    .availability-filter {
        background-color: #fff;
        border-radius: 6px;
        width: 100%;
        height: 36px;
        padding: 10px 0;
        margin-top: 20px;

        .filter-name {
            margin: 0px auto;
            background-color: #B4B4B4;
            border-radius: 2px;
            height: 16px;
            max-width: 80%;
            min-width: initial;
            color: #fff;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            cursor: pointer;

            &.active {
                background-color: #00AFF0;
            }

            &.inactive {
                background-color: #F29105;
            }
        }
    }

    .rotation-filter {
        margin-top: 20px;
        background-color: #fff;
        border-radius: 6px;
        width: 100%;
        height: 36px;
        padding: 10px 0;

        .filter-name {
            margin: 0px auto;
            background-color: #B4B4B4;
            border-radius: 2px;
            max-width: 80%;
            min-width: initial;
            height: 16px;
            color: #fff;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            cursor: pointer;

            &.active {
                background-color: #00AFF0;
            }

            &.inactive {
                background-color: #F29105;
            }
        }
    }

    .team-filter {
        margin-top: 20px;
        height: 36px;
        background-color: #fff;
        border-radius: 6px;

        .panel {
            margin: 0px;

            .panel-body {
                padding: 0 55px 0 102px;

                .all-btn {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 52px;
                    background-color: #fff;
                    border-right: #efefef solid 2px;
                    height: 36px;
                    padding: 10px 0 0 0;
                    border-bottom-left-radius: 6px;
                    border-top-left-radius: 6px;

                    .filter-name {
                        margin: 0px auto;
                        background-color: #B4B4B4;
                        border-radius: 2px;
                        width: 26px;
                        height: 16px;
                        color: #fff;
                        font-size: 12px;
                        font-weight: bold;
                        text-align: center;
                        cursor: pointer;

                        &.active {
                            background-color: #00AFF0;
                        }

                        &.inactive {
                            background-color: #F29105;
                        }
                    }
                }

                .team-swiper {

                    .swiper-container {
                        height: 36px;

                        .swiper-wrapper {
                            padding-top: 10px;

                            .swiper-slide {
                                max-width: 125px;
                                min-width: initial;
                                margin-right: 5px;
                                margin-left: 5px;

                                .team-name {
                                    background-color: #B4B4B4;
                                    border-radius: 2px;
                                    height: 16px;
                                    color: #fff;
                                    font-size: 12px;
                                    font-weight: bold;
                                    text-align: center;
                                    padding-left: 5px;
                                    padding-right: 5px;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    word-wrap: normal;
                                    cursor: pointer;

                                    &.active {
                                        background-color: #00AFF0;
                                    }

                                    &.inactive {
                                        background-color: #F29105;
                                    }
                                }
                            }
                        }
                    }

                    .swiper-next {
                        position: absolute;
                        background-repeat: no-repeat;
                        width: 7px;
                        height: 12px;
                        background-image: data-uri("@{main-url-img}/arrow_right1.svg");
                        cursor: pointer;
                        right: 20px;
                        top: 11px;
                    }

                    .swiper-prev {
                        background-repeat: no-repeat;
                        width: 6px;
                        height: 12px;
                        background-image: data-uri("@{main-url-img}/arrow_left1.svg");
                        cursor: pointer;
                        position: absolute;
                        left: 78px;
                        top: 11px;
                    }

                    .swiper-button-disabled {
                        opacity: 0.2 !important;
                        cursor: not-allowed !important;
                        z-index: 300;
                    }
                }
            }
        }
    }
}
