﻿<div Id="main-menu" class="main-menu">
    <div class="search-input" style="opacity: 0.7;">
        <input class="search" placeholder="Search" disabled="true" />
        <div class="input-search-btn">
            <div class="inner"></div>
        </div>
    </div>
    <ul class="menu-list">
        @Html.MvcSiteMap().Menu("BootstrapMenuHelperModel", startingNodeLevel: 1, maxDepth: 1)
        <li>
            <a href="@Url.Action("LogOff", "Account")" class="item-yellow">
                Logout
            </a>
        </li>
    </ul>
</div>

<script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
</script>