﻿@model bool

<div class="main-nav-bar menu-hamburger">
  @if (!Model)
  {
  <div Id="main-menu-btn" class="btn-link main-menu-btn"><span Id="main-menu-icon" class="glyphicon glyphicon-list"></span></div>
  }

  <div Id="user-info" class="nav-bar-blue">
    <div class="nav-bar-container clearfix">
      <div class="logo-container">
        @if (Model)
        {
            <div class="logo"></div>
        }
        else
        {
            <a href="\" class="logo"></a>
        }
      </div>

      <div class="user-container">

          <table>
              <tr>
                  <td>@Html.Action("ShowNumberOfRemainingTrialDaysForUser", "Media")</td>
                  <td> @Html.Action("SearchBox", "SearchResults")</td>
                  <td> @Html.Action("NotificationWidget", "Notification", new { area = "" })</td>
                  <td>
                      <div class="user-photo-container">
                          <img src="@Url.Action("GetMyAvatar", "Media", new {area = "", width = 30, height = 30})"
                               class="media-object img-circle user-photo" />
                      </div>
                  </td>
              </tr>
          </table>

          @*
          @Html.Action("ShowNumberOfRemainingTrialDaysForUser", "Media")
        @Html.Action("NotificationWidget", "Notification", new { area = "" })
        <div class="user-photo-container">
            <img src="@Url.Action("GetMyAvatar", "Media", new {area = "", width = 30, height = 30})"
                 class="media-object img-circle user-photo" />
        </div>*@

      </div>
    </div>
  </div>
  <div class="nav-bar-brown" is-multi-tenancy="@ViewBag.isMultiTenancyTheme.ToString()">
    @if (!Model)
    {
      if (ViewBag.isMultiTenancyTheme)
      {
      @Html.Partial("~/Views/Shared/Layouts/Main/_MultiTenancyMenu.cshtml")
      }
      else
      {
      @Html.Partial("~/Views/Shared/Layouts/Main/_EnterpriseMenu.cshtml")
      }
    }
  </div>
</div>