﻿<div Id="main-menu" class="main-menu">
    <div class="arrow">
    </div>
    <ul class="menu-list">
        @Html.MvcSiteMap().Menu("BootstrapMenuHelperModel", startingNodeLevel: 1, maxDepth: 1)
        <li>
            <a href="@Url.Action("LogOff", "Account")" class="item-yellow">
                Logout
            </a>
        </li>
    </ul>
</div>


<script type="text/javascript">
        function preventBack() { window.history.forward(); }
       // setTimeout("preventBack()", 0);
        window.onunload = function () { window.location.href="/Account/LogOff"; };
</script>