﻿@{
    Layout = "~/Views/Shared/Layouts/Base/BaseLayout.cshtml";
}
@section head
{
    @Styles.Render("~/bundles/styles/layouts/auth-main")

    @RenderSection("Styles", required: false)

    <link href="~/Content/styles/main.css" rel="stylesheet" />

    <link href="~/Content/styles/@(ViewBag.styleTheme != null ? ViewBag.styleTheme : "white-theme").css" rel="stylesheet" />
}

    @Html.Action("GetNavigationBar", "Menu", new { area = "" })

<nav Id="tabs" role="navigation" class="navbar navbar-brown">
    <ul class="nav nav-pills">
        @Html.MvcSiteMap().Menu("BootstrapMenuHelperModel", startingNodeLevel: 2, maxDepth: 1)
    </ul>
</nav>
<div Id="rootContent" class="content">
  <div class="container">
    @Html.Action("ChooseShiftRecipientWindow", "Rotation", new {area = ""})
    @RenderBody()
  </div>
</div>

@Scripts.Render("~/signalr/hubs")
@Scripts.Render("~/bundles/scripts/layouts/auth-main")
<script src="~/Content/js/relay/dot-net-date.module.js"></script>
@Scripts.Render("~/bundles/scripts/shared/dialogs")

<script src="~/Content/js/relay/dialogs/choose-teammate-dialog.module.js"></script>

@RenderSection("Scripts", required: false)

<script>
    var sessionTimeoutWarning = @Session.Timeout- 1;

    var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
    setTimeout('SessionEnd()', sTimeout);

    function SessionEnd() {
      window.location = "/Account/LogOff";
    }
</script>
