﻿<section class="panel panel-default">
    <div class="panel-heading text-center panel-heading-icon-right">
        <a href="javascript:void(0)">
            <strong>
                Handovers
            </strong>
        </a>
        <a href="javascript:void(0)" class="icon-right plus-btn btn-circle btn btn-link" ng-click="$ctrl.createRotationDialog()">
            <span class="glyphicon span"></span>
        </a>
    </div>
    <div class="panel-body">
        <ul class="list-group" style="font-size: 12px;">
            <li class="list-group-item" ng-repeat="rotation in $ctrl.vm.page.Rotations">
                {{::rotation.Name}}
                <div class="pull-right">

                    <a href="/Rotation/{{rotation.userId}}/Summary" class="pull-right search-block">
                        <!--<span class="pull-right glyphicon glyphicon-search"></span>-->
                    </a>

                    <a href="javascript:void(0)" class="pull-right pencil-block" style=" margin-right: 10px;" ng-click="$ctrl.editRotationDialog(rotation.Id)">
                        <!--<span class="glyphicon glyphicon-pencil"></span>-->
                    </a>
                </div>
            </li>
        </ul>
        <div class="text-center" ng-if="$ctrl.vm.page.PageCount > 1">
            <ul class="pagination">
                <li>
                    <a class="page-prev" href="javascript:void(0)" ng-click="$ctrl.showPrevPage()"></a>
                </li>
                <li>
                    <a class="page-next" href="javascript:void(0)" ng-click="$ctrl.showNextpage()"></a>
                </li>
            </ul>
        </div>
    </div>
</section>