﻿@using MomentumPlus.Relay.Web.Helpers

@model string

<div id="viewModePanel" class="panel panel-default margin-top-40">
    <div class="panel-body">
        <div class="user-view-block row vertical-center">
            <div class="col col-lg-3 col-sm-3 col-md-3 col-xs-12 text-left">
                <span class="text">
                    Viewing User
                </span>
            </div>
            <div class="col col-lg-6 col-sm-6 col-md-6 col-xs-12 text-center">
                <span class="title">
                    @Model
                </span>
            </div>
            <div class="col col-lg-3 col-sm-3 col-md-3 col-xs-12 text-right">
                <a href="@AppSession.Current.ExitRotationViewModeUrl" class="exit-rotation-btn">Exit View Mode</a>
            </div>
        </div>
    </div>
</div>