﻿<div Id="popupVoiceMessages" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" class="modal fade in voice-messages-dialog" style="z-index: 1011150!important">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn-close"></button>
                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn-save-active">Save</button>
                <h4 Id="labelTags" class="modal-title-left">Voice Messages</h4>
            </div>
            <div class="modal-body-left">
                <span class="title-select">Player</span>
                <div class="player-container"></div>
                <div class="voices-list-container large-margin">
                    <div>
                        <div class="list-container">
                            <div class="horizontal-title-container"><span class="title-select name-block">Name</span><span class="title-select simple-column">Added</span><span class="title-select simple-column">Pin</span><span class="title-select singl-button"></span><span class="title-select singl-button"></span></div>
                            <div class="voice-messages-content">
                                <div class="swiper-container voiceMessagesSwiper swiper-container-vertical">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide swiper-slide-active" style="height: 30px;">
                                            <div class="name-block">
                                                <p class="note">I didn't get time to do an inspection of the light</p>
                                            </div>
                                            <div class="simple-column">Wed 13th Jul</div>
                                            <div class="simple-column">
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                            </div>
                                            <div class="singl-button"><a href="#" download="true" class="download-link-btn"></a></div>
                                            <div class="singl-button">
                                                <div class="btn-close"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-next" style="height: 30px;">
                                            <div class="name-block">
                                                <p class="note">I didn't get time to do an inspection of the light</p>
                                            </div>
                                            <div class="simple-column">Wed 13th Jul</div>
                                            <div class="simple-column">
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                            </div>
                                            <div class="singl-button"><a href="#" download="true" class="download-link-btn"></a></div>
                                            <div class="singl-button">
                                                <div class="btn-close"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 30px;">
                                            <div class="name-block">
                                                <p class="note">I didn't get time to do an inspection of the light</p>
                                            </div>
                                            <div class="simple-column">Wed 13th Jul</div>
                                            <div class="simple-column">
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                            </div>
                                            <div class="singl-button"><a href="#" download="true" class="download-link-btn"></a></div>
                                            <div class="singl-button">
                                                <div class="btn-close"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 30px;">
                                            <div class="name-block">
                                                <p class="note">I didn't get time to do an inspection of the light</p>
                                            </div>
                                            <div class="simple-column">Wed 13th Jul</div>
                                            <div class="simple-column">
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                            </div>
                                            <div class="singl-button"><a href="#" download="true" class="download-link-btn"></a></div>
                                            <div class="singl-button">
                                                <div class="btn-close"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 30px;">
                                            <div class="name-block">
                                                <p class="note">I didn't get time to do an inspection of the light</p>
                                            </div>
                                            <div class="simple-column">Wed 13th Jul</div>
                                            <div class="simple-column">
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                            </div>
                                            <div class="singl-button"><a href="#" download="true" class="download-link-btn"></a></div>
                                            <div class="singl-button">
                                                <div class="btn-close"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 30px;">
                                            <div class="name-block">
                                                <p class="note">I didn't get time to do an inspection of the light</p>
                                            </div>
                                            <div class="simple-column">Wed 13th Jul</div>
                                            <div class="simple-column">
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                            </div>
                                            <div class="singl-button"><a href="#" download="true" class="download-link-btn"></a></div>
                                            <div class="singl-button">
                                                <div class="btn-close"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 30px;">
                                            <div class="name-block">
                                                <p class="note">I didn't get time to do an inspection of the light</p>
                                            </div>
                                            <div class="simple-column">Wed 13th Jul</div>
                                            <div class="simple-column">
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                            </div>
                                            <div class="singl-button"><a href="#" download="true" class="download-link-btn"></a></div>
                                            <div class="singl-button">
                                                <div class="btn-close"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 30px;">
                                            <div class="name-block">
                                                <p class="note">I didn't get time to do an inspection of the light</p>
                                            </div>
                                            <div class="simple-column">Wed 13th Jul</div>
                                            <div class="simple-column">
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                            </div>
                                            <div class="singl-button"><a href="#" download="true" class="download-link-btn"></a></div>
                                            <div class="singl-button">
                                                <div class="btn-close"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 30px;">
                                            <div class="name-block">
                                                <p class="note">I didn't get time to do an inspection of the light</p>
                                            </div>
                                            <div class="simple-column">Wed 13th Jul</div>
                                            <div class="simple-column">
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                            </div>
                                            <div class="singl-button"><a href="#" download="true" class="download-link-btn"></a></div>
                                            <div class="singl-button">
                                                <div class="btn-close"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 30px;">
                                            <div class="name-block">
                                                <p class="note">I didn't get time to do an inspection of the light</p>
                                            </div>
                                            <div class="simple-column">Wed 13th Jul</div>
                                            <div class="simple-column">
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                            </div>
                                            <div class="singl-button"><a href="#" download="true" class="download-link-btn"></a></div>
                                            <div class="singl-button">
                                                <div class="btn-close"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 30px;">
                                            <div class="name-block">
                                                <p class="note">I didn't get time to do an inspection of the light</p>
                                            </div>
                                            <div class="simple-column">Wed 13th Jul</div>
                                            <div class="simple-column">
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                            </div>
                                            <div class="singl-button"><a href="#" download="true" class="download-link-btn"></a></div>
                                            <div class="singl-button">
                                                <div class="btn-close"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 30px;">
                                            <div class="name-block">
                                                <p class="note">I didn't get time to do an inspection of the light</p>
                                            </div>
                                            <div class="simple-column">Wed 13th Jul</div>
                                            <div class="simple-column">
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                            </div>
                                            <div class="singl-button"><a href="#" download="true" class="download-link-btn"></a></div>
                                            <div class="singl-button">
                                                <div class="btn-close"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 30px;">
                                            <div class="name-block">
                                                <p class="note">I didn't get time to do an inspection of the light</p>
                                            </div>
                                            <div class="simple-column">Wed 13th Jul</div>
                                            <div class="simple-column">
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                            </div>
                                            <div class="singl-button"><a href="#" download="true" class="download-link-btn"></a></div>
                                            <div class="singl-button">
                                                <div class="btn-close"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 30px;">
                                            <div class="name-block">
                                                <p class="note">I didn't get time to do an inspection of the light</p>
                                            </div>
                                            <div class="simple-column">Wed 13th Jul</div>
                                            <div class="simple-column">
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                            </div>
                                            <div class="singl-button"><a href="#" download="true" class="download-link-btn"></a></div>
                                            <div class="singl-button">
                                                <div class="btn-close"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 30px;">
                                            <div class="name-block">
                                                <p class="note">I didn't get time to do an inspection of the light</p>
                                            </div>
                                            <div class="simple-column">Wed 13th Jul</div>
                                            <div class="simple-column">
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                            </div>
                                            <div class="singl-button"><a href="#" download="true" class="download-link-btn"></a></div>
                                            <div class="singl-button">
                                                <div class="btn-close"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 30px;">
                                            <div class="name-block">
                                                <p class="note">I didn't get time to do an inspection of the light</p>
                                            </div>
                                            <div class="simple-column">Wed 13th Jul</div>
                                            <div class="simple-column">
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                            </div>
                                            <div class="singl-button"><a href="#" download="true" class="download-link-btn"></a></div>
                                            <div class="singl-button">
                                                <div class="btn-close"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 30px;">
                                            <div class="name-block">
                                                <p class="note">I didn't get time to do an inspection of the light</p>
                                            </div>
                                            <div class="simple-column">Wed 13th Jul</div>
                                            <div class="simple-column">
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                            </div>
                                            <div class="singl-button"><a href="#" download="true" class="download-link-btn"></a></div>
                                            <div class="singl-button">
                                                <div class="btn-close"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 30px;">
                                            <div class="name-block">
                                                <p class="note">I didn't get time to do an inspection of the light</p>
                                            </div>
                                            <div class="simple-column">Wed 13th Jul</div>
                                            <div class="simple-column">
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                            </div>
                                            <div class="singl-button"><a href="#" download="true" class="download-link-btn"></a></div>
                                            <div class="singl-button">
                                                <div class="btn-close"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 30px;">
                                            <div class="name-block">
                                                <p class="note">I didn't get time to do an inspection of the light</p>
                                            </div>
                                            <div class="simple-column">Wed 13th Jul</div>
                                            <div class="simple-column">
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                            </div>
                                            <div class="singl-button"><a href="#" download="true" class="download-link-btn"></a></div>
                                            <div class="singl-button">
                                                <div class="btn-close"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide" style="height: 30px;">
                                            <div class="name-block">
                                                <p class="note">I didn't get time to do an inspection of the light</p>
                                            </div>
                                            <div class="simple-column">Wed 13th Jul</div>
                                            <div class="simple-column">
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                                <div class="circle"></div>
                                            </div>
                                            <div class="singl-button"><a href="#" download="true" class="download-link-btn"></a></div>
                                            <div class="singl-button">
                                                <div class="btn-close"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="voiceMessagesSwiper-prev swiper-button-disabled"></div>
                                <div class="voiceMessagesSwiper-next"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add-new-voice-message">
                    <div class="row">
                        <div class="col-xs-12">
                            <div Id="form-input-voice-message" class="btn-plus-white center-block">
                                <div class="span"></div>
                            </div>
                        </div>
                    </div>
                    <div Id="new-voice-popup-voice-message" class="form-new-voice" style="display: none;">
                        <div class="title-block-with-line">
                            <div class="title-container"><span class="file-input-title">New</span></div>
                        </div>
                        <div class="field-container">
                            <span class="title-select">Name</span>
                            <input class="simple-input">
                        </div><span class="title-select large-margin">Upload from file</span>
                        <div data-provides="fileinput" class="fileinput fileinput-new input-group">
                            <div data-trigger="fileinput" class="form-control"><i class="glyphicon glyphicon-file fileinput-exists"></i><span class="fileinput-filename"></span></div><span class="input-group-addon btn btn-default btn-file">
                                <input type="file" name="...">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>