﻿@model ViewModeViewModel

@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}
@if (Model.IsViewMode)
{
    @Html.Partial("~/Views/Rotation/Shared/_ViewModePanel.cshtml", Model.RotationOwnerFullName)
}

<div class="panel panel-default text-center" style="margin-top: 40px">
    <div class="panel-body">
        <div class="row">
            <div class="col col-lg-3 col-sm-3 col-md-3 col-xs-12 text-left"></div>
            <div class="col col-lg-6 col-sm-6 col-md-6 col-xs-12 text-center">
                <span class="title">
                    @*<strong>@(Model.IsViewMode ? Model.RotationOwnerFullName + " doesn't have a working pattern." : "You do not have a working pattern.")</strong>*@
                    @if (Model.HaveRotation)
                    {
                        if (Model.IsViewMode)
                        {
                            <strong>@("Click the button on the right to start " + Model.RotationOwnerName + " first handover.")</strong>
                        }
                        else
                        {
                            <strong>Click the button on the right to start your first handover.</strong>
                        }
                    }
                    else
                    {
                        if (Model.IsViewMode)
                        {
                            <strong>@(Model.RotationOwnerName + " have not been set up with a handover.")</strong>
                        }
                        else
                        {
                            <strong>You have not been set up with a handover.</strong>
                        }
                    }
                </span>
            </div>
            <div class="col col-lg-3 col-sm-3 col-md-3 col-xs-12 text-right">
                @Html.Action("ShowConfirmButton", "Summary", new { userID = Model.UserId })
            </div>
        </div>
    </div>
</div>
