﻿@model PlannedActual

<style>
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
  {
    -webkit-appearance: none;
    margin: 0;
  }
</style>

<div class="plannedvsactualfields" style="display:none;">
    <span class="PvA-icon"></span>

    <div class="planned" planned-val="@Model.Planned" style="display: inline-block; margin-right: 10px;">
        <span class="planned-icon"></span>
        @Html.TextBoxFor(model => model.Planned, new { @class = "planned-text", @placeholder = "Plan", @type = "number" })
    </div>

    <div class="actual" actual-val="@Model.Actual" style="display: inline-block; margin-right: 10px;">
        <span class="actual-icon"></span>
        @Html.TextBoxFor(model => model.Actual, new { @class = "actual-text", @placeholder = "Actual", @type = "number" })
    </div>

    <div class="variance" variance-val="@Model.Variance" style="display: inline-block;">
        <span class="variance-icon"></span>
        @Html.TextBoxFor(model => model.Variance, new { @class = "variance-text", @placeholder = "Variance" })
    </div>

    <div class="units" units-val="@Model.UnitsSelectedType" style="display: inline-block;">
        @Html.DropDownListFor(model => model.UnitsSelectedType, Model.Units, "Units", new { @class = "units-text" })
    </div>
</div>

<script>
    ; (function (window) {

        var planned = "";
        var actual = "";
        var units = "";

        var topicId = null;

        if (this.offsetParent != null) {

            var topicId = this.offsetParent.attributes[1].value;
        }

        $('.planned-text').change(function () {
            planned = this.attributes[5].ownerElement.value;

            if (this.parentNode.attributes[1] != null) {
                var plannedOld = this.parentNode.attributes[1].value;

                if (plannedOld != null) {
                    var topicId = this.offsetParent.attributes[1].value;
                    $.ajax({
                        url: "/Summary/ChangePlanndeField",
                        method: "GET",
                        data: { topicId: topicId, planned: planned }
                    })
                        .done(function (data) {
                          //  $(".plannedvsactualfields").empty().html(data);
                        });
                }
            }
            else {
                var topicId = this.offsetParent.attributes[1].value;
                $.ajax({
                    url: "/Summary/ChangePlanndeField",
                    method: "GET",
                    data: { topicId: topicId, planned: planned }
                })
                    .done(function (data) {
                       // $(".plannedvsactualfields").empty().html(data);
                    });
            }

        });
        $('.actual-text').change(function () {
            actual = this.attributes[5].ownerElement.value;

            if (this.parentNode.attributes[1] != null) {
                var actualOld = this.parentNode.attributes[1].value;

                if (actualOld != null) {
                    var topicId = this.offsetParent.attributes[1].value;
                    $.ajax({
                        url: "/Summary/ChangeActualField",
                        method: "GET",
                        data: { topicId: topicId, actual: actual }
                    })
                        .done(function (data) {
                          //  $(".plannedvsactualfields").empty().html(data);
                        });
                }
            }
            else {
                var topicId = this.offsetParent.attributes[1].value;
                $.ajax({
                    url: "/Summary/ChangeActualField",
                    method: "GET",
                    data: { topicId: topicId, actual: actual }
                })
                    .done(function (data) {

                       // $(".plannedvsactualfields").empty().html(data);
                    });
            }
        });

        $('.units-text').change(function () {
            units = this[0].parentNode.value;

            if (this.parentNode.attributes[1] != null) {
                var unitsOld = this.parentNode.attributes[1].value;
                var topicId = this.offsetParent.attributes[1].value;
                if (unitsOld != null) {
                    $.ajax({
                        url: "/Summary/ChangeUnitsSelectedTypeField",
                        method: "GET",
                        data: { topicId: topicId, unitsSelected: units }
                    })
                        .done(function (data) {
                          //  $(".plannedvsactualfields").empty().html(data);
                        });
                }
            }
            else {
                var topicId = this.offsetParent.attributes[1].value;
                $.ajax({
                    url: "/Summary/ChangeUnitsSelectedTypeField",
                    method: "GET",
                    data: { topicId: topicId, unitsSelected: units }
                })
                    .done(function (data) {
                      //  $(".plannedvsactualfields").empty().html(data);
                    });
            }

        });

    })(window);
</script>