﻿@model PlannedActual


<div class="plannedvsactualfields" style="display:none;">
    <span class="PvA-icon"></span>

    <div class="planned" planned-val="@Model.Planned" style="display: inline-block; margin-right: 10px;">
        <span class="planned-icon"></span>
        @Html.TextBoxFor(model => model.Planned, new { @class = "planned-text", @placeholder = "Plan", @type = "number", @disabled = "disabled" })
    </div>

    <div class="actual" actual-val="@Model.Actual" style="display: inline-block; margin-right: 10px;">
        <span class="actual-icon"></span>
        @Html.TextBoxFor(model => model.Actual, new { @class = "actual-text", @placeholder = "Actual", @type = "number", @disabled = "disabled" })
    </div>

    <div class="variance" variance-val="@Model.Variance" style="display: inline-block;">
        <span class="variance-icon"></span>
        @Html.TextBoxFor(model => model.Variance, new { @class = "variance-text", @placeholder = "Variance", @disabled = "disabled" })
    </div>

    <div class="units" units-val="@Model.UnitsSelectedType" style="display: inline-block;">
        @Html.DropDownListFor(model => model.UnitsSelectedType, Model.Units, "Units", new { @class = "units-text", @disabled = "disabled" })
    </div>
</div>

<script>
     ; (function (window) {

            $("#UnitsSelectedType").prop('disable',true);
            $("#Variance").prop('disable',true);
            $("#Actual").prop('disable',true);
            $("#Planned").prop('disable',true);
     })(window);
</script>