﻿@model Tuple<string, Guid>


<div class="tags-input-container-field-recieved" topic-id=@Model.Item2 style="display: none">
    <span class="tag-icon"></span>
    <div topic-id=@Model.Item2 class="ms-ctn form-control ms-ctn-focus tags-input-recieved"></div>
</div>

<script>
    var searchTagsRecieved = $(".tags-input-recieved").magicSuggest({
          placeholder: 'Enter tags',
          maxSelection: 7,
          hideTrigger: true,
          toggleOnClick: true,
          maxSelectionRenderer: function (v) {
           return "";
           },
          value: [@Html.Raw(Model.Item1)]
    });
</script>
