﻿@model TagsTopic

<style>
    p.clip {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 5px;
        padding-right: 5px;
        display:inline-block;
    }
    .tag-body-control {
        display: inline-block;
    }
</style>

@Html.Hidden("HasTags", Model.HasTags)

<div class="tag-body-control" style="width:100px !important; display: inline-block;">
    @if (Model.FirstTagTopic != null)
    {
        <table style="border:none;">
                <tr style="border: none;">
                    <td style="border:none;"> <p class="clip tooltipster" alt="@Model.FirstTagTopic" title="@Model.FirstTagTopic">@Model.FirstTagTopic</p></td>

                    <td style="padding-left: 10px;padding-bottom: 15px;border:none;">
                        @if (Model.MoreTags.Value)
                        {
                            <div class="btn btn-circle more-btn-tags">
                                <span class="glyphicon span"></span>
                            </div>
                        }
                    </td>
                </tr>
            </table>
    }
</div>
