﻿@model ConfirmButtonViewModel


<div class="no-rotation">
    @if (Model.IsShowConfirmRotationButton)
    {
        <span id="confirmRotationDlg" class="start-new-handover">Start New Handover</span>
    }
    else if (Model.IsShowShiftRotationButton)
    {
        <span id="shiftRotationDlg" class="start-new-handover">Start New Handover</span>
    }
</div>

<script src="~/Content/js/relay/rotation/shift-report-builder/shift-report-filter.module.js"></script>
<script src="~/Content/js/relay/rotation/shift-report-builder/shift-report-builder-finish-shift.module.js"></script>
<script src="~/Content/js/relay/dialogs/edit-swing-shift-dialog.module.js"></script>
<script>
    $(document).ready(function ()
    {
        $("#confirmRotationDlg").click(function ()
        {
            var formConfirmDialog = Relay.FormDialog
            ({
                url: "/Rotation/ConfirmRotationDialog?userId=" + '@Model.UserId',
                method: "GET",
                dialogId: "confirmRotationDialog"
            });

            formConfirmDialog.setSubmitEvent(function () {
                location.reload();
            });
            formConfirmDialog.open();
        });

//--------------------------------------------------------------------------

        $("#shiftRotationDlg").click(function ()
        {
            var formShiftDialog = Relay.FormDialog
            ({
                url: "/Shift/ConfirmShiftDialog?userId=" + '@Model.UserId',
                method: "GET",
                dialogId: "confirmShiftDialog"
            });

            formShiftDialog.setSubmitEvent(function () {
                location.reload();
            });
            formShiftDialog.open();
        });
    });
</script>

