﻿@model EditDatesButtonViewModel

<div class="edit-dates-btn">
    @if (Model.IsShowRotationEditDatesButton)
    {
        <span id="editRotationDates" user-id="@Model.UserId" class="edit-rotation-dates-dialog edit-rotation-dates"></span>
    }
    else
    {
        <span id="editShiftDates" user-id="@Model.UserId" class="edit-rotation-dates-dialog edit-rotation-dates"></span>
    }
</div>

<script>
    $(document).ready(function () {
        $('#editRotationDates').on('click', function () {
            var userId = $(this).attr('user-id');
            var editDialog = Relay.EditSwingShiftDialog({ userId: userId });
            editDialog.setCloseEvent(function () {
                location.reload();
            });
            editDialog.open();
        });
        $(".tooltipster").tooltipster({
            debug: false
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#editShiftDates').on('click', function () {
            var userId = $(this).attr('user-id');
            var editDialog = Relay.EditSwingShiftDialog({ userId: userId });
            editDialog.setCloseEvent(function () {
                location.reload();
            });
            editDialog.open();
        });
        $(".tooltipster").tooltipster({
            debug: false
        });
    });
</script>