﻿@model List<SelectListItem>

@if (Model != null && Model.Any())
{
    <div class="сontributor-user-icon" style="display:none;">

        <span class="contributor-user-icon-img"></span>
        @foreach (var user in Model)
        {
            <img src="@Url.Action("GetAvatarForEmployee", "Media", new { area = "", employeeId = user.Value, width = 26, height = 26 })" title="@user.Text" class="tooltipster initials" style="height: 26px !important; width: 26px !important;"/>
        }
    </div>
}
