﻿@model Tuple<string, Guid>

<div class="tags-input-container-field" style="display: none">
    <span class="tag-icon"></span>
    <div class="ms-ctn form-control ms-ctn-focus tags-input" @*style="border:none;  width: 620px; margin-left: 28px;"*@></div>
</div>

<script>
       var searchTags = $(".tags-input").magicSuggest({
          placeholder: 'Enter tags',
          maxSelection: 7,
          hideTrigger: true,
          toggleOnClick: true,
          maxSelectionRenderer: function (v) {
           return "";
           },
          value: [@Html.Raw(Model.Item1)]
    });

    $(searchTags).each(function () {
        $(searchTags).on('selectionchange', function (event, combo, selection) {

            var tagString = JSON.stringify(this.getValue(), ["id"]);
            var getElem = combo.container[0].offsetParent;
            var topicId = getElem.getAttribute("topic-id");

            $(searchTags).find('input[id^="ms-sel-ctn"]').focus();

            $.ajax({
                url: "/Summary/SetTagsByTopicId",
                method: "GET",
                data: { topicId: topicId, tagString: tagString}
            });
        });
    });
</script>
