﻿@model SchedulerFilterPanelViewModel

<div class="scheduler-filter row no-margin" user-Id="@Model.UserId">
    <div class="col col-lg-2 col-md-6 col-sm-6 col-xs-6">
        <div class="availability-filter">
            <div class="filter-name">
                Availability
            </div>
        </div>
    </div>
    <div class="col col-lg-2 col-md-6 col-sm-6 col-xs-6">
        <div class="rotation-filter">
            <div class="filter-name">
                Working Pattern
            </div>
        </div>
    </div>
    <div class="col col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="team-filter">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="all-btn">
                        <div class="filter-name active">
                            All
                        </div>
                    </div>
                    <div class="team-swiper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                @foreach (ShedulerFilterTeamViewModel filterTeam in Model.Teams)
                                {
                                    <div class="swiper-slide" team-Id="@filterTeam.TeamId">
                                        <div class="team-name">@filterTeam.TeamName</div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="swiper-next"></div>
                        <div class="swiper-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>