﻿@model SchedulerTimelinePanelViewModel

<div class="panel panel-primary" user-Id="@Model.UserId">
    <div class="panel-body">
        <div class="schedule-edit-timeline">
            <div class="edit-icon"></div>
        </div>
        <div class="scheduler-user-info">
            <div class="user-img">
                <img src="@Url.Action("GetAvatarForEmployee", "Media", new { employeeId = Model.UserId })" />
            </div>
            <div class="user-name">@Model.UserName</div>
            <div class="user-last-activity">last login<br/>@Model.LastUpdate</div>
        </div>
        <div class="scheduler-container">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    @Html.Partial("~/Views/Scheduler/_TimelineSlides.cshtml", Model.Timeline)
                </div>
            </div>
            <div class="swiper-prev"></div>
            <div class="swiper-next"></div>
        </div>
    </div>
</div>



