﻿@model SchedulerPanelViewModel

@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}
<div class="scheduler-page">
    @Html.Partial("~/Views/Scheduler/_SchedulerPanel.cshtml", Model)
    <script src="~/Content/js/relay/scheduler/scheduler-panels.module.js"></script>
</div>

