﻿@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}

<div class="project-admin-page">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      @Html.Action("ProjectsPanel")
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" Id="followersPanelContainer">
      @Html.Partial("~/Views/ProjectAdmin/ProjectFollowersPanel/_ProjectFollowersPanel.cshtml")
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" Id="tasksPanelContainer">
      @Html.Partial("~/Views/ProjectAdmin/FollowerTasksPanel/_ProjectTasksPanel.cshtml")
    </div>
  </div>
</div>

@Scripts.Render("~/bundles/scripts/shared/project-admin")
<script src="~/Content/js/relay/project-admin/projects-panel.module.js"></script>