﻿@model ProjectTasksPanelViewModel

<table class="table" total-task-count="@Model.TotalTasksCounter">
    <thead>
        <tr>
            <th class="action">
            </th>
            <th class="name">
                Task name
            </th>
            <th class="status">
                Status
            </th>
            <th class="priority">
                <div class="priority-name">Priority</div>
                <div class="priority-sort-icon high-to-low">
                </div>
            </th>
            <th class="deadline">
                <div class="due-date-name">Due Date</div>
                <div class="due-date-sort-icon low-to-high">
                </div>
            </th>
            <th class="intel">
                Intel
            </th>
        </tr>
    </thead>
    @if (Model.TotalTasksCounter > 0)
    {
        <tbody class="task-panel-container">
            @foreach (ProjectTaskTopicViewModel topic in Model.Tasks)
            {
                <tr class="tr">
                    @Html.Hidden("Id", topic.Id)
                    <td class="action-td">
                        <div class="none-btn"><div></div></div>
                        <div class="arrows-btn hand-back-active-btn tooltipster @(topic.IsFeedbackRequired ? "hand-back-active-btn" : "hand-back-inactive-btn")" topic-val="@topic.IsFeedbackRequired.ToString().ToLower()" @Html.TooltipAttritutes("Hand-back")></div>
                    </td>
                    <td class="name-td">
                        @topic.Name
                    </td>
                    <td class="complite-status">
                        @topic.CompleteStatus
                    </td>
                    <td class="priority-td">
                        <div topic-val="@topic.Priority" class="btn-priority"></div>
                    </td>
                    <td class="deadline-td">
                        @topic.Deadline
                    </td>
                    <td class="intel-td">
                        <div topic-val="@topic.TeammateId.ToString()" class="btn btn-circle user-photo-btn team-btn tooltipster" @Html.TooltipAttritutes("Assignee")>
                            <img src="@Url.Action("GetAvatarForEmployee", "Media", new { employeeId = topic.TeammateId, width = 25, height = 25 })" class="user-photo-img" />
                        </div>
                        <div class="btn btn-circle more-btn more-active-btn tooltipster" @Html.TooltipAttritutes("Extras")>
                            <span class="glyphicon span"></span>
                        </div>
                        <div class="btn btn-circle archive-inactive-btn archive-btn tooltipster" topic-val="@topic.IsInArchive.ToString()" @Html.TooltipAttritutes("Archive")>
                            <span class="glyphicon span"></span>
                        </div>
                        <div class="other-actions">
                            <button topic-val="@topic.HasAttachments.ToString().ToLower()" class="action-btn attachments-btn attachment-active-btn tooltipster" @Html.TooltipAttritutes("Attachments")></button>
                            @*<button topic-val="@topic.HasVoiceMessages.ToString().ToLower()" class="action-btn voice-msg-btn voice-messages-active-btn tooltipster" @Html.TooltipAttritutes("Voice Messages") disabled style="cursor: not-allowed!important"></button>*@
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <tbody class="empty-follower-tasks-label">
            <tr>
                <td colspan="6">
                    No tasks
                </td>
            </tr>
        </tbody>
    }
</table>