.confirm-dialog {
    .modal-dialog {
        width: 150px !important;


        @media (max-width: 801px) {
            margin: 200px auto;
        }


        .modal-content {
            background-color: #00AFF0;
            min-height: 150px;

            .modal-body {
                padding: 0px;

                .btn-ok, .btn-cancel {
                    color: white !important;
                    float: none !important;
                    margin: 0;
                    font-weight: normal;
                    font-size: 14px;
                }

                .separator {
                    color: white;
                }


                .message {
                    color: white;
                    margin-left: 15px;
                }
            }
        }
    }
}
