.error-dialog {

    .modal-dialog {
        width: 600px !important;

        .modal-content {
            min-height: 150px!important;

            .modal-body {

                a {
                    color: #00aff0 !important;

                    &:hover {
                        color: #00aff0 !important;
                    }
                }

                .oops {
                    color: white;
                    font-size: 20px;
                    font-weight: bold;
                    padding-bottom: 20px;
                    font-family: 'Proxima-Nova-Regular';
                }
            }
        }
    }
}
