.page-content {
    .modal-dialog {
        width: 600px;

        .safety-message-date-dialog {

            .safety-message-dialog-title {
                width: ~'calc(100% - 10px)';
                height: 40px;
                margin: 8px 0 0 5px;
                align-items: center;
                font-size: 10px;
                letter-spacing: 0.009em;
                box-sizing: border-box;
                border-bottom: 1px solid#858585;

                .title-name {
                    color: white;
                    vertical-align: text-top;
                    padding: 15px 0 0 0px;
                    width: 70%;
                    height: 40px;
                    float: left;
                    box-sizing: border-box;
                }

                .title-icon {
                    color: white;
                    vertical-align: text-top;
                    height: 40px;
                    padding: 15px 0 0 0px;
                    float: right;
                    box-sizing: border-box;
                }
            }

            .safety-message-dialog-body {
                width: ~'calc(100% - 10px)';
                min-height: 40px;
                margin: 0 0 0 5px;
                align-items: center;
                font-size: 14px;
                box-sizing: border-box;
                border-bottom: 1px solid#858585;
                display: flex;

                .group-name {
                    color: #ffffff;
                    vertical-align: text-top;
                    padding: 10px 0px;
                    width: ~' calc(100% - 40px)';
                    box-sizing: border-box;
                }

                .view {
                    width: 16px;
                    height: 16px;
                    color: #ffffff;
                    background-image: data-uri("@{main-url-img}/view-item-dark.svg");
                    background-size: contain;
                    vertical-align: text-top;
                    box-sizing: border-box;
                    cursor: pointer;
                }

                .edit {
                    width: 16px;
                    height: 16px;
                    color: #ffffff;
                    background-image: data-uri("@{main-url-img}/edit-pencil-dark.svg");
                    background-size: contain;
                    vertical-align: text-top;
                    box-sizing: border-box;
                    margin-left: 5px;
                    cursor: pointer;
                }
            }
        }
    }
}
