﻿.schedule-safety-msg-dialog {

    .modal-dialog {
        width: 600px;

        .mini-calendar {
            padding-top: 10px;

            body {
                background: white;
                text-align: center;
                width: 192px;
                height: 185px;
            }

            body h1 {
                padding-top: 20px;
                font-size: 26px;
                color: #335;
            }

            table {
                font-size: 10px;

                .pagination-cell {
                    cursor: default !important;
                    padding: 0px;
                    border: none;
                    height: 20px;

                    .calendar-controls {
                        text-align: center;
                        white-space: nowrap;
                        text-transform: uppercase;
                        font-size: 12px;
                        width: 100%;
                        height: 15px;
                        padding: 0px;
                        margin-left: auto;
                        margin-right: auto;
                        background: #fff;
                        color: #464646;

                        .month {
                            font-size: 10px;
                            font-weight: bold;
                            display: inline-block;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            padding: 0px;
                            width: 125px !important;
                            font-weight: bold;
                        }

                        .calendar-next {
                            cursor: pointer !important;
                            display: inline-block;
                            width: 5px;
                            height: 8px;
                            padding: 0;
                            margin: auto 0px;
                            border: none;
                            background: none;
                            background-repeat: no-repeat;
                            background-image: data-uri("@{main-url-img}/arrow_right1.svg");
                        }

                        .calendar-previous {
                            display: inline-block;
                            width: 5px;
                            height: 8px;
                            padding: 0;
                            margin: auto 0px;
                            border: none;
                            background: none;
                            background-repeat: no-repeat;
                            background-image: data-uri("@{main-url-img}/arrow_left1.svg");
                        }
                    }
                }

                td {
                    font-size: 12px;
                    text-align: center;
                    vertical-align: middle;
                    background: white;
                    border: 5px solid #444444;
                    color: #000;
                    font-weight: bold;
                    cursor: pointer;
                    width: 25px;
                    height: 25px;

                    &.date_has_event {
                        background-position: 162px 0px;
                        color: white;
                    }

                    &.today {
                        background-position: 81px 0px;
                        color: white;
                    }

                    &.orange {
                        background-color: orange;
                        color: white;
                    }

                    &.blue {
                        background-color: #00aff0;
                        color: white;
                    }

                    &.gray {
                        font-weight: normal;
                        background-color: #9a9a9a;
                    }
                }

                th {
                    width: 10px;
                    height: 10px;
                    text-align: center;
                    vertical-align: middle;
                    padding: 0px;
                    height: 17px;
                    color: #fff;
                    font-weight: normal;
                    font-size: 10px;
                    border: 0px solid #464646;
                    background: #464646;
                }
            }
        }

        .textarea {
            height: 72px !important;
        }

        .add-new-control {
            cursor: pointer;
            display: inline-block;
            background: #868686;
            color: white;
            padding: 3px 10px;
            border-radius: 10px;
            font-size: 10px;
            font-weight: bold;
        }

        .dropdown-menu {
            height: initial !important;
            max-height: 200px;
            padding-bottom: 10px;

            .ms-res-item {
                display: inline-block;
                font-size: 9px;
                font-weight: bold;
                background-color: @inactive-name-of-tabs;
                padding: 0 5px;
                line-height: 15px;
                border-radius: 4px;
                margin: 0 5px;
            }

            .ms-res-item-blue {
                background-color: @main-blue;
            }
        }

        .ms-sel-item {
            background-color: #00aff0 !important;
        }
    }
}
