﻿.safety-message-dialog {
    .modal-dialog {
        width: 600px;
        min-height: 300px;

        .modal-header {
            padding: 0;
            display: flex;


            .yellow-block {
                background-color: @warning-color;
            }

            .left-block {
                width: 50%;
                border-radius: 5px 0 0 5px;
                position: relative;
                padding-bottom: 36px;

                .arrow-forward-btn {
                    position: absolute;
                    top: 14px;
                    left: 20px;
                    transform: rotate(180deg);
                    width: 15px;
                    height: 12px;
                    background: none;
                    border: none;
                    background-image: data-uri("@{main-url-img}/arrow_forward.svg");
                    margin: 6px 0px 0px 0px;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .message-icon {
                    width: 160px;
                    height: 160px;
                    display: block;
                    margin: 0 auto;
                    margin-top: 39px;
                    margin-bottom: 45px;
                }

                .title {
                    text-align: center;
                }
            }

            .right-block {
                width: 50%;
                padding: 20px;
                position: relative;
                padding-bottom: 36px;

                .btn-close {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                }

                .title {
                    margin-bottom: 15px;
                    font-size: 13px;
                    letter-spacing: 0.04em;
                }

                .message {
                    font-size: 13px;
                    letter-spacing: 0.02em;
                    line-height: 27px;
                    word-break: break-word;
                }
            }
        }
    }
}
