﻿@model TopicSearchResultViewModel

@if (Model.ResultItems != null && Model.ResultItems.Any() || Model.ResultItems != null && Model.Params.SelectedTopicGroupsIds.Any())
{
    <div class="page-content">
        <div class="report-table">
            <table class="table">
                <thead>
                    <tr class="table-header">
                        <td class="date-title">Date & Time</td>
                        <td class="creator-title">Creator</td>
                        <td class="topic-name-title">Topic</td>
                        <td class="topic-type-title">Reference</td>
                        <td class="notes-title">Notes</td>
                    </tr>
                </thead>
                <tbody class="table-content">
                    <tr class="spacer-row"></tr>
                    @foreach (var topic in Model.ResultItems)
                    {
                        <tr class="report-row">
                            <td class="date-body">
                                <div class="date bold">@topic.CreatedDate</div>
                                <div class="time">@topic.CreatedTime</div>
                            </td>
                            <td class="creator-body" id="@topic.CreatorId">
                                <img src="@Url.Action("GetAvatarForEmployee", "Media", new {employeeId = @topic.CreatorId})" class="tooltipster" @Html.TooltipAttritutes(topic.CreatorName)/>
                            </td>
                            <td class="topic-name-body">
                                @topic.Name
                            </td>
                            <td class="topic-type-body">
                                @topic.Reference
                            </td>
                            <td class="notes-body">
                                @if (topic.Notes != null)
                                {
                                    @topic.Notes
                                }
                                else
                                {
                                    @: -
                                }
                            </td>
                        </tr>
                    }
                    @if (Model.Params.SelectedTopicGroupsIds.Any() && !Model.ResultItems.Any())
                    {
                        <tr class="report-row">
                            <td colspan="7" class="text-center">
                                <strong>No items to display.</strong>
                            </td>
                        </tr>
                    }

                    <tr class="spacer-row"></tr>
                </tbody>
            </table>
        </div>

        @if (Model.ResultItems.TotalItemCount > 10)
        {
            <div class="footer-block">
                <div class="view-block">
                    <div class="eyes-block">
                        <div class="eyes"></div>
                    </div>
                    <div class="count-block">
                        <a href="@Html.ActionLinkWithModel("Index", "TopicSearch", new { PageSize = 10, Model.Params.SelectedTopicGroupsIds, Model.Params.DateRangeType, Model.Params.SelectedUserIds, Model.Params.PrintType })">
                            <div class="counter @(Model.ResultItems.PageSize == 10 ? "active" : "")">10</div>
                        </a>
                        <a href="@Html.ActionLinkWithModel("Index", "TopicSearch", new { PageSize = 25, Model.Params.SelectedTopicGroupsIds, Model.Params.DateRangeType, Model.Params.SelectedUserIds, Model.Params.PrintType })">
                            <div class="counter @(Model.ResultItems.PageSize == 25 ? "active" : "")">25</div>
                        </a>
                        <a href="@Html.ActionLinkWithModel("Index", "TopicSearch", new {PageSize = 50, Model.Params.SelectedTopicGroupsIds, Model.Params.DateRangeType, Model.Params.SelectedUserIds, Model.Params.PrintType})">
                            <div class="counter @(Model.ResultItems.PageSize == 50 ? "active" : "")">50</div>
                        </a>
                        <a href="@Html.ActionLinkWithModel("Index", "TopicSearch", new { PageSize = (Model.ResultItems.TotalItemCount != 0 ? Model.ResultItems.TotalItemCount : 10), Model.Params.SelectedTopicGroupsIds, Model.Params.DateRangeType, Model.Params.SelectedUserIds, Model.Params.PrintType })">
                            <div class="counter @(Model.ResultItems.PageSize == Model.ResultItems.TotalItemCount && Model.ResultItems.TotalItemCount != 10 && Model.ResultItems.TotalItemCount != 25 && Model.ResultItems.TotalItemCount != 50 ? "active" : "")">All</div>
                        </a>
                    </div>
                </div>
                <div class="pagination-block">
                    <div class="pagination-pages">
                        @Html.Pager(Model.ResultItems.PageSize, Model.ResultItems.PageNumber, Model.ResultItems.TotalItemCount).Options(o => o
                            .DisplayTemplate("BootstrapPagination")
                            .MaxNrOfPages(1)
                            .DisplayFirstAndLastPage()
                            .Action("Index", "TopicSearch")
                            .PageRouteValueKey("PageNumber")
                            .AddRouteValue("selectedTopicGroupsIds", Model.Params.SelectedTopicGroupsIds.ToArray()))
                    </div>
                </div>
            </div>
        }

    </div>
}