﻿@model int

<div id="topicPeriod"></div>

<script>
    $(function ()
    {
        var component = $('#topicPeriod').magicSuggest
        ({
            valueField: 'NumberPeriod',
            displayField: 'Name',
            cls: 'topicPeriod',
            maxSelection: 1,
            maxSelectionRenderer: function(v) {
                return "";
            },
            typeDelay: 100,
            allowFreeEntries: false,
            hideTrigger: false,
            toggleOnClick: true,
            placeholder: 'Select Period',
            data: '@Url.Action("TopicPeriod", "TopicSearch")'
        });

        if (@Model != 0)
        {
            var nameValue = "";
            if (@Model  == 1)
            {
                nameValue = "Last 24hr";
            }
            else if (@Model  == 2)
            {
                nameValue = "Last 48hr";
            }
             else if (@Model  == 3)
            {
                nameValue = "Last Week";
            }
             else if (@Model  == 4)
            {
                nameValue = "Last Month";
            }
             else if (@Model  == 5)
            {
                nameValue = "Last 6 Months";
            }
          component.setValue([nameValue]);
        }

        $(component).on('selectionchange', function ()
        {
            var selected = this.getValue();
            var urlParams = window.Relay.TopicSearch.getAllUrlParams();
            urlParams.selectedperiod = selected;

            window.Relay.TopicSearch.updateURL($.param(urlParams));

            var modelArray = [selected];

            if (!_.isEqual(modelArray.sort(), selected.sort()))
            {
                delete urlParams.pagesize;

                delete urlParams.pagenumber;

                window.Relay.TopicSearch.updateURL($.param(urlParams));

                location.reload();
            }

        });

    });
</script>