﻿.major-hazard-v2-dialog {

    .modal-dialog {
        width: 600px;

        .modal-content {
            padding-top: 20px;

            .modal-body {
                padding-bottom: 0px !important;


                .major-hazard-owner {
                    margin-bottom: 20px;
                }

                .table-thead {
                    border-bottom: 2px solid #A3A3A3;
                    padding-bottom: 7px;
                    color: #464646;
                    margin: 0px;

                    .title {
                        display: inline-block;
                        padding-left: 0px;
                        padding-right: 0px;
                        font-size: 10px;

                        &:last-child {
                            margin-left: -12px;
                        }
                    }
                }

                .overflow {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-wrap: normal;
                }

                .critical-controls-table {
                    display: table;
                    width: 100%;
                    border-bottom: 2px solid #A3A3A3;
                    position: relative;

                    .swiper-container {
                        height: 240px;

                        .no-critical-controls {
                            color: #fff;
                        }

                        .critical-control-item {
                            cursor: pointer;
                            border-bottom: 2px solid #787878;
                            color: #ffffff;
                            width: ~'calc(100% - 20px)';
                            margin: 0px;

                            .critical-control-name {
                                margin-top: 10px;
                                padding-left: 0px;
                                padding-right: 0px;
                            }

                            .critical-control-owner {
                                display: inline-block;
                                float: none;
                                margin-top: 7px;
                                padding-left: 0px;
                                padding-right: 0px;

                                .critical-control-owner-name {
                                    background-color: #00aff0;
                                    display: inline-block;
                                    border-radius: 3px;
                                    margin: 4px;
                                    overflow: hidden;
                                    font-size: 12px;
                                    font-weight: bold;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    padding-left: 3px;
                                    padding-right: 3px;
                                    word-wrap: normal;
                                    max-width: 100px;
                                    min-width: initial;
                                    margin-left: 10px;
                                }
                            }

                            .critical-control-champion {
                                display: inline-block;
                                float: none;
                                margin-top: 4px;
                                padding-left: 0px;
                                padding-right: 0px;
                                margin-left: -5px;

                                .team-fill {
                                    background-color: #00aff0;
                                    display: inline-block;
                                    border-radius: 3px;
                                    margin: 4px;
                                    overflow: hidden;
                                    font-size: 12px;
                                    font-weight: bold;
                                    padding-left: 3px;
                                    padding-right: 3px;
                                    word-wrap: normal;
                                    max-width: 90px;
                                    min-width: initial;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    float: left;
                                }
                            }
                        }
                    }

                    .swiper-prev {
                        cursor: pointer;
                        top: 17px;
                        right: 1px;
                        position: absolute;
                        border: none;
                        width: 7px;
                        height: 4px;
                        background-image: data-uri("@{main-url-img}/arrow_down.svg");
                        z-index: 2;
                        transform: rotate(180deg);
                    }

                    .swiper-next {
                        cursor: pointer;
                        bottom: 17px;
                        right: 1px;
                        position: absolute;
                        border: none;
                        width: 7px;
                        height: 4px;
                        background-image: data-uri("@{main-url-img}/arrow_down.svg");
                        z-index: 2;
                    }
                }

                .btn-plus-white {
                    color: black;
                    background-color: white;
                    width: 43px;
                    height: 26px;
                    border-radius: 13px;
                    border: solid 1.5px #0096C8;
                    text-align: center;
                    font-size: 12px;
                    font-weight: bold;
                    padding-top: 4px;
                    cursor: pointer;

                    &:hover {
                        background-color: #0096C8;
                        color: white;
                    }
                }

                .new-critical-control-item {
                    .title-block-with-line {
                        margin-top: 29px;
                        margin-left: -20px;
                        margin-right: -20px;
                        border-bottom: 2px solid #00aff0;

                        .file-input-title {
                            padding: 3px 25px;
                        }
                    }

                    .row {
                        margin-top: 26px;

                        &:last-child {
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}
