﻿.safety-reschedule-message-v2-dialog {

    .modal-dialog {
        width: 600px;

        .major-hazard {
            margin-bottom: 30px !important;
        }

        .critical-control {
            margin-bottom: 30px !important;
        }

        .sefety-message-text {
            margin-top: 30px !important;
        }

        .critical-control-owner {
            margin-bottom: 30px !important;
            display: inline-block;
            border-bottom: 1px solid #787878;
            cursor: default;

            .critical-control-owner-name {
                background-color: #00aff0;
                font-size: 12px;
                font-weight: bold;
                margin-bottom: 0px;
                display: inline-block;
                border-radius: 3px;
                margin: 4px;
                margin-left: 0px;
                margin-bottom: 0px;
                overflow: auto;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding-left: 5px;
                padding-right: 5px;
                color: #fff;
            }

            .empty-critical-control-owner-name {
                color: #fff;
            }
        }

        .critical-control-champion-list {
            display: inline-block;
            cursor: default;
            border-bottom: 1px solid #787878;

            .empty-critical-control-champions {
                color: #fff;
            }

            .critical-control-champion {
                background-color: #00aff0;
                display: inline-block;
                border-radius: 3px;
                margin: 4px;
                margin-left: 0px;
                font-size: 12px;
                font-weight: bold;
                margin-bottom: 0px;
                overflow: auto;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding-left: 5px;
                padding-right: 5px;
                color: #fff;
            }
        }

        .mini-calendar {
            float: right;
            padding-top: 5px;
            table {
                font-size: 10px;
                padding: 0px;
                float: right;

                thead {
                    border: none;

                    .pagination-cell {
                        cursor: default !important;
                        padding: 0px;
                        border: none;
                        height: 20px;

                        .calendar-controls {
                            text-align: center;
                            white-space: nowrap;
                            width: 100%;
                            height: 20px;
                            background: #fff;
                            color: #444;
                            padding: 0px;
                            margin-left: auto;
                            margin-right: auto;
                            font-size: 13px;

                            .month-name {
                                font-size: 10px;
                                font-weight: bold;
                                display: inline-block;
                                letter-spacing: 1px;
                                text-transform: uppercase;
                                padding: 0px;
                                width: 120px !important;
                            }

                            .calendar-next {
                                display: inline-block;
                                width: 5px;
                                height: 8px;
                                padding: 0;
                                margin: auto 0px;
                                border: none;
                                background: none;
                                background-repeat: no-repeat;
                                background-image: data-uri("@{main-url-img}/arrow_right1.svg");
                            }

                            .calendar-previous {
                                display: inline-block;
                                width: 5px;
                                height: 8px;
                                padding: 0;
                                margin: auto 0px;
                                border: none;
                                background: none;
                                background-repeat: no-repeat;
                                background-image: data-uri("@{main-url-img}/arrow_left1.svg");
                            }

                            .inactive {
                                pointer-events: none;
                                cursor: default;
                                opacity: 0.5;
                            }
                        }
                    }

                    th {
                        text-align: center;
                        vertical-align: middle;
                        color: #fff;
                        font-weight: normal;
                        font-size: 10px;
                        border: 0px solid #464646;
                        background: #464646;
                        padding-top: 6px;
                    }
                }

                tbody {
                    border: none;

                    tr {
                        padding: 0px;

                        &:last-child {
                            td {
                                border-bottom: none;
                            }
                        }
                        td {
                            font-size: 12px;
                            text-align: center;
                            vertical-align: middle;
                            background: white;
                            color: #000;
                            font-weight: bold;
                            cursor: pointer;
                            width: 25px;
                            height: 25px;
                            border-right: 5px solid #444;
                            border-left: none;
                            border-top: none;
                            border-bottom: 5px solid #444;

                            &:last-child {
                                border-right: none;
                                width: 25px;
                            }

                            &.today {
                                background-position: 81px 0px;
                                color: #fff;
                            }

                            &.orange {
                                background-color: orange;
                                color: #fff;
                            }

                            &.blue {
                                background-color: #00aff0;
                                color: #fff;
                            }

                            &.gray {
                                background-color: #B4B4B4;
                                color: #fff;
                                font-weight: normal;
                                cursor: not-allowed;

                                &.orange {
                                    background-color: orange;
                                    color: #fff;
                                    opacity: 0.5;
                                }
                            }
                        }
                    }
                }
            }
        }

        .dropdown-menu {
            height: initial !important;
            max-height: 200px;
            padding-bottom: 10px;

            .ms-res-item {
                display: inline-block;
                font-size: 9px;
                font-weight: bold;
                background-color: @inactive-name-of-tabs;
                padding: 0 5px;
                line-height: 15px;
                border-radius: 4px;
                margin: 0 5px;
            }

            .ms-res-item-blue {
                background-color: @main-blue;
            }
        }

        .ms-sel-item {
            background-color: #00aff0 !important;
        }
    }
}
