.help-btn {
    width: 21px;
    height: 21px;

    .span {
        &:before {
            background-image: data-uri("@{main-url-img}/question.svg");
        }
    }
}

.search-btn {
    .span {
        &:before {
            background-image: data-uri("@{main-url-img}/search.svg");
        }
    }
}

.btn-info {
    border: none;
    background-color: @info-color;

    &:hover {
        background-color: @info-color;
    }
}


