.column-row {
    margin-top: 35px;
    margin-left: -15px;
    margin-right: -15px;

    .panel-default {
        .panel-heading {
            background-color: @main-blue;
            text-align: left;

            a:nth-child(1) {
                color: @simple-white;

                &:hover {
                    text-decoration: none;
                }
            }

            .icon-right {
                margin-top: -3px;
                float: right;
            }
        }

        .panel-body {
            .list-group {
                .active {
                    background-color: @main-brown;
                    border: 1px solid @main-brown;
                }
            }

            .text-center {
                .pagination {
                    margin: 0;

                    .page-next {
                        width: 20px;
                        height: 20px;
                        margin: 10px;
                        padding: 0;
                        border: none;
                        background-image: data-uri("@{main-url-img}/arrow_right.svg");
                        cursor: pointer;

                        &:hover {
                            opacity: 0.75;
                        }
                    }

                    .page-prev {
                        width: 20px;
                        height: 20px;
                        margin: 10px;
                        padding: 0;
                        border: none;
                        background-image: data-uri("@{main-url-img}/arrow_left.svg");
                        cursor: pointer;

                        &:hover {
                            opacity: 0.75;
                        }
                    }
                }
            }
        }
    }
}
