.dropdown-menu {
    background-color: @main-brown;
    box-shadow: 0 0 5px @main-blue-rgba;

    .ms-res-item {
        color: @simple-white;
    }

    .ms-res-item-active {
        background-color: @active-item;
        color: @simple-white;
    }

    li {
        a {
            color: @simple-white;

            &:hover {
                background-color: @active-item;
                color: @simple-white;
            }

            .text {
                margin-top: 0 !important;
            }
        }
    }
}

.title-select {
    display: block;
    font-size: 10px;
    margin-bottom: 0;
    font-weight: bold;
    color: @inactive-name-of-tabs;
}

.select-class {
    box-shadow: none !important;
    background: none;

    & > span {
        color: @simple-white;
    }

    .bs-caret {
        .caret {
            border: none;
            background-repeat: no-repeat;
            width: 12px;
            height: 12px;
            background-image: data-uri("@{main-url-img}/arrow_down.svg");
        }
    }
}

.open {
    .bs-caret {
        .caret {
            border: none;
            background-repeat: no-repeat;
            width: 12px;
            height: 12px;
            background-image: data-uri("@{main-url-img}/arrow_top.svg");
        }
    }
}

.select-type {
    .filter-option {
        height: 22px !important;
    }
    /*margin: 5px 0 5px 0;*/
    .bootstrap-select.btn-group {
        width: 100%;
        min-width: 100%;
        border-bottom: 1px solid @inactive-name-of-tabs;

        .dropdown-toggle:focus {
            outline: none !important;
            box-shadow: none;
        }
    }

    .bootstrap-select.btn-group.open {
        .dropdown-toggle {
            box-shadow: none;
        }
    }
}

.select-parameter {
    box-shadow: none !important;
    background: none;
    margin: 0;
    overflow: visible !important;
    position: absolute;

    .dropdown-toggle {
        background: none;
    }

    & > div, & > div:hover {
        color: @low-color;
    }

    .filter-option {
        color: @low-color;
        font-weight: bold;
        white-space: nowrap;
        padding-right: 20px;
        text-overflow: ellipsis;
    }

    .bs-caret {
        .caret {
            border: none;
            width: 12px;
            height: 12px;
            background-repeat: no-repeat;
            background-image: data-uri("@{main-url-img}/arrow_down_blue.svg");
        }
    }

    .open {
        .bs-caret {
            .caret {
                border: none;
                width: 12px;
                height: 12px;
                background-repeat: no-repeat;
                background-image: data-uri("@{main-url-img}/arrow_top_blue.svg");
            }
        }
    }

    .bootstrap-select.btn-group {
        width: 102px !important;
        min-width: 100px;

        .dropdown-toggle {
            padding: 5px 0;
        }

        .dropdown-toggle:focus {
            margin-left: 0;
            padding: 5px 0;
            outline: none !important;
            box-shadow: none;
        }
    }

    .bootstrap-select.btn-group.open {
        .dropdown-toggle {
            box-shadow: none;
        }
    }

    .dropdown-menu {
        background-color: @simple-white;
        box-shadow: none;
        border: 2px solid @main-blue;

        .ms-res-item {
            color: @simple-white;
        }

        .ms-res-item-active {
            background-color: @active-item;
            color: @main-brown;
        }

        li {
            a {
                color: @main-brown;

                &:hover {
                    background-color: @hover-select;
                    color: @main-brown;
                }

                .text {
                    margin-top: 0 !important;
                }
            }
        }
    }
}

.simple-input {
    width: 100%;
    /*padding: 5px 14px 5px 14px;*/
    border: none;
    border-bottom: 1px solid @inactive-name-of-tabs;
    background: none;
    height: 23px;
    color: @simple-white;
    border-radius: 0;
}

.simple-note-input {
    width: 100%;
    padding: 5px 14px 5px 0;
    border: none;
    background: none;
    color: @inactive-name-of-tabs;
    border-radius: 0;

    &:focus {
        outline: 0;
    }
}

.simple-input-container {
    .photo-img {
        width: 25px;
        height: 25px;
        float: right;
        margin-top: -32px;
        background-color: @simple-white;
        border: none;
        border-radius: 50%;

        img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 50%;
        }
    }
}

.simple-textarea {
    width: 100%;
    padding: 1px 14px 5px 14px;
    margin-bottom: 20px;
    resize: vertical;
    line-height: 21px;
    border-bottom: 2px solid;
    -webkit-appearance: none;
    border-radius: 0;
    min-height: 100%;
    background: url("@{main-url-img}/line.png");
    color: @simple-white;
    border: none !important;
    overflow-y: hidden !important;
}

.simple-label {
    display: block;
    border-bottom: 1px solid @inactive-name-of-tabs;
    color: @simple-white;
    font-size: 12px;
    padding: 3px 0 2px 10px;

    .photo-img {
        width: 25px;
        height: 25px;
        float: right;
        margin-top: -10px;
        background-color: @simple-white;
        border: none;
        border-radius: 50%;

        img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 50%;
        }
    }
}

.large-margin {
    margin-top: 30px;
}

.field-container.focus, .select-type.focus, .tags-input-container.focus {
    .title-select, .tags-input-title {
        color: @main-blue;
    }

    .simple-input, .selectSection, .ms-ctn, .btn-group {
        border-bottom: 1px solid @main-blue;
    }

    .simple-textarea {
        background: url("@{main-url-img}/line-blue.png");
    }
}
