.footer {
 // background-color: @main-background;
  margin-top: 30px;
  border-top: 1px solid @simple-white;
  // padding: 0 15px;
  position: absolute;
  // bottom: -100px;
  left: 0;
  right: 0;
  .row {
    margin-right: auto;
    margin-left: auto;
    .col-sm-4 {
      text-align: center;
      &:first-child {
        text-align: left;
        padding-left: 0;
        @media @media767 {
          text-align: center;
          padding-left: 15px;
        }
      }
      &:last-child {
        text-align: right;
        padding-right: 0;
        margin-top: 4px;
        @media @media767 {
          text-align: center;
          padding-right: 15px;
        }
      }
      &:nth-child(2) {
        margin-top: 2px;
      }
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
    .circle {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-top: 5px;
    }
    .circle-blue {
      // background-color: @main-blue;
      // margin: 0 5px 0 75px;
      background-image: data-uri("@{main-url-img}/twitter.svg");
      cursor: pointer;
      &:hover {
        opacity: 0.75;
      }
    }
    .circle-brown {
      background-image: data-uri("@{main-url-img}/linkedin.svg");
      background-size: 17px;
      background-position: top center;
      cursor: pointer;
      &:hover {
        opacity: 0.75;
      }
    }
    .label {
      color: @inactive-name-of-tabs;
      padding: 6px 0;
      font-size: 13px;
    }
    .link {
      // margin-right: 75px;
    }
  }
}