.main-nav-bar {
    position: relative;
    z-index: 1000;

    .nav-bar-blue {
        background-color: @main-blue;

        .nav-bar-container {
            max-width: 1140px;
            margin: 0 auto;

            .logo-container {
                // margin-left: 65px;
                padding: 20px 0;
                height: 100px;
                float: left;
                position: relative;

                @media @media1270 {
                    margin-left: 65px;
                }

                @media @media480 {
                    padding: 10px 0;
                }

                @media @media400 {
                    display: none;
                }

                .logo {
                    background-image: url("@{main-url-img}/logo.svg");
                    background-repeat: no-repeat;
                    top: -4px;
                    left: -24px;
                    width: 210px;
                    height: 110px;
                    display: block;
                    position: absolute;

                    @media @media480 {
                        width: 100px;
                        height: 40px;
                    }
                }
            }

            .user-container {
                float: right;
                padding: 32px 0 0 0;
                position: relative;
                width: 40%;

                @media @media480 {
                    padding: 7px 10px 0 0;
                }

                .user-data {
                    padding-right: 3px;
                    position: absolute;
                    right: 45px;
                    top: 25px;

                    span {
                        color: @simple-white;
                        text-align: right;
                        display: block;
                        line-height: 28px;
                        font-family: 'Proxima-Nova-Regular';
                        font-size: 12pt;

                        &:first-child {
                            font-weight: bold;
                            font-size: 14pt;
                        }
                    }
                }

                .user-photo-container {
                    margin-left: auto;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: 2px solid @simple-white;
                    overflow: hidden;
                    /*background-image: data-uri("@{main-url-img}/safety.svg");*/
                    background-position: 1px 0;

                    .user-photo {
                        width: 37px;
                        height: 37px;
                        background-position: 1px 0px;
                    }
                }

            }
        }
    }

    .nav-bar-brown {
        position: relative;
    }
}

#tabs {
    z-index: 1000;
}

.navbar-brown {
    background-color: @main-brown;
    border: none;
    border-radius: 0;
    padding: 10px 0;
    min-height: 40px;
    margin: 0;

    .nav-pills {
        float: none;
        text-align: center;
        line-height: 0;

        li {
            float: none;
            display: inline-block;
            background: none;

            a {
                color: @inactive-name-of-tabs;
                font-weight: bold;

                &:hover {
                    opacity: 0.75;
                    background: none;
                }

                &:focus, &:active {
                    background: none;
                }
            }
        }

        .active {
            a {
                color: @simple-white;
                font-weight: bold;
                background: none;

                &:hover {
                    color: @simple-white;
                    background: none;
                    cursor: default;
                    opacity: 1;
                }

                &:focus, &:active {
                    color: @simple-white;
                    background: none;
                }
            }
        }

        .white {
            a {
                color: @simple-white;
                font-weight: bold;
                background: none;

                &:hover {
                    color: @simple-white;
                    background: none;
                    cursor: default;
                    opacity: 1;
                }

                &:focus, &:active {
                    color: @simple-white;
                    background: none;
                }
            }
        }
    }
}

.panel {
    .navbar-brown {
        .nav-pills {
            li {
                a {
                    font-weight: initial;
                }
            }

            .active {
                a {
                    font-weight: bold;
                }
            }

            .white {
                a {
                    font-weight: bold;
                }
            }
        }
    }
}

.container {
    .navbar-brown {
        .nav-pills {
            @media @media767 {
                margin: 10px;
            }
        }

        .row {
            div:last-child {
                text-align: right;
                letter-spacing: -0.25em;

                button {
                    width: 100px;
                    padding: 3px 0;
                    display: inline;
                    float: initial !important;
                    letter-spacing: 0.01em;
                    &:first-child {
                        margin: 0;
                    }
                }
            }
        }
    }
}


.btn-link {
    color: @simple-white;
    padding: 0;

    .glyphicon-list {
        margin: 20px 5px;

        &:before {
            content: "";
            background-image: data-uri("@{main-url-img}/menu_hamburger.svg");
            width: 20px;
            height: 15px;
            display: block;
            margin-top: 5px;
        }
    }
}

.main-menu-btn {
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 20px;

    @media @media480 {
        top: -5px;
    }
}


   .margin-top-40{
        margin-top: 40px;
    }


.panel-primary {
    margin-top: 50px;
    border: none;
    border-radius: 6px;

    .panel-heading {
        padding: 8px 10px;
        background-color: @main-blue;
        border: none;
        position: relative;
        min-height: 44px;

        .panel-title {
            position: absolute;
            top: 10px;
            left: 35px;
            font-family: 'Proxima-Nova-Regular';
            font-weight: bold;
        }
    }

    .panel-body {
        padding: 10px 0;
        padding-bottom: 0;
        position: relative;
    }

    .main-panel {
        padding: 0;

        .navbar-brown {
        }
    }

    .grey-panel {
        padding: 0;
    }

    .table-block {
        padding: 0;

        @media @media991 {
            overflow-x: scroll;
        }
    }
}

.daily-notes {
    .panel-body {
        padding: 10px 35px;
    }
}

.timeline {
    .panel-body {
        padding: 10px 35px;
    }
}


