.main-nav-bar {
    position: relative;
    z-index: 2100;

    .nav-bar-blue {
        background-color: @main-blue;

        .nav-bar-container {
            max-width: 1140px;
            margin: 0 auto;

            .logo-container {
                // margin-left: 65px;
                padding: 20px 0;
                height: 60px;
                float: left;
                position: relative;

                @media @media1270 {
                    margin-left: 65px;
                }

                @media @media480 {
                    padding: 10px 0;
                }

                @media @media400 {
                    display: none;
                }

                .logo {
                    background-image: url("@{main-url-img}/logo.svg");
                    background-repeat: no-repeat;
                    top: 1px;
                    left: -13px;
                    width: 116px;
                    height: 60px;
                    display: block;
                    position: absolute;

                    @media @media480 {
                        width: 100px;
                        height: 40px;
                    }
                }
            }

            .user-container {
                float: right;
                padding: 15px 0 0 0;
                position: relative;
                display: inline-block;

                @media @media480 {
                    padding: 7px 10px 0 0;
                }

                .notification-container {
                    display: inline-block;
                    margin-right: 10px;
                    position: relative;

                    .notification-inactive {
                        width: 30px;
                        height: 30px;
                        background-repeat: no-repeat;
                        background-image: data-uri("@{notification-img-url}/Notifications_Icon_Inactive.svg");
                        cursor: pointer;
                    }

                    .notification-active {
                        width: 30px;
                        height: 30px;
                        background-repeat: no-repeat;
                        background-image: data-uri("@{notification-img-url}/Notifications_Icon_Active.svg");
                        cursor: pointer;

                        &.show {
                            .counter-block {
                                .count {
                                    display: none;
                                }
                            }
                        }

                        .counter-block {
                            position: absolute;
                            left: 21px !important;
                            top: -2px !important;

                            .count {
                                text-align: center;
                                display: block;
                                padding: 0px;
                                border-radius: 2px;
                                color: #fff;
                                font-size: 11px;
                                font-weight: bold;
                                background-color: #464646;
                                width: 19px;
                                height: 16px;
                            }
                        }
                    }
                }

                .user-data {
                    padding-right: 3px;
                    position: absolute;
                    right: 45px;
                    top: 8px;

                    span {
                        color: @simple-white;
                        text-align: right;
                        display: block;
                        line-height: 28px;
                        font-family: 'Proxima-Nova-Regular';
                        font-size: 12pt;

                        &:first-child {
                            font-weight: bold;
                            font-size: 14pt;
                        }
                    }
                }

                .user-photo-container {
                    display: inline-block;
                    margin-left: auto;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    overflow: hidden;
                    //background-image: data-uri("@{main-url-img}/safety.svg");
                    background-position: 1px 0;

                    @media @media1270 {
                        margin-right: 25px;
                    }

                    .user-photo {
                        width: 30px;
                        height: 30px;
                        background-position: 1px 0px;
                        cursor: pointer;
                    }
                }


                .ms-ctn {
                    &.form-control {
                        height: auto;
                        min-height: 30px;
                        max-height: 30px;
                        height: 30px;
                        padding: 4px 12px;
                        width: 245px;
                        border-radius: 25px;
                    }

                    &.search-box {
                        padding-right: 5px;
                        background: #f3f3f3;
                        border: none;
                    }

                    span&.ms-helepr {
                        display: none !important;
                    }

                    .ms-trigger {
                        left: 0;
                        border: none;
                        margin: 0;
                        background: none;
                        width: 40px;
                        padding-top: 2px;

                        &:hover {
                            background-position: 0;
                            border: none;
                            margin: 0;
                            background: none;

                            .ms-trigger-ico {
                                background-position: 0;
                                margin-top: 5px;
                            }
                        }

                        .ms-trigger-ico {
                            background-image: data-uri("@{main-url-img}/search-box.svg");
                            width: 20px;
                            height: 15px;
                            border: none;
                            margin: 0;
                            background-repeat: no-repeat;
                            margin-left: 10px;
                            margin-top: 5px;

                            &:hover {
                                border: none;
                                margin: 0;
                                background-repeat: no-repeat;
                                margin-left: 10px;
                                margin-top: 5px;
                            }
                        }
                    }

                    .ms-sel-ctn {
                        background: #f3f3f3;
                        margin-left: 17px;
                        margin-top: 2px;
                        height: 20px;
                        overflow: hidden;

                        input {
                            width: 200px !important;
                            height: 20px;
                            overflow: hidden;
                            background: #f3f3f3;
                        }

                        .ms-sel-item {
                            color: black;
                            overflow: hidden;
                            font-size: 12px;
                            margin: 1px 5px 1px 0;
                            border: none;
                            background-color: none;
                            border: 1px solid #DDD;

                            .ms-close-btn {
                                margin: 5px 0px 0 10px;
                            }
                        }
                    }
                }

                .dropdown-menu {
                    color: #464646;
                    background-color: #fff;
                    height: 160px;

                    .ms-res-item {
                        color: #464646;
                        border-bottom: #F0F0F0 solid 1.5px;
                    }


                    .ms-res-item-active {
                        color: #fff;
                    }
                }

                .search {
                    margin-bottom: 4px;
                    margin-right: 10px;
                    display: inline-block;

                    input {
                        height: 20px;
                        background: #f3f3f3;
                    }

                    i.icon-search {
                        background-image: data-uri("@{main-url-img}/search-box.svg");
                        width: 15px;
                        height: 15px;
                        line-height: 20px;
                        text-align: center;
                        margin-right: -26px;
                        position: relative;
                        z-index: 1;
                        float: left;
                        background-repeat: no-repeat;
                        top: 8px;
                        margin-left: 10px;
                    }

                    i.icon-search + input {
                        padding-left: 28px;
                        border-radius: 20px;
                        height: 30px;
                        width: 245px;
                        /*border-color: #ccc;*/
                        background: #f3f3f3;

                        @media @media1270 {
                            width: 220px;
                        }

                        @media @media480 {
                            width: 165px;
                        }

                        @media @media400 {
                            width: 165px;
                        }
                    }
                }
            }
        }
    }

    .nav-bar-brown {
        position: relative;
    }
}

#tabs {
    z-index: 2100;
}

.navbar-brown {
    background-color: #fff;
    color: #464646;
    border-bottom: solid 2px #F0F0F0;
    border: none;
    border-radius: 0;
    padding: 10px 0;
    min-height: 40px;
    margin: 0;

    .nav-pills {
        float: none;
        text-align: center;
        line-height: 0;

        li {
            float: none;
            display: inline-block;
            background: none;

            a {
                color: @inactive-name-of-tabs;
                font-weight: bold;

                &:hover {
                    opacity: 0.75;
                    background: none;
                }

                &:focus, &:active {
                    background: none;
                }
                /*&:active {
                    padding-left: 0px;
                    padding-right: 0px;
                    border-bottom: 2px solid white;
                    border-radius: 0px;
                }*/
            }
        }

        .active {
            a {
                color: @simple-white;
                font-weight: bold;
                background: none;
                /*padding-left: 0px;
                padding-right: 0px;
                margin-left: 10px;
                margin-right: 10px;
                border-bottom: 2px solid white;
                border-radius: 0px;*/
                &:hover {
                    color: @simple-white;
                    background: none;
                    cursor: default;
                    opacity: 1;
                }

                &:focus, &:active {
                    color: @simple-white;
                    background: none;
                }
            }
        }

        .white {
            a {
                color: @simple-white;
                font-weight: bold;
                background: none;

                &:hover {
                    color: @simple-white;
                    background: none;
                    cursor: default;
                    opacity: 1;
                }

                &:focus, &:active {
                    color: @simple-white;
                    background: none;
                }
            }
        }
    }
}

.panel {
    .navbar-brown {
        .nav-pills {
            li {
                a {
                    font-weight: initial;
                }
            }

            .active {
                a {
                    font-weight: bold;
                }
            }

            .white {
                a {
                    font-weight: bold;
                }
            }
        }
    }
}

.container {
    .navbar-brown {
        .nav-pills {
            @media @media767 {
                margin: 10px;
            }
        }

        .row {
            div:last-child {
                text-align: right;
                letter-spacing: -0.25em;

                button {
                    width: 100px;
                    padding: 3px 0;
                    display: inline;
                    float: initial !important;
                    letter-spacing: 0.01em;

                    &:first-child {
                        margin: 0;
                    }
                }
            }
        }
    }
}

.btn-link {
    color: @simple-white;
    padding: 0;

    .glyphicon-list {
        margin: 20px 5px;

        &:before {
            content: "";
            background-image: data-uri("@{main-url-img}/menu_hamburger.svg");
            width: 20px;
            height: 15px;
            display: block;
            margin-top: 5px;
        }
    }
}

.main-menu-btn {
    cursor: pointer;
    position: absolute;
    top: -2px;
    left: 20px;

    @media @media480 {
        top: -5px;
    }
}

.margin-top-40 {
    margin-top: 40px;
}

.panel-primary {
    margin-top: 50px;
    border: none;
    border-radius: 6px;

    .panel-heading {
        padding: 8px 10px;
        position: relative;
        min-height: 44px;
        background-color: #fff;
        color: #464646;
        border-bottom: solid 2px #F0F0F0;

        .panel-title {
           // position: absolute;
            top: 10px;
            left: 35px;
            font-family: 'Proxima-Nova-Regular';
            font-weight: bold;
        }
    }

    .panel-body {
        padding: 10px 0;
        padding-bottom: 0;
        position: relative;
    }

    .main-panel {
        padding: 0;

        .navbar-brown {
        }
    }

    .grey-panel {
        padding: 0;
    }

    .table-block {
        padding: 0;

        @media @media991 {
            overflow-x: scroll;
        }
    }
}

.daily-notes {
    .panel-body {
        padding: 10px 35px;
    }
}

.timeline {
    .panel-body {
        padding: 10px 35px;
    }
}

.multi-tenancy-white {
    #viewModePanel {
        border: none;
    }

    .main-nav-bar {
        position: relative;
        z-index: 2100;

        .nav-bar-blue {
            background-color: #fff;
            border-bottom: solid 2px #f0f0f0;

            .nav-bar-container {
                max-width: 1140px;
                margin: 0 auto;

                .logo-container {
                    padding: 20px 0;
                    height: 48px;
                    float: left;
                    position: relative;

                    @media @media1270 {
                        margin-left: 65px;
                    }

                    @media @media480 {
                        padding: 10px 0;
                    }

                    @media @media400 {
                        display: none;
                    }

                    .logo {
                        background-image: url("@{main-url-img}/relay_logo.svg");
                        background-repeat: no-repeat;
                        top: 10px;
                        left: 0px;
                        width: 149px;
                        height: 28px;
                        display: block;
                        position: absolute;

                        @media @media480 {
                            width: 100px;
                            height: 28px;
                            top: 14px;
                        }
                    }
                }

                .user-container {
                    float: right;
                    padding: 10px 0 0 0;
                    position: relative;
                    display: inline-block;

                    @media @media480 {
                        padding: 7px 10px 0 0;
                    }

                    .notification-container {
                        display: inline-block;
                        margin-right: 10px;
                        position: relative;


                        .notification-inactive {
                            width: 30px;
                            height: 30px;
                            background-repeat: no-repeat;
                            background-image: data-uri("@{notification-img-url}/relay_notification_inactive.svg");
                            cursor: pointer;
                        }

                        .notification-active {
                            width: 30px;
                            height: 30px;
                            background-repeat: no-repeat;
                            background-image: data-uri("@{notification-img-url}/relay_notification_active.svg");
                            cursor: pointer;

                            &.show {
                                .counter-block {
                                    .count {
                                        display: none;
                                    }
                                }
                            }

                            .counter-block {
                                position: absolute;
                                left: 21px !important;
                                top: -2px !important;

                                .count {
                                    text-align: center;
                                    display: block;
                                    padding: 0px;
                                    border-radius: 2px;
                                    color: #fff;
                                    font-size: 11px;
                                    font-weight: bold;
                                    background-color: #464646;
                                    width: 19px;
                                    height: 16px;
                                }
                            }
                        }
                    }

                    .user-data {
                        padding-right: 3px;
                        position: absolute;
                        right: 45px;
                        top: 8px;

                        span {
                            color: @simple-white;
                            text-align: right;
                            display: block;
                            line-height: 28px;
                            font-family: 'Proxima-Nova-Regular';
                            font-size: 12pt;

                            &:first-child {
                                font-weight: bold;
                                font-size: 14pt;
                            }
                        }
                    }

                    .user-photo-container {
                        display: inline-block;
                        margin-left: auto;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        overflow: hidden;
                        background-position: 1px 0;

                        @media @media1270 {
                            margin-right: 25px;
                        }

                        .user-photo {
                            width: 30px;
                            height: 30px;
                            background-position: 1px 0px;
                            cursor: pointer;
                        }
                    }

                    .ms-ctn {
                        &.form-control {
                            height: auto;
                            min-height: 30px;
                            max-height: 30px;
                            height: 30px;
                            padding: 4px 12px;
                            width: 245px;
                            border-radius: 25px;
                        }

                        &.search-box {
                            padding-right: 5px;
                            background: #f3f3f3;
                            border: none;
                        }

                        span&.ms-helepr {
                            display: none !important;
                        }

                        .ms-trigger {
                            left: 0;
                            border: none;
                            margin: 0;
                            background: none;
                            width: 40px;
                            padding-top: 2px;

                            &:hover {
                                background-position: 0;
                                border: none;
                                margin: 0;
                                background: none;

                                .ms-trigger-ico {
                                    background-position: 0;
                                    margin-top: 5px;
                                }
                            }

                            .ms-trigger-ico {
                                background-image: data-uri("@{main-url-img}/search-box.svg");
                                width: 20px;
                                height: 15px;
                                border: none;
                                margin: 0;
                                background-repeat: no-repeat;
                                margin-left: 10px;
                                margin-top: 5px;

                                &:hover {
                                    border: none;
                                    margin: 0;
                                    background-repeat: no-repeat;
                                    margin-left: 10px;
                                    margin-top: 5px;
                                }
                            }
                        }

                        .ms-sel-ctn {
                            margin-left: 17px;
                            margin-top: 2px;
                            height: 20px;
                            overflow: hidden;
                            background: #f3f3f3;

                            input {
                                width: 200px !important;
                                height: 20px;
                                overflow: hidden;
                                background: #f3f3f3;
                            }

                            .ms-sel-item {
                                color: black;
                                overflow: hidden;
                                font-size: 12px;
                                margin: 1px 5px 1px 0;
                                border: none;
                                background-color: none;
                                border: 1px solid #DDD;

                                .ms-close-btn {
                                    margin: 5px 0px 0 10px;
                                }
                            }
                        }
                    }

                    .dropdown-menu {
                        color: #464646;
                        background-color: #fff;
                        height: 160px;

                        .ms-res-item {
                            color: #464646;
                            border-bottom: #F0F0F0 solid 1.5px;
                        }


                        .ms-res-item-active {
                            color: #fff;
                        }
                    }

                    .search {
                        margin-bottom: 4px;
                        margin-right: 10px;
                        display: inline-block;

                        input {
                            height: 20px;
                            background: #f3f3f3;
                        }

                        i.icon-search {
                            background-image: data-uri("@{main-url-img}/search-box.svg");
                            width: 15px;
                            height: 15px;
                            line-height: 20px;
                            text-align: center;
                            margin-right: -26px;
                            position: relative;
                            z-index: 1;
                            float: left;
                            background-repeat: no-repeat;
                            top: 8px;
                            margin-left: 10px;
                        }

                        i.icon-search + input {
                            padding-left: 28px;
                            border-radius: 20px;
                            height: 30px;
                            width: 245px;
                            /*border-color: #ccc;*/
                            background: #f3f3f3;

                            @media @media1270 {
                                width: 220px;
                            }

                            @media @media480 {
                                width: 165px;
                            }

                            @media @media400 {
                                width: 165px;
                            }
                        }
                    }
                }
            }
        }
    }

    #tabs {
        z-index: 2000;
        /*&.navbar-brown {
            border-top: 2px solid rgba(180, 180, 180, .4);
            background-color: #fff;
            border-radius: 0;
            padding: 10px 0;
            min-height: 30px;
            height: 30px;
            margin: 0;

            .nav-pills {
                float: none;
                text-align: center;
                line-height: 0;

                li {
                    float: none;
                    display: inline-block;
                    background: none;
                    top: -4px;
                    background-color: #fff !important;
                    border-radius: 0px !important;

                    a {
                        color: #464646 !important;
                        font-weight: bold;
                        font-size: 14px;
                        background-color: #fff !important;
                        border-radius: 0px !important;

                        &:focus, &:hover {
                            background-color: #fff !important;
                            border-radius: 0px !important;
                        }
                    }

                    a::after {
                        content: "";
                        background: #0096C8;
                        height: 5px;
                        position: absolute;
                        width: 100%;
                        left: 0px;
                        bottom: -3px;
                        transition: all 250ms ease 0s;
                        transform: scale(0);
                    }

                    &.active a::after, &:hover > a::after {
                        transform: scale(1);
                    }
                }
            }
        }*/
        &.navbar-brown {
            background-color: #fff;
            border: none;
            border-radius: 0;
            padding: 10px 0;
            min-height: 30px;
            height: 30px;
            margin: 0;

            .nav-pills {
                float: none;
                text-align: center;
                line-height: 0;

                li {
                    float: none;
                    display: inline-block;
                    background: none;

                    a {
                        color: #464646;
                        font-weight: normal;
                        padding: 5px 15px;
                        background: none;

                        &:hover {
                            opacity: 0.75;
                            background: none;
                        }

                        &:focus, &:active {
                            background: none;
                        }
                    }

                    a::after {
                        content: "";
                        background: #0096C8;
                        height: 5px;
                        position: absolute;
                        width: 100%;
                        left: 0px;
                        bottom: -10px;
                        transition: all 250ms ease 0s;
                        transform: scale(0);
                    }

                    &.active a::after, &:hover > a::after {
                        transform: scale(1);
                    }

                    &.active {
                        a {
                            font-weight: bold;
                            background: none;

                            &:hover {
                                background: none;
                                cursor: default;
                                opacity: 1;
                            }

                            &:focus, &:active {
                                background: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .menu-hamburger {
        .main-menu-btn {
            top: 0px;
        }

        .btn-link {
            color: @simple-white;
            padding: 0;

            .glyphicon-list {
                margin: 4px 5px;

                &:before {
                    content: "";
                    background-image: data-uri("@{main-url-img}/relay_menu_hamburger.svg");
                    width: 30px;
                    height: 30px;
                    display: block;
                    margin-top: 5px;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}
