.main-menu {
    position: absolute;
    background-color: @main-brown;
    border-radius: 0 0 5px 5px;
    top: -1021px;
    left: 0px;
    padding: 20px;
    width: 150px;
    z-index: -1;

    .search-input {
        position: relative;

        input.search {
            width: 100%;
            font-size: 11px;
            border: none;
            border-radius: 20px;
            padding: 2px 10px 2px 28px;
            background-color: @background-search;
            color: @simple-white;
            font-family: 'Proxima-Nova-Regular';

            &::-webkit-input-placeholder {
                color: @simple-white;
            }

            &::-moz-placeholder {
                color: @simple-white;
            }

            &:-ms-input-placeholder {
                color: @simple-white;
            }
        }

        .input-search-btn {
            position: absolute;
            top: 4px;
            left: 5px;
            color: @simple-white;
            width: 17px;
            height: 17px;

            .inner {
                font-size: 15px;
                position: relative;
                display: inline-block;
                font-family: 'Glyphicons Halflings';
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                position: relative;

                &:before {
                    position: absolute;
                    bottom: 2px;
                    left: 4px;
                    content: "";
                    background-image: data-uri("@{main-url-img}/main_search.svg");
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 13px;
                    height: 12px;
                    display: block;
                }
            }
        }
    }

    .menu-list {
        list-style-type: none;
        padding: 0;
        margin: 15px 0 0 0;

        li {
            a {
                text-decoration: none;
                font-size: 10px;
                letter-spacing: 0.12em;
                color: @simple-white;
                cursor: pointer;
                font-family: 'Proxima-Nova-Regular';


                &:hover {
                    opacity: 0.7;
                }
            }

            .item-blue {
                font-weight: bold;
                color: @main-blue;
            }

            .item-yellow {
                color: @warning-color;
            }

            .active {
                font-weight: bold !important;
                color: @main-blue !important;
            }
        }
    }
}

.main-menu-container {
}

#main-menu .active a {
    color: #00aff0 !important;
    font-weight: 700 !important;
}

.multi-tenancy-white {
    .main-menu {
        position: absolute;
        background-color: #FFF;
        border-radius: 0 0 5px 5px;
        top: -1px;
        left: 19px;
        padding: 0px;
        width: 150px;
        z-index: 9999;
        display: none;
        transition: transform .15s cubic-bezier(0.3,0,0,1.5);
        transform: none;

        .arrow {
            top: -10px;
            left: 10px;
            color: transparent;
            border-bottom-color: #B4B4B4;
            border-top-color: transparent;
            position: absolute;
            text-align: left;
            white-space: normal;
            background-color: transparent;
            background-clip: padding-box;
            z-index: 9999;
            border-width: 10px;
            border-top-width: 0;
            border-style: solid;

            &:after {
                z-index: 9999;
                border-bottom-color: #FFF;
                top: 1px;
                border-top-width: 0;
                border-width: 10px;
                content: "";
                position: absolute;
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                top: -9px;
                left: -10px;
            }
        }

        .menu-list {
            list-style-type: none;
            padding: 4px 10px 7px 10px;
            margin: 0;
            border: 1px solid #B4B4B4;

            li {
                border-bottom: 1px solid #F0F0F0;

                &:last-child {
                    border-bottom: none;
                }

                a {
                    text-decoration: none;
                    font-size: 14px;
                    letter-spacing: 0px;
                    color: #464646;
                    cursor: pointer;
                    font-family: 'Proxima-Nova-Regular';

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .item-blue {
                    font-weight: bold;
                    color: @main-blue;
                }

                .item-yellow {
                    font-weight: bold;
                }

                .active {
                    font-weight: bold !important;
                    color: @main-blue !important;
                }
            }
        }
    }
}
