// Mode: mdedia550
@media550: ~"(max-width: 550px)";




.navbar-blue {
	.row {
		.col-xs-6:nth-child(2) {
			@media @media550 {
		    float: right;
			}
			.navbar-right {
				@media @media550 {
					display: flex;
				}
			}
		}
	}
	.logo {
		@media @media550 {
    width: 80px;
    height: 30px;
    margin: 15px 20px;
		}
		&:before {
	 		@media @media550 {
	    width: 80px;
	    height: 30px;
			}
    }
	}
	.media-object {
		@media @media550 {
		  margin-right: 15px;
		}
	}
}
