.webui-popover-rPopover {
    background-color: #454545;
    color: #e3e3e3;
    border-radius: 5px;

    .webui-popover-title {
        background: #454545;
        border-bottom: 1px solid #454545;
        color: white;
    }

    .webui-popover-content {
        padding: 0px;
    }

    .popover-content {
        max-height: 131px;
    }

    .webui-popover-content::-webkit-scrollbar {
        width: 1em;
    }

    .webui-popover-content::-webkit-scrollbar-track {
        background-color: grey;
    }

    .webui-popover-content::-webkit-scrollbar-thumb {
        background-color: #454545;
        border: 3px solid transparent;
        border-radius: 9px;
        background-clip: content-box;
    }


    .popover-item {
        padding-bottom: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .popover-item:last-child {
        padding-bottom: 0px;
    }


    &.top > .webui-arrow, &.top-left > .webui-arrow, &.top-right > .webui-arrow, &.top > .webui-arrow:after, &.top-left > .webui-arrow:after, &.top-right > .webui-arrow:after {
        border-top-color: #454545;
    }

    &.right > .webui-arrow, &.right-top > .webui-arrow, &.right-bottom > .webui-arrow, &.right > .webui-arrow:after, &.right-top > .webui-arrow:after, &.right-bottom > .webui-arrow:after {
        border-right-color: #454545;
    }

    &.bottom > .webui-arrow, &.bottom-left > .webui-arrow, &.bottom-right > .webui-arrow, &.bottom > .webui-arrow:after, &.bottom-left > .webui-arrow:after, &.bottom-right > .webui-arrow:after {
        border-bottom-color: #454545;
    }

    &.left > .webui-arrow, &.left-top > .webui-arrow, &.left-bottom > .webui-arrow, &.left > .webui-arrow:after, &.left-top > .webui-arrow:after, &.left-bottom > .webui-arrow:after {
        border-left-color: #454545;
    }
}
