.tab-block {
    .navigation-block {
        .nav-tabs {
            border-bottom: 1px solid #F0F0F0;
            padding: 0px !important;
        }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
            border-width: 0;
        }

        .nav-tabs > li > a, .nav-tabs > li.active > a {
            border: none;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 11px;
        }

        .number-input {
            padding-right: 0px !important;
        }

        .nav-tabs > li {
            margin-bottom: 1px !important;
            padding-right: 25px;
        }

        .nav > li > a {
            padding-left: 0px;
            padding-right: 0px;
            background: transparent;
        }

        .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
            border: none;
            background: transparent;
        }

        .nav-tabs > li > a::after {
            content: "";
            background: #00b0f0;
            height: 5px;
            position: absolute;
            width: 100%;
            left: 0px;
            bottom: -1px;
            transition: all 250ms ease 0s;
            transform: scale(0);
        }

        li.orange > a::after {
            background: orange;
            transform: scale(1);
        }

        li.orange:hover > a::after {
            background: #00b0f0;
            transform: scale(1);
        }

        li.orange.active > a::after {
            background: #00b0f0;
        }


        .nav-tabs > li > a {
            color: white;
        }

        .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
            transform: scale(1);
        }

        .tab-nav > li > a::after {
            background: #21527d none repeat scroll 0% 0%;
            color: #fff;
        }

        .tab-nav > li.orange > a:hover {
            background: orange none repeat scroll 0% 0%;
            color: #fff;
        }
    }

    .tab-content {
        padding-left: 0px !important;
        padding-top: 10px;
    }
}
