﻿.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
    //border-top-color: #191919;
    border-top: none;
}

.tooltipster-sidetip .tooltipster-box {
    background: #191919;
    //border: 2px solid #191919;
    border: none;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #191919;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow {
    bottom: -6px;
}

.tooltipster-sidetip .tooltipster-content {
    padding: 4px 10px;
    font-size: 12px;
    margin: 0px auto;
    text-align: center;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-box {
    margin-bottom: 4px;
}
