.field-validation-error {
    color: @warning-color;
}

.validation-error label {
    color: @warning-color;
}

.simple-input.input-validation-error {
    border-bottom: 1px solid @warning-color;
}


.field-validation-error span {
    font-size: 10px;
    color: red !important;
}


/*.input-validation-error::-webkit-input-placeholder { 
    color: @warning-color !important;
}

.input-validation-error::-moz-placeholder {
    color: @warning-color !important;
}

.input-validation-error:-ms-input-placeholder {
    color: @warning-color !important;
}

.input-validation-error :-moz-placeholder { 
    color: @warning-color !important;
}*/


.select-type.validation-error .bootstrap-select.select-list {
    border-bottom: 1px solid @warning-color !important;
}


.select-type.validation-error.filter-option {
    color: @warning-color !important;
}

.select-type {
    &.validation-error {
        .title-select {
            color: @warning-color !important;
        }
    }
}

.field-container {
    &.validation-error {
        .title-select {
            color: @warning-color !important;
        }

        .simple-input {
            border-bottom: 1px solid @warning-color !important;
        }
    }
}

/*.select-type.validation-error {
    .bootstrap-select.btn-group .dropdown-toggle .filter-option {
        color: @warning-color !important;
    }
}*/
