﻿@model ShiftDraftPanelViewModel

<div class="report-panel" shift-period="@Model.ShiftPeriod" rotation-Id="@Model.RotationId" shift-Id="@Model.ShiftId" shift-recipient="@("To " + Model.HandoverRecipientName)">

    @if (Model.Filter == HandoverReportFilterType.HandoverItems)
    {
        @*<div id="test1"></div>
        <div id="test2"></div>
        <div id="test3"></div>
        <div id="test4"></div>

        <script>
            ; (function (window) {
                $.ajax({
                    url: "@Html.Action("Draft", "ShiftHSESection", new { shiftId = @Model.ShiftId, filter = @Model.Filter })",
                    method: "GET"
                })
                    .done(function (result) {
                        debugger;
                    $(".report-panel").empty().html(result);
                });
                  $.ajax({
                    url: "@(Url.Action("DraftAsync", "ShiftHSESection", new { shiftId = @Model.ShiftId, filter = @Model.Filter },  Request.Url.Scheme))",
                    method: "GET"
                })
                    .done(function (result) {
                        debugger;
                    $(".report-panel").empty().html(result);
                });


              $("#test1").load('@(Url.Action("DraftAsync", "ShiftHSESection", new { shiftId = @Model.ShiftId, filter = @Model.Filter },  Request.Url.Scheme))');
              $("#test2").load('@(Url.Action("DraftAsync", "ShiftCoreSection", new { shiftId = @Model.ShiftId, filter = @Model.Filter }, Request.Url.Scheme))');
              $("#test3").load('@(Url.Action("DraftAsync", "ShiftTeamSection", new { shiftId = @Model.ShiftId, filter = @Model.Filter }, Request.Url.Scheme))');
              $("#test4").load('@(Url.Action("DraftAsync", "ShiftProjectsSection", new { shiftId = @Model.ShiftId, filter = @Model.Filter }, Request.Url.Scheme))');
       })(window);
        </script>*@

            @Html.Action("Draft", "ShiftHSESection", new { shiftId = @Model.ShiftId, filter = @Model.Filter })
            @Html.Action("Draft", "ShiftCoreSection", new { shiftId = @Model.ShiftId, filter = @Model.Filter })
            @Html.Action("Draft", "ShiftTeamSection", new { shiftId = @Model.ShiftId, filter = @Model.Filter })
            @Html.Action("Draft", "ShiftProjectsSection", new { shiftId = @Model.ShiftId, filter = @Model.Filter })
            @*@Html.Action("Draft", "ShiftTasksSection", new { shiftId = @Model.ShiftId, filter = @Model.Filter })*@
            @Html.Action("Draft", "ShiftTaskBoardTasksSection", new { shiftId = @Model.ShiftId, filter = @Model.Filter })
    }
    @if (Model.Filter == HandoverReportFilterType.NrItems)
    {
        @Html.Action("Draft", "ShiftHSESection", new { shiftId = @Model.ShiftId, filter = @Model.Filter })
        @Html.Action("Draft", "ShiftCoreSection", new { shiftId = @Model.ShiftId, filter = @Model.Filter })
    }
</div>

