﻿@model FromToBlockViewModel

<div class="draft-from-to-block">
    <div class="user-photo-btn team-btn stat-counter tooltipster"  @Html.PopoverFromList(Model.UsersList)>
        <img src="@Url.Action("GetAvatarForEmployee", "Media", new {area = "", employeeId = @Model.RotationOwnerId, width = 25, height = 25 })"
             class="user-photo-img" />
    </div>

    <div class="arrow-left">&#10230;</div>

    <div class="user-photo-btn team-btn tooltipster" @Html.TooltipAttritutes("To " + @Model.RotationBackToBackFullName)>
        <img src="@Url.Action("GetAvatarForEmployee", "Media", new {area = "", employeeId = @Model.RotationBackToBackId, width = 25, height = 25 })"
             class="user-photo-img" />
    </div>
</div>



<script>
    $(document).ready(function () {
        $('.stat-counter').webuiPopover({
            hideEmpty: true,
            style: 'rPopover',
            type: 'html',
            color: 'black',
            width: '120',
            top: '250',
            right: '255',
            multi: true,
            dismissible: true,
            trigger: 'hover'
        });

    });
</script>