﻿@model ShiftDraftPanelViewModel

<div class="report-panel" shift-period="@Model.ShiftPeriod">
    <div class="table-block">
        <div class="text-center" style="margin: 10px; height: 120px; padding-top: 40px; font-size: 18px; font-weight: bold; font-family: 'Proxima-Nova-Regular' !important;">
            @Model.EmptyPanelMessage
        </div>
    </div>
</div>

