﻿@model ChooseShiftRecipientModel

<div Id="handoverRecipientsDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade handover-recipients-dialog">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.ShiftId)
        @Html.HiddenFor(m => m.ShiftRecipientId)
        @Html.AntiForgeryToken()

        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div Id="modalTitle" class="modal-title">Handover Recipient</div>
                            </div>
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="handover-recipients-title">Select another user to handover to today</div>
                                <div class="handover-recipients-container">
                                    @if (Model.TeamMembers.Any())
                                    {
                                        <div class="swiper-container recipients-container swiper-container-vertical">
                                            <div class="swiper-wrapper">
                                                @for (int i = 0; i < Model.TeamMembers.Count(); i += 3)
                                                {
                                                    <div class="swiper-slide">
                                                        @foreach (var user in Model.TeamMembers.Skip(i).Take(3))
                                                        {
                                                            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                <div user-Id="@user.Value" class="recipient-block">
                                                                    <div class="user-icon">
                                                                        <img src="@Url.Action("GetAvatarForEmployee", "Media", new {employeeId = user.Value, width = 30, height = 30 })" alt="@user.Text"/>
                                                                    </div>
                                                                    <div class="user-name">@user.Text</div>
                                                                    <div class="check-icon"></div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="handover-recipients-swiper-prev"></div>
                                        <div class="handover-recipients-swiper-next"></div>
                                    }
                                    else
                                    {
                                        <div class="no-handover-recipient" style="text-align: center;">
                                            No any recipients
                                        </div>
                                    }
                                </div>
                                @Html.ValidationMessageFor(m => m.ShiftRecipientId)
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script>
            (function ()
            {
                var dialog = $("#handoverRecipientsDialog");
                var recipientBlocks = $(".recipient-block", dialog);
                var shiftRecipientId = $("#ShiftRecipientId", dialog);

                var shiftRecipientIdVal = shiftRecipientId.val();
                if (shiftRecipientIdVal) {
                    recipientBlocks.each(function () {
                        if ($(this).attr("user-Id") === shiftRecipientIdVal) {
                            $(this).addClass("active");
                        }
                        else {
                            $(this).addClass("inactive");
                        }
                    });
                }
                else {
                    $(".btn-close", dialog).hide();
                }

                recipientBlocks.click(function ()
                {
                    if ($(this).hasClass("active"))
                    {
                        recipientBlocks.removeClass("inactive").removeClass("active");
                        shiftRecipientId.val('');
                    }
                    else
                    {
                        recipientBlocks.addClass("inactive").removeClass("active");
                        $(this).removeClass("inactive").addClass("active");
                        shiftRecipientId.val($(this).attr("user-Id"));

                        $("button[type=submit]", dialog).trigger("activate");
                    }
                });

                new Swiper($(".recipients-container"), {
                    direction: 'vertical',
                    height: 40,
                    nextButton: $(".handover-recipients-swiper-next"),
                    prevButton: $(".handover-recipients-swiper-prev")
                });
            })();
        </script>
    }
</div>
