﻿@model ShiftReportPanelViewModel

<div Id="shiftReportBuilderPanel" class="panel panel-primary">
    <div class="shift-info-container" shift-id="@Model.ShiftId" read-mode="False" empty-panel="false"></div>
    <div class="panel-heading clearfix">
        <div class="handover-title">
            <span class="panel-title">Handover Report</span>
        </div>
        <div class="shift-report-builder-controls">

            @if (Model.ShareEnabled)
            {
                <button type="button" class="share-report-block btn-circle btn btn-link col-lg-1 col-md-1 col-xs-1 no-padding">
                    <span class="glyphicon span"></span>
                </button>
            }

            <button type="button" class="finish-shift-btn btn-circle btn btn-link">
                <span class="glyphicon span"></span>
            </button>
            <button type="button" class="filter-btn btn-circle btn btn-link">
                <span class="glyphicon span"></span>
            </button>
            <button type="button" class="document-btn btn-circle btn btn-link tooltipster" @Html.TooltipAttritutes("Report Preview")>
                <span class='glyphicon span'></span>
            </button>
            @if (Model.IconsPDFEnabled)
            {
                <button type="button" class="qme-pdf-report btn-circle btn btn-link">
                    <span class='glyphicon span'></span>
                </button>
            }
        </div>
    </div>
    <div class="panel-body main-panel">
        <div class="navbar navbar-brown navbar-white">
            <div class="row no-margin">
                <div class="col-xs-4 no-padding left-block">
                    <div class="row no-margin left-controls">
                        <div class="no-padding" style="display: inline-block; float: left;">
                            <div class="date-block"></div>
                            @if (Model.ShiftType != null)
                            {
                                <div class="date-block">&#8212 &#160; @Model.ShiftType</div>
                            }
                            <span></span>
                        </div>
                        <div Id="fromToBlock" class="no-padding"></div>
                        <div class="col-lg-1 col-md-1 col-xs-12 no-padding pencil-block"></div>
                        @Html.Action("ShowEditDatesButton", "Summary", new { userID = Model.UserId })
                    </div>
                </div>
                <div class="col-xs-4 no-padding" Id="section-filter">
                    <ul class="nav nav-pills">
                        <li><a id="draftBtn" href="javascript:void(0)" class="draft-btn" style="margin-bottom:10px;">Draft</a></li>
                        <li><a id="receivedBtn" href="javascript:void(0)" class="received-btn">Received</a></li>
                        @foreach (MomentumPlus.Relay.Interfaces.ICustomReport report in CustomReportConfig.Reports())
                        {
                            if (!string.IsNullOrEmpty(report.ShiftReportBtnPartialView()))
                            {
                                @Html.Partial(report.ShiftReportBtnPartialView())
                            }
                        }
                    </ul>
                </div>
                <div class="col-xs-4 no-padding">
                    <button type="button" class="btn btn-custom pull-right finalise-all-btn">Finalise All</button>
                    <button type="button" class="btn btn-custom pull-right expand-all-btn">Expand All</button>
                </div>
            </div>
        </div>
    </div>
    <div Id="shiftReportBuilderData"></div>
    <script src="~/Content/js/relay/rotation/shift-report-builder/shift-report-filter.module.js"></script>
    @Scripts.Render("~/bundles/scripts/shared/shift-report-builder")
</div>