﻿@model ShiftReportBuilderFilterViewModel

<div id="shiftFilterMenuPopover" class="rotation-filter-menu-popover-content" data-placement="bottom">
    <div class="filter-content">
        <div class="filter-row @(Model.Filter == HandoverReportFilterType.HandoverItems ? "active" : string.Empty)" id="handoverReport" shift-id="@Model.Id">
            Handover Report
        </div>
        <div class="filter-row @(Model.Filter == HandoverReportFilterType.NrItems ? "active" : string.Empty)" id="nrTopics" shift-id="@Model.Id">
            Checked
        </div>
    </div>
</div>
