﻿@model CopyTemplateViewModel


<div Id="templateFormDialog" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade template-dialog">
    @using (Html.BeginForm("CopyTemplateDialog", "Templates", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="modal-dialog  modal-sm">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div Id="modalTitle" class="modal-title">Copy Template</div>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-4 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                               <div class="select-type">
                                   <span class="title-select" style="padding-bottom: 10px;">Copy form</span>
                                   @Html.DropDownListFor(m => m.CopyFromTemplateId, Model.Templates, "Select Template", new { @class = "select-list" })
                                   @Html.ValidationMessageFor(m => m.CopyFromTemplateId)
                               </div>
                            </div>
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                <div class="select-type">
                                    <span class="title-select" style="padding-bottom: 10px;">Copy to</span>
                                    @Html.DropDownListFor(m => m.CopyToTemplateId, Model.Templates, "Select Template", new { @class = "select-list" })
                                    @Html.ValidationMessageFor(m => m.CopyToTemplateId)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
           $("#CopyToTemplateId option[value='']").attr('selected', true)
    });
</script>