﻿@model TemplatesViewModel

<style>
    .remove {
        color: #707070 !important;
        text-transform: none !important;
        font-size: 12px !important;
        margin-left: 5px !important;
    }
</style>

<div class="panel-body modules-folder" selected-val="@Model.SelectedTemplate" module-HSE="@Model.Template.Modules.FirstOrDefault(t => t.Type == ModuleType.HSE).Id" module-Core="@Model.Template.Modules.FirstOrDefault(t => t.Type == ModuleType.Core).Id">

    <div Id="safetySection">
        <div class="panel-body grey-panel" style="padding-bottom:0px !important;  text-align: center; font-size: 16px;padding-top: 10px !important;">
            @Model.Template.Name - <span style="font-weight:bold;">RelayWorks Template </span>
        </div>
        <div class="panel-body grey-panel" style="padding-top: 10px !important;padding-bottom: 5px !important;">
            <div class="navbar navbar-blue">

                @for (var i = 0; i < Model.Template.Modules.Count(); i += 4)
                {
                    foreach (var module in Model.Template.Modules.Skip(i).Take(4))
                    {
                        if (module.Type != ModuleType.Team)
                        {
                            if (module.Type == ModuleType.HSE && module.Enabled)
                            {
                                <span class="label" style="display: inline-block;">HSE</span>
                                <div class="module-status-btn" Id="@module.Id" template="@Model.SelectedTemplate" moduletype="@module.Type" style="cursor:pointer; display: inline-block;font-size: 12px;">Remove</div>
                            }
                        }
                    }
                }

            </div>
        </div>


        @for (var i = 0; i < Model.Template.Modules.Count(); i += 4)
        {
            foreach (var module in Model.Template.Modules.Skip(i).Take(4))
            {
                if (module.Type != ModuleType.Team)
                {
                    if (module.Type == ModuleType.HSE)
                    {
                        if (!module.Enabled)
                        {
                            <div class="table-block add-section">
                                <div class="navbar navbar-white">
                                    <div type="button" class="btn-plus center-block add-section-btn tooltipster" Id="@module.Id" template="@Model.SelectedTemplate" moduletype="@module.Type" style="width: 110px;" @Html.TooltipAttritutes("Add HSE")>Add HSE</div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="table-block HSE">
                                @if (Model.Template == null && !Model.Template.Modules.FirstOrDefault(t => t.Type == ModuleType.HSE).TopicGroups.Any())
                                {
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="actions-title"></th>
                                                <th class="type-title"></th>
                                                <th class="reference-title"></th>
                                                <th class="notes-title"></th>
                                                <th class="intel-title"></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                }
                                else
                                {
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="actions-title">Actions</th>
                                                <th class="type-title">Topic</th>
                                                <th class="reference-title">Reference</th>
                                                <th class="notes-title">Notes</th>
                                                <th class="intel-title">Intel</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var topic in Model.Template.Modules.FirstOrDefault(t => t.Type == ModuleType.HSE).TopicGroups.OrderBy(t => t.Name).SelectMany(t => t.Topics).Where(t => t.Enabled))
                                            {
                                                <tr>
                                                    @Html.Hidden("Id", topic.Id)
                                                    @Html.Hidden("HasPvA", topic.PlannedActualHas)

                                                    <td class="actions-body">
                                                        <div class="btn btn-circle topic-status-btn tooltipster" Id="@topic.ParentTopicId" template="@Model.SelectedTemplate" selectModule="@Model.SelectedModule" topicGroupId="@topic.TopicGroupId" @Html.TooltipAttritutes("Delete")>
                                                            <span class="glyphicon span"></span>
                                                        </div>
                                                    </td>

                                                    <td class="type-body">
                                                        @Model.Template.Modules.FirstOrDefault(t => t.Type == ModuleType.HSE).TopicGroups.FirstOrDefault(t => t.Id == topic.TopicGroupId).Name
                                                    </td>

                                                    <td class="reference-body">
                                                        @topic.Name
                                                    </td>

                                                    <td class="notes-body" topic-id="@topic.Id">
                                                        <span class="icon-text"></span>
                                                        <p class="note-short" style="margin-top:0px !important;">@topic.Description</p>
                                                    </td>

                                                    <td class="intel-body">
                                                        @if (topic.PlannedActualHas.HasValue && topic.PlannedActualHas.Value)
                                                        {
                                                            <div class="metrics-active-btn tooltipster" @Html.TooltipAttritutes("Metrics")></div>
                                                        }
                                                        else
                                                        {
                                                            <div class="metrics-inactive-btn tooltipster" @Html.TooltipAttritutes("Metrics")></div>
                                                        }
                                                    </td>

                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                }
                                <div class="navbar navbar-white">
                                    <div type="button" class="btn-plus center-block add-topic-btn tooltipster" @Html.TooltipAttritutes("Add Topic")>Add</div>
                                </div>
                            </div>
                        }
                    }
                }
            }
        }

    </div>

    <div Id="coreSection">
        <div class="panel-body grey-panel" style="padding: 0px !important;">
            <div class="navbar navbar-blue"><span class="label">@Html.EnumDescription(ModuleType.Core)</span></div>
        </div>

        <div class="table-block">
            @if (Model.Template == null && !Model.Template.Modules.FirstOrDefault(t => t.Type == ModuleType.Core).TopicGroups.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th class="actions-title"></th>
                            <th class="type-title"></th>
                            <th class="reference-title"></th>
                            <th class="notes-title"></th>
                            <th class="intel-title"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th class="actions-title">Actions</th>
                            <th class="type-title">Topic</th>
                            <th class="reference-title">Reference</th>
                            <th class="notes-title">Notes</th>
                            <th class="intel-title">Intel</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var topic in Model.Template.Modules.FirstOrDefault(t => t.Type == ModuleType.Core).TopicGroups.OrderBy(t => t.Name).SelectMany(t => t.Topics).Where(t => t.Enabled))
                        {
                            <tr>
                                @Html.Hidden("Id", topic.Id)
                                @Html.Hidden("HasPvA", topic.PlannedActualHas)

                                <td class="actions-body">
                                    <div class="btn btn-circle topic-status-btn tooltipster" Id="@topic.ParentTopicId" template="@Model.SelectedTemplate" selectModule="@Model.SelectedModule" topicGroupId="@topic.TopicGroupId" @Html.TooltipAttritutes("Delete")>
                                        <span class="glyphicon span"></span>
                                    </div>
                                </td>

                                <td class="type-body">
                                    @Model.Template.Modules.FirstOrDefault(t => t.Type == ModuleType.Core).TopicGroups.FirstOrDefault(t => t.Id == topic.TopicGroupId).Name
                                </td>

                                <td class="reference-body">
                                    @topic.Name
                                </td>
                                <td class="notes-body" topic-id="@topic.Id">
                                    <span class="icon-text"></span>
                                    <p class="note-short" style="margin-top:0px !important;">@topic.Description</p>
                                </td>

                                <td class="intel-body">
                                    @if (topic.PlannedActualHas.HasValue && topic.PlannedActualHas.Value)
                                    {
                                        <div class="metrics-active-btn tooltipster" @Html.TooltipAttritutes("Metrics")></div>
                                    }
                                    else
                                    {
                                        <div class="metrics-inactive-btn tooltipster" @Html.TooltipAttritutes("Metrics")></div>
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
            <div class="navbar navbar-white">
                <div type="button" class="btn-plus center-block add-topic-core-btn tooltipster" @Html.TooltipAttritutes("Add Topic")>Add</div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('.topic-status-btn').click(function (e) {

            var baseTopicId = e.currentTarget.id;
            var templateId = $(this).attr('template');
            var status = $(this).is(':checked');

            var selectModule = $(this).attr('selectModule');
            var topicGroupId = $(this).attr("topicGroupId");
            var topicId = $(this).attr("id");


            var requestData = {
                baseTopicId: baseTopicId,
                templateId: templateId,
                status: status,
                selectModule: selectModule,
                topicGroupId: topicGroupId,
                topicId: topicId
            }

            $('#loading-animation').show();

            $.ajax({
                url: '/Templates/UpdateTemplateTopic/',
                cache: false,
                method: 'POST',
                data: requestData,
                success: function () {
                    document.location = "/Templates/GlobalTemplates/templateForm?SelectedTemplate=" + templateId;
                },
                error: function () {
                    $('#loading-animation').hide();
                    Relay.ErrorDialog().open();
                }
            });
        });

        $(".add-topic-btn").on("click", function () {

            var templateId = $(".panel-body").attr('selected-val');
            var moduleId = $(".panel-body").attr('module-HSE');
            var selectedTemplate = $(".panel-body").attr('selected-template');

            var formDialog = Relay.FormDialog({
                url: "/Templates/CreateAdminTemplateHSETopics?templateId=" + templateId + "&moduleId=" + moduleId,
                method: "GET"
            });

            formDialog.setSubmitEvent(function () {
                $('#loading-animation').show();
                location.reload();
            });
            formDialog.setCloseEvent(function () {
                $('#loading-animation').show();
                location.reload();
            });

            formDialog.open();
        });

        $(".add-topic-core-btn").on("click", function () {
            var templateId = $(".panel-body").attr('selected-val');
            var moduleId = $(".panel-body").attr('module-Core');
            var selectedTemplate = $(".panel-body").attr('selected-template');

            var formDialog = Relay.FormDialog({
                url: "/Templates/CreateAdminTemplateCoreTopics?templateId=" + templateId + "&moduleId=" + moduleId,
                method: "GET"
            });

            formDialog.setSubmitEvent(function () {
                $('#loading-animation').show();
                location.reload();
            });
            formDialog.setCloseEvent(function () {
                $('#loading-animation').show();
                location.reload();
            });

            formDialog.open();
        });

        $('.module-status-btn').click(function (e) {
            $('.HSE').hide();
            $('.label').hide();
            $('.remove').hide();
            $('.navbar-blue').css("min-height", "0px");

            var baseModuleId = e.currentTarget.id;
            var templateId = $(this).attr('template');
            var status = false;

            var requestData = {
                baseModuleId: baseModuleId,
                templateId: templateId,
                status: status
            }
            $('#loading-animation').show();
            $.ajax({
                url: '/Templates/UpdateTemplateModule/',
                cache: false,
                method: 'POST',
                data: requestData,
                success: function () { location.reload(); },
                error: function () {
                    $('#loading-animation').hide();
                    Relay.ErrorDialog().open();
                }
            });

        });

        $('.add-section-btn').click(function (e) {

            $('.HSE').show();
            $('.label').show();
            $('.remove').show();

            var baseModuleId = e.currentTarget.id;
            var templateId = $(this).attr('template');
            var status = true;

            var requestData = {
                baseModuleId: baseModuleId,
                templateId: templateId,
                status: status
            }
            $('#loading-animation').show();
            $.ajax({
                url: '/Templates/UpdateTemplateModule/',
                cache: false,
                method: 'POST',
                data: requestData,
                success: function () { location.reload(); },
                error: function () {
                    $('#loading-animation').hide();
                    Relay.ErrorDialog().open();
                }
            });

        });
});
</script>