﻿@model TemplatesViewModel

<style>
    .module-status-btn {
        float:right;
        margin-top: 0px !important;
    }
</style>

<div class="panel-body modules-folder" style="background: rgba(180, 180, 180, 0.4) !important; border:none !important;">
    <div class="row">
        @for (var i = 0; i < Model.Template.Modules.Count(); i += 4)
        {
            foreach (var module in Model.Template.Modules.Skip(i).Take(4))
            {
                if (module.Type != ModuleType.Team)
                {
                <div class="col col-sm-4">
                    <div class="well well-lg template-module-block select-module-btn">
                        <a href='/Framework/Templates?SelectedTemplate=@Model.SelectedTemplate&selectedModule=@module.Type' class="no-decoration">
                            <div class="row  vertical-center">
                                <div class="col-md-12 big-title text-center">
                                    @(Model.IsMultiTenant && module.Type == ModuleType.HSE ? "Health & Safety" : module.Type.ToString())
                                </div>
                            </div>
                            <div class="row content vertical-center">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 vertical-center">
                                    <i class="fa fa-folder-o fa-2x" aria-hidden="true"></i>
                                    <span class="module-topic-group-count">
                                        @module.EnabledTopicGroupsCounter
                                    </span>
                                </div>

                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding" style="display:inline-block;float: right;padding-bottom: 10px;">
                                    @if (module.Type == ModuleType.HSE)
                                    {
                                        @Html.CheckBoxFor(tg => module.Enabled, new { @class = "module-status-btn", @checked = "checked", Id = module.Id, template = @Model.SelectedTemplate, moduletype = module.Type })
                                    }
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                }
            }
        }
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        $('.module-status-btn').click(function (e)
        {
            var baseModuleId = e.currentTarget.id;
            var templateId = $(this).attr('template');
            var status = $(this).is(':checked');

            var requestData = {
                baseModuleId: baseModuleId,
                templateId: templateId,
                status: status
            }

            $.ajax({
                url: '/Templates/UpdateTemplateModule/',
                cache: false,
                method: 'POST',
                data: requestData,
                success: function () { location.reload(); },
                error: function ()
                {
                    Relay.ErrorDialog().open();
                }
            });

            
        });
    });
</script>