﻿@model TemplatesViewModel

<div class="panel-body item-section">
    <div class="row">
        <div class="col-sm-6">
            <div Id="gridcontainer">
                @Html.Partial("~/Views/Framework/Templates/Shared/_TopicGroups.cshtml", Model)
            </div>

        </div>
        <div class="col-sm-6">
            @Html.Partial("~/Views/Framework/Templates/Shared/_Topics.cshtml", Model)
        </div>
        @*<div class="col-sm-4">
            @Html.Partial("~/Views/Framework/Templates/Shared/_Tasks.cshtml", Model)
        </div>*@
    </div>

</div>


<div class="panel-footer">
    <div class="row">
        <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left">
            <a type="button" class="btn btn-primary" href='/Framework/Templates?SelectedTemplate=@Model.SelectedTemplate'>
                <span class="glyphicon glyphicon-arrow-left"></span>
            </a>
        </div>
    </div>
</div>