﻿@model TemplatesViewModel

<div class="panel panel-default">
    <div class="panel-heading clearfix panel-heading-icon-right">
        <div class="row vertical-center">
            <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <span class="big-title">Tasks</span>
            </div>
        </div>


    </div>
    <div class="panel-body">
        <ul class="list-group">
            @if (Model.Module.TasksList != null && Model.Module.TasksList.Any())
            {
                foreach (var task in Model.Module.TasksList)
                {
                    <li class="clearfix list-group-item">
                        <div class="row vertical-center">
                            <div class="col col-lg-10 col-sm-10 col-md-10 col-xs-10">
                                @task.Name
                            </div>
                            <div class="col col-lg-2 col-sm-2 col-md-2 col-xs-2 text-center">
                                @Html.CheckBoxFor(t => task.Enabled, new { @class = "task-status-btn", @checked = "checked", Id = @task.Id, template = @Model.SelectedTemplate})</div>
                        </div>

                    </li>
                }


                @Html.Pager(Model.Module.TasksList.PageSize, Model.Module.TasksList.PageNumber, Model.Module.TasksList.TotalItemCount).Options(o => o
                            .DisplayTemplate("TemplateBootstrapPagination")
                            .MaxNrOfPages(3)
                            .AlwaysAddFirstPageNumber()
                            .PageRouteValueKey("tasksPageNo")
                            .AddRouteValue("selectedTemplate", Model.SelectedTemplate)
                            .AddRouteValue("selectedModule", Model.SelectedModule)
                            .RouteValues(Request.QueryString.ToRouteValueDictionary(new[] { "tasksPageNo" })))


            }
            else
            {
                <li class="list-group-item text-center">
                    @if (Model.Module.ActiveTopicId.HasValue)
                    {
                        @(Model.IsMultiTenant ? "No tasks in this reference." : "No tasks in this topic." )
                    }
                    else
                    {
                        @(Model.IsMultiTenant ? "Select a reference." : "Select a topic." )
                    }
                </li>
            }
        </ul>
    </div>
</div>



<script>
    $(document).ready(function ()
    {
        $('.task-status-btn').click(function (e)
        {
            var baseTaskId = e.currentTarget.id;
            var templateId = $(this).attr('template');
            var selectModule = $(this).attr('selectModule');
            var status = $(this).is(':checked');

            var requestData = {
                baseTaskId: baseTaskId,
                templateId: templateId,
                selectModule: selectModule,
                status: status
            }

            $('#loading-animation').show();

            $.ajax({
                url: '/Templates/UpdateTemplateTask/',
                cache: false,
                method: 'POST',
                data: requestData,
                success: function ()
                {
                    location.reload();
                },
                error: function ()
                {
                    $('#loading-animation').hide();
                    Relay.ErrorDialog().open();
                }
            });

        });
    });
</script>