﻿@model ReportViewModel

@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}

<div id="globalReportBuilderPanel"
     class="panel panel-primary"
     source-Id="@Model.ReportId"
     source-type="@Model.ReportType"
     read-mode="@Model.IsReadMode.ToString()"
     share-btn-active="@Model.ShareReportBtnIsActive.ToString()"
     report-type="@Model.Type"
     @(Model.FromSourceId.HasValue ? "from-source-Id=\"" + Model.FromSourceId.Value + "\"" : string.Empty)>

  <div class="panel-heading clearfix">
    <div class="handover-title">
      <span class="panel-title">Handover Report</span>
    </div>
    <div class="shift-report-builder-controls">
      <button type="button" class="document-btn btn-circle btn btn-link tooltipster" @Html.TooltipAttritutes("Report Preview")>
        <span class='glyphicon span'></span>
      </button>
    </div>
  </div>
  <div class="panel-body main-panel">
    <div class="navbar navbar-brown navbar-white">
      <div class="row no-margin">
        <div class="col-xs-4 no-padding" style="text-align: left; vertical-align: middle;">
          <div class="row no-margin left-block" style="display: inline-block; float: left;">
            <div class="date-block">@Model.ReportPeriod</div>
            <span></span>
            <div class="name-block">@Model.HandoverCreatorOrRecipientName</div>
            <div class="pencil-block"></div>
            <div class="no-padding share-report-block"></div>
          </div>
        </div>
        <div class="col-xs-4 no-padding" Id="section-filter">
        </div>
        <div class="col-xs-4 no-padding">
          <button type="button" class="btn btn-custom pull-right finalise-all-btn">Finalise All</button>
          <button type="button" class="btn btn-custom pull-right expand-all-btn">Expand All</button>
        </div>
      </div>
    </div>
  </div>

  <div id="globalReportBuilderData">
    <div class="report-panel">
      @if (Model.ReportType == RotationType.Swing)
      {
      @Html.Action("Draft", "HSESection", new { rotationId = @Model.ReportId })
      @Html.Action("Draft", "CoreSection", new { rotationId = @Model.ReportId })
      @Html.Action("Draft", "TeamSection", new { rotationId = @Model.ReportId })
      @Html.Action("Draft", "ProjectsSection", new { rotationId = @Model.ReportId })
      @*@Html.Action("Draft", "TasksSection", new { rotationId = @Model.ReportId })*@
      @Html.Action("Draft", "RotationTaskBoardTasksSection", new { rotationId = @Model.ReportId })
      @Html.Action("Draft", "DailyNotesSection", new { rotationId = @Model.ReportId })
      @*@Html.Action("Draft", "RotationTaskBoardTasksSection", new { rotationId = @Model.ReportId })*@
      }
      @if (Model.ReportType == RotationType.Shift)
      {
      @Html.Action("Draft", "ShiftHSESection", new { shiftId = Model.ReportId })
      @Html.Action("Draft", "ShiftCoreSection", new { shiftId = Model.ReportId })
      @Html.Action("Draft", "ShiftTeamSection", new { shiftId = Model.ReportId })
      @Html.Action("Draft", "ShiftProjectsSection", new { shiftId = Model.ReportId })
      @*@Html.Action("Draft", "ShiftTasksSection", new { shiftId = Model.ReportId })*@
      @Html.Action("Draft", "ShiftTaskBoardTasksSection", new { shiftId = Model.ReportId })
      }
    </div>
  </div>
  @Scripts.Render("~/bundles/scripts/shared/global-report-builder")
</div>
