﻿@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}

@model ReportViewModel

<div Id="globalReportBuilderPanel"
     class="panel panel-primary"
     source-Id="@Model.ReportId"
     source-type="@Model.ReportType"
     read-mode="@Model.IsReadMode.ToString()"
     report-type="@Model.Type"
     @(Model.FromSourceId.HasValue ? "from-source-Id=\"" + Model.FromSourceId.Value + "\"" : string.Empty)>

  <div class="info-container" shift-Id="" read-mode="False" empty-panel="false"></div>
  <div class="panel-heading clearfix">
    <div class="pull-left">
      <span class="panel-title text-center" style="left:500px !important;">Handover Report</span>
    </div>
    <div class="pull-right">
      <button type="button" class="document-btn btn-circle btn btn-link tooltipster" @Html.TooltipAttritutes("Report Preview")>
        <span class='glyphicon span'></span>
      </button>
    </div>
  </div>
  <div class="panel-body main-panel">
    <div class="navbar navbar-brown">
      <div class="row">
        <div class="col-xs-4 left-block">
          <div class="date-block">@Model.ReportPeriod</div>
          <span></span>
          <div class="name-block">@Model.HandoverCreatorOrRecipientName</div>
          @*<div class="pencil-block"></div>*@
        </div>
        <div class="col-xs-4" Id="section-filter">
        </div>
        <div class="col-xs-4">
          <button type="button" class="btn btn-custom pull-right expand-all-btn">Expand All</button>
        </div>
      </div>
    </div>
  </div>
  <div Id="globalReportBuilderData">
    <div class="report-panel">
      @if (Model.ReportType == RotationType.Swing)
      {
          @Html.Action("Received", "HSESection", new { rotationId = Model.ReportId, receivedRotationId = Model.FromSourceId })
          @Html.Action("Received", "CoreSection", new { rotationId = Model.ReportId, receivedRotationId = Model.FromSourceId })
          @Html.Action("Received", "TeamSection", new { rotationId = Model.ReportId, receivedRotationId = Model.FromSourceId })
          @Html.Action("Received", "ProjectsSection", new { rotationId = Model.ReportId, receivedRotationId = Model.FromSourceId })
          @Html.Action("Received", "RotationTaskBoardTasksSection", new { rotationId = Model.ReportId, receivedRotationId = Model.FromSourceId })
          @Html.Action("Received", "DailyNotesSection", new { rotationId = Model.ReportId, receivedRotationId = Model.FromSourceId })
      }
      @if (Model.ReportType == RotationType.Shift)
      {
          @Html.Action("Received", "ShiftHSESection", new { shiftId = Model.ReportId, receivedShiftId = Model.FromSourceId })
          @Html.Action("Received", "ShiftCoreSection", new { shiftId = Model.ReportId, receivedShiftId = Model.FromSourceId })
          @Html.Action("Received", "ShiftTeamSection", new { shiftId = Model.ReportId, receivedShiftId = Model.FromSourceId })
          @Html.Action("Received", "ShiftProjectsSection", new { shiftId = Model.ReportId, receivedShiftId = Model.FromSourceId })
          @Html.Action("Received", "ShiftTaskBoardTasksSection", new { shiftId = Model.ReportId, receivedShiftId = Model.FromSourceId })
      }
    </div>
  </div>
  @Scripts.Render("~/bundles/scripts/shared/global-report-builder")
</div>