﻿@model ReportViewModel

@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}

<style>
    .unavailable-draft{
        font-size: 18px;
        text-align: center;
        margin-top: 40px;
        padding-top: 20px;
        background-color: #ffffff;
        border-radius: 5px;
        position: relative;
        min-height: 70px;
    }
</style>
<div id="unavailableDraft">
    <div class="unavailable-draft">This report was not shared with you and so is unavailable.</div>
</div>