﻿@model HandoverReportTopicViewModel

@if (Model != null)
{
    <div class="topic-body @(Model.IsNullReport ? "text-grey" : "")">
        <div class="row no-margin">
            <div class="action">
                @if (Model.IsPinned.HasValue)
                {
                    <div class="topic-icon @(Model.IsPinned.Value ? "blue-pin" : "grey-pin")"></div>
                }
                else
                {
                    if (Model.IsNullReport)
                    {
                        <div class="topic-icon null-report"></div>
                    }
                    else
                    {
                        <div class="topic-icon white-pin"></div>
                    }
                }
            </div>
            <div class="body">
                <div class="row first-row">
                    <div class="topic-name">@Model.TopicGroupName</div>
                    <span>|</span>
                    <div class="topic-reference">@Model.Name</div>
                </div>
                <div class="row second-row">
                    <div class="topic-notes">
                        @if (!string.IsNullOrWhiteSpace(Model.Description))
                        {
                            @Html.ConvertTextToHtml(Model.Description)
                        }
                    </div>
                </div>
                @if (Model.Actual != null && Model.Actual != "" || Model.Planned != null && Model.Planned != "")
                {
                <div class="row third-row">
                    <span>
                        <img src="@Url.Content("~/Content/img/svg/PvA.svg")" style="width: 30px; height:20px; " />
                    </span>
                    <p style="font-weight:bold; display:inline-block; padding-top:20px;">Planned:</p>@Model.Planned &#160; <p style="font-weight:bold; display:inline-block;padding-top:20px;">Actual:</p>@Model.Actual
                </div>
                }
            </div>
            <div class="information">
                <div class="row no-margin">
                    @if (Model.HasTask)
                    {
                        <div class="has-tasks"></div>
                    }
                </div>
                <div class="row no-margin">
                    <div class="topic-tag">
                        @if (!string.IsNullOrWhiteSpace(Model.Tag))
                        {
                            if (Model.MoreTag)
                            {
                                <div class="more-btn-tags">...</div>
                            }
                            <div class="tag">@Model.Tag</div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}