﻿@model TaskBoardTaskForHandover

@if (Model != null)
{
  <div class="task-body">
    <div class="row no-margin">
      <div class="body">
        <div class="row first-row">
          <div class="task-reference">@Model.Name</div>
        </div>
        <div class="row second-row">
          <div class="task-notes">
            @Html.ConvertTextToHtml(Model.Notes)
          </div>
        </div>
      </div>
      <div class="information">
        <div class="task-due-date">
          <div class="date">@Model.Deadline</div>
        </div>
        <div class="taks-priority">
          <div class="priority @Model.Priority.ToString().ToLower()">@Model.Priority</div>
        </div>
      </div>
    </div>
  </div>
}

