﻿@model HandoverReportModuleViewModel

@{
    var i = 0;
}

@if (Model.Topics != null && Model.Topics.Any())
{
    <div class="module-block">
        <span class="module-title">@Model.Name</span>
        <div class="row no-margin">
            @foreach (var topic in Model.Topics)
            {
                <div class="col-xs-12 simple-topic no-padding">
                    @Html.Partial("~/Views/Reports/HandoverReport/_ReportTopic.cshtml", topic)
                </div>
            }
        </div>
    </div>
}