﻿@model HandoverReportTaskViewModel

@if (Model != null)
{
    <div class="task-body @(Model.IsNullReport ? "text-grey" : "")">
        <div class="row no-margin">
            <div class="action">
                @if (Model.IsPinned.HasValue)
                {
                    <div class="task-icon @(Model.IsPinned.Value ? "blue-pin" : "grey-pin")"></div>
                }
                else
                {
                    if (Model.IsNullReport)
                    {
                        <div class="task-icon grey-pin"></div>
                    }
                    else
                    {
                        <div class="task-icon white-pin"></div>
                    }
                }
            </div>
            <div class="body">
                <div class="row first-row">
                    <div class="task-name">@Model.Reference</div>
                    <span>|</span>
                    <div class="task-reference">@Model.Name</div>
                </div>
                <div class="row second-row">
                    <div class="task-notes">
                        @Html.ConvertTextToHtml(Model.Description)
                    </div>
                </div>
            </div>
            <div class="information">
                <div class="task-due-date">
                    <div class="date">@Model.Date</div>
                </div>
                <div class="taks-priority">
                    <div class="priority @Model.Priority.ToLower()">@Model.Priority</div>
                </div>
            </div>
        </div>
    </div>
}

