﻿@model HandoverReportViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8" />
    <title>RelayWorks Report</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Styles.Render("~/bundles/styles/layouts/auth-main")
    <link href="~/Content/styles/main.css" rel="stylesheet" />
</head>
<body class="handover-portrait">
    <div class="report-page">
        <table class="report-head">
            <tbody>
                <tr>
                     <td class="logo-td">
                      <div class="company-logo" style="padding-top:8px;">
                            @if (Model.CompanyLogoImageId == null || Model.FileLogo == null)
                            {
                                <img class="logo" src="~/Content/img/svg/CompanyLogoBox.svg" />
                            }
                            else
                            {
                                @*<img src="/Media/GetImage?imageId=@(Model.CompanyLogoImageId)&width=163&height=92&@(Guid.NewGuid())" class="logo">*@
                                <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.FileLogo.BinaryData))" class="media-object img-circle assigned-to-large-photo avatar-image" style="height:170px !important;"/>
                                 @*<img src = "/Media/GetImage?imageId=@(Model.CompanyLogoImageId)&width=163&height=92&@(Guid.NewGuid())" class="logo">*@
                            }
                        </div>
                    </td>
                     <td class="report-title">
                         <div class="title">
                             Handover Report
                         </div>
                         @if (Model.ShiftType != null)
                         {
                             <div class="report-date">
                                 @Model.Dates &#160; &#8212 &#160; @Model.ShiftType
                             </div>
                         }
                         else
                         {
                             <div class="report-date">
                                 @Model.Dates
                             </div>
                         }
                         <div class="report-type">
                             <div class="type @Model.ReporType.ToString().ToLower()">@Model.ReporType.ToString() Version</div>
                         </div>
                     </td>
                    <td class="report-info">
                        <div class="from">
                            <div class="title">From:</div>
                            <div class="name">@Model.From</div>
                        </div>
                        <div class="to">
                            <div class="title">To:</div>
                            <div class="name">@Model.To</div>
                        </div>
                        @if (!string.IsNullOrWhiteSpace(Model.SharedUserInitials))
                        {
                            <div class="shared">
                                <div class="title">Shared:</div>
                                <div class="name">@Model.SharedUserInitials</div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.ContributorsInitials))
                        {
                            <div class="contributors">
                                <div class="title">Contributors:</div>
                                <div class="name">@Model.ContributorsInitials</div>
                            </div>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="modules">
            @Html.Partial("~/Views/Reports/HandoverReport/_ReportTopicModule.cshtml", Model.HSEModule)
            @Html.Partial("~/Views/Reports/HandoverReport/_ReportTopicModule.cshtml", Model.CoreModule)
            @Html.Partial("~/Views/Reports/HandoverReport/_ReportTopicModule.cshtml", Model.TeamModule)
            @Html.Partial("~/Views/Reports/HandoverReport/_ReportTopicModule.cshtml", Model.ProjectModule)

            @if (Model.TaskBoardTasks != null)
            {
                @Html.Partial("~/Views/Reports/HandoverReport/_ReportTaskBoardModule.cshtml", Model.TaskBoardTasks)
            }

            @if (Model.TaskModule != null && Model.IsPreviewMail.HasValue)
            {
                if (Model.TaskModule.Tasks != null && Model.TaskModule.Tasks.Any())
                {
                    <div class="module-block">
                        <span class="module-title">@Model.TaskModule.Name</span>
                        <div class="row no-margin">
                            @foreach (var task in Model.TaskModule.Tasks)
                            {
                            <div class="col-xs-12 no-padding task">
                                @if (task != null)
                                {
                                    <div class="task-body @(task.IsNullReport ? "text-grey" : "")">
                                        <div class="row no-margin">
                                            @*<div class="action">
                                                @if (task.IsPinned.HasValue)
                                                {
                                                    <div class="task-icon @(task.IsPinned.Value ? "blue-pin" : "grey-pin")"></div>
                                                }
                                                else
                                                {
                                                    if (task.IsNullReport)
                                                    {
                                                        <div class="task-icon grey-pin"></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="task-icon white-pin"></div>
                                                    }
                                                }
                                            </div>*@
                                            <div class="body">
                                                <div class="row first-row">
                                                    <div class="task-name">@task.Reference</div>
                                                    @*<span>|</span>*@
                                                    <div class="task-reference">@task.Name</div>
                                                </div>
                                                <div class="row second-row">
                                                    <div class="task-notes">
                                                        @Html.ConvertTextToHtml(task.Description)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="information">
                                                <div class="task-due-date">
                                                    <div class="date">@task.Date</div>
                                                </div>
                                                <div class="taks-priority">
                                                    <div class="priority @task.Priority.ToLower()">@task.Priority</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                            }
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</body>

</html>