.report-print-block {
    font-family: 'Proxima-Nova-Regular' !important;

    .report-preview-template {
        padding: 30px 40px;
        background-color: #fff;
        min-height: 840px;

        span, p {
            font-family: 'Proxima-Nova-Regular';
            color: @main-brown;
        }

        .logo {
            width: 150px;
            height: 100px;
        }

        .header-block {
            max-width: 450px;
            padding-top: 10px;
        }


        .report-title {
            display: block;
            font-size: 25px;
            line-height: 20px;
            text-align: center;
            color: @main-brown;
        }

        .report-date {
            display: block;
            border-top: 1px solid @main-brown;
            border-bottom: 1px solid @main-brown;
            color: @main-brown;
            text-align: center;
            font-size: 16px;
            line-height: 32px;
            padding: 10px 0;
            text-align: center;
            width: 265px !important;
        }

        .report-type {
            display: block;
            line-height: 10px;
            text-align: center;
            font-size: 15px;
            color: @main-brown;
        }

        .source-block {
            text-align: center;
            line-height: 45px;
            border-top: 2px solid @horizontal-line-grey;
            border-bottom: 2px solid @horizontal-line-grey;
        }

        .first-topic {
            border-bottom: 2px solid #ededed;
        }

        .source {
            font-size: 12px;
            text-transform: uppercase;
            color: @main-brown;
        }

        .null-report {
            margin-top: 10px;
            display: inline-block;
        }


        .name {
            font-size: 17px;
            color: @main-brown;
        }

        .vertical-line {
            border-right: 1px solid @main-brown;
            height: 10px;
        }

        .module-block {
            border-bottom: 2px solid @module-block-underline;
            padding-bottom: 3px;
            /*margin-bottom: 20px;*/
            padding-top: 30px;
            page-break-inside: avoid !important;

            &:after {
                content: '';
                display: block;
                border-bottom: 2px solid @module-block-underline;
            }
        }

        .module-title {
            text-align: center;
            font-size: 20px;
            padding: 5px 0 20px 0;
            width: 100%;
            display: block;
        }

        .message-title {
            font-size: 14px;
            color: @main-brown;
            line-height: 15px;
            letter-spacing: -0.3px;
            /*margin-top: 20px;*/
            display: inline;
        }


        .task-priority {
            font-size: 12px;
        }

        .topic-block {
            border-bottom: 2px solid @inderline-row;
            word-wrap: break-word;
            page-break-inside: avoid !important;
            display: block;
            padding-bottom: 5px;
            padding-top: 15px;
            padding-left: 20px;
            padding-right: 20px;
            /*.col-xs-3 {
                .icon {
                    margin-top: 14px;
                }*/
            /*}*/
        }

        .task-block {
            page-break-inside: avoid !important;
            display: block;
            padding-top: 15px;

            .col-xs-3 {
                .icon {
                    margin-top: 5px;
                }
            }
        }

        .topic-block:last-child {
            /*border-bottom: none;*/
            /*page-break-inside: avoid !important;*/
            display: block;
        }

        .message-title-block {
            display: inline-block;
        }

        .task-column {
            text-decoration: underline;
            display: block;
            text-align: left;
            padding-top: 6px;
        }
    }

    .report-preview-template-footer {
        background-color: #fff;

        .report-preview-footer {
            height: 80px;
        }

        .main-logo {
            width: 100px;
            height: 50px;
            background-image: url("@{main-url-img}/PreviewRelayLogo.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
        vertical-align: middle;
    }

    .pin-enable-icon {
        background-image: url("@{main-url-img}/PreviewWhitePinIcon.svg");
    }

    .pin-disable-icon {
        background-image: url("@{main-url-img}/PreviewBluePinIcon.svg");
    }

    .hand-back-icon {
        background-image: url("@{main-url-img}/PreviewHandbackIcon.svg");
    }

    .attachments-icon {
        background-image: url("@{main-url-img}/PreviewAttachmentsIcon.svg");
    }

    .voice-message-icon {
        background-image: url("@{main-url-img}/PreviewVoiceMessagesIcon.svg");
    }

    .task-icon {
        background-image: url("@{main-url-img}/PreviewTaskIcon.svg");
    }

    .n-report-icon {
        background-image: url("@{main-url-img}/PreviewNoReportIcon.svg");
    }

    .topic-type-icon {
        width: 50px;
        background-image: url("@{main-url-img}/PreviewDraftButton.svg");
    }
}
