.multi-tenancy-white {
    #reportBuilderPanel {
        border: 1px solid #b4b4b4;

        .panel-heading {
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
            background-color: #fff;
            color: #464646;
            text-align: center;
            border-bottom: #F0F0F0 solid 1.5px;

            .handover-title {
                text-align: center;
                display: inline-block;
                width: 100%;

                .panel-title {
                    display: inline-block;
                    position: initial;
                }
            }

            .shift-report-builder-controls {
                position: absolute;
                top: 9px;
                right: 10px;

                .share-report-block {
                    .share-report-icon-inactive {
                        background-image: data-uri("@{main-url-img}/share_report_dark_icon.svg");
                        border: none;
                        background-repeat: no-repeat;
                        width: 25px;
                        height: 25px;
                    }
                }
            }

            .pencil-block {
                width: 16px;
                height: 16px;
                background-image: data-uri("@{main-url-img}/penciI-dark.svg");
                cursor: pointer;
                margin-top: 5px;
                margin-left: 10px;
                cursor: pointer;
            }

            .share-report-block {
                margin-left: 10px;
                margin-right: 5px;

                .share-report-icon-inactive {
                    border: 1.5px solid #787878;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                    background-image: data-uri("@{main-url-img}/share_report_icon.svg");

                    .count {
                        display: none;
                    }
                }

                .share-report-icon-active {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    cursor: pointer;
                    background-image: data-uri("@{main-url-img}/share_report_icon_green.svg");
                    display: block;

                    .count {
                        padding-left: 1px;
                        text-align: center;
                        height: 15px;
                        width: 15px;
                        display: block;
                        color: #fff;
                        font-size: 10px;
                        position: absolute;
                        letter-spacing: 1px;
                        font-weight: bold;
                        background-color: #F29105;
                        border-radius: 50%;
                        margin-left: 17px;
                        margin-top: -3px;
                    }
                }
            }

            .btn-circle {
                display: inline-block;
                width: 27px;
                height: 27px;
                top: 0;

                &:hover {
                    opacity: 0.75;
                }

                .span {
                    top: 0;
                    width: 100%;
                    height: 100%;

                    &:before {
                        content: "";
                        width: 100%;
                        height: 100%;
                        display: block;
                    }
                }
            }

            .plus-btn {
                .span {
                    &:before {
                        background-image: data-uri("@{main-url-img}/plus.svg");
                    }
                }
            }

            .filter-btn {
                margin-right: 4px;

                .span {
                    &:before {
                        background-image: data-uri("@{main-url-img}/relay_filter_icon.svg");
                    }
                }
            }

            .finish-swing-btn {
                margin-right: 4px;

                .span {
                    &:before {
                        background-image: data-uri("@{main-url-img}/send_report_icon.svg");
                    }
                }
            }

            .document-btn {
                .span {
                    &:before {
                        background-image: data-uri("@{main-url-img}/relay_pdf_report_icon.svg");
                    }
                }
            }

            .qme-pdf-report {
                .span {
                    &:before {
                        background-image: data-uri("@{main-url-img}/qme_report_icon.svg");
                    }
                }
            }

            .btn-link {
                color: @simple-white;
                padding: 0;

                .glyphicon-list {
                    margin: 20px 5px;

                    &:before {
                        content: "";
                        background-image: data-uri("@{main-url-img}/menu_hamburger.svg");
                        width: 20px;
                        height: 15px;
                        display: block;
                        margin-top: 5px;
                    }
                }
            }
        }

        .main-panel {
            .navbar-white {
                background-color: #fff;
                color: #464646;
                border-bottom: #F0F0F0 solid 1.5px;

                .nav-pills {
                    li {
                        a {
                            /*color: #464646;
                            background-color: rgba(120,120,120, .25);
                            border: 1.5px solid #DCDCDC;
                            width: 100px;
                            height: 25px;
                            font-size: 12px;
                            font-weight: bold;*/
                            /*color: @simple-white;*/
                            font-size: 12px;
                            width: 120px;
                            border: 2px solid #F0F0F0;
                            border-radius: 15px;
                            color: #464646;
                            text-align: center;
                            font-weight: bold;
                            background-color: #F0F0F0;
                            cursor: pointer;

                            &.active {
                                background-color: #0096C8;

                                &:hover, &:active, &:focus, &:visited {
                                    color: #fff;
                                }
                            }
                        }

                        &.active {
                            a {
                                border: 1.5px solid #0096C8;
                                background-color: #0096C8;
                                color: #fff;
                            }
                        }
                    }
                }

                .finish-swing-btn {
                    margin-right: 4px;

                    .span {
                        &:before {
                            background-image: data-uri("@{main-url-img}/send_report_icon.svg");
                        }
                    }
                }

                .btn-custom {
                    /*color: #464646;
                    background-color: rgba(120, 120, 120, 0.25);
                    border: 1.5px solid #DCDCDC;
                    width: 100px;
                    height: 25px;
                    font-size: 12px;
                    font-weight: bold;
                    margin-bottom: 10px;*/
                    font-size: 12px;
                    width: 120px;
                    border: 2px solid #F0F0F0;
                    border-radius: 15px;
                    color: #464646;
                    text-align: center;
                    font-weight: bold;
                    background-color: #F0F0F0;
                    cursor: pointer;
                }

                .pencil-block {
                    height: 20px;
                    width: 20px;
                    top: 5px;
                    margin-left: 10px;
                    cursor: pointer;
                    background-image: data-uri("@{main-url-img}/relay_pencil_dark_icon.svg");
                }

                .share-report-block {
                    .share-report-icon-inactive {
                        background-image: data-uri("@{main-url-img}/share_report_dark_icon.svg");
                        border: none;
                    }
                }

                .edit-rotation-dates {
                    background-image: data-uri("@{main-url-img}/edit-rotation.svg");
                    width: 27px;
                    height: 27px;
                    background-repeat: no-repeat;
                    float: right;
                    cursor: pointer;
                }


                #fromToBlock {
                    margin-right: 0px;

                    .arrow-left {
                        color: #464646 !important;
                    }

                    .user-photo-img {
                        border: none !important;
                    }
                }

                .period-block {
                    color: #464646;
                    background-color: #fff;
                    border: none;
                    font-size: 12px;
                    font-weight: bold;
                    letter-spacing: 0px;
                    padding-top: 5px;
                    display: inline-block;
                    float: left;
                    min-width: initial;
                    max-width: 140px;
                    width: auto;
                }

                .left-block {
                    span {
                        margin-left: 15px;
                        border-right: solid #B4B4B4 2px;
                        height: 20px;
                        margin-left: 10px;
                        display: inline-block;
                        float: left;
                        margin-top: 3px;
                    }
                }
            }

            .nav-pills {
                li {
                    a {
                        font-size: 12px;
                        width: 120px;
                        border: 2px solid #F0F0F0;
                        border-radius: 15px;
                        color: #464646;
                        text-align: center;
                        font-weight: bold;
                        background-color: #F0F0F0;
                        cursor: pointer;
                    }
                }

                li.active {
                    a {
                        padding: 10px 9px;
                        width: 120px;
                        border: 1.5px solid @main-blue;
                        background: none;
                        border-radius: 15px;
                        color: @simple-white;
                        font-size: 12px;
                        cursor: pointer;

                        &:hover, &:active, &:focus, &:visited {
                            color: @simple-white;
                        }
                    }
                }
            }

            .btn-custom {
                padding: 3px 17px;
                border: 1.5px solid @inactive-name-of-tabs;
                background: none;
                border-radius: 15px;
                color: @simple-white;
                font-size: 10px;
                margin: 0 10px 0 10px;
                margin-bottom: 10px;
            }

            .period-block {
                background: none;
                text-align: left !important;
                position: relative;
                display: inline-block;
                height: 25px;
                vertical-align: middle;
                margin-left: 10px;

                .btn-custom {
                    padding: 3px 3px;
                    letter-spacing: 0px;
                    margin: 0px;
                    width: 130px;
                    margin-bottom: 10px;
                }
            }

            button.active {
                border: 1.5px solid @main-blue;

                @media @media767 {
                    float: initial !important;
                    margin: 0 auto;
                    display: block;
                }
            }

            #fromToBlock {
                display: inline-block;
                vertical-align: middle;
                float: left;
                text-align: left;
                margin-right: -10px;
                position: relative;

                .draft-from-to-block {
                    text-align: left;
                    margin-left: 10px;

                    .arrow-left {
                        display: inline-block;
                        color: white;
                        font-size: 16px;
                        font-weight: 700;
                        padding: 0 5px;
                        width: 30px;
                    }

                    .user-photo-btn {
                        padding: 0;
                        background: none;
                        display: inline-block;

                        .user-photo-img {
                            max-width: 100%;
                            max-height: 100%;
                            border-radius: 50%;
                            height: 25px;
                            width: 25px;
                            border: 1.5px solid #787878;
                        }
                    }
                }
            }

            .edit-rotation-dates {
                background-image: data-uri("@{main-url-img}/edit-rotation.svg");
                width: 27px;
                height: 27px;
                background-repeat: no-repeat;
                float: right;
                cursor: pointer;
            }


            .share-report-block {
                display: inline-block;
                text-align: left;
                float: left;
                margin-left: 10px;
                position: relative;

                .share-report-icon-inactive {
                    border: 1.5px solid #787878;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                    background-image: data-uri("@{main-url-img}/share_report_icon.svg");

                    .count {
                        display: none;
                    }
                }

                .share-report-icon-active {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    cursor: pointer;
                    background-image: data-uri("@{main-url-img}/share_report_icon_green.svg");
                    display: block;

                    .count {
                        padding-left: 1px;
                        text-align: center;
                        height: 15px;
                        width: 15px;
                        display: block;
                        color: #fff;
                        font-size: 10px;
                        position: absolute;
                        letter-spacing: 1px;
                        font-weight: bold;
                        background-color: #F29105;
                        border-radius: 50%;
                        margin-left: 17px;
                        margin-top: -3px;
                    }
                }
            }
        }

        .navbar-brown .row {
            div {
                text-align: center;

                &:first-child {
                    text-align: left;
                }

                &:last-child {
                    text-align: right;
                }
            }
        }
    }
}
