﻿@model ContributedUsersViewModel

@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}

@if (!Model.ContributedUsers.Any())
{
    <div class="panel panel-default text-center margin-top-20">
        <div class="panel-body">
            <strong>You have no contributed users at present!</strong>
        </div>
    </div>
}
else
{
    <div class="contributed-users-page">
        <div class="row panels-block">
            @foreach (var item in Model.ContributedUsers)
            {
                @Html.Partial("~/Views/Contributors/_UsersControl.cshtml", item)
            }
        </div>
        @if (Model.ContributedUsers.TotalItemCount > 9)
        {
            <div class="footer-block">
                <div class="view-block">
                    <div class="eyes"></div>
                    <div class="count-block">
                        <a href="@Url.Action("Index", "ContributedUsers", new { pageSize = 9 })"><div class="counter @(Model.ContributedUsers.PageSize == 9 ? "active" : "" )">9</div></a>
                        <a href="@Url.Action("Index", "ContributedUsers", new { pageSize = 18 })"><div class="counter @(Model.ContributedUsers.PageSize == 18 ? "active" : "" )">18</div></a>
                        <a href="@Url.Action("Index", "ContributedUsers", new { pageSize = Model.ContributedUsers.TotalItemCount > 18 ? Model.ContributedUsers.TotalItemCount : 19 })"><div class="counter @(Model.ContributedUsers.PageSize > 18 ? "active" : string.Empty)">All</div></a>
                    </div>
                </div>
                <div class="pagination-block">
                    <div class="pagination-pages">
                        @Html.Pager(Model.ContributedUsers.PageSize, Model.ContributedUsers.PageNumber, Model.ContributedUsers.TotalItemCount).Options(o => o
                            .DisplayTemplate("BootstrapPagination")
                            .MaxNrOfPages(1)
                            .DisplayFirstAndLastPage())
                    </div>
                </div>
            </div>
        }
    </div>
    <script>
        $(document).ready(function () {
            $(".tooltipster").tooltipster({
                debug: false
            });
        });
    </script>
}