﻿@model Guid

<div Id="projectFollowersDialog" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade project-followers-dialog">
    <div class="modal-dialog">
        <div class="theme">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row vertical-center">
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div Id="modalTitle" class="modal-title">Project Followers</div>
                        </div>
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                            <button class="btn btn-save">Save</button>
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="tab-block">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="inner-addon">
                                    <span class="glyphicon glyphicon-search"></span>
                                    @Html.TextBox("search", "", new { @class = "search-control", @placeholder = "Search" })
                                </div>
                                <div class="navigation-block">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#teams-tab" role="tab" data-toggle="tab">Team</a></li>
                                        <li class=""><a href="#team-members-tab" role="tab" data-toggle="tab">Team members</a></li>
                                    </ul>
                                </div>
                                <div class="tab-content" style="">
                                    <div class="project-teams-tabs active tab-pane fade in" Id="teams-tab">
                                        @Html.Action("TeamsTab", Model)
                                    </div>
                                    <div class="project-team-members-tabs tab-pane fade in" Id="team-members-tab">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>