﻿@model ProjectFollowersTabViewModel

<div style="display: initial;" class="tab-pane active" projectId="@Model.ProjectId">
    @Html.AntiForgeryToken()
    <div class="team-members">
        <div class="team-container">
            <div class="title-container">
                <div class="title-select icon-column"></div>
                <div class="title-select name-column">Full Name</div>
                <div class="title-select position-column">Position</div>
                <div class="title-select team-name-column">Teams</div>
                <div class="title-select check-column"></div>
            </div>
            <div class="swiper-container team-members-swiper swiper-container-vertical">
                @if (Model.Followers.Any())
                {
                    <div class="swiper-wrapper">
                        @foreach (var follower in Model.Followers)
                        {
                            <div class="swiper-slide follower-slide">
                                <div class="follower-team-tabs-icon">
                                    <span class="circle @(follower.OnSite ? "green" : "gray")"></span>
                                </div>
                                <div class="follower-team-tabs-name">@follower.Name</div>
                                <div class="follower-team-tabs-position">@follower.Position</div>
                                <div class="follower-team-tabs-team-name">@follower.Team</div>
                                <div class="follower-team-tabs-check" followerId="@follower.Id">
                                    @Html.CheckBox("Select", follower.Select)
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div style="text-align: center; padding-top: 40px;">
                        followers were not found.
                    </div>
                }
            </div>
            <div class="team-members-swiper-prev"></div>
            <div class="team-members-swiper-next"></div>
        </div>
    </div>
</div>
