﻿@model ProjectsTeamsTabViewModel


<div style="display: initial;" class="tab-pane active teams-tab" projectId="@Model.ProjectId">
    @Html.AntiForgeryToken()
    <div class="row">
        @foreach(var team in Model.Teams)
        {
            <div class="team-item @(team.IsSelected ? "active" : "")"
                 teamId="@team.Id">
                @team.Name
            </div>
        }
    </div>
</div>