﻿@model IEnumerable<CriticalControlViewModel>

<div Id="editMajorHazardDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade major-hazard-dialog">

    <div class="modal-dialog">
        <div class="theme">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row vertical-center">
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div Id="modalTitle" class="modal-title">Edit Major Hazard</div>
                        </div>
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                            <button type="submit" class="btn btn-save">Save</button>
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                            <div Id="majorHazardEditSwiper">
                                <div class="table-thead row">
                                    <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5 title">Critical Controls</div>
                                    <div class="col col-lg-7 col-md-7 col-sm-7 col-xs-7 title">Team Permissions</div>
                                </div>
                                <div class="critical-controls-table">
                                    <div class="swiper-prev"></div>
                                    <div class="swiper-next"></div>
                                    <div class="swiper-container critical-control-swiper">
                                        <div class="swiper-wrapper">
                                            @if (Model.Any())
                                            {
                                                foreach (var criticalControl in Model)
                                                {
                                                    <div class="row swiper-slide critical-control-item">
                                                        <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5 critical-control-name overflow">
                                                            <p critical-control-Id="@criticalControl.Id" class="overflow">@criticalControl.Name</p>
                                                        </div>
                                                        <div class="col col-lg-7 col-md-7 col-sm-7 col-xs-7 critical-control-permission">
                                                            @foreach (var team in criticalControl.Teams)
                                                            {
                                                                <div class="team-fill">@team.Text</div>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="no-critical-controls">No critical controls</div>
                                            }
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div Id="form-input-safely" class="btn-plus-white center-block add-new">
                                        <div class="span"></div>
                                    </div>
                                </div>
                            </div>
                            <div Id="new-safely-popup-safely"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>