﻿@model EditMajorHazardViewModel

@*

    safety ver 1

*@

@using (Html.BeginForm("AddMajorHazard", "MajorHazard", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div Id="form" class="upload-photo large-margin">
        <div data-provides="fileinput" class="fileinput fileinput-new">
            <div data-trigger="fileinput" class="fileinput-preview thumbnail"></div>
            <div>
                <span class="btn-file">
                    @Html.TextBoxFor(m => m.Icon, new { @class = "new-icon", type = "file", accept = "image/*", })
                    @Html.ValidationMessageFor(Model => Model.Icon)
                </span>
            </div>
        </div>
    </div>
    @Html.TextBoxFor(Model => Model.Name, new { @class = "tx-input", placeholder = "Enter title" })
    @Html.ValidationMessageFor(Model => Model.Name)
}