﻿@model IPagedList<MajorHazardViewModel>

@*

    safety ver 1

*@

@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}
<div class="administration-content">
    <div Id="majorHazardPanel">
        <div class="safely-content row">
            <div class="majhazard grey first col-lg-2 col-md-3 col-sm-6 col-xs-6">Major Hazards</div>
            @foreach (var majorHazard in Model)
            {
                <div class="majhazard orange col-lg-2 col-md-3 col-sm-6 col-xs-6" major-hazard-Id="@majorHazard.Id">
                    <img src="@Url.Action("GetImage", "Media", new { imageId = majorHazard.IconId, width = 95, height = 95 })">
                    <div class="tx">@majorHazard.Name</div>
                </div>
            }
            <div class="majhazard orange col-lg-2 col-md-3 col-sm-6 col-xs-6" Id="newForm">
                <div Id='newItem' class='plus'></div>
            </div>
        </div>
        <div class="pagination-block">
            <div class="pagination-pages">
                @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
                    .DisplayTemplate("BootstrapPagination")
                    .MaxNrOfPages(1)
                    .DisplayFirstAndLastPage())
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/relay/safety/v1/dialogs/major-hazard-dialog-v1.module.js"></script>
<script src="~/Content/js/relay/safety/v1/major-hazard-v1.module.js"></script>