﻿.qme-portrait {
    background-color: white !important;
    width: 1140px;

    .report-page {
        .report-head {
            width: 100%;

            td {
                &.logo-td {
                    width: 232px;
                    text-align: center;

                    .company-logo {
                        margin: 10px;

                        img {
                            width: 196px;
                            height: 105px;
                        }
                    }
                }

                &.report-title {
                    .title {
                        margin: 10px 0;
                        font-size: 20pt;
                        font-weight: bold;
                        color: #464646;
                        border-bottom: solid 1px #464646;
                        width: 245px;
                    }

                    .report-date {
                        margin: 10px 0;
                        font-size: 14pt;
                        font-weight: normal;
                        color: #464646;
                    }

                    .report-type {
                        margin: 10px 0;

                        .type {
                            background-color: #F0F0F0;
                            border-radius: 13px;
                            color: #464646;
                            font-size: 12pt;
                            font-weight: normal;
                            width: 150px;
                            height: 26px;
                            text-align: center;

                            &.draft {
                                width: 150px;
                            }

                            &.received {
                                width: 180px;
                            }
                        }
                    }
                }

                &.report-info {
                    text-align: right;

                    .from, .to, .shared, .contributors {
                        margin: 10px 0;

                        .title {
                            font-size: 14pt;
                            font-weight: normal;
                            color: #464646;
                            display: inline-block;
                        }

                        .name {
                            display: inline-block;
                            font-size: 14pt;
                            font-weight: normal;
                            color: #464646;
                        }
                    }
                }
            }
        }

        .modules {
            //margin-top: 10px;
        }

        .module-block {
            border-top: solid 4px #F29105;
            margin-top: 10px;
            //page-break-inside: avoid !important;
            .module-title {
                font-size: 14pt;
                color: #F29105;
                font-weight: bold;
            }



            &.double-topic {
                .first-col {
                    padding-right: 20px !important;

                    .topic-body {
                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }

                .second-col {
                    padding-left: 20px !important;

                    .topic-body {
                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }

            .simple-topic {
                &:last-child {
                    .topic-body {
                        border-bottom: none;
                    }
                }
            }

            .topic-body {
                border-bottom: solid 1px #B4B4B4;
                margin-bottom: 5px;
                page-break-inside: avoid !important;

                &.text-grey {
                    .topic-name, span, .topic-reference, .topic-notes {
                        color: #B4B4B4 !important;
                    }
                }

                .first-row {
                    margin: 0;

                    .topic-name {
                        display: inline-block;
                        color: #464646;
                        font-size: 12pt;
                        font-weight: bold;
                    }

                    span {
                        margin-left: 4px;
                        margin-right: 4px;
                    }

                    .topic-reference {
                        display: inline-block;
                        color: #464646;
                        font-size: 12pt;
                        font-weight: bold;
                    }
                }

                .second-row {
                    margin: 0;

                    .topic-notes {
                        display: inline-block;
                        color: #464646;
                        font-size: 12pt;
                        font-weight: normal;
                    }

                    .topic-tag {
                        display: inline-block;

                        .tag {
                            background-color: #464646;
                            color: #fff;
                            font-size: 12pt;
                            font-weight: bold;
                            border-radius: 15px;
                            height: 25px;
                            width: auto;
                            min-width: 50px;
                            max-width: 90px;
                            text-align: center;
                            padding-top: 1px !important;
                            float: right;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            padding-left: 5px;
                            padding-right: 5px;
                            margin-top: -3px !important;
                            margin-bottom:10px;
                        }

                        .more-btn-tags {
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            font-size: 12pt;
                            font-weight: bold;
                            color: #fff;
                            line-height: 15px;
                            text-align: center;
                            background: #464646;
                            float: right;
                            padding-left: 4px;
                            padding-right: 3px;
                            margin-left: 3px;
                        }
                    }
                }

                .third-row {

                    span {
                        margin-left: 4px;
                        margin-right: 4px;
                    }

                    display: inline-block;
                    margin: 0;
                    color: #464646;
                    font-size: 12pt;
                    font-weight: normal;
                }
            }

            .task {
                &:last-child {
                    .task-body {
                        border-bottom: none;
                    }
                }

                .task-body {
                    border-bottom: solid 1px #B4B4B4;
                    margin-bottom: 5px;
                    page-break-inside: avoid !important;

                    &.text-grey {
                        .task-name, .task-reference, span, .task-notes, .task-due-date {
                            color: #B4B4B4 !important;
                        }
                    }

                    .first-row {
                        margin: 0;

                        .task-name {
                            display: inline-block;
                            color: #464646;
                            font-size: 12pt;
                            font-weight: bold;
                        }

                        span {
                            margin-left: 4px;
                            margin-right: 4px;
                        }

                        .task-reference {
                            display: inline-block;
                            color: #464646;
                            font-size: 12pt;
                            font-weight: bold;
                        }
                    }

                    .second-row {
                        margin: 0;

                        .task-notes {
                            display: inline-block;
                            color: #464646;
                            font-size: 12pt;
                            font-weight: normal;
                        }

                        .taks-priority {
                            display: inline-block;
                            padding-bottom: 5px !important;
                            float: right;

                            .priority {
                                width: 106px;
                                height: 24px;
                                border-radius: 13px;
                                text-align: center;
                                font-size: 12pt;
                                font-weight: bold;
                                color: #fff;
                                padding-bottom: 2px;
                                float: right;

                                &.low {
                                    background-color: #787878;
                                }

                                &.normal {
                                    background-color: #009982;
                                }

                                &.important {
                                    background-color: #0096C8;
                                }

                                &.critical {
                                    background-color: #F29105;
                                }

                                &.urgent {
                                    background-color: #BE005A;
                                }
                            }
                        }

                        .task-due-date {
                            display: inline-block;
                            font-size: 12pt;
                            font-weight: normal;
                            color: #464646;
                            padding-top: 3px !important;
                            //margin-left: -30px;
                            padding-right: 35px !important;
                            text-align: right;
                        }
                    }

                    .third-row {
                        span {
                            margin-left: 4px;
                            margin-right: 4px;
                        }

                        display: inline-block;
                        margin: 0;
                        color: #464646;
                        font-size: 12pt;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}
