﻿@model SettingsDialogAccessViewModel

<ul class="nav nav-tabs">
    @if (Model.Profile.PresonalTab)
    {
        <li class="active"><a href="#profilePersonalDetails" tab-url="/Profile/PersonalDetailsTab" data-toggle="tab">Personal</a></li>
    }
    @if (Model.Profile.SecurityTab)
    {
        <li><a href="#profileSecurity" tab-url="/Profile/SecurityTab" data-toggle="tab">Security</a></li>
    }
    @*@if (Model.Profile.PreferencesTab)
    {
        <li><a href="#profilePreferences" tab-url="/Profile/PreferencesTab" data-toggle="tab">Preferences</a></li>
    }*@
</ul>
<div class="tab-content">
    @if (Model.Profile.PresonalTab)
    {
        @Html.Action("PersonalDetailsTab", "Profile")
    }
</div>
