﻿@model QMEReportModuleViewModel

@{
    var i = 0;
}

@if (Model.Topics != null && Model.Topics.Any())
{
    <div class="module-block @(Model.IsTwoColInRow ? "double-topic" : string.Empty)">
        <span class="module-title">@Model.Name</span>
        <div class="row no-margin">
            @if (Model.IsTwoColInRow)
            {
                <div class="first-col col-xs-6 no-padding">
                    @foreach (var topic in Model.Topics)
                    {
                        if (i % 2 == 0)
                        {
                            {
                                i++;
                            }
                              //  <span style="color: red !important">@i.ToString()</span>

                            @Html.Partial("~/Views/Reports/QMEReport/_ReportTopic.cshtml", topic)
                        }
                        else
                        {
                            {
                                i++;
                            }
                            continue;
                        }
                    }
                </div>
                {
                    i = 0;
                }
                <div class="second-col col-xs-6 no-padding">
                    @foreach (var topic in Model.Topics)
                    {
                        if (i % 2 == 0)
                        {
                            {
                                i++;
                            }
                            continue;
                        }
                        else
                        {
                            {
                                i++;
                            }
                         //   <span style="color: red !important">@i.ToString()</span>
                            @Html.Partial("~/Views/Reports/QMEReport/_ReportTopic.cshtml", topic)

                        }
                    }
                </div>

            }
            else
            {
                foreach (var topic in Model.Topics)
                {
                    <div class="col-xs-12 simple-topic no-padding">
                        @Html.Partial("~/Views/Reports/QMEReport/_ReportTopic.cshtml", topic)
                    </div>
                }
            }
        </div>
    </div>
}