﻿@model TaskBoardTaskForHandover

@if (Model != null)
{
  <div class="task-body">
    <div class="row first-row">
      <div class="task-reference">@Model.Name</div>
    </div>
    <div class="row second-row">
      <div class="col-xs-9 no-padding topic-notes">@Model.Notes</div>
      <div class="col-xs-2 no-padding task-due-date">@Model.Deadline</div>
      <div class="col-xs-1 no-padding taks-priority">
        <div class="priority @Model.Priority.ToString().ToLower()">@Model.Priority</div>
      </div>
    </div>
  </div>
}

