﻿@model QMEReportTopicViewModel

@if (Model != null)
{
<div class="topic-body @(Model.IsNullReport ? "text-grey" : "")">
    <div class="row first-row">
        <div class="topic-name">@Model.TopicGroupName</div>
        <span>|</span>
        <div class="topic-reference">@Model.Name</div>
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.Description) || !string.IsNullOrWhiteSpace(Model.Tag))
    {
        <div class="row second-row">
            <div class="col-xs-9 no-padding topic-notes">
                @if (!string.IsNullOrWhiteSpace(Model.Description))
                {
                    @Html.ConvertTextToHtml(Model.Description)
                }
            </div>
            <div class="col-xs-3 no-padding topic-tag">
                @if (!string.IsNullOrWhiteSpace(Model.Tag))
                {
                    if (Model.MoreTag)
                    {
                        <div class="more-btn-tags">...</div>
                    }
                    <div class="tag">@Model.Tag</div>
                }
            </div>
        </div>
    }
    @if (Model.Actual != null && Model.Actual != "" || Model.Planned != null && Model.Planned != "")
    {
        <div class="row third-row">
            <span>
                <img src="@Url.Content("~/Content/img/svg/PvA.svg")" style="width: 30px; height:20px;" />
            </span>
            <p style="font-weight:bold; display:inline-block; padding-top:20px;">Planned:</p>@Model.Planned 	&#160;   <p style="font-weight:bold; display:inline-block;padding-top:20px;">Actual:</p>@Model.Actual
        </div>
    }
</div>
}