﻿@model QMEReportTaskViewModel

@if (Model != null)
{
    <div class="task-body @(Model.IsNullReport ? "text-grey" : "")">
        <div class="row first-row">
            <div class="task-name">@Model.Reference</div>
            <span>|</span>
            <div class="task-reference">@Model.Name</div>
        </div>
        <div class="row second-row">
            <div class="col-xs-9 no-padding topic-notes">@Model.Description</div>
            <div class="col-xs-2 no-padding task-due-date">@Model.Date</div>
            <div class="col-xs-1 no-padding taks-priority">
                <div class="priority @Model.Priority.ToLower()">@Model.Priority</div>
            </div>
        </div>
    </div>
}

