﻿@model IEnumerable<TaskBoardTaskForHandover>

@if (Model != null && Model.Any())
{
  <div class="module-block">

    <span class="module-title">Tasks</span>
    <div class="row no-margin">
      @foreach (var task in Model)
                {
          <div class="col-xs-12 no-padding task">
            @Html.Partial("~/Views/Reports/QMEReport/_ReportTaskBoardTask.cshtml", task)
          </div>
      }
    </div>

  </div>
}