﻿@model QMEReportViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8" />
    <title>RelayWorks Report</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Styles.Render("~/bundles/styles/layouts/auth-main")
    <link href="~/Content/styles/main.css" rel="stylesheet" />
</head>
<body class="qme-portrait">
    <div class="report-page">
        <table class="report-head">
            <tbody>
                <tr>
                     <td class="logo-td">
                        <div class="company-logo">
                         <div class="company-logo" style="padding-top:8px;">
                            @if (!Model.CompanyLogoImageId.HasValue)
                            {
                                <img class="logo" src="~/Content/img/svg/CompanyLogoBox.svg" />
                            }
                            else
                            {
                                @*<img src="/Media/GetImage?imageId=@(Model.CompanyLogoImageId)&width=163&height=92&@(Guid.NewGuid())" class="logo">*@
                                 <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.FileLogo.BinaryData))" class="media-object img-circle assigned-to-large-photo avatar-image" style="height:170px !important;"/>
                                @*<img src="/Media/GetImage?imageId=@(Model.CompanyLogoImageId)&width=163&height=92&@(Guid.NewGuid())" class="logo">*@
                            }
                        </div>
                    </td>
                     <td class="report-title">
                         <div class="title">
                             Handover Report
                         </div>
                         @if (Model.ShiftType != null)
                         {
                             <div class="report-date">
                                 @Model.Dates &#160; &#8212 &#160; @Model.ShiftType
                             </div>
                         }
                         else
                         {
                             <div class="report-date">
                                 @Model.Dates
                             </div>
                         }

                         <div class="report-type">
                             <div class="type @Model.ReporType.ToString().ToLower()">@Model.ReporType.ToString() Version</div>
                         </div>
                     </td>
                    <td class="report-info">
                        <div class="from">
                            <div class="title">From:</div>
                            <div class="name">@Model.From</div>
                        </div>
                        <div class="to">
                            <div class="title">To:</div>
                            <div class="name">@Model.To</div>
                        </div>
                        @if (!string.IsNullOrWhiteSpace(Model.SharedUserInitials))
                        {
                            <div class="shared">
                                <div class="title">Shared:</div>
                                <div class="name">@Model.SharedUserInitials</div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.ContributorsInitials))
                        {
                            <div class="contributors">
                                <div class="title">Contributors:</div>
                                <div class="name">@Model.ContributorsInitials</div>
                            </div>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="modules">
            @Html.Partial("~/Views/Reports/QMEReport/_ReportTopicModule.cshtml", Model.HSEModule)
            @Html.Partial("~/Views/Reports/QMEReport/_ReportTopicModule.cshtml", Model.CoreModule)
            @Html.Partial("~/Views/Reports/QMEReport/_ReportTopicModule.cshtml", Model.TeamModule)
            @Html.Partial("~/Views/Reports/QMEReport/_ReportTopicModule.cshtml", Model.ProjectModule)
      @*@Html.Partial("~/Views/Reports/QMEReport/_ReportTaskModule.cshtml", Model.TaskModule)*@
      @Html.Partial("~/Views/Reports/QMEReport/_ReportTaskBoardModule.cshtml", Model.TaskBoardTasks)


        </div>

    </div>
</body>

</html>