﻿@model TeammatesDialogViewModel

<div Id="chooseTeammateDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade choose-teammate-dialog">
    <div class="modal-dialog">
        <div class="theme">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row vertical-center">
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div Id="modalTitle" class="modal-title">My Team</div>
                        </div>
                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                            <button type="button" class="btn btn-save">Save</button>
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                            @if (Model.RequestOwner != null)
                            {
                                <div class="team-item-container me">
                                    <span class="container-title">Me</span>
                                    <div class="user user-photo-online tooltipster" id="@Model.RequestOwner.Id" @Html.TooltipAttritutes(Model.RequestOwner.FullName)>
                                        <img src="@Url.Action("GetAvatarForEmployee", "Media", new { area = "", employeeId = Model.RequestOwner.Id, width = 32, height = 32 })"
                                             class="user-img" />
                                    </div>
                                </div>
                            }

                            @if (Model.OnSiteTeammates != null && Model.OnSiteTeammates.Any())
                            {
                                <div class="team-item-container on-site">
                                    <span class="container-title">On Site</span>
                                    @foreach (var user in Model.OnSiteTeammates)
                                    {
                                        <div class="user user-photo-online tooltipster" id="@user.Id" @Html.TooltipAttritutes(user.FullName)>
                                            <img src="@Url.Action("GetAvatarForEmployee", "Media", new {area = "", employeeId = @user.Id, width = 32, height = 32})"
                                                 class="user-img" />
                                        </div>
                                    }
                                </div>
                            }

                            @if (Model.OffSiteTeammates != null && Model.OffSiteTeammates.Any())
                            {
                                <div class="team-item-container off-site">
                                    <span class="container-title">Off Site</span>
                                    @foreach (var user in Model.OffSiteTeammates)
                                    {
                                        <div class="user user-photo-offline tooltipster" id="@user.Id" @Html.TooltipAttritutes(user.FullName)>
                                            <img src="@Url.Action("GetAvatarForEmployee", "Media", new {area = "", employeeId = @user.Id, width = 32, height = 32})"
                                                 class="user-img" />
                                        </div>
                                    }
                                </div>
                            }

                            @if (Model.WithoutRotation != null && Model.WithoutRotation.Any())
                            {
                                <div class="team-item-container off-site">
                                    <span class="container-title">Without Rotation</span>
                                    @foreach (var user in Model.WithoutRotation)
                                    {
                                        <div class="user user-photo-offline tooltipster" id="@user.Id" @Html.TooltipAttritutes(user.FullName)>
                                            <img src="@Url.Action("GetAvatarForEmployee", "Media", new {area = "", employeeId = @user.Id, width = 32, height = 32})"
                                                 class="user-img" />
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>