﻿@model SearchViewModel

<div Id="exportPDF" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade export-PDF-search-results">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.PrintType)
        @Html.HiddenFor(m => m.DateRangeType)
        @Html.HiddenFor(m => m.SearchText)
        @Html.HiddenFor(m => m.TypeFilter)
        @Html.AntiForgeryToken()


        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header" style="margin-bottom: 20px;">
                        <div class="row vertical-center">
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div Id="modalTitle" class="modal-title">Export</div>
                            </div>
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                                <button type="submit" class="btn btn-save">Export</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="handover-recipients-title" style="border-bottom: none; margin-bottom: 10px;">Export As</div>
                                <div class="select-type">
                                    <div class="recipient-block">
                                        @Html.DropDownListFor(m => m.PrintType, EnumHelper.GetSelectList(typeof(TopicSearchPrintType)), "Choose format", new { @class = "select-list printType" })
                                        @Html.ValidationMessageFor(m => m.PrintType)
                                    </div>
                                </div>
                                <br />
                                <div class="select-type">
                                    <div class="handover-recipients-title" style="border-bottom: none; margin-bottom: 10px;">Date Range</div>
                                    <div class="recipient-block">
                                        @Html.DropDownListFor(m => m.DateRangeType, EnumHelper.GetSelectList(typeof(TopicSearchDateRangeType)), "Select date range", new { @class = "select-list dateRange" })
                                        @Html.ValidationMessageFor(m => m.DateRangeType)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <script>
            (function () {

                var printType = 0;

                $(".select-list").on("change", function () {
                    var dialog = $("#exportPDF");
                    var dateRangeType = $("#DateRangeType", dialog);
                    printType = $("#PrintType", dialog);

                    var dateRangeTypeValue = $(".dateRange option:selected").val();
                    dateRangeType.val(dateRangeTypeValue);

                    var printTypeValue = $(".printType option:selected").val();
                    printType.val(printTypeValue);
                 
                });

                $(".btn-save").click(function () {
                    var dateRangeType = $("#DateRangeType").val();
                  

                    var searchString = $("#SearchText").val();
                    var typeFilter = $("#TypeFilter").val();

                    var print;

                    if (printType == 0) {
                        var print = 0;
                    }
                    else {
                        var print = printType[0].value;
                    }
                    

                    var pdfUrl = "/SearchResults/SearchResultsReportPdf?searchString=" + searchString
                        + "&typeFilter=" + typeFilter
                        + "&dateRangeType=" + dateRangeType
                        + "&printType=" + print;

                    window.open(pdfUrl, '_blank');
                });

            })();
        </script>


    }
</div>

