﻿@model SearchViewModel
@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
    ViewBag.Title = "RelayWorks™ | Search Results";
}

<div class="topic-report-container" id="topicSearch">

    @Html.HiddenFor(m => m.PrintType)
    @Html.HiddenFor(m => m.FilterUserId)

    <div class="row padding-top-20" style="text-align: center; margin-left: 15%;">
        <button type="button" class="@(Model.TypeFilter == TypeFilter.Topics || Model.TypeFilter == 0 ? "active-menu-btn" : "menu-btn") topics-btn" search="@Model.SearchText" filter="@TypeFilter.Topics" userId="@Model.FilterUserId">Topics</button>
        <button type="button" class="@(Model.TypeFilter == TypeFilter.Shared ? "active-menu-btn" : "menu-btn") shared-btn" search="@Model.SearchText" filter="@TypeFilter.Shared" userId="@Model.FilterUserId" style="width: 125px !important;">Shared Topics</button>
        <button type="button" class="@(Model.TypeFilter == TypeFilter.Tags ? "active-menu-btn" : "menu-btn") tags-btn" search="@Model.SearchText" filter="@TypeFilter.Tags" userId="@Model.FilterUserId">Tags</button>
        <button type="button" class="@(Model.TypeFilter == TypeFilter.Tasks ? "active-menu-btn" : "menu-btn") task-btn" search="@Model.SearchText" filter="@TypeFilter.Tasks" userId="@Model.FilterUserId">Task</button>
        <button type="button" class="@(Model.TypeFilter == TypeFilter.Metrics ? "active-menu-btn" : "menu-btn") metrics-btn" search="@Model.SearchText" filter="@TypeFilter.Metrics" userId="@Model.FilterUserId">Metrics</button>
        <div class="col-md-2" style="float: right;">
            <button type="button" class="btn btn-save-pdf btn-default" search="@Model.SearchText" filter="@Model.TypeFilter">Export</button>
        </div>

    </div>

    @if (Model.TypeFilter == TypeFilter.Topics || Model.TypeFilter == 0)
    {

        @Html.Action("SearchTopics", "SearchResults", Model)
    }

    @if (Model.TypeFilter == TypeFilter.Tags)
    {

        @Html.Action("SearchTags", "SearchResults", Model)
    }

    @if (Model.TypeFilter == TypeFilter.Tasks)
    {

        @Html.Action("SearchTasks", "SearchResults", Model)
    }

    @if (Model.TypeFilter == TypeFilter.Shared)
    {

        @Html.Action("SearchSharedTopics", "SearchResults", Model)
    }

    @if (Model.TypeFilter == TypeFilter.Metrics)
    {

        @Html.Action("SearchMetricsTopics", "SearchResults", Model)
    }
</div>

<script src="~/Content/js/relay/search-results/search-results.model.js"></script>

@section Scripts
{
    <script>

        $(".topics-btn").click(function () {
            var searchString = $(".topics-btn").attr('search');
            var typeFilter = $(".topics-btn").attr('filter');
            var filterUserId = $(".topics-btn").attr('userId');
            $('#loading-animation').show();
            document.location.href = '/SearchResults/Topics?searchText=' + searchString + '&typeFilter=' + typeFilter;
        });

        $(".tags-btn").click(function () {
            var searchString = $(".tags-btn").attr('search');
            var typeFilter = $(".tags-btn").attr('filter');
            var filterUserId = $(".topics-btn").attr('userId');
            $('#loading-animation').show();
            document.location.href = '/SearchResults/Tags?searchText=' + searchString + '&typeFilter=' + typeFilter;
        });

        $(".task-btn").click(function () {

            var searchString = $(".task-btn").attr('search');
            var typeFilter = $(".task-btn").attr('filter');
            var filterUserId = $(".topics-btn").attr('userId');
            $('#loading-animation').show();
            document.location.href = '/SearchResults/Tasks?searchText=' + searchString + '&typeFilter=' + typeFilter;
        });

        $(".shared-btn").click(function () {

            var searchString = $(".shared-btn").attr('search');
            var typeFilter = $(".shared-btn").attr('filter');
            var filterUserId = $(".topics-btn").attr('userId');
            $('#loading-animation').show();
            document.location.href = '/SearchResults/SharedTopics?searchText=' + searchString + '&typeFilter=' + typeFilter;
        });

        $(".metrics-btn").click(function () {

            var searchString = $(".metrics-btn").attr('search');
            var typeFilter = $(".metrics-btn").attr('filter');
            $('#loading-animation').show();
            document.location.href = '/SearchResults/Metrics?searchText=' + searchString + '&typeFilter=' + typeFilter;
        });

        $(".btn-save-pdf").click(function () {
            var searchString = $(".btn-save-pdf").attr('search');
            var typeFilter = $(".btn-save-pdf").attr('filter');

            var formDialog = Relay.FormDialog({
                url: "/SearchResults/SearchReportPdf",
                method: "GET",
                data: {
                    searchString: searchString,
                    typeFilter: typeFilter
                }
            });

            formDialog.setSubmitEvent(function () {
                location.reload();
            });
            formDialog.open();
        });

    </script>
}
