﻿@model SearchTasksResultsViewModel
@{
    ViewBag.Title = "RelayWorks™ | Search Results";
}
<div class="page-content">
    <div class="report-table">
        <table class="table">
            <thead>
                <tr class="table-header">
                    <td class="date-title">Date</td>
                    @if (Model != null && Model.Params.UsersList != null)
                    {
                        <td class="creator-title">
                            @Html.DropDownListFor(m => m.Params.FilterUserId,
                                              Model.Params.UsersList.Select(i =>
                                              new SelectListItem
                                              {
                                                  Value = i.Value,
                                                  Text = i.Text
                                              }), "Creator", new { @class = "select-list" })
                        </td>
                    }
                    else
                    {
                        <td class="creator-title">Creator</td>
                    }
                    <td class="topic-name-title">Assignee</td>
                    <td class="topic-type-title">Task Name</td>
                    <td class="notes-title">Description</td>
                    <td class="date-title">Status</td>
                    <td class="attach-title"><div class="attach"></div></td>
                </tr>
            </thead>
            <tbody class="table-content">
                <tr class="spacer-row"></tr>
                @foreach (var topic in Model.ResultItems)
                {
                    <tr class="report-row">
                        <td class="date-body" style="width:200px; padding-top: 15px;">
                            <div class="date bold">@topic.CreateDate</div>
                        </td>
                        <td class="creator-body" id="@topic.CreatorId" style="padding-top: 15px;">
                            <img src="@Url.Action("GetAvatarForEmployee", "Media", new {employeeId = @topic.CreatorId})" class="tooltipster" @Html.TooltipAttritutes(topic.CreatorName) />
                        </td>
                        <td class="creator-body" id="@topic.AssignedTo.Id" style="padding-top: 15px;">
                            <img src="@Url.Action("GetAvatarForEmployee", "Media", new {employeeId = @topic.AssignedTo.Id})" class="tooltipster" @Html.TooltipAttritutes(topic.AssignedTo.FullName) />
                        </td>
                        <td class="@(topic.CompleteStatus == "Complete" ? "task-complete-type-body" : "task-incomplete-type-body" )" style="padding-top: 15px; cursor: pointer" Id="@topic.Id">
                            @topic.Name
                        </td>
                        <td class="notes-body" style="padding-top: 15px;">
                            @if (topic.Description != null)
                            {
                                @topic.Description
                            }
                            else
                            {
                                @: -
                            }
                        </td>
                        <td class="tags-body-first">
                            @topic.CompleteStatus
                        </td>
                        <td class="tasks-body" style="padding-top: 15px;text-decoration:none;">
                            <div class="count" topicid="@topic.Id" style="cursor: pointer; text-decoration:none;">@topic.TaskCounter</div>
                        </td>
                    </tr>
                }
                @if (Model.ResultItems.Count() == 0)
                {
                    <tr class="report-row">
                        <td colspan="8" class="text-center">
                            <strong>No items to display.</strong>
                        </td>
                    </tr>
                }

                <tr class="spacer-row"></tr>
            </tbody>
        </table>
    </div>

    @if (Model.ResultItems.TotalItemCount > 10)
    {
        <div class="footer-block">
            <div class="view-block">
                <div class="eyes-block">
                    <div class="eyes"></div>
                </div>
                <div class="count-block">
                    <a href="@Html.ActionLinkWithModel("Tasks", "SearchResults", new {PageSize = 10, Model.Params.SearchText, Model.Params.FilterUserId})">
                        <div class="counter @(Model.ResultItems.PageSize == 10 ? "active" : "")">10</div>
                    </a>
                    <a href="@Html.ActionLinkWithModel("Tasks", "SearchResults", new {PageSize = 25, Model.Params.SearchText, Model.Params.FilterUserId})">
                        <div class="counter @(Model.ResultItems.PageSize == 25 ? "active" : "")">25</div>
                    </a>
                    <a href="@Html.ActionLinkWithModel("Tasks", "SearchResults", new { PageSize = 50, Model.Params.SearchText, Model.Params.FilterUserId})">
                        <div class="counter @(Model.ResultItems.PageSize == 50 ? "active" : "")">50</div>
                    </a>
                    <a href="@Html.ActionLinkWithModel("Tasks", "SearchResults", new { PageSize = Model.ResultItems.TotalItemCount, Model.Params.SearchText, Model.Params.FilterUserId})">
                        <div class="counter @(Model.ResultItems.PageSize == Model.ResultItems.TotalItemCount ? "active" : "")">All</div>
                    </a>
                </div>
            </div>

            <div class="pagination-block">
                <div class="pagination-pages">
                    @Html.Pager(Model.ResultItems.PageSize, Model.ResultItems.PageNumber, Model.ResultItems.TotalItemCount).Options(o => o
                         .DisplayTemplate("BootstrapPagination")
                         .MaxNrOfPages(1)
                         .DisplayFirstAndLastPage()
                         .Action("Tasks", "SearchResults")
                         .AddRouteValue("searchText", Model.Params.SearchText).AddRouteValue("filterUserId", Model.Params.FilterUserId))
                </div>
            </div>
        </div>
    }

</div>

<script>
      $(function ()
      {

     $('a').on('change', function () {
            $('#loading-animation').show();
        });
        $('a').on('click', function () {
            $('#loading-animation').show();
        });


          $(".tasks-body .count").click(viewTopicTasks);
          $(".task-complete-type-body").click(viewCompleteTasks);
          $(".task-incomplete-type-body").click(viewInCompleteTasks);

        function viewTopicTasks(e)
        {
            var id = $(this).attr('topicid');
            var attachmentsDialog = Relay.AttachmentsDialog(id, 2, 2);
            var currentTarget = e.currentTarget;
            attachmentsDialog.setCloseEvent(function () {
                  $.ajax({
                        url: "/SearchResults/UpdateTaskAttachCount",
                        method: "GET",
                        data: { Id: id }
                        })
                        .done(function (data) {
                            currentTarget.innerHTML = data;
                        });
            });
            attachmentsDialog.open();
          }

          function viewInCompleteTasks(e) {
              var id = $(this).attr('Id');
                  var tasksListDialog = Relay.FormDialog({
                      url: "/Notification/EditTaskDialog",
                      data: { TaskId: id }
                  });
                  tasksListDialog.setSubmitEvent(function () {
                      location.reload();
                  });
                  tasksListDialog.open();
          }

          function viewCompleteTasks(e) {
              var id = $(this).attr('Id');
              var tasksListDialog = Relay.FormDialog({
                  url: "/Notification/TaskDetailsDialog",
                  data: { TaskId: id }
              });
              tasksListDialog.setSubmitEvent(function () {
                  location.reload();
              });
              tasksListDialog.open();
          }

      });
</script>