﻿@model string

<div class="search">
    <i class="icon-search"></i>
    <input id="inputSearch" type="text" placeholder="Search for topics, tasks or tags" style="border:none">
</div>

<script>
    $(function () {
        $(".search input").keyup(function (event) {
            if (event.keyCode == 13) {
                $('#loading-animation').show();
                var searchString = event.target.value;

                var urlTab = "";

                if (window.location.search.split() != "undefined") {

                      var filterType = window.location.search.split('typeFilter=');
                    if (filterType.length > 1) {

                        urlTab = window.location.search.split('typeFilter=')[1].split('&')[0];
                    }
                    else
                    {
                        urlTab = window.location.search.split('urlTab=')[1];
                    }
                }

                document.location.href = '/SearchResults/Index?searchString=' + searchString + "&urlTab=" + urlTab;
            }
        });

        if (window.location.search != "") {

            if (window.location.search.split() != "undefined") {

                var search = window.location.search.split('searchString=');
                if (search.length > 1) {
                    var searchText = window.location.search.split('searchString=')[1].split('&')[0];
                    searchText = decodeURI(searchText);

                    if (searchText != "") {
                        document.getElementById('inputSearch').value = searchText;
                    }

                    if (searchText == "undefined") {
                        document.getElementById('inputSearch').value = "";
                    }
                }
                else if (window.location.search.split('searchText=').length > 1) {
                    var searchText = window.location.search.split('searchText=')[1].split('&')[0];
                    searchText = decodeURI(searchText);

                    if (searchText != "") {
                        document.getElementById('inputSearch').value = searchText;
                    }

                    if (searchText == "undefined") {
                        document.getElementById('inputSearch').value = "";
                    }
                }
            }
        }


    });
</script>
<script src="~/Content/js/relay/reports/topic-search/topic-search.module.js"></script>