﻿@model SearchResultsViewModel
@{
    ViewBag.Title = "RelayWorks™ | Search Results";
}
<style>
    p.clip {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 5px;
        padding-right: 5px;
    }

</style>

<div class="page-content">
    <div class="report-table">
        <table class="table">
            <thead>
                <tr class="table-header">
                    <td class="date-title">Date</td>

                    @if (Model != null && Model.Params.UsersList != null)
                    {
                        <td class="creator-title">
                            @Html.DropDownListFor(m => m.Params.FilterUserId,
                                              Model.Params.UsersList.Select(i =>
                                              new SelectListItem
                                              {
                                                  Value = i.Value,
                                                  Text = i.Text
                                              }), "Owner", new { @class = "select-list" })
                        </td>
                    }
                    else
                    {
                        <td class="creator-title">Owner</td>
                    }

                    @*<td class="topic-name-title">Topic</td>*@

                    <td class="topic-name-title">
                        @Html.DropDownListFor(m => m.Params.SelectedTopicName,
                                     Model.Params.NameTopics.Select(i =>
                                     new SelectListItem
                                     {
                                         Value = i.Text,
                                         Text = i.Text
                                     }), "Topic", new { @class = "select-list" })
                    </td>

                    <td class="topic-type-title">Reference</td>
                    <td class="notes-title">Notes</td>
                    <td class="manager-title"><div class="manager"></div></td>
                    <td class="attach-title"><div class="attach"></div></td>
                </tr>
            </thead>
            <tbody class="table-content">
                <tr class="spacer-row"></tr>

                @foreach (var topic in Model.ResultItems.AsParallel())
                {
                    <tr class="report-row">
                        <td class="date-body" style="width:120px;padding-top: 15px;">
                            <div class="date bold">@topic.CreatedDate</div>
                        </td>
                        <td class="creator-body" id="@topic.CreatorId" style="padding-top: 15px;">
                            <img src="@Url.Action("GetAvatarForEmployee", "Media", new {employeeId = @topic.CreatorId})" class="tooltipster" @Html.TooltipAttritutes(topic.CreatorName) />
                        </td>
                        <td class="topic-name-body" style="padding-top: 15px;">
                            @topic.Name
                        </td>
                        <td class="topic-type-body" style="padding-top: 15px; cursor: pointer" Id="@topic.Id">
                            @topic.Reference
                        </td>

                        @if (topic.FirstTagTopic != null)
                        {
                            <td style="padding-right: 0px !important;">
                                <div class="row">
                                    <div class="col col-lg-7 col-md-7 col-sm-7 col-xs-7" style="display: inline-block; padding-top: 5px;">
                                        @if (topic.Notes != null)
                                        {
                                            @topic.Notes
                                        }
                                        else
                                        {
                                            @: -
                                        }
                                    </div>
                                    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 tags-body-first" style="display: inline-block; padding-left:0px !important;">
                                        @if (topic.FirstTagTopic != null)
                                        {
                                            <p class="clip tooltipster" alt="@topic.FirstTagTopic" title="@topic.FirstTagTopic">@topic.FirstTagTopic</p>
                                        }
                                    </div>
                                    <div class="col col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding tags-body-more" style="display: inline-block; padding-top: 7px !important;">
                                        @if (topic.MoreTags)
                                        {
                                            <div class="btn btn-circle more-btn-tags">
                                                <span class="glyphicon span"></span>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <div class="row">
                                    <div class=" col col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 5px;">
                                        @if (topic.Notes != null)
                                        {
                                            @topic.Notes
                                        }
                                        else
                                        {
                                            @: -
                                        }
                                    </div>
                                </div>
                            </td>
                        }

                        <td class="manager-body">
                            <div class="count" topicid="@topic.Id" style="cursor: pointer; text-decoration:none; margin-top: 5px;">@topic.ManagerCommentsCounter</div>
                        </td>

                        <td class="items-body" style="padding-top: 15px;">
                            <div class="count" topicid="@topic.Id" style="cursor: pointer; text-decoration:none; display:inline-block;margin-top: 5px; position: absolute;">@topic.AttachmentsCounter</div>
                            <a class="go-report tooltipster" @Html.TooltipAttritutes("Go to Report") topicid="@topic.Id" href="@Url.Action("Draft", "ReportBuilder", new { reportId = topic.RotationId, reportType = topic.RotationType })"></a>
                        </td>

                    </tr>
                }
                @if (Model.ResultItems.Count() == 0)
                {
                    <tr class="report-row">
                        <td colspan="9" class="text-center">
                            <strong>No items to display.</strong>
                        </td>
                    </tr>
                }

                <tr class="spacer-row"></tr>
            </tbody>
        </table>
    </div>

    @if (Model.ResultItems.TotalItemCount > 10)
    {
        <div class="footer-block">
            <div class="view-block">
                <div class="eyes-block">
                    <div class="eyes"></div>
                </div>
                <div class="count-block">
                    <a href="@Html.ActionLinkWithModel("Topics", "SearchResults", new { PageSize = 10, Model.Params.SearchText, Model.Params.FilterUserId, Model.Params.SelectedTopicName })">
                        <div class="counter @(Model.ResultItems.PageSize == 10 ? "active" : "")">10</div>
                    </a>
                    <a href="@Html.ActionLinkWithModel("Topics", "SearchResults", new {PageSize = 25, Model.Params.SearchText, Model.Params.FilterUserId, Model.Params.SelectedTopicName })">
                        <div class="counter @(Model.ResultItems.PageSize == 25 ? "active" : "")">25</div>
                    </a>
                    <a href="@Html.ActionLinkWithModel("Topics", "SearchResults", new { PageSize = 50, Model.Params.SearchText, Model.Params.FilterUserId, Model.Params.SelectedTopicName})">
                        <div class="counter @(Model.ResultItems.PageSize == 50 ? "active" : "")">50</div>
                    </a>
                    <a href="@Html.ActionLinkWithModel("Topics", "SearchResults", new { PageSize = Model.ResultItems.TotalItemCount, Model.Params.SearchText, Model.Params.FilterUserId,Model.Params.SelectedTopicName })">
                        <div class="counter @(Model.ResultItems.PageSize == Model.ResultItems.TotalItemCount ? "active" : "")">All</div>
                    </a>
                </div>
            </div>

            <div class="pagination-block">
                <div class="pagination-pages">
                    @Html.Pager(Model.ResultItems.PageSize, Model.ResultItems.PageNumber, Model.ResultItems.TotalItemCount).Options(o => o
                         .DisplayTemplate("BootstrapPagination")
                         .MaxNrOfPages(1)
                         .DisplayFirstAndLastPage()
                         .Action("Topics", "SearchResults")
                         .AddRouteValue("searchText", Model.Params.SearchText)
                         .AddRouteValue("filterUserId", Model.Params.FilterUserId).AddRouteValue("selectedTopicName", Model.Params.SelectedTopicName))
                </div>
            </div>
        </div>
    }

</div>

<script>
    $(function () {

        $(".report-row").hover(function (event) {
            var currentTarget = event.currentTarget;
            $(".go-report", currentTarget).css("display", "inline-block");
        }, function (event) {
            var currentTarget = event.currentTarget;
            $(".go-report", currentTarget).css("display", "none");
        });

        $('a').on('change', function () {
            $('#loading-animation').show();
        });
        $('a').on('click', function () {
            $('#loading-animation').show();
        });

        $(".items-body .count").click(viewTopicAttaschments);
        $(".topic-type-body").click(viewTopicInfo);
        $(".manager-body .count").click(viewTopicManagerComments);

        function viewTopicInfo(e) {
            var formDialog = Relay.FormDialog({
                url: "/Topic/TopicDetailsDialog?topicId=" + e.currentTarget.id,
                method: "GET",
                dialogId: "topicDetailsDialog"
            });
            formDialog.setSubmitEvent(function () {
                location.reload();
            });
            formDialog.open();
        }

        function viewTopicAttaschments(e) {
            var id = $(this).attr('topicid');
            var currentTarget = e.currentTarget;
            var attachmentsDialog = Relay.AttachmentsDialog(id, 2, 1);
            attachmentsDialog.setCloseEvent(function () {
                    $.ajax({
                        url: "/SearchResults/UpdateAttachCount",
                        method: "GET",
                        data: { Id: id }
                        })
                        .done(function (data) {
                            currentTarget.innerHTML = data;
                        });
            });
            attachmentsDialog.open();
        }

        function viewTopicManagerComments(e) {
            var currentTarget = e.currentTarget;
            var id = $(this, currentTarget).attr('topicid');
            var managerCommentsDialog = Relay.ManagerCommentsDialog(id, 2, 1);
            managerCommentsDialog.setCloseEvent(function (e) {
                    $.ajax({
                        url: "/SearchResults/UpdateManagerCount",
                        method: "GET",
                        data: { Id: id }
                        })
                        .done(function (data) {
                            currentTarget.innerHTML = data;
                        });
            });
            managerCommentsDialog.open();
        }
    });
</script>