﻿@model ProjectAdminEditTaskDetailTabViewModel

<div id="TaksDetailsTab">

  @Html.Hidden("TaskDetailTab.CanAddToReport", Model.CanAddToReport)

  <div class="row">
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="row no-margin">
                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                    <div class="field-container">
                        @Html.LabelFor(model => model.Name, new { @class = "title-select" })
                        @Html.TextBox("TaskDetailTab.Name", Model.Name, new { @class = "simple-input" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="select-type">
                        @Html.LabelFor(m => m.Priority, new { @class = "title-select" })
                      @Html.DropDownList("TaskDetailTab.Priority", new[] {
                        new SelectListItem { Text = TaskPriority.Low.ToString(), Value = TaskPriority.Low.ToString(), Selected = Model.Priority == TaskPriority.Low},
                        new SelectListItem { Text = TaskPriority.Normal.ToString(), Value = TaskPriority.Normal.ToString(), Selected = Model.Priority == TaskPriority.Normal },
                        new SelectListItem { Text = TaskPriority.Important.ToString(), Value = TaskPriority.Important.ToString(), Selected = Model.Priority == TaskPriority.Important },
                        new SelectListItem { Text = TaskPriority.Critical.ToString(), Value = TaskPriority.Critical.ToString(), Selected = Model.Priority == TaskPriority.Critical },
                        new SelectListItem { Text = TaskPriority.Urgent.ToString(), Value = TaskPriority.Urgent.ToString(), Selected = Model.Priority == TaskPriority.Urgent }
                      }, new { @class = "select-list" })
                      @Html.ValidationMessageFor(model => model.Priority)
                    </div>
                </div>
                <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding">
                    <div class="avatar-block">
                        <div class="field-container">
                            @Html.LabelFor(m => m.AssignedTo, new { @class = "title-select" })
                            <a href="javascript:void(0)" class="team-btn">
                                <img src="/Media/GetAvatarForEmployee?employeeId=@(Model.AssignedTo)&amp;width=90&amp;height=90"
                                     class="media-object img-circle assigned-to-large-photo">
                            </a>
                            @Html.ValidationMessage("TaskDetailTab.AssignedTo")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
            <div class="field-container">
                @Html.LabelFor(model => model.Notes, new { @class = "title-select" })
                @Html.TextArea("TaskDetailTab.Notes", Model.Notes, new { @class = "textarea simple-textarea", @rows = "3", @maxlength = "500", @placeholder = "No Notes" })
                @Html.ValidationMessageFor(model => model.Notes)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
            <div class="tags-input-container">
                @Html.LabelFor(m => m.Tags, new { @class = "title-select" })
                <div class="ms-ctn form-control ms-ctn-focus tags-input"></div>
                @Html.ValidationMessageFor(m => m.Tags)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding margin-top-20">
            <div class="radio-btn-group" style="@(Model.AssignedTo.HasValue && (Model.OwnerId == Model.AssignedTo) ? "pointer-events: none; opacity: 0.5;" : string.Empty)">
                @Html.LabelFor(m => m.SendingOption, new { @class = "title-select" })
                <label>
                    @Html.RadioButton("TaskDetailTab.SendingOption", TaskSendingOptions.Now, Model.SendingOption == TaskSendingOptions.Now)
                    <span class="radio-label">Now</span>
                </label>
                <label>
                    @Html.RadioButton("TaskDetailTab.SendingOption", TaskSendingOptions.Pending, Model.SendingOption == TaskSendingOptions.Pending)
                    <span class="radio-label">Schedule</span>
                </label>
            </div>
        </div>
        <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-20">
            <div class="popup-actions" style="@(Model.SendingOption == TaskSendingOptions.Now ? "pointer-events: none; opacity: 0.5;" : string.Empty)">
                @Html.LabelFor(m => m.SendDate, new { @class = "title-select" })
                @Html.TextBox("TaskDetailTab.SendDate", Model.SendDate.CalendarFormatWidthYear(), new { @class = "simple-input datepicker", @placeholder = "Select Send Date", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.SendDate)
            </div>
        </div>
      <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-20">
        <div class="popup-actions">
          @Html.LabelFor(m => m.Deadline, new {@class = "title-select"})
          @Html.TextBox("TaskDetailTab.Deadline", Model.Deadline.CalendarFormatWidthYear(), new {@class = "simple-input datepicker", @placeholder = "Select Due Date", @readonly = "readonly"})
          @Html.ValidationMessageFor(m => m.Deadline)
        </div>
      </div>
      @*<div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding  margin-top-20">
        <div class="radio-btn-group" style="@(Model.CanAddToReport == false ? "pointer-events: none; opacity: 0.5;" : string.Empty)">
          @Html.LabelFor(m => m.AddToReport, new { @class = "title-select" })
          <label>
            @Html.RadioButton("TaskDetailTab.AddToReport", true, Model.AddToReport == true)
            <span class="radio-label">Yes</span>
          </label>
          <label>
            @Html.RadioButton("TaskDetailTab.AddToReport", false, Model.AddToReport == false)
            <span class="radio-label">No</span>
          </label>
        </div>

      </div>*@
    </div>
</div>