﻿@model ProjectAdminEditTaskDialogViewModel

<div id="editTaskFormDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" class="modal fade project-admin-edit-task-dialog" data-keyboard="false" data-backdrop="static">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.ProjectDetailsTab.ProjectId)
        @Html.HiddenFor(m => m.ProjectDetailsTab.ProjectName)
        @Html.HiddenFor(m => m.ProjectDetailsTab.ProjectDescription)

        @Html.HiddenFor(m => m.TaskDetailTab.TaskId)
        @Html.HiddenFor(m => m.TaskDetailTab.OwnerId)
        @Html.HiddenFor(m => m.TaskDetailTab.AssignedTo)
        @Html.HiddenFor(m => m.TaskDetailTab.StartLimitDate)

        @Html.HiddenFor(m => m.OutcomesTab.TaskId)
        @Html.HiddenFor(m => m.OutcomesTab.Feedback)
        @Html.HiddenFor(m => m.OutcomesTab.IsFeedbackRequired)

        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div id="modalTitle" class="modal-title">Edit Task</div>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-4 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="tab-block">
                                    <div class="navigation-block">
                                        <ul class="nav nav-tabs">
                                            <li tabNumber="0"><a data-toggle="tab" href="#projectDetails">Project Details</a></li>
                                            <li tabNumber="1" class="active"><a data-toggle="tab" href="#taskDetails">Task Details</a></li>
                                            <li tabNumber="2"><a data-toggle="tab" href="#outcomes">Outcomes</a></li>
                                            <li tabNumber="3"><a data-toggle="tab" href="#logs">Log</a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-content">
                                        <div id="projectDetails" class="tab-pane fade in">
                                            @Html.Partial("~/Views/ProjectAdmin/FollowerTasksPanel/Dialogs/_ProjectDetailsTab.cshtml", Model.ProjectDetailsTab)
                                        </div>
                                        <div id="taskDetails" class="tab-pane fade in active">
                                            @Html.Partial("~/Views/ProjectAdmin/FollowerTasksPanel/Dialogs/EditDialog/_EditTaskDetailsTab.cshtml", Model.TaskDetailTab)
                                        </div>
                                        <div id="outcomes" class="tab-pane fade in">
                                            @Html.Partial("~/Views/ProjectAdmin/FollowerTasksPanel/Dialogs/EditDialog/_TaskOutcomesTab.cshtml", Model.OutcomesTab)
                                        </div>
                                        <div id="logs" class="tab-pane fade in">
                                            @Html.Action("GetTaskLogs", "Tasks", new { taskId = Model.TaskDetailTab.TaskId })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            (function () {
                var dialog = $("#editTaskFormDialog");
                var ownerId = $("#TaskDetailTab_OwnerId", dialog).val();
                var startLimitDate = Relay.DotNetDate.dateStringToDate("@Model.TaskDetailTab.StartLimitDate.ToString()");
                var startSendLimitDate = new Date(startLimitDate); startSendLimitDate.setDate(startSendLimitDate.getDate() + 1);
                //-------
                var searchTags = $(".tags-input", dialog).magicSuggest({
                    placeholder: 'Enter tags',
                    maxSelection: 7,
                    hideTrigger: true,
                    toggleOnClick: true,
                    name: "TaskDetailTab.Tags",
                    value: [@Html.Raw(Model.TaskDetailTab.TagsString)]
                });

                $(searchTags).on('selectionchange', function (e, m, v) {
                    $("button[type=submit]", dialog).trigger("activate");
                });
                //------
                $(".avatar-block", dialog).click(function () {
                    var chooseTeammateDialog = Relay.ProjectChooseTeammateDialog({
                        projectId: $("#ProjectDetailsTab_ProjectId", dialog).val(),
                        selectedUserId: $("#TaskDetailTab_AssignedTo", dialog).val()
                    });

                    chooseTeammateDialog.setChooseEvent(assigneTo);
                    chooseTeammateDialog.open();
                });

                function assigneTo(userId) {
                    $("#TaskDetailTab_AssignedTo", dialog).val(userId);
                    $(".team-btn img", dialog).attr("src", "/Media/GetAvatarForEmployee?employeeId=" + userId + "&amp;width=100&amp;height=100");
                    $("button[type=submit]", dialog).trigger("activate");
                    $(".team-btn img", dialog).removeClass("no-assignee-image");

                    if (ownerId == userId) {
                        $("input[name='TaskDetailTab.SendingOption'][value='Now']", dialog).prop('checked', true);
                        $(".radio-btn-group", dialog).attr("style", "pointer-events: none; opacity: 0.5;");
                        $("#TaskDetailTab_SendDate", dialog).val('');
                        $("#TaskDetailTab_SendDate", dialog).parent().attr("style", "pointer-events: none; opacity: 0.5;");
                        deadline.datepicker("setStartDate", startLimitDate);
                    }
                    else {
                        $(".radio-btn-group", dialog).removeAttr("style");
                    }
                }
                //------
                var deadline = $("#TaskDetailTab_Deadline", dialog).datepicker({
                    format: "dd M yyyy",
                    container: dialog,
                    todayBtn: false,
                    startDate: startLimitDate
                });

                var sendDate = $("#TaskDetailTab_SendDate", dialog).datepicker({
                    format: "dd M yyyy",
                    container: dialog,
                    todayBtn: false,
                    startDate: startSendLimitDate
                });

                deadline.on('changeDate', function () {
                    $(this).datepicker('hide');
                    $("button[type=submit]", dialog).trigger("activate");
                });

                sendDate.on('changeDate', function () {
                    $("#TaskDetailTab_Deadline", dialog).val('');
                    deadline.datepicker("setStartDate", $(this).datepicker('getDate'));
                    $(this).datepicker('hide');
                    $("button[type=submit]", dialog).trigger("activate");
                });
                //------
                $("input[name='TaskDetailTab.SendingOption']", dialog).change(function () {

                    $("#TaskDetailTab_Deadline", dialog).val('');
                    $("#TaskDetailTab_SendDate", dialog).val('');

                    switch (this.value) {
                        case "Now":
                            $("#TaskDetailTab_SendDate", dialog).parent().attr("style", "pointer-events: none; opacity: 0.5;");
                            deadline.datepicker("setStartDate", startLimitDate);
                            break;
                        case "Pending":
                            $("#TaskDetailTab_SendDate", dialog).parent().removeAttr("style");
                            break;
                    }
                });
                //------
            })();
        </script>
    }
</div>