﻿@model ProjectAdminOutcomesTabViewModel

<div id="taskOutcomesTab">
    <div class="row">
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="field-container">
                <span class="title-select">Handback Notes</span>
                @Html.TextAreaFor(m => m.Feedback, new { @class = "textarea simple-textarea", @rows = "3", @maxlength = "500", @placeholder = "Enter Text (max. 500 characters)", @disabled = "" })
            </div>
        </div>
    </div>
</div>