﻿@model RotationTaskViewModel

<div Id="addTaskFormDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" class="modal fade created-task-dialog rotation-task-dialog">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)

        @Html.HiddenFor(m => m.AssignedTo)
        @Html.HiddenFor(m => m.StartDeadlineDates)
        @Html.HiddenFor(m => m.EndDeadlineDates)

        @Html.HiddenFor(m => m.OwnerId)
        @Html.HiddenFor(m => m.CreatorId)

        @Html.HiddenFor(m => m.TopicId)
        @Html.ValidationMessageFor(model => model.TopicId)
        
        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div Id="modalTitle" class="modal-title">Add Task</div>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-4 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="row no-margin">
                                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                                        <div class="field-container">
                                            <span class="title-select">@Html.LabelFor(model => model.Name)</span>
                                            @Html.TextBoxFor(model => model.Name, new { @class = "simple-input", @placeholder = "Enter Name" })
                                            @Html.ValidationMessageFor(model => model.Name)
                                        </div>
                                    </div>
                                    <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                        <div class="select-type">
                                            <span class="title-select">@Html.LabelFor(m => m.Priority)</span>
                                            @Html.EnumDropDownListFor(model => model.Priority, new { @class = "select-list" })
                                            @Html.ValidationMessageFor(m => m.Priority)
                                        </div>
                                    </div>
                                    <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding">
                                        <div class="avatar-block" style="@(Model.IsRotationMode ? "" : "pointer-events: none;")">
                                            <span class="title-select">@Html.LabelFor(model => model.AssignedTo)</span>
                                            <a href="javascript:void(0)" class="team-btn">
                                                <img src="/Media/GetAvatarForEmployee?employeeId=@(Model.AssignedTo)&amp;width=100&amp;height=100"
                                                     class="media-object img-circle assigned-to-large-photo">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                <div class="field-container">
                                    <span class="title-select">@Html.LabelFor(model => model.Notes)</span>
                                    @Html.TextAreaFor(model => model.Notes, new { @class = "textarea simple-textarea", @rows = "3", @maxlength = "500", @placeholder = "Enter Text (max. 500 characters)" })
                                    @Html.ValidationMessageFor(model => model.Notes)
                                </div>
                            </div>
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                <div class="tags-input-container padding-right-15">
                                    @Html.LabelFor(model => model.Tags, new { @class = "title-select" })
                                    <div class="ms-ctn form-control ms-ctn-focus tags-input"></div>
                                    @Html.ValidationMessageFor(model => model.Tags)
                                </div>
                            </div>
                            @if (Model.IsSwingMode)
                            {
                                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding margin-top-20">
                                    <div class="radio-btn-group">
                                        @Html.Label("Sending Options", new { @class = "title-select" })
                                        <label>
                                            @Html.RadioButtonFor(m => m.SendingOption, TaskSendingOptions.Now)
                                            <span class="radio-label">Now</span>
                                        </label>
                                        <label>
                                            @Html.RadioButtonFor(m => m.SendingOption, TaskSendingOptions.EndOfSwing)
                                            <span class="radio-label">End of Swing</span>
                                        </label>
                                    </div>
                                </div>
                            }
                            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding margin-top-20">
                                <div class="popup-actions">
                                    <span class="title-select">@Html.LabelFor(model => model.Deadline)</span>
                                    @Html.TextBox("Deadline", Model.Deadline.CalendarFormatWidthYear(), new { @class = "simple-input datepicker", @placeholder = "Select Due Date", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.Deadline)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            (function () {
                var isNowTask;

                $('#addTaskFormDialog .tags-input').magicSuggest({
                    placeholder: 'Enter tags',
                    maxSelection: 7,
                    hideTrigger: true,
                    toggleOnClick: true,
                    name: "Tags",
                    value: [@Html.Raw(Model.TagsString)]
                });

                var dueDate = $('#addTaskFormDialog .datepicker').datepicker({
                    format: "dd M yyyy",
                    container: "#addTaskFormDialog",
                    todayBtn: false,
                    todayHighlight: true,
                    startDate: new Date("@Model.StartDeadlineDates.ToISOString()"),
                    endDate: new Date("@Model.EndDeadlineDates.ToISOString()")
                }).on('changeDate', function () {
                    $(this).datepicker('hide');
                });

                $('#addTaskFormDialog input[name="SendingOption"]').bind("change", function () {
                    $('#addTaskFormDialog .datepicker').val('');
                    switchDueDateRange($(this).val());
                    $("#addTaskFormDialog button[type=submit]").trigger("activate");
                });

                switchDueDateRange($('#addTaskFormDialog #SendingOption[checked="checked"]').val());

                function switchDueDateRange(taskStatus) {
                    switch (taskStatus) {
                        case "Now":
                            isNowTask = true;
                            $(dueDate).datepicker('setStartDate', new Date());
                            break;
                        case "EndOfSwing":
                            isNowTask = false;
                            $(dueDate).datepicker('setStartDate', new Date("@Model.StartDeadlineDates.ToISOString()"));
                            break;
                    }
                }

                $("#addTaskFormDialog .avatar-block").click(function () {
                    var chooseTeammateDialog = Relay.ChooseTeammateDialog({
                        userId: $("#addTaskFormDialog #OwnerId").val(),
                        selectedUserId: $("#addTaskFormDialog #AssignedTo").val(),
                        onlyOnSite: isNowTask,
                        showOnSite: true,
                        showOffSite: true
                    });

                    chooseTeammateDialog.setChooseEvent(assigneTo);
                    chooseTeammateDialog.open();
                });

                function assigneTo(userId) {
                    $("#addTaskFormDialog #AssignedTo").val(userId);
                    $("#addTaskFormDialog .team-btn img").attr("src", "/Media/GetAvatarForEmployee?employeeId=" + userId + "&amp;width=100&amp;height=100");
                    $("#addTaskFormDialog button[type=submit]").trigger("activate");
                }

            })();
        </script>
    }
</div>