﻿@model RotationTaskViewModel

<div Id="editTaskFormDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade rotation-task-dialog">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)

        @Html.HiddenFor(m => m.TopicId)
        @Html.HiddenFor(m => m.StartDeadlineDates)
        @Html.HiddenFor(m => m.EndDeadlineDates)

        @Html.HiddenFor(m => m.OwnerId)
        @Html.HiddenFor(m => m.AssignedTo)
        @Html.HiddenFor(m => m.IsFeedbackRequired)
        @Html.HiddenFor(m => m.CanChangeAssignee)

        @Html.ValidationMessageFor(model => model.TopicId)

        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div Id="modalTitle" class="modal-title">Edit Task</div>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-4 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="tab-block">
                                    <div class="navigation-block">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" href="#topic-details">Topic Details</a></li>
                                            <li><a data-toggle="tab" href="#task-details">Task Details</a></li>
                                            <li><a data-toggle="tab" href="#task-logs">Log</a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-content">
                                        <div Id="topic-details" class="tab-pane fade in active">
                                            @Html.Partial("~/Views/Rotation/Tasks/_TopicDetailsDialog.cshtml", Model.TopicDetails)
                                        </div>
                                        <div Id="task-details" class="tab-pane fade">
                                            <div class="row">
                                                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                                    <div class="row no-margin">
                                                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                                                            <div class="field-container">
                                                                <span class="title-select">@Html.LabelFor(model => model.Name)</span>
                                                                @Html.TextBoxFor(model => model.Name, new { @class = "simple-input", @placeholder = "Enter Name" })
                                                                @Html.ValidationMessageFor(model => model.Name)
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                            <div class="select-type">
                                                                <span class="title-select">@Html.LabelFor(m => m.Priority)</span>
                                                                @Html.EnumDropDownListFor(model => model.Priority, new { @class = "select-list" })
                                                                @Html.ValidationMessageFor(m => m.Priority)
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding">
                                                            <div class="avatar-block" style="@(Model.IsRotationMode ? "" : "pointer-events: none;")">
                                                                <span class="title-select">@Html.LabelFor(model => model.AssignedTo)</span>
                                                                <a href="javascript:void(0)" class="team-btn">
                                                                    <img src="/Media/GetAvatarForEmployee?employeeId=@(Model.AssignedTo)&amp;width=100&amp;height=100"
                                                                         class="media-object img-circle assigned-to-large-photo">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                                    <div class="field-container">
                                                        <span class="title-select">@Html.LabelFor(model => model.Notes)</span>
                                                        @Html.TextAreaFor(model => model.Notes, new { @class = "textarea simple-textarea", @rows = "3", @maxlength = "500", @placeholder = "Enter Text (max. 500 characters)" })
                                                        @Html.ValidationMessageFor(model => model.Notes)
                                                    </div>
                                                </div>
                                                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                                    <div class="tags-input-container padding-right-15">
                                                        @Html.LabelFor(model => model.Tags, new { @class = "title-select" })
                                                        <div class="ms-ctn form-control ms-ctn-focus tags-input"></div>
                                                        @Html.ValidationMessageFor(model => model.Tags)
                                                    </div>
                                                </div>
                                                @if (Model.IsSwingMode)
                                                {
                                                    <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding margin-top-20">
                                                        <div class="radio-btn-group">
                                                            @Html.Label("Sending Options", new { @class = "title-select" })
                                                            <label>
                                                                @Html.RadioButtonFor(m => m.SendingOption, TaskSendingOptions.Now)
                                                                <span class="radio-label">Now</span>
                                                            </label>
                                                            <label>
                                                                @Html.RadioButtonFor(m => m.SendingOption, TaskSendingOptions.EndOfSwing)
                                                                <span class="radio-label">End of Swing</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                }
                                                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding margin-top-20">
                                                    <div class="popup-actions">
                                                        <span class="title-select">@Html.LabelFor(model => model.Deadline)</span>
                                                        @Html.TextBox("Deadline", Model.Deadline.CalendarFormatWidthYear(), new { @class = "simple-input datepicker", @placeholder = "Select Due Date", @readonly = "readonly" })
                                                        @Html.ValidationMessageFor(m => m.Deadline)
                                                    </div>
                                                </div>
                                                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding margin-top-20">
                                                    <div class="row conter-row  margin-top-20">
                                                        <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right">
                                                            <span class="@(Model.AttacmentsCounter > 0 ? "has-attachments-image" : "no-attachments-image")"></span>
                                                            <div class="counter">
                                                                @Model.AttacmentsCounter
                                                            </div>
                                                        </div>
                                                        @if (Model.VoiceMessagesCounter > 0)
                                                        {
                                                            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right">
                                                                <span class="@(Model.VoiceMessagesCounter > 0 ? "has-voise-messages-image" : "no-voise-messages-image")"></span>
                                                                <div class="counter">
                                                                    @Model.VoiceMessagesCounter
                                                                </div>
                                                            </div>
                                                        }
                                                        @if (Model.IsFeedbackRequired)
                                                        {
                                                            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right">
                                                                <span class="@(Model.IsFeedbackRequired ? "has-feedback-required-image" : "no-feedback-required-image")"></span>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="task-logs" class="tab-pane fade in">
                                            @Html.Action("GetTaskLogs", "Tasks", new { taskId = Model.Id })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            (function () {
                var isNowTask;
                var dialog = $("#editTaskFormDialog");
                var canChangeAssignee = $("#CanChangeAssignee", dialog).val() === "True";
                
                $(".has-attachments-image", "#task-details").click(function () {
                    var _this = this;
                    $(_this).attr("style", "pointer-events: none;");
                    var taskOutcomesTabID = $("#Id", "#editTaskFormDialog").val();
                    var attachmentsDialog = Relay.AttachmentsDialog(taskOutcomesTabID, 2, 2);
                    attachmentsDialog.setCloseEvent(function () {
                        $(_this).removeAttr("style");
                    });
                    attachmentsDialog.open();
                });

                $(".has-attachments-image", "#TopicDetailsDialog").click(function () {
                    var _this = this;
                    $(_this).attr("style", "pointer-events: none;");
                    var id = $("#TopicId", "#editTaskFormDialog").val();
                    var attachmentsDialog = Relay.AttachmentsDialog(id, 2, 1);
                    attachmentsDialog.setCloseEvent(function () {
                        $(_this).removeAttr("style");
                    });
                    attachmentsDialog.open();
                });

                $('#editTaskFormDialog .tags-input').magicSuggest({
                    placeholder: 'Enter Tags',
                    maxSelection: 7,
                    hideTrigger: true,
                    toggleOnClick: true,
                    name: "Tags",
                    value: [@Html.Raw(Model.TagsString)]
                });

                var dueDate = $('#editTaskFormDialog .datepicker').datepicker({
                    format: "dd M yyyy",
                    container: "#editTaskFormDialog",
                    todayBtn: "linked",
                    todayHighlight: true,
                    startDate: new Date("@Model.StartDeadlineDates.ToISOString()"),
                    endDate: new Date("@Model.EndDeadlineDates.ToISOString()")
                }).on('changeDate', function () {
                    $(this).datepicker('hide');
                });

                $('#editTaskFormDialog input[name="SendingOption"]').bind("change", function () {
                    $('#editTaskFormDialog .datepicker').val('');
                    switchDueDateRange($(this).val());
                    $("#editTaskFormDialog button[type=submit]").trigger("activate");
                });

                switchDueDateRange($('#editTaskFormDialog #SendingOption[checked="checked"]').val());

                function switchDueDateRange(taskStatus) {
                    switch (taskStatus) {
                        case "Now":
                            isNowTask = true;
                            $(dueDate).datepicker('setStartDate', new Date());
                            break;
                        case "EndOfSwing":
                            isNowTask = false;
                            $(dueDate).datepicker('setStartDate', new Date("@Model.StartDeadlineDates.ToISOString()"));
                            break;
                    }
                }

                $('#editTaskFormDialog .team-btn').click(function () {
                    if (canChangeAssignee) {
                        var chooseTeammateDialog = Relay.ChooseTeammateDialog({
                            userId: $("#editTaskFormDialog #OwnerId").val(),
                            selectedUserId: $("#editTaskFormDialog #AssignedTo").val(),
                            onlyOnSite: isNowTask,
                            showOnSite: true,
                            showOffSite: true
                        });

                        chooseTeammateDialog.setChooseEvent(assigneTo);
                        chooseTeammateDialog.open();
                    }
                });

                function assigneTo(userId) {
                    if (canChangeAssignee) {
                        $("#editTaskFormDialog #AssignedTo").val(userId);
                        $("#editTaskFormDialog .team-btn img").attr("src", "/Media/GetAvatarForEmployee?employeeId=" + userId + "&amp;width=100&amp;height=100");
                        $("#editTaskFormDialog button[type=submit]").trigger("activate");
                    }
                }

            })();
        </script>
    }
</div>
