﻿@model TopicDetailsViewModel

<div Id="TopicDetailsDialog">
    <div class="row">
        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
            <div class="field-container padding-right-15">
                <span class="title-select margin-bottom-5">@Html.LabelFor(m => m.Section)</span>
                @Html.TextBoxFor(model => model.Section, new { @class = "simple-input", @placeholder = Html.EnumDescription(ModuleType.HSE, "Enter {0} Reference"), @disabled = "" })
            </div>
        </div>
        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
            <div class="field-container padding-left-15">
                <span class="title-select margin-bottom-5">@Html.LabelFor(m => m.ItemName)</span>
                @Html.TextBoxFor(model => model.ItemName, new { @class = "simple-input", @placeholder = Html.EnumDescription(ModuleType.HSE, "Enter {0} Reference"), @disabled = "" })
            </div>
        </div>
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
            <div class="field-container">
                <span class="title-select">@Html.LabelFor(model => model.Notes)</span>
                @Html.TextAreaFor(model => model.Notes, new { @class = "textarea simple-textarea", @rows = "3", @maxlength = "500", @placeholder = "No Notes", @disabled = "" })
                @Html.ValidationMessageFor(model => model.Notes)
            </div>
        </div>
        @*<div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
            <div class="field-container">
                <span class="title-select">@Html.LabelFor(model => model.ManagerComments)</span>
                @Html.TextAreaFor(model => model.ManagerComments, new {@class = "textarea simple-textarea textarea-stretch", @rows = "2", @maxlength = "300", @placeholder = "No Manager Comments", @disabled = ""})
                @Html.ValidationMessageFor(model => model.ManagerComments)
            </div>
        </div>*@
        <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8 no-padding margin-top-20">
            <div class="tags-input-container padding-right-15">
                @Html.LabelFor(model => model.Tags, new { @class = "title-select" })
                <div class="ms-ctn form-control ms-ctn-focus tags-input"></div>
                @Html.ValidationMessageFor(model => model.Tags)
            </div>
        </div>
        <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding margin-top-20">
            <div class="row conter-row  margin-top-20">
                @*@if (Model.TasksCounter > 0)
                {
                    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-right">
                        <span class="@(Model.TasksCounter > 0 ? "has-tasks-image" : "no-tasks-image")"></span>
                        <div class="counter">
                            @Model.TasksCounter
                        </div>
                    </div>
                }*@
                @if (Model.AttacmentsCounter > 0)
                {
                    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-right">
                        <span class="@(Model.AttacmentsCounter > 0 ? "has-attachments-image" : "no-attachments-image")"></span>
                        <div class="counter">
                            @Model.AttacmentsCounter
                        </div>
                    </div>
                }
                @if (Model.VoiceMessagesCounter > 0)
                {
                    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-right">
                        <span class="@(Model.VoiceMessagesCounter > 0 ? "has-voise-messages-image" : "no-voise-messages-image")"></span>
                        <div class="counter">
                            @Model.VoiceMessagesCounter
                        </div>
                    </div>
                }
                @if (Model.IsFeedbackRequired)
                {
                    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-right">
                        <span class="@(Model.IsFeedbackRequired ? "has-feedback-required-image" : "no-feedback-required-image")"></span>
                    </div>
                }
                
            </div>
        </div>

        <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8 no-padding margin-top-20">
            <div class="tags-input-container padding-right-15">
                @if (@Model.IsShowPvA)
                {
                    <div class="planned" style="display: inline-block;">
                        <label class="title-select" for="Planned">Plan</label>
                        @Model.Planned
                    </div>

                    <div class="actual" style="display: inline-block;  margin-left:15px;">
                        @Html.LabelFor(model => model.Actual, new { @class = "title-select" })
                        @Model.Actual
                    </div>

                    <div class="variance" style="display: inline-block; margin-left:15px;">
                        @Html.LabelFor(model => model.Variance, new { @class = "title-select" })
                        @Model.Variance
                    </div>
                }
            </div>
        </div>

        <script>
            $('#TopicDetailsDialog .tags-input').magicSuggest({
                placeholder: 'No Tags',
                maxSelection: 10,
                hideTrigger: true,
                toggleOnClick: true,
                disabled: true,
                name: "Tags",
                value: [@Html.Raw(Model.TagsString)]
            });
        </script>
    </div>
</div>