﻿@using System.Web.Configuration
<div class="footer">
    <div class="row container">
        <div class="col-sm-4">
            <a href="https://twitter.com/ihandover" target="_blank">
                <div class="circle circle-blue"></div>
            </a>
            <a href="https://www.linkedin.com/company/2378457" target="_blank">
                <div class="circle circle-brown"></div>
            </a>
        </div>
        <div class="col-sm-4">
            <div class="label center-block">© iHandover Ltd.  @DateTime.Now.Year</div>
        </div>
        <div class="col-sm-4">
            <div class="center-block"><a href="http://relayworks.io/" class="label link" target="_blank">www.ihandover.co</a></div>
        </div>
    </div>
</div>

@if (!HttpContext.Current.IsDebuggingEnabled)
{

    <script src="https://cc.cdn.civiccomputing.com/8.0/cookieControl-8.0.min.js"></script>
    <script>
        var config = {
            apiKey: 'ba80a51d37414c8fc9b70892059bcb23cd4e8d02',
            product: 'PRO',
            optionalCookies: [
                {
                    name: 'analytics',
                    label: 'Analytical Cookies',
                    description: 'Analytical cookies help us to improve our website by collecting and reporting information on its usage.',
                    cookies: ['_ga', '_gid', '_gat', '__utma', '__utmt', '__utmb', '__utmc', '__utmz', '__utmv'],
                    initialConsentState: 'on',
                    onAccept: function () {
                        // Add Google Analytics
                        (function (i, s, o, g, r, a, m) {

                            i['GoogleAnalyticsObject'] = r;
                            i[r] = i[r] || function () {
                                (i[r].q = i[r].q || []).push(arguments);
                            };
                            i[r].l = 1 * new Date();
                            a = s.createElement(o),
                                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

                        //    i['GoogleAnalyticsObject']‌=r; i[r]‌=i[r] || function () {
                        //        (i[r]‌.q = i[r]‌.q || []‌).push(arguments)
                        //    }, i[r].l = 1 * new Date(); a = s.createElement(o),
                        //        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                        //})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

                        ga('create', 'UA-XXXXX-Y', 'auto');
                        ga('send', 'pageview');
                        // End Google Analytics
                    },
                    onRevoke: function () {
                        // Disable Google Analytics
                        window['ga-disable-UA-XXXXX-Y'] = true;
                        // End Google Analytics
                    }
                }, {
                    name: 'marketing',
                    label: 'Social Sharing',
                    description: 'We use some social sharing plugins, to allow you to share certain pages of our website on social media',
                    cookies: ['__atuvc', '__atuvs'],
                    onAccept: function () {
                        var script = document.createElement("script");
                        script.src = "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-581b3669203a9a52";
                        document.body.appendChild(script);
                    },
                    onRevoke: function () {
                        // Disable addThis
                        CookieControl.delete("__atuvc");
                        CookieControl.delete("__atuvs");
                        // End addThis
                    }
                },
            ],

            position: 'LEFT',
            theme: 'DARK',
            branding: {
                fontColor: "#FFF",
                fontSizeTitle: "1.2em",
                fontSizeIntro: "1em",
                fontSizeHeaders: "1em",
                fontSize: "0.8em",
                backgroundColor: "#313147",
                toggleText: "#fff",
                toggleColor: "#2f2f5f",
                toggleBackground: "#111125",
                buttonIcon: null,
                buttonIconWidth: "64px",
                buttonIconHeight: "64px",
                removeIcon: false,
                removeAbout: false
            },
            excludedCountries: ["all"]

        };

        CookieControl.load(config);
    </script>


    <script>
        window.inlineManualOptions = {
            language: 'en'
        };
    </script>


    if (WebConfigurationManager.AppSettings["buildMode"] == "production")
    {
        <script>
            !function () {
                var e = document.createElement("script"),
                    t = document.getElementsByTagName("script")[0];
                e.async = 1,
                    e.src = "https://inlinemanual.com/embed/player.45e9f602400e96a74c88f9c2dc67746d.js",
                    e.charset = "UTF-8",
                    t.parentNode.insertBefore(e, t);
            }();
        </script>
    }
    if (WebConfigurationManager.AppSettings["buildMode"] == "trial")
    {
        <script>
            !function () {
                var e = document.createElement("script"),
                    t = document.getElementsByTagName("script")[0];
                e.async = 1,
                    e.src = "https://inlinemanual.com/embed/player.3957f2395babb9fd94c19b30044ee666.js",
                    e.charset = "UTF-8", t.parentNode.insertBefore(e, t);
            }();
        </script>

    }

    @Html.Action("InlineManualPeopleTracking", "Home")


    <script type="text/javascript" src="//userlike-cdn-widgets.s3-eu-west-1.amazonaws.com/ca70fe79ead573c22498afd242242af57b34031685d3e9e40dfcbbc8c3936461.js"></script>
}

