﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en-gb">

<head>
    <meta charset="utf-8" />
    <title>RelayWorks Report</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    @Styles.Render("~/bundles/styles/layouts/auth-main")

    <link href="~/Content/styles/main.css" rel="stylesheet"/>

</head>

<body style="background-color: white!important">
    <div>
        @RenderBody()
    </div>
</body>

</html>