﻿@model IPagedList<ReceivedGlobalReportItemViewModel>

@{
    Layout = "~/Views/Reports/GlobalReports/_Layout.cshtml";
}

<div class="page-content">
    <div class="global-report-table">
        <table class="table">
            <thead>
                <tr class="table-header">
                    <td class="date-title">Date</td>
                    <td class="received-from-title">Received from</td>
                    <td class="position-title" style="width: 135px !important;">Position</td>
                    <td class="rotation-type-title" style="padding-left:10px !important;">Working Pattern</td>
                    <td class="items-title"># Items</td>
                    <td class="tasks-title" style="width: 105px !important;"># Tasks</td>
                    <td class="action-icon-title" style="width: 110px !important;"></td>
                </tr>
            </thead>
            <tbody class="table-content">
                <tr class="spacer-row"></tr>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr class="report-row">
                            <td class="date-body">@item.DateString</td>
                            <td class="received-from-body">
                                <img src="@Url.Action("GetAvatarForEmployee", "Media", new { employeeId = item.ReceivedFromId })" />
                                <div class="user-name">@item.ReceivedFromName</div>
                            </td>
                            <td class="position-body" style="width: 135px !important;">@item.PositionName</td>
                            <td class="rotation-type-body">@item.RotationType</td>
                            <td class="items-body" style="text-decoration: none;">
                                <div class="circle">
                                    <div class="count">@item.ItemsNumber</div>
                                </div>
                            </td>
                            <td class="tasks-body"style="text-decoration: none; width: 105px !important;">
                                <div class="circle">
                                    <div class="count">@item.TasksNumber</div>
                                </div>
                            </td>
                            <td class="action-icon-body" style="width: 120px !important; padding-left: 15px;">
                                <a class="go-to-report" href="@Url.Action("Received", "ReportBuilder", new { reportId = item.SourceId, reportType = item.RotationType, fromSourceId = item.FromSourceId })"></a>
                                <div class="pdf-report" source-Id="@item.SourceId" from-source-Id="@item.FromSourceId" source-type="@item.RotationType"></div>
                                <div class="qme-pdf-report" source-Id="@item.SourceId" from-source-Id="@item.FromSourceId" source-type="@item.RotationType"></div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="report-row">
                        <td colspan="7" class="text-center">
                            <strong>No reports to display.</strong>
                        </td>
                    </tr>
                }
                <tr class="spacer-row"></tr>
            </tbody>
        </table>
    </div>
    @if (Model.TotalItemCount > 5)
    {
        <div class="footer-block">
            <div class="view-block">
                <div class="eyes"></div>
                <div class="count-block">
                    <a href="@Url.Action("ReceivedReport", "GlobalReports", new { pageSize = 5 })"><div class="counter @(Model.PageSize == 5 ? "active" : "" )">5</div></a>
                    <a href="@Url.Action("ReceivedReport", "GlobalReports", new { pageSize = 10 })"><div class="counter @(Model.PageSize == 10 ? "active" : "" )">10</div></a>
                    <a href="@Url.Action("ReceivedReport", "GlobalReports", new { pageSize = 15 })"><div class="counter @(Model.PageSize == 15 ? "active" : "" )">15</div></a>
                    <a href="@Url.Action("ReceivedReport", "GlobalReports", new { pageSize = (Model.TotalItemCount != 0 ?  Model.TotalItemCount : 5) })"><div class="counter @(Model.PageSize == Model.TotalItemCount && Model.TotalItemCount != 5 && Model.TotalItemCount != 10 && Model.TotalItemCount != 15 ? "active" : "" )">All</div></a>
                </div>
            </div>
            <div class="pagination-block">
                <div class="pagination-pages">
                    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
                            .DisplayTemplate("BootstrapPagination")
                            .MaxNrOfPages(1)
                            .DisplayFirstAndLastPage())
                </div>
            </div>
        </div>
    }
</div>
<script>
    $(function () {

     $('a').on('change', function () {
            $('#loading-animation').show();
        });
        $('a').on('click', function () {
            $('#loading-animation').show();
        });
   });
</script>
