﻿<section class="panel panel-default">
    <div class="panel-heading text-center panel-heading-icon-right">
        <a href="javascript:void(0)">
            <strong>
                Users
            </strong>
        </a>
        <a href="javascript:void(0)" class="icon-right plus-btn btn-circle btn btn-link" ng-click="$ctrl.createEmployeeDialog()">
            <span class="glyphicon span"></span>
        </a>
    </div>
    <div class="panel-body">
        <div class="text-center">{{$ctrl.vm.errorMsg}}</div>
        <ul class="list-group" style="font-size: 12px">
            <li class="list-group-item" ng-repeat="employee in $ctrl.vm.page.Employees">
                {{::employee.Name}}
                <a href="javascript:void(0)" class="pull-right pencil-block" ng-click="$ctrl.editEmployeeDialog(employee.Id)">
                    <!--<span class="pull-right glyphicon glyphicon-pencil"></span>-->
                </a>
            </li>
        </ul>
        <div class="text-center" ng-if="$ctrl.vm.page.PageCount > 1">
            <ul class="pagination">
                <li>
                    <a class="page-prev" href="javascript:void(0)" ng-click="$ctrl.showPrevPage()"></a>
                </li>
                <li>
                    <a class="page-next" href="javascript:void(0)" ng-click="$ctrl.showNextpage()"></a>
                </li>
            </ul>
        </div>
    </div>
</section>