﻿@model UpgradeSubscriptionViewModel

@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}
<style>
    .form-control option {
       height:20px;
    }
</style>
<div class="upgrade-block" ng-app="UpgradeSubscriptionApp" ng-cloak>
    <div ui-view>
        <div class="row">
            <div class="col-xs-12">
                <div class="upgrade-label">Upgrade your RelayWorks Account</div>
            </div>
        </div>
        <div class="row user-number-row">
            <div class="col-xs-12">
                <div class="select-label">Number of Users</div>
                <div class="user-count-select">
                    <select class="form-control" ng-model="ctrl.Model.NumberOfusers" ng-options="n for n in [] | range:1:76"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">


                <div class="featuresBlock" style="top: 45px !important;">
                    <div class="subscription-type-block-features">
                        <div class="price-block">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="from-label">Features</div>
                                </div>
                            </div>
                        </div>


                        <div class="description-block">
                            <div class="type-stats">
                                <div class="handover-items-counter white-row">
                                    Shift Handover
                                </div>
                                <div class="handover-items-counter grey-row">
                                    Remote Handover
                                </div>
                                <div class="handover-items-counter white-row">
                                    Team Handover
                                </div>
                                <div class="handover-items-counter grey-row" style="height:32px;">
                                    Reporting
                                </div>
                                <div class="handover-items-counter white-row" style="height:32px;">
                                    Archiving
                                </div>
                                <div class="handover-items-counter grey-row" style="height:32px;">
                                    Notifications
                                </div>
                                <div class="handover-items-counter white-row" style="height:32px;">
                                    PDF Reports
                                </div>
                                <div class="handover-items-counter grey-row" style="height:32px;">
                                    Timezone
                                </div>
                                <div class="handover-items-counter white-row" style="height:32px;">
                                    Location
                                </div>
                                <div class="handover-items-counter grey-row" style="height:32px;">
                                    Sharing
                                </div>
                                <div class="handover-items-counter white-row" style="height:32px;">
                                    Customisation
                                </div>
                                <div class="handover-items-counter grey-row" style="height:32px;">
                                    Project Tasking
                                </div>
                                <div class="handover-items-counter white-row" style="height:32px;">
                                    Branding
                                </div>
                                <div class="handover-items-counter grey-row" style="border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; padding-bottom: 5px;" height:32px;>
                                    User Support
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<br />
        <div class="BtnSeeMore">
            <div class="handover-items-counter white-row">
                <strong>See More</strong>
            </div>
        </div>*@
                </div>

         

                <div class="selected-line" ng-class="ctrl.Model.SubscriptionLevelType == 0 ? 'selected' : ''" style="top:-5px;">
                    <div class="subscription-type-block" ng-click="ctrl.changeSubscriptionLevelType(0)">

                        <div class="price-block">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="from-label">Basic</div>
                                </div>
                                <div class="col-md-12 price-info">
                                    <div class="currency-symbol">
                                        £
                                    </div>
                                    <div class="price-label">
                                        {{ ctrl.Model.SubscriptionLevelPriceBasic }}
                                    </div>
                                    <div class="period-label">per month</div>
                                </div>
                            </div>
                        </div>


                        <div class="description-block">
                            <div class="type-stats">
                                <div class="handover-items-counter white-row" style="height: 29px;     padding-left: 10px;">
                                    <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                                </div>
                                <div class="handover-tasks-counter grey-row " style="height: 29px;     padding-left: 10px;">
                                    <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                                </div>
                                <div class="handover-items-counter white-row" style="height: 29px;     padding-left: 10px;  padding-top: 5px;">
                                    <img src="~/Content/img/svg/close_green.svg" height="15" width="15" style="float: left;" />
                                </div>
                                <div class="handover-items-counter grey-row " style=" text-align: left; padding-left: 10px;">
                                    Handovers
                                </div>
                                <div class="handover-items-counter white-row" style=" text-align: left; padding-left: 10px; height:32px;">
                                    30 Days
                                </div>
                                <div class="handover-items-counter grey-row " style=" text-align: left; padding-left: 10px; height:32px;">
                                    Last 7 Days
                                </div>
                                <div class="handover-items-counter white-row " style=" height:32px;    padding-left: 10px;  padding-top: 5px;">
                                    <img src="~/Content/img/svg/close_green.svg" height="15" width="15" style="float: left;" />
                                </div>
                                <div class="handover-items-counter grey-row " style=" height:32px;     padding-left: 10px;  padding-top: 5px;">
                                    <img src="~/Content/img/svg/close_green.svg" height="15" width="15" style="float: left;" />
                                </div>
                                <div class="handover-items-counter white-row " style=" text-align: left; padding-left: 10px;  padding-top: 5px;">
                                    1
                                </div>
                                <div class="handover-items-counter grey-row " style=" height:32px;    padding-left: 10px;  padding-top: 5px;">
                                    <img src="~/Content/img/svg/close_green.svg" height="15" width="15" style="float: left;" />
                                </div>
                                <div class="handover-items-counter white-row " style=" height:32px;    padding-left: 10px;  padding-top: 5px;">
                                    <img src="~/Content/img/svg/close_green.svg" height="15" width="15" style="float: left;" />
                                </div>
                                <div class="handover-items-counter grey-row " style=" text-align: left; padding-left: 10px;  height:32px;">
                                    Manage Handover Tasks
                                </div>
                                <div class="handover-items-counter white-row " style="text-align: left; padding-left: 10px; padding-bottom: 3px; height:32px;">
                                    RelayWorks
                                </div>
                                <div class="handover-items-counter grey-row " style=" height:32px; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;  text-align: left; padding-left: 10px;     padding-bottom: 3px;">
                                    E-mail Support
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="selected-line" ng-class="ctrl.Model.SubscriptionLevelType == 1 ? 'selected' : ''" style="top:-5px;">
                    <div class="subscription-type-block" ng-click="ctrl.changeSubscriptionLevelType(1)">
                        @*<div class="promotion-label">Promotion</div>*@
                        <div class="price-block">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="from-label">Intermediate</div>
                                </div>
                                <div class="col-md-12 price-info">
                                    <div class="currency-symbol">
                                        £
                                    </div>
                                    <div class="price-label">
                                        {{ ctrl.Model.SubscriptionLevelPricePremium }}
                                    </div>
                                    <div class="period-label">per month</div>
                                </div>
                            </div>
                        </div>

                        <div class="description-block">
                            <div class="type-stats">
                                <div class="handover-items-counter white-row" style="height: 29px;     padding-left: 10px;">
                                    <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                                </div>
                                <div class="handover-items-counter grey-row" style="height: 29px;     padding-left: 10px;">
                                    <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                                </div>
                                <div class="handover-items-counter white-row" style="height: 29px;     padding-left: 10px;">
                                    <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                                </div>
                                <div class="month-archive-counter grey-row" style="text-align: left; padding-left: 10px;">
                                    Handovers & Custom Search
                                </div>
                                <div class="carry-forward-counter white-row" style="text-align: left; padding-left: 10px;">
                                    3 Months
                                </div>
                                <div class="branding-info grey-row" style="text-align: left; padding-left: 10px;">
                                    3 Months
                                </div>
                                <div class="handover-items-counter white-row" style="height: 32px;     padding-left: 10px;">
                                    <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                                </div>
                                <div class="handover-items-counter grey-row" style="height: 32px;     padding-left: 10px;">
                                    <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                                </div>
                                <div class="month-archive-counter white-row" style="text-align: left; padding-left: 10px;">
                                    3
                                </div>
                                <div class="handover-items-counter grey-row" style="height: 32px;     padding-left: 10px;">
                                    <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                                </div>
                                <div class="handover-items-counter white-row" style="height: 32px;     padding-left: 10px;">
                                    <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                                </div>
                                <div class="month-archive-counter grey-row" style="text-align: left; padding-left: 10px;">
                                    Manage Handover Tasks
                                </div>
                                <div class="month-archive-counter white-row" style="text-align: left; padding-left: 10px;">
                                    RelayWorks + Company
                                </div>
                                <div class="handover-items-counter grey-row " style="border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;  text-align: left; padding-left: 13px;">
                                    E-mail Support
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="selected-line" ng-class="ctrl.Model.SubscriptionLevelType == 2 ? 'selected' : ''" ng-init="ctrl.Model.SubscriptionLevelType == 2 ? 'selected': ''" style="top:-5px;">
                    <div class="subscription-type-block" ng-click="ctrl.changeSubscriptionLevelType(2)">
                        @*<div class="promotion-label">Promotion</div>*@
                        <div class="price-block">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="from-label">Advanced</div>
                                </div>

                                <div class="col-md-12 price-info">
                                    <div class="currency-symbol">
                                        £
                                    </div>
                                    <div class="price-label">
                                        {{ ctrl.Model.SubscriptionLevelPriceUltimate }}
                                    </div>
                                    <div class="period-label">per month</div>
                                </div>
                            </div>
                        </div>

                        <div class="description-block">
                            <div class="type-stats">
                                <div class="handover-items-counter white-row" style="height: 29px;     padding-left: 10px;">
                                    <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                                </div>
                                <div class="handover-items-counter grey-row" style="height: 29px;     padding-left: 10px;">
                                    <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                                </div>
                                <div class="handover-items-counter white-row" style="height: 29px;     padding-left: 10px;">
                                    <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                                </div>
                                <div class="month-archive-counter grey-row" style="text-align: left; padding-left: 10px;">
                                    Handovers & Custom Search
                                </div>
                                <div class="handover-items-counter white-row" style="height: 32px;     padding-left: 10px;     padding-top: 5px;">
                                    <img src="~/Content/img/svg/unlim.svg" height="15" width="15" style="float: left;" />
                                    <p style="text-align:left; color:#F29105;      padding-left: 25px;  padding-bottom:5px"> Unlimited</p>
                                </div>
                                <div class="handover-items-counter grey-row" style="height: 32px;     padding-left: 10px;     padding-top: 5px;">
                                    <img src="~/Content/img/svg/unlim.svg" height="15" width="15" style="float: left;" />
                                    <p style="text-align:left; color:#F29105;      padding-left: 25px; padding-bottom:5px"> Unlimited</p>
                                </div>
                                <div class="handover-items-counter white-row" style="height: 32px;     padding-left: 10px;">
                                    <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                                </div>
                                <div class="handover-items-counter grey-row" style="height: 32px;   padding-left: 10px; ">
                                    <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                                </div>
                                <div class="handover-items-counter white-row" style="height: 32px;     padding-left: 10px;     padding-top: 5px;">
                                    <img src="~/Content/img/svg/unlim.svg" height="15" width="15" style="float: left;" />
                                    <p style="text-align:left; color:#F29105;     padding-left: 25px;  padding-bottom:5px"> Unlimited</p>
                                </div>
                                <div class="handover-items-counter grey-row" style="height: 32px;    padding-left: 10px;">
                                    <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                                </div>
                                <div class="handover-items-counter white-row" style="height: 32px;     padding-left: 10px;">
                                    <img src="~/Content/img/svg/check-mark.svg" height="15" width="15" style="float: left;" />
                                </div>
                                <div class="month-archive-counter grey-row" style="text-align: left; padding-left: 10px;">
                                    Planned Project Tasks
                                </div>
                                <div class="month-archive-counter white-row" style="text-align: left; padding-left: 10px;">
                                    RelayWorks + Company
                                </div>
                                <div class="handover-items-counter grey-row " style="border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;  text-align: left; padding-left: 13px;">
                                    Live Chat
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row price-row">
            <div class="col-xs-6 text-right current-price-col">
                <div class="curent-price-label">Current Plan Price</div>
                <div class="curent-price-sum-label">
                    £{{ ctrl.Model.CurrentPrice }}
                </div>
            </div>
            <div class="col-xs-6 text-left new-price-col">
                <div class="new-price-label">New Plan Price</div>
                <div class="new-price-sum-label">
                    £{{ ctrl.Model.NewPrice }}
                </div>
            </div>
        </div>


        <div class="row card-row vertical-center" ng-if="ctrl.Model.IsTrial === false">
            <div class="col-xs-6 text-right">
                <div class="card-number-label">
                    <div class="card-icon"></div>
                    <div class="card-brand">{{ ctrl.Model.CardBrand }}</div>
                    <span>***** **** **** {{ ctrl.Model.CardNumberLast4 }}</span>
                </div>
            </div>
            <div class="col-xs-6 text-left">
                <button class="btn upgrade-card-button">
                    Update Credit Card
                </button>
            </div>
        </div>

        <div class="row text-center" ng-if="ctrl.ErrorMessage != ''">
            <div class="col col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3 no-padding margin-top-20">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="bold" ng-bind-html="ctrl.ErrorMessage"></div>
                </div>
            </div>
        </div>

        <div class="row text-center" ng-if="ctrl.Model.IsTrial === false">
            <div class="col col-xs-12">
                <div class="buttons-block">
                    <button class="btn btn-upgrade active " ng-disabled="ctrl.Model.SubscriptionLevelType === null" ng-click="ctrl.upgradeSubscription()">
                        Upgrade
                    </button>
                </div>
            </div>
        </div>

        <form name="ctrl.CardForm" novalidate="" ng-submit="ctrl.payAndUpgradeSubscription(ctrl.CardForm)" ng-if="ctrl.Model.IsTrial === true">
            <div class="row text-center">
                <div class="col col-xs-12">
                    <div class="payment-details-block">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input type="text"
                                           class="form-control card-number"
                                           ng-class="{'has-error' : ctrl.CardForm.$invalid && ctrl.CardForm.$submitted}"
                                           name="CardNumber"
                                           placeholder="Card Number*"
                                           ng-model="ctrl.Model.CardNumber"
                                           cc-number
                                           cc-format
                                           cc-type="cardType"
                                           ng-required="true"
                                           required>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <input type="text"
                                           class="form-control date"
                                           ng-class="{'has-error' : ctrl.CardForm.ExpDate.$invalid && ctrl.CardForm.$submitted}"
                                           name="ExpDate"
                                           placeholder="Exp Date*"
                                           ng-model="ctrl.Model.ExpDate"
                                           cc-exp
                                           ng-required="true"
                                           required>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <input type="password"
                                           class="form-control cvc"
                                           ng-class="{'has-error' : ctrl.CardForm.CVC.$invalid && ctrl.CardForm.$submitted}"
                                           name="CVC"
                                           placeholder="CVC*"
                                           ng-model="ctrl.Model.CVC"
                                           cc-cvc
                                           ng-required="true"
                                           required>
                                </div>
                            </div>
                          <div class="col-xs-6">
                            <div class="form-group">
                              <input type="text"
                                     class="form-control vat"
                                     ng-class="{'has-error' : ctrl.CardForm.VAT.$invalid && ctrl.CardForm.$submitted}"
                                     name="VAT"
                                     placeholder="VAT Number"
                                     ng-model="ctrl.Model.VAT"
                                     ng-required="false"
                                     required>
                            </div>
                          </div>
                          <div class="col-xs-6">
                            <div class="form-group">
                              <select ng-model="ctrl.Model.UserCountry"
                                      ng-options="b for b in ctrl.Model.Countries track by b"
                                      name="UserCountry"
                                      class="select-country"
                                      ng-class="{'has-error' : ctrl.CardForm.UserCountry.$invalid && ctrl.CardForm.$submitted}"
                                      required>
                                <option ng-show="!ctrl.CardForm.UserCountry" value="" ng-class="{'has-error' : ctrl.CardForm.UserCountry.$invalid && ctrl.CardForm.$submitted}">Country*</option>
                              </select>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-center" style="margin-top: 30px;" ng-if="ctrl.Model.IsTrial === true">
                <div class="col col-xs-12">
                    <div class="terms-conditions-block">
                        <div class="terms-conditions-title">Check to confirm that you have read and understood the <a href="~/Content/document/RelayWorks_Web_Terms_and_Conditions_20180424.pdf" target="_blank">Terms & Conditions</a> and <a href="~/Content/document/Terms_Conditions.pdf" target="_blank">Privacy Policy</a>.</div>
                        <div class="terms-check">
                            <input type="checkbox" ng-model="ctrl.SignUpModel.IsAgree" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-center" ng-if="ctrl.Model.IsTrial === true">
                <div class="col col-xs-12">
                    <div class="buttons-block">
                        <button class="btn btn-upgrade active" type="submit" ng-disabled="!ctrl.SignUpModel.IsAgree">
                            Upgrade
                        </button>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>

@section Scripts
{
    <script src="~/Content/lib/angular/angular.js"></script>
    <script src="~/Content/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="~/Content/lib/angularjs-slider/dist/rzslider.min.js"></script>

    <script src="~/Content/js/relay/multitenant/Upgrade/upgrade.app.js"></script>
    <script src="~/Content/js/relay/multitenant/Upgrade/upgrade.app.config.js"></script>
    <script src="~/Content/js/relay/multitenant/Upgrade/upgrade.controller.js"></script>
    <script src="~/Content/js/relay/multitenant/Upgrade/upgrade.service.js"></script>
    <script src="~/Content/js/relay/multitenant/Upgrade/httpInterceptor.service.js"></script>

    <script src="~/Content/lib/angular-validation-match/dist/angular-validation-match.js"></script>
    <script src="~/Content/lib/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="~/Content/lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="~/Content/lib/angular-stripe/angular-stripe.js"></script>
    <script src="~/Content/lib/angular-credit-cards/release/angular-credit-cards.js"></script>

    <script>
        $(document).ready(function ()
        {
            $('.card-number').mask('0000 0000 0000 0000');
            $('.cvc').mask('000');
            $('.issueNumber').mask('0000');
            $('.date').mask('00/00');
        });
    </script>
}
