.scheduler-container {

    .container-calendar {
        text-align: center;
        padding-top: 47px;
        max-width: 1140px;
        margin: 0 auto;
        background: #f5f5f5;
        background-clip: content-box;
        border-radius: 5px;

        * {
            border: 0px;
            padding: 10px 10px;
        }

        body {
            background: white;
            text-align: center;
        }

        body h1 {
            padding-top: 20px;
            font-size: 26px;
            color: #335;
        }

        table {
            border-collapse: separate;
            border-width: 0px 0px 1px 1px;
            margin: 10px auto;
            font-size: 20px;
            padding-top: 2px;

            .view {
                opacity: 0.5;
            }
        }

        td, th {
            width: 81px;
            height: 81px;
            text-align: left;
            vertical-align: top;
            padding: 1px 3px;
            background: white;
            border: 1px solid #00aff0;
            color: #444;
            text-transform: uppercase;
            position: relative;
            font-size: 14px;
        }

        th {
            text-align: center;
            vertical-align: bottom;
            padding: 0px;
            height: 22px;
            background: #00aff0;
            color: white;
            font-weight: bold;
            font-size: 14px;
            border: 0px solid #444;
        }

        td img {
            width: 100%;
            height: 100%;
            cursor: pointer;

            &.view {
                opacity: .5;
                cursor: auto;
            }
        }

        td p {
            padding: 0px;
            z-index: 4;
            position: absolute;

            &.view {
                opacity: .5;
            }
        }


        td .plus {
            background-image: data-uri("@{main-url-img}/11.svg");
            background-size: 26px;
            background-repeat: no-repeat;
            z-index: 6;
            position: absolute;
            display: none;
            left: 33%;
            top: 32%;
            width: 35px;
            height: 35px;
            cursor: pointer;
        }

        td .plusHov {
            background-image: data-uri("@{main-url-img}/plus_grey.svg");
            background-size: 12px;
            background-repeat: no-repeat;
            z-index: 6;
            background-position: 100%;
            position: absolute;
            right: 2px;
            bottom: 2px;
            display: none;
            cursor: pointer;
        }

        td:hover .plusHov, td:hover .plus {
            display: block;
        }

        td:focus .plusHov, td:focus .plus {
            display: block;
        }

        td.date_has_event {
            background-position: 162px 0px;
            color: white;
        }

        td.today {
            background-position: 81px 0px;
            color: white;
        }

        .events {
            position: relative;
        }

        .events ul {
            text-align: left;
            position: absolute;
            display: none;
            z-index: 1000;
            padding: 15px;
            color: white;
            border: 1px solid white;
            font-size: 15px;
            width: 200px;
            -moz-border-radius: 3px;
            -khtml-border-radius: 3px;
            -webkit-border-radius: 3px;
            -border-radius: 3px;
            list-style: none;
            color: #444444;
            -webkit-box-shadow: 0px 8px 8px #333;
        }

        .events li {
            padding-bottom: 5px;
        }

        .events li span {
            display: block;
            font-size: 12px;
            text-align: justify;
            color: #555;
        }

        .events li span.title {
            font-weight: bold;
            color: #222;
        }

        .clndr-controls {
            text-transform: uppercase;
            font-size: 14px;
            display: inline-flex;
            padding-top: 41px;
            padding-left: 100px;
            font-weight: bold;
        }

        .month {
            float: left;
            white-space: pre;
            border-bottom: 1px solid #00aff0;
            padding: 0;
            margin: 0;   
        }

        .clndr-next {
            cursor: pointer;
            padding: 0;
            margin: 0;
        }

        .clndr-previous {
            cursor: pointer;
            padding: 0;
            margin: 0;
        }

        .massage {
            position: relative;
            float: right;
            padding: 0;
            margin: 0;
            top: 0;
            max-width: 100px;
            z-index: 5;
            text-align: center;
            border: 1px solid #00aff0;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.06em;
            padding: 3px 0 5px 0;
            max-width: 100px;
            border: 1px solid @main-background;
            border-radius: 0 5px 0 0;
            margin: -1px -1px 0 0;
        }

        .many-messages {
            background-image: data-uri("@{main-url-img}/bgd.svg");
            position: relative;
            height: 57px;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            top: 10px;
            font-size: 26px;
            color: #ffffff;
            text-align: center;
            cursor: pointer;

            &.view {
                opacity: .5;
                cursor: auto;
            }
        }
    }

    .pagination-block {
        margin-top: 25px;
        text-align: center;

        .pagination-pages {
            display: inline;
            position: relative;

            .page {
                color: @main-brown;
            }

            .first-page {
                position: absolute;
                top: 4px;
                left: -55px;
                width: 9px;
                height: 8px;
                padding: 0;
                border: none;
                background: none;
                background-repeat: no-repeat;
                background-image: data-uri("@{main-url-img}/arrow_left2.svg");

                &:hover {
                    opacity: 0.7;
                }
            }

            .prev-page {
                position: absolute;
                top: 4px;
                left: -30px;
                width: 5px;
                height: 8px;
                padding: 0;
                border: none;
                background: none;
                background-repeat: no-repeat;
                background-image: data-uri("@{main-url-img}/arrow_left1.svg");

                &:hover {
                    opacity: 0.7;
                }
            }

            .next-page {
                position: absolute;
                top: 4px;
                right: -30px;
                width: 5px;
                height: 8px;
                padding: 0;
                border: none;
                background: none;
                background-repeat: no-repeat;
                background-image: data-uri("@{main-url-img}/arrow_right1.svg");

                &:hover {
                    opacity: 0.7;
                }
            }

            .last-page {
                position: absolute;
                top: 4px;
                right: -55px;
                width: 9px;
                height: 8px;
                padding: 0;
                border: none;
                background: none;
                background-repeat: no-repeat;
                background-image: data-uri("@{main-url-img}/arrow_right2.svg");

                &:hover {
                    opacity: 0.7;
                }
            }

            .inactive {
                opacity: 0.7;
                cursor: default;
            }
        }
    }
}
