﻿@model RotationReportPanelViewModel

<div Id="reportBuilderPanel" user-id="@Model.UserId" class="panel panel-primary">
    <div class="panel-heading clearfix">
        <div class="handover-title">
            <span class="panel-title">Handover Report</span>
        </div>
        <div class="shift-report-builder-controls">

            @if (Model.ShareEnabled)
            {
                <button type="button" class="share-report-block btn-circle btn btn-link col-lg-1 col-md-1 col-xs-1 no-padding">
                    <span class="glyphicon span"></span>
                </button>
            }
            <button type="button" class="filter-btn btn-circle btn btn-link">
                <span class="glyphicon span"></span>
            </button>
            <button type="button" class="document-btn btn-circle btn btn-link tooltipster" @Html.TooltipAttritutes("Report Preview")>
                <span class='glyphicon span'></span>
            </button>
             @if (Model.IconsPDFEnabled)
             {
                <button type="button" class="qme-pdf-report btn-circle btn btn-link">
                    <span class='glyphicon span'></span>
                </button>
             }
        </div>
    </div>
    <div class="panel-body main-panel">
        <div class="navbar navbar-brown navbar-white">
            <div class="row no-margin">
                <div class="col-xs-4 no-padding" style="text-align: left; vertical-align: middle;">
                    <div class="row no-margin left-block" style="display: inline-block; float: left;">
                        <div class="period-block"></div>
                        <span></span>
                        <div Id="fromToBlock" class="no-padding">
                            @Html.Action("FromToBlock", "RotationReportBuilder", new { rotationId = Model.RotationId.Value })
                        </div>

                        @if (Model.IsEndRotation == null)
                        {
                            @Html.Action("ShowEditDatesButton", "Summary", new { userID = Model.UserId })
                        }
                    </div>
                </div>
                <div class="col-xs-4 no-padding" Id="section-filter">
                    <ul class="nav nav-pills">
                        <li><a href="javascript:void(0)" class="draft-btn" style="margin-bottom:10px;">Draft</a></li>
                        <li><a href="javascript:void(0)" class="received-btn" style="margin-bottom:10px;">Received</a></li>
                        <li><a href="javascript:void(0)" class="history-btn">History</a></li>
                    </ul>
                </div>
                <div class="col-xs-4 no-padding">
                    @if (Model.IsEndRotation != null)
                    {
                        <button type="button" class="btn btn-custom pull-right finalise-all-btn" disabled>Finalise All</button>
                        <button type="button" class="btn btn-custom pull-right expand-all-btn" disabled>Expand All</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-custom pull-right finalise-all-btn">Finalise All</button>
                        <button type="button" class="btn btn-custom pull-right expand-all-btn">Expand All</button>
                    }
                </div>
            </div>
        </div>
    </div>

    <div Id="reportBuilderData"></div>

    <script src="~/Content/js/relay/rotation/rotation-report-builder/rotation-report-filter.module.js"></script>
    @Scripts.Render("~/bundles/scripts/shared/rotation-report-builder")
</div>
