﻿@model ReceivedPanelViewModel

<div class="received-panel-selected-rotation" rotation-Id="@Model.SelectedRotationId">
    @if (Model.ReceivedRotations != null && Model.ReceivedRotations.Count() > 1)
    {
        <div class="received-container-separator-tab"></div>
        <div class="received-container" rotation-Id="@Model.SelectedRotationId">
            <div class="list-container">
                <div class="received-title-container">
                    <span class="title-select simple-column">Date</span>
                    <span class="title-select simple-column">Handover From</span>
                    <span class="title-select contributors-column">Contributors</span>
                    <span class="title-select simple-column">N° of items</span>
                    <span class="title-select simple-column">N° of Tasks</span>
                </div>
                <div class="received-content">
                    <div class="swiper-container receivedSwiper">
                        <div class="swiper-wrapper">
                            @foreach (var rotation in Model.ReceivedRotations)
                            {
                            <div class="swiper-slide @(Model.ReceivedRotationId == rotation.Id ? "active-line" : "")" style="cursor: pointer; height:45px !important;" rotation-Id="@rotation.Id">
                                <div class="simple-column">@rotation.Date</div>
                                <div class="simple-column">@rotation.HandoverFrom</div>
                                <div class="contributors-column stat-counter tooltipster" @(Html.PopoverFromList(rotation.ContributorsList))>@rotation.Contributors</div>
                                <script>
                                    $(document).ready(function () {
                                        $('.stat-counter').webuiPopover({
                                            hideEmpty: true,
                                            style: 'rPopover',
                                            type: 'html',
                                            color: 'black',
                                            width: '280',
                                            top: '100',
                                            right: '255',
                                            multi: true,
                                            dismissible: true,
                                            trigger: 'hover'
                                        });
                                    });
                                </script>
                                <div class="simple-column">@rotation.TopicCounter</div>
                                <div class="simple-column">@rotation.TaskCounter</div>
                            </div>
                            }
                        </div>
                    </div>
                    <div class="receivedSwiper-prev"></div>
                    <div class="receivedSwiper-next"></div>
                </div>
            </div>
        </div>
    }

    @Html.Partial("~/Views/Rotation/RotationReportBuilder/_ReceivedPanelForReceivedRotation.cshtml", Model)
</div>


<script>
    $(document).ready(function () {
        $('.stat-counter').webuiPopover({
            hideEmpty: true,
            style: 'rPopover',
            type: 'html',
            color: 'black',
            width: '280',
            top: '100',
            right: '255',
            multi: true,
            dismissible: true,
            trigger: 'hover'
        });
    });
</script>