﻿@model ReceivedPanelViewModel

<div class="report-panel">
    <div class="received-history-container">
        @if (Model.Rotations != null && Model.Rotations.Any())
        {
            <div class="list-container">
                <div class="title-container">
                    <span class="title-select simple-column">Date</span>
                    <span class="title-select received-from-column">Received From</span>
                    <span class="title-select simple-column">N° of Items</span>
                    <span class="title-select simple-column">N° of Tasks</span>
                </div>
                <div class="content">
                    <div class="swiper-container swiper">
                        <div class="swiper-wrapper">
                            @foreach (var rotation in Model.Rotations)
                            {
                                <div class="swiper-slide" style="cursor: pointer;" rotation-Id="@rotation.Id">
                                    <div class="simple-column">@rotation.Date</div>
                                    <div class="received-from-column overflow">@rotation.ReceivedFrom</div>
                                    <div class="simple-column">@rotation.ReceivedTopicCounter</div>
                                    <div class="simple-column">@rotation.ReceivedTaskCounter</div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="swiper-prev"></div>
                    <div class="swiper-next"></div>
                </div>
            </div>
        }
        else
        {
            <div class="text-center padding-top-20">No Previous working pattern</div>
        }
    </div>
    @Html.Partial("~/Views/Rotation/RotationReportBuilder/_ReceivedPanelForSelectedRotation.cshtml", Model)
</div>
