﻿@model ReceivedEditCompleteViewModel

<div id="rotationMenuPopover" task-id="@Model.TaskId" class="rotation-menu-popover-content" data-placement="bottom-right">
    <div class="filter-content">
        <div class="filter-row" id="edit" task-id="@Model.TaskId">
            Edit
        </div>
        <div class="filter-row" id="complete" task-id="@Model.TaskId">
            Complete
        </div>
    </div>
    <script>
        (function () {
            var rotationMenuPopover = $(".rotation-menu-popover-content[task-id='@Model.TaskId']");

            $("#edit", rotationMenuPopover).click(function () {

                var editTaskDialog = Relay.FormDialog({
                    url: "/Tasks/EditReceivedTaskDialog",
                    data: {
                        taskId: $(this).attr("task-id")
                    }
                });
                editTaskDialog.setSubmitEvent(function () {
                    location.reload();
                });
                editTaskDialog.open();

                $($(this).parent().parent().parent().parent().parent()).hide();
            });

            $("#complete", rotationMenuPopover).click(function () {

                var completeTaskDialog = Relay.FormDialog({
                    url: "/Tasks/CompleteTaskDialog",
                    data: {
                        taskId: $(this).attr("task-id")
                    }
                });
                completeTaskDialog.setSubmitEvent(function () {
                    location.reload();
                });
                completeTaskDialog.open();

                $($(this).parent().parent().parent().parent().parent()).hide();
            });

        })();
    </script>
</div>
