﻿@model ChooseSwingRecipientModel

<style>
    .field-validation-error span {
        margin-top: 15px;
    }
</style>

<div Id="handoverRecipientsDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade handover-recipients-dialog">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.RotationId)
        @Html.AntiForgeryToken()


        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header" style="margin-bottom: 20px;">
                        <div class="row vertical-center">
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div Id="modalTitle" class="modal-title">Select Handover Recipient</div>
                            </div>
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="handover-recipients-title" style="border-bottom: none; margin-bottom: 10px;">Handover Recipient</div>
                                <div class="select-type">
                                    <div user-Id="@Model.RotationRecipientId" class="recipient-block">
                                        @Html.DropDownListFor(m => m.RotationRecipientId, Model.TeamMembers, "Select handover recipient", new { @class = "select-list" })
                                        @Html.ValidationMessageFor(m => m.RotationRecipientId)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function ()
    {
     $('#loading-animation').hide();
    });
</script>
