﻿@*@model IEnumerable<TaskBoardTaskForHandover>

<div Id="taskboardTasksSection">
  <div class="panel-body grey-panel">
    <div class="navbar navbar-blue" id="Tasks"><span class="label">Tasks</span></div>
  </div>
  <div class="table-block">
    @if (Model != null && Model.Any())
    {
      <table class="table">
        <thead>
          <tr>
            <th class="first">Actions</th>
            <th class="third">Task Name</th>
            <th class="fourth">Notes</th>
            <th class="fifth">Status</th>
            <th class="fifth">Priority</th>
            <th class="fifth">Intel</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var task in Model)
          {
                  <tr is-complete="@task.IsComplete.ToString()">
                    <td class="first-td">
                      @Html.Hidden("Id", task.Id)

                      <div class="btn none-btn btn-circle">
                        <span class="glyphicon span"></span>
                      </div>

                      <button type="button" class="btn btn-circle @(task.IsFeedbackRequired ? "arrows-active-btn" : "arrows-inactive-btn") tooltipster" @Html.TooltipAttritutes("Hand-back")>
                        <span class="glyphicon span"></span>
                      </button>


                      <div class="btn none-btn btn-circle">
                        <span class="glyphicon span"></span>
                      </div>
                    </td>
                    <td style="cursor: pointer;">
                      <div class="third-td">
                        @task.Name
                      </div>
                    </td>
                    <td class="fourth-td" style="cursor: pointer;">
                      <p class="note-short">@task.Notes</p>
                      <div class="field-of-edit">
                        <textarea class="change-note" maxlength="600"></textarea>
                        <div topic-val="true" class="accept-btn finalise-btn tooltipster" @Html.TooltipAttritutes("Finalise")></div>
                      </div>
                    </td>
                    <td class="fifth-td">
                      <div class="complite-status">
                        @task.CompleteStatus
                      </div>
                    </td>
                    <td class="fifth-td">
                      <div topic-val="@task.Priority.ToString()" class="btn btn-priority simple-label-btn"></div>
                    </td>
                    <td class="fifth-td">
           

                      @Html.Action("ManagerCommentButton", "Tasks", new ManagerCommentButtonViewModel { ItemId = task.Id, HasComments = task.HasComments })

                      <button type="button" topic-val="@task.AssignedToId.ToString()" owner-Id="@task.OwnerId" status="@task.Status" data-rotation-mode="true" @Html.TooltipAttritutes(task.FromTeammateFullName) class="btn btn-circle user-photo-btn team-btn tooltipster">
                        <img src="@Url.Action("GetAvatarForEmployee", "Media", new {area = "", employeeId = task.FromTeammateId, width = 25, height = 25 })"
                             class="user-photo-img" />
                      </button>
                      <div class="btn btn-circle more-btn tooltipster" @Html.TooltipAttritutes("Extras")>
                        <span class="glyphicon span"></span>
                      </div>
                      <div class="other-actions pull-right">
                        <button topic-val="@task.HasAttachments.ToString().ToLower()" class="action-btn attachments-btn tooltipster" @Html.TooltipAttritutes("Attachments")></button>
                        <button topic-val="@task.HasVoiceMessages.ToString().ToLower()" class="action-btn voice-msg-btn tooltipster" @Html.TooltipAttritutes("Voice Messages") disabled style="cursor: not-allowed!important"></button>
                      </div>
                    </td>
                  </tr>
          }
        </tbody>
      </table>
    }
    else
    {
      <div class="text-center" style="margin: 10px">No Received Tasks</div>
    }
  </div>
</div>*@


@model IEnumerable<TaskBoardTaskForHandover>

<div Id="taskboardTasksSection">
  <div class="panel-body grey-panel">
    <div class="navbar navbar-blue" id="Tasks"><span class="label">Tasks</span></div>
  </div>
  <div class="table-block">
    @if (!Model.Any())
    {
    <div>
      <div class="no-items">No Tasks</div>
    </div>
    }
    else
    {
    <table class="table">
      <thead>
        <tr>
          <th class="actions-title">Actions</th>
          <th class="reference-title">Task Name</th>
          <th class="notes-title">Notes</th>
          <th class="status-title">Status</th>
          <th class="priority-title">Priority</th>
          <th class="intel-title">Intel</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var task in Model)
        {
        <tr>
          @Html.Hidden("Id", task.Id)

          <td class="actions-body first-td">
            <div class="btn none-btn btn-circle">
              <span class="glyphicon span"></span>
            </div>

            <button type="button" class="btn btn-circle  @(task.IsFeedbackRequired ? "hand-back-active-btn" : "hand-back-inactive-btn") tooltipster" @Html.TooltipAttritutes("Hand-back")>
              <span class="glyphicon span"></span>
            </button>


            @*<div class="btn none-btn btn-circle">
              <span class="glyphicon span"></span>
            </div>*@
          </td>
          <td class="reference-body third-td">
            @task.Name
          </td>
          <td class="notes-body">
            <p class="note-short">@task.Notes</p>
            <div class="field-of-edit">
              <textarea class="change-note" maxlength="600"></textarea>
              <div topic-val="true" class="accept-btn finalise-btn tooltipster" @Html.TooltipAttritutes("Finalise")></div>
            </div>

          </td>
          <td class="status-body">
            <div class="status" topic-val="@task.CompleteStatus" status="@task.Status">
              <div class="complete-status" style="display: none;">
                @task.CompleteStatus
              </div>
              <div class="btn none-btn btn-circle no-complete-status">
                <span class="glyphicon span"></span>
              </div>
            </div>
          </td>
          <td class="priority-body">
            <div topic-val="@task.Priority.ToString()" class="btn-priority"></div>
          </td>
          <td class="intel-body">

            @Html.Action("ManagerCommentButton", "Tasks", new ManagerCommentButtonViewModel { ItemId = task.Id, HasComments = task.HasComments })

            <button type="button" topic-val="@task.FromTeammateId.ToString()" owner-Id="@task.OwnerId" status="@task.Status" data-rotation-mode="true" @Html.TooltipAttritutes(task.FromTeammateFullName) class="btn btn-circle user-photo-btn team-btn tooltipster">
              <img src="@Url.Action("GetAvatarForEmployee", "Media", new {area = "", employeeId = task.FromTeammateId, width = 25, height = 25 })"
                   class="user-photo-img" />
            </button>


            <div class="btn btn-circle more-btn tooltipster" @Html.TooltipAttritutes("Extras")>
              <span class="glyphicon span"></span>
            </div>
            <div class="other-actions">
              <button topic-val="@task.HasAttachments.ToString().ToLower()" class="action-btn attachments-btn tooltipster" @Html.TooltipAttritutes("Attachments")></button>
              @*<button topic-val="@task.HasVoiceMessages.ToString().ToLower()" class="action-btn voice-msg-btn tooltipster" @Html.TooltipAttritutes("Voice Messages") disabled style="cursor: not-allowed!important"></button>*@
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
</div>