﻿<section class="panel panel-default">
    <div class="panel-heading text-center panel-heading-icon-right">
        <a href="javascript:void(0)">
            <strong>
                Locations
            </strong>
        </a>

            <a href="javascript:void(0)" class="icon-right plus-btn btn-circle btn btn-link" ng-click="$ctrl.createSiteDialog()">
                <span class="glyphicon span"></span>
            </a>

    </div>
    <div class="panel-body">
        <div class="text-center">{{$ctrl.vm.errorMsg}}</div>
        <div class="list-group" style="font-size: 12px;">
            <div class="list-group-item list-group-item-action"
                 ng-class="{'active text-white': $ctrl.vm.chosenSiteId === site.Id}"
                 ng-repeat="site in $ctrl.vm.page.Sites">
                <a href="javascript:void(0)" style="text-decoration: none" ng-click="$ctrl.chooseSite(site.Id)">
                    {{::site.Name}}
                </a>
                <a href="javascript:void(0)" class="pull-right btn-close" ng-click="$ctrl.removeSiteDialog(site.Id)">
                    <!--<span class="pull-right glyphicon glyphicon-remove" style="color: #464646 !important;"></span>-->
                </a>

                <a href="javascript:void(0)"  class="pull-right pencil-block" style=" margin-right: 10px;" ng-click="$ctrl.editSiteDialog(site.Id)">
                    <!--<span class="pull-right glyphicon glyphicon-pencil" style="right:5px;"></span>-->
                </a>
            </div>
        </div>

        <div class="text-center" ng-if="$ctrl.vm.page.PageCount > 1">
            <ul class="pagination">
                <li>
                    <a class="page-prev" href="javascript:void(0)" ng-click="$ctrl.showPrevPage()"></a>
                </li>
                <li>
                    <a class="page-next" href="javascript:void(0)" ng-click="$ctrl.showNextpage()"></a>
                </li>
            </ul>
        </div>
    </div>
</section>