﻿@model int

<div class="daily-item">
    <div class="block-from">Safety Summary</div>
    <div class="icon-block @(Model > 0 ? "active" : string.Empty)">@Model</div>
    <div class="block-to">unread messages</div>
</div>
