﻿@model DailyReportsPanelViewModel
<style>
    .swiper-slide-active, .swiper-slide-next, .swiper-slide-prev {
        margin-top: 0px !important;
    }
</style>
@*@if (Model.IsActiveShift.HasValue && Model.IsActiveShift.Value == true)
{
    <style>
        .no-rotation .start-new-handover {
            position: relative !important;
        }
        .multi-tenancy-white .daily-reports .panel-body {
            display: none !important;
        }
        .multi-tenancy-white .daily-reports {
            border:none !important;
        }
    </style>
    @Html.Action("ShowConfirmButton", "Summary", new { userID = Model.UserID })
    <div Id="dailyReportPanel" class="panel panel-primary daily-reports">
        <div class="panel-heading clearfix" style="display: none;">
            <span class="panel-title">Report History</span>
        </div>
        <div class="panel-body" style="display: none !important;">
            <div class="daily-swiper-container"style="display: none !important;">
                <div class="swiper-container daily-report-swiper"style="display: none !important;">
                    <div class="swiper-wrapper"style="display: none !important;">
                        <div class="swiper-slide long-slide" style="margin-top:0px !important;">
                            <div class="daily-report-item">
                                <div class="slide-title">
                                    Welcome to your Report History.
                                </div>
                                <div class="circle circle-blue"></div>
                            </div>
                        </div>
                        @foreach (var dailyReport in Model.DailyReports)
                        {
                            @Html.Partial("~/Views/Rotation/DailyReportsPanel/_DailyReportSlide.cshtml", dailyReport)
                        }
                    </div>
                </div>
                <div class="daily-report-swiper-prev"></div>
                <div class="daily-report-swiper-next"></div>
            </div>
        </div>
    </div>
}
else
{*@
    <div Id="dailyReportPanel" class="panel panel-primary daily-reports">
        <div class="panel-heading clearfix">
            <span class="panel-title">Report History</span>
            @*<span id="editShiftDates" user-id="@Model.UserID" class="edit-rotation-dates-dialog edit-rotation-dates"></span>*@
            @Html.Action("ShowConfirmButton", "Summary", new { userID = Model.UserID })
            @*@Html.Action("ShowEditDatesButton", "Summary", new { userID = Model.UserID })*@
        </div>
        <div class="panel-body" style="display: none;">
            <div class="daily-swiper-container">
                <div class="swiper-container daily-report-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide long-slide" style="margin-top:0px !important;">
                            <div class="daily-report-item">
                                <div class="slide-title">
                                    Welcome to your Report History.
                                </div>
                                <div class="circle circle-blue"></div>
                            </div>
                        </div>
                        @foreach (var dailyReport in Model.DailyReports)
                        {
                            @Html.Partial("~/Views/Rotation/DailyReportsPanel/_DailyReportSlide.cshtml", dailyReport)
                        }
                    </div>
                </div>
                <div class="daily-report-swiper-prev"></div>
                <div class="daily-report-swiper-next"></div>
            </div>
            @*<div class="daily-container no-padding">
                    <div class="daily-item">
                        <div class="block-from">Safety Summary</div>
                        <div class="icon-block @(Model.UnreadSafetyMessagesCounter > 0 ? "active" : string.Empty)">@Model.UnreadSafetyMessagesCounter</div>
                        <div class="block-to">unread messages</div>
                    </div>
                </div>*@
        </div>
    </div>
@*}*@

<script src="~/Content/js/relay/rotation/shift-report-builder/daily-reports-panel.module.js"></script>

@Scripts.Render("~/bundles/scripts/daily-notes-panel")
@Scripts.Render("~/bundles/scripts/shared/dialogs")
