﻿@*@model IPagedList<SharedGlobalReportItemViewModel>*@
@model Tuple<IPagedList<SharedGlobalReportItemViewModel>, bool>

@{
    Layout = "~/Views/Reports/GlobalReports/_Layout.cshtml";
}

<div class="page-content">
    <div class="global-report-table">
        <table class="table">
            <thead>
                <tr class="table-header">
                    <td class="date-title">Date</td>
                    <td class="received-from-title">Handover creator</td>
                    <td class="handover-recipient-title">Handover Recipient</td>
                    <td class="rotation-type-title">Working Pattern</td>
                    <td class="items-title"># Items</td>
                    <td class="tasks-title"># Tasks</td>
                    <td class="action-icon-title" style="width: 120px !important;"></td>
                </tr>
            </thead>
            <tbody class="table-content">
                <tr class="spacer-row"></tr>
                @if (Model.Item1.Any())
                {
                    if (Model.Item2)
                    {
                        foreach (var item in Model.Item1)
                        {

                            <tr class="report-row">
                                <td class="date-body">@item.DateString</td>
                                <td class="received-from-body">
                                    <img src="@Url.Action("GetAvatarForEmployee", "Media", new { employeeId = item.HandoverCreatorId })" />
                                    <div class="user-name">@item.HandoverCreatorName</div>
                                </td>
                                <td class="handover-recipient-body">
                                    @if ((item as SharedGlobalReportItemViewModel).HandoverRecipientId != Guid.Empty)
                                    {
                                        <img src="@Url.Action("GetAvatarForEmployee", "Media", new { employeeId = item.HandoverRecipientId })" />
                                    }
                                    <div class="user-name">@item.HandoverRecipientName</div>
                                </td>
                                <td class="rotation-type-body">@item.RotationType</td>
                                <td class="items-body" style="text-decoration: none;">
                                    <div class="circle">
                                        <div class="count">@item.ItemsNumber</div>
                                    </div>
                                </td>
                                <td class="tasks-body" style="text-decoration: none;">
                                    <div class="circle">
                                        <div class="count">@item.TasksNumber</div>
                                    </div>
                                </td>
                                <td class="action-icon-body" style="width: 120px !important;">
                                    <a class="go-to-report" href="@Url.Action("DraftForShare", "ReportBuilder", new { reportId = item.SourceId, reportType = item.RotationType })"></a>
                                    @if (Model.Item2)
                                    {
                                        <div class="pdf-report" source-Id="@item.SourceId" source-type="@item.RotationType"></div>
                                        <div class="qme-pdf-report" source-Id="@item.SourceId" source-type="@item.RotationType"></div>
                                    }

                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="report-row">
                          <td colspan="7" class="text-center">
                              <strong>Report Sharing is not available on your subscription level.</strong>
                          </td>
                        </tr>
                    }
                }
                else
                {
                    if (!Model.Item2)
                    {
                        <tr class="report-row">
                            <td colspan="7" class="text-center">
                                    <strong>Report Sharing is not available on your subscription level.</strong>
                            </td>
                        </tr>
                    }
                    else
                    {
                         <tr class="report-row">
                             <td colspan="7" class="text-center">
                                 <strong>No reports to display.</strong>
                             </td>
                         </tr>
                    }

                }
                <tr class="spacer-row"></tr>
            </tbody>
        </table>
    </div>
    @if (Model.Item1.TotalItemCount > 5)
    {
        <div class="footer-block">
            <div class="view-block">
                <div class="eyes"></div>
                <div class="count-block">
                    <a href="@Url.Action("SharedReport", "GlobalReports", new { pageSize = 5 })"><div class="counter @(Model.Item1.PageSize == 5 ? "active" : "" )">5</div></a>
                    <a href="@Url.Action("SharedReport", "GlobalReports", new { pageSize = 10 })"><div class="counter @(Model.Item1.PageSize == 10 ? "active" : "" )">10</div></a>
                    <a href="@Url.Action("SharedReport", "GlobalReports", new { pageSize = 15 })"><div class="counter @(Model.Item1.PageSize == 15 ? "active" : "" )">15</div></a>
                    <a href="@Url.Action("SharedReport", "GlobalReports", new { pageSize = (Model.Item1.TotalItemCount != 0 ?  Model.Item1.TotalItemCount : 5) })"><div class="counter @(Model.Item1.PageSize == Model.Item1.TotalItemCount && Model.Item1.TotalItemCount != 5 && Model.Item1.TotalItemCount != 10 && Model.Item1.TotalItemCount != 15 ? "active" : "" )">All</div></a>
                </div>
            </div>
            <div class="pagination-block">
                <div class="pagination-pages">
                    @Html.Pager(Model.Item1.PageSize, Model.Item1.PageNumber, Model.Item1.TotalItemCount).Options(o => o
                            .DisplayTemplate("BootstrapPagination")
                            .MaxNrOfPages(1)
                            .DisplayFirstAndLastPage())
                </div>
            </div>
        </div>
    }
</div>

<script>
    $(function () {

     $('a').on('change', function () {
            $('#loading-animation').show();
        });
        $('a').on('click', function () {
            $('#loading-animation').show();
        });
   });
</script>