﻿.edit-dates-btn {
    float:left;
    span {
        border-right: none !important;
        height: 27px !important;
        margin-top: 0px !important;
    }

    .edit-rotation-dates {
        background-image: data-uri("@{main-url-img}/edit-rotation.svg");
        width: 27px;
        height: 27px;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}
