﻿.no-rotation {
    float: right;

    .start-new-handover {
        // background-image: data-uri("@{main-url-img}/Start-New-Handover.svg");
        padding: 4px 17px;
        border-radius: 15px;
        color: #464646;
        //background-color: rgba(120, 120, 120, 0.25);
        font-size: 12px;
        font-weight: bold;
        // margin: 0 10px 0 10px;
        cursor: pointer;
        //   top: 4px;
        //position: relative;
        position: absolute;
        right: 5px;
        background-color: #F0F0F0;
    }
}
