﻿@model EditRotationViewModel

<div Id="editRotationFormDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" class="modal fade rotation-dialog">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        if (!Model.CanChangeLineManager)
        {
            @Html.HiddenFor(model => model.LineManagerId)
        }

        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <div Id="modalTitle" class="modal-title">Edit Handover Settings</div>
                            </div>
                            <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                                <div class="row padding-right-15">
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-container">
                                            <span class="title-select">@Html.LabelFor(model => model.RotationOwner)</span>
                                            @Html.TextBoxFor(model => model.RotationOwner, new { @class = "simple-input", @disabled = "", @style= "color:#b4b4b4!important;border-bottom: 1px solid #b4b4b4;" })
                                        </div>
                                    </div>
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20">
                                        <div class="field-container">
                                            <span class="title-select">@Html.LabelFor(model => model.SiteName)</span>
                                            @Html.TextBoxFor(model => model.SiteName, new { @class = "simple-input", @disabled = "", @placeholder = "Location Name", @style = "color:#b4b4b4!important;border-bottom: 1px solid #b4b4b4;" })
                                            @Html.HiddenFor(m => m.SiteId)
                                        </div>
                                    </div>
                                    @*<div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20">
                                        <div class="select-type">
                                            <span class="title-select">@Html.LabelFor(m => m.DefaultBackToBackId)</span>
                                            @Html.DropDownListFor(m => m.DefaultBackToBackId, Model.BackToBackEmployees, "Select Back-to-Back", new { @class = "select-list" })
                                            @Html.ValidationMessageFor(m => m.DefaultBackToBackId)
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                                <div class="row padding-left-15">
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-container">
                                            <span class="title-select">@Html.LabelFor(model => model.PositionName)</span>
                                            @Html.TextBoxFor(model => model.PositionName, new { @class = "simple-input", @disabled = "", @placeholder = "Job Position Name", @style = "color:#b4b4b4!important;border-bottom: 1px solid #b4b4b4;" })
                                            @Html.HiddenFor(m => m.PositionId)
                                        </div>
                                    </div>
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20">
                                        <div class="select-type">
                                            <span class="title-select">@Html.LabelFor(m => m.LineManagerId)</span>
                                            @Html.DropDownListFor(m => m.LineManagerId, Model.LineManagers, "Select Line Manager", new { @class = "select-list" }.WithAttrIf("disabled", "", !Model.CanChangeLineManager))
                                            @Html.ValidationMessageFor(m => m.LineManagerId)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="row">
                                    @if (Model.ContributorEnable)
                                    {
                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20">
                                            <div class="select-type">
                                                <span class="title-select">@Html.LabelFor(m => m.ContributorsIds)</span>
                                                @Html.ListBoxFor(model => model.ContributorsIds, Model.Contributors, new { @class = "select-list", @multiple = "" })
                                                @Html.ValidationMessageFor(m => m.ContributorsIds)
                                            </div>
                                        </div>
                                    }

                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20">
                                        <div class="radio-btn-group">
                                            @Html.Label("Shift Handovers", new { @class = "title-select" })
                                            @*<div class="beta-icon"></div>*@
                                            <label class="Shift">
                                                @Html.RadioButtonFor(m => m.RotationType, RotationType.Shift, new { disabled = "disabled" })
                                                <span class="radio-label">Yes</span>
                                            </label>
                                            <label class="Swing">
                                                @Html.RadioButtonFor(m => m.RotationType, RotationType.Swing, new { disabled = "disabled" })
                                                <span class="radio-label">No</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="shiftPattern">
                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20">
                                            <div class="select-type">
                                                @Html.LabelFor(m => m.ShiftPatternType, new { @class = "title-select" })
                                                @Html.DropDownListFor(m => m.ShiftPatternType, Model.ShiftPatterns, "Select Shift Pattern", new { @class = "select-list" })
                                                @Html.ValidationMessageFor(m => m.ShiftPatternType)
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>


<script>
    ; (function (window) {

      if (document.getElementById('RotationType').checked) {
           $(".shiftPattern").show();
        } else {
            $(".shiftPattern").hide();
        }

 })(window);
</script>