﻿@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}


@section Styles
{
    <style>
        .panel-heading a strong {
            font-size: 20px;
        }
    </style>

}


<div ng-app="RotationsApp">
    <rotations-app></rotations-app>
</div>


@section Scripts
{
    <script src="~/Content/lib/angular/angular.js"></script>

    <script src="~/Content/js/relay/rotation-manager/modules/rotations-app/rotations-app.module.js"></script>
    <script src="~/Content/js/relay/rotation-manager/modules/rotations-app/components/sites-panel/sites-panel.component.js"></script>
    <script src="~/Content/js/relay/rotation-manager/modules/rotations-app/components/positions-panel/positions-panel.component.js"></script>
    <script src="~/Content/js/relay/rotation-manager/modules/rotations-app/components/rotations-panel/rotations-panel.component.js"></script>
}