﻿.follower-tasks-panel {
    margin-top: 0px;
    font-family: 'Proxima-Nova-Regular';
    background-color: #efefef;

    .filter-btn {
        background-image: data-uri("@{main-url-img}/relay_filter_icon.svg");
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background-repeat: no-repeat;
        display: inline-block;
        cursor: pointer;
        float: right;

        &:hover {
            opacity: .75;
        }
    }

    .plus-btn {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background-repeat: no-repeat;
        display: inline-block;
        background-image: data-uri("@{main-url-img}/plus_light_icon.svg");
        cursor: pointer;
        float: left;
        margin-right: 10px;

        &:hover {
            opacity: .75;
        }
    }

    .panel-body {
        background-color: #fff;
        padding-top: 0px;
        min-height: 293px;
        border-bottom: solid 2px #F0F0F0;

        .navbar {
            padding: 7px 0 0 0;
            height: 44px;
            min-height: 44px;
            border-bottom: solid 2px #F0F0F0;
        }

        .tasks-side-menu {
            text-align: center !important;
            letter-spacing: 1px !important;

            .nav {
                display: inline-block;
                border: none;
                padding-top: 0px !important;
                padding-bottom: 0px;

                li {
                    display: inline-block;
                    background-color: rgba(120, 120, 120, 0.25);
                    width: 86px;
                    height: 26px;
                    margin-right: 10px;
                    border-radius: 13px;

                    a, a:focus {
                        background-color: rgba(120, 120, 120, 0.25);
                        width: 86px;
                        height: 26px;
                        display: inline-block;
                        margin: 0px;
                        padding: 0px;
                        font-size: 12px;
                        font-weight: normal;
                        font-family: 'Proxima-Nova-Regular';
                        color: #fff;
                        border-radius: 13px;
                        line-height: 2;
                    }
                }

                .active {
                    a, a:focus {
                        background-color: #00AFF0;
                        border: 1px solid #00aff0;
                    }
                }
            }
        }
    }

    .table-block {
        min-height: 249px;

        table {
            margin-bottom: 0px;
            max-height: 100%;

            thead {
                tr {
                    color: @darkest-grey;
                    font-size: 11px;
                    white-space: nowrap;
                    font-family: 'Proxima-Nova-Regular';
                    font-weight: bold;
                    border: none;
                    border-bottom: none !important;

                    th {
                        padding-bottom: 6px;
                        padding-left: 0px;
                        padding-right: 0px;
                        border-bottom: none;

                        &.action {
                            width: 70px;
                            min-width: 60px;
                        }

                        &.name {
                            width: 272px;
                            min-width: 120px;
                        }

                        &.status {
                            width: 95px;
                        }

                        &.intel {
                            width: 105px;
                            min-width: 105px;
                        }

                        &.priority {
                            width: 112px;
                            min-width: 90px;
                            cursor: pointer;

                            .priority-name {
                                display: inline-block;
                            }

                            .priority-sort-icon {
                                display: inline-block;
                                background-image: data-uri("@{main-url-img}/no_sort_icon.svg");
                                background-repeat: no-repeat;
                                width: 5px;
                                height: 5px;
                                margin-left: 5px;
                                cursor: pointer;

                                &.high-to-low {
                                    background-image: data-uri("@{main-url-img}/sort_icon_high_to_low.svg");
                                    width: 6px;
                                    height: 7px;
                                }

                                &.low-to-high {
                                    background-image: data-uri("@{main-url-img}/sort_icon_low_to_high.svg");
                                    width: 6px;
                                    height: 7px;
                                }
                            }
                        }

                        &.deadline {
                            width: 90px;
                            min-width: 90px;
                            max-width: 90px;
                            cursor: pointer;

                            .due-date-name {
                                display: inline-block;
                            }

                            .due-date-sort-icon {
                                display: inline-block;
                                background-image: data-uri("@{main-url-img}/no_sort_icon.svg");
                                background-repeat: no-repeat;
                                width: 5px;
                                height: 5px;
                                margin-left: 5px;
                                cursor: pointer;

                                &.high-to-low {
                                    background-image: data-uri("@{main-url-img}/sort_icon_high_to_low.svg");
                                    width: 6px;
                                    height: 7px;
                                }

                                &.low-to-high {
                                    background-image: data-uri("@{main-url-img}/sort_icon_low_to_high.svg");
                                    width: 6px;
                                    height: 7px;
                                }
                            }
                        }
                    }
                }
            }

            tbody {
                tr {
                    border-bottom: 0.5px solid @inderline-row;
                    height: 44px;

                    &.text-blue {
                        color: #00aff0 !important;
                    }

                    td {
                        padding: 0;
                        font-size: 14px;
                        line-height: 1.3em;
                        vertical-align: middle;
                        border-top: none;
                        font-family: 'Proxima-Nova-Regular';

                        &.action-td {
                            width: 60px;
                            padding-left: 10px;

                            .none-btn {
                                padding: 0;
                                background: none;
                                cursor: default;
                                width: 20px;
                                height: 10px;
                                border: none;
                                display: inline-block;

                                div {
                                    color: #B4B4B4;
                                    width: 20px;
                                    margin-top: 0px;
                                    margin-bottom: 3px;
                                    display: inline-block;
                                    border-bottom: solid #B4B4B4 1px;

                                    &:hover {
                                        opacity: 1;
                                    }
                                }
                            }

                            .remove-btn {
                                display: inline-block;
                                vertical-align: middle;
                                width: 20px;
                                height: 20px;
                                padding: 0;
                                background: none;
                                border: none;
                                background-image: data-uri("@{main-url-img}/remove_inactive.svg");
                                cursor: pointer;

                                &:hover {
                                    background-image: data-uri("@{main-url-img}/remove_active.svg");
                                }
                            }

                            .hand-back-active-btn {
                                width: 18px;
                                height: 20px;
                                padding: 0;
                                border: none;
                                background-image: data-uri("@{main-url-img}/arrows_active.svg");
                                background-repeat: no-repeat;
                                cursor: pointer;
                                display: inline-block;
                                vertical-align: middle;
                                margin-left: 5px;
                            }

                            .hand-back-inactive-btn {
                                width: 18px;
                                height: 20px;
                                padding: 0;
                                border: none;
                                background-image: data-uri("@{main-url-img}/arrows_inactive.svg");
                                background-repeat: no-repeat;
                                cursor: pointer;
                                display: inline-block;
                                vertical-align: middle;
                                margin-left: 5px;
                            }

                            .arrow-gray-btn {
                                width: 20px;
                                height: 20px;
                                padding: 0;
                                background-image: data-uri("@{main-url-img}/carry_forward_icon_inactive.svg");
                                vertical-align: middle;
                                background-repeat: no-repeat;
                                border: none;
                                cursor: pointer;
                                display: inline-block;
                                vertical-align: middle;

                                &:hover {
                                    opacity: 0.7;
                                }
                            }

                            .arrow-pink-btn {
                                width: 20px;
                                height: 20px;
                                padding: 0;
                                background-image: data-uri("@{main-url-img}/carry_forward_icon_3+.svg");
                                vertical-align: middle;
                                background-repeat: no-repeat;
                                border: none;
                                cursor: pointer;
                                display: inline-block;
                                vertical-align: middle;

                                &:hover {
                                    opacity: 0.7;
                                }
                            }

                            .arrow-yellow-btn {
                                width: 20px;
                                height: 20px;
                                padding: 0;
                                background-image: data-uri("@{main-url-img}/carry_forward_icon_2.svg");
                                background-repeat: no-repeat;
                                vertical-align: middle;
                                border: none;
                                cursor: pointer;
                                display: inline-block;
                                vertical-align: middle;

                                &:hover {
                                    opacity: 0.7;
                                }
                            }

                            .arrow-green-btn {
                                width: 20px;
                                height: 20px;
                                padding: 0;
                                background-image: data-uri("@{main-url-img}/carry_forward_icon_1.svg");
                                background-repeat: no-repeat;
                                vertical-align: middle;
                                border: none;
                                cursor: pointer;
                                display: inline-block;
                                vertical-align: middle;

                                &:hover {
                                    opacity: 0.7;
                                }
                            }
                        }

                        &.name-td {
                            font-weight: normal;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            padding-right: 5px;
                            cursor: pointer;
                        }

                        &.priority-td {
                            font-size: 12px;
                            font-weight: bold;

                            .btn-priority {
                                width: 80px;
                                height: 25px;
                                font-size: 10px;
                                border-radius: 12px;
                                font-weight: bold;
                                pointer-events: none;
                                cursor: default;
                                text-align: center;
                                padding-top: 5px;
                            }

                            .btn-success {
                                border: none;
                                background-color: @success-color;

                                &:hover {
                                    background-color: @success-color;
                                }
                            }

                            .btn-danger {
                                border: none;
                                background-color: @danger-color;

                                &:hover {
                                    background-color: @danger-color;
                                }
                            }

                            .btn-low {
                                border: none;
                                background-color: @low-color;
                                color: @simple-white;

                                &:hover {
                                    background-color: @low-color;
                                    color: @simple-white;
                                }
                            }

                            .btn-warning {
                                border: none;
                                background-color: @warning-color;

                                &:hover {
                                    background-color: @warning-color;
                                }
                            }

                            .btn-info {
                                border: none;
                                background-color: @info-color;

                                &:hover {
                                    background-color: @info-color;
                                }
                            }
                        }

                        &.complite-status {
                            padding-top: 0;
                            padding-bottom: 0;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            padding-right: 5px;
                        }

                        &.deadline-td {
                            font-weight: normal;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            padding-right: 5px;
                        }

                        &.intel-td {

                            div, button {
                                margin-right: 5px;
                            }

                            div:last-child {
                                margin-right: 0px;
                            }

                            .btn-circle {
                                display: inline-block;
                                border: none;
                                width: 25px;
                                height: 25px;
                                top: 0;

                                &:hover {
                                    opacity: 0.75;
                                }

                                .span {
                                    top: 0;
                                    width: 100%;
                                    height: 100%;

                                    &:before {
                                        content: "";
                                        width: 100%;
                                        height: 100%;
                                        display: block;
                                    }
                                }
                            }

                            .other-actions {
                                display: none;
                                background-color: #F0F0F0;
                                z-index: 1;
                                border-radius: 20px;
                                padding-top: 4px;
                                width: 85px;
                                text-align: center;
                                margin-top: 10px;
                                margin-left: 10px;

                                button {
                                    margin: 0;
                                }

                                .action-btn {
                                    display: inline-block;
                                    width: 20px;
                                    height: 20px;
                                    background-position: center;
                                    cursor: pointer;
                                    border: none;
                                    background: none;

                                    &:hover {
                                        opacity: 0.75;
                                    }
                                }
                                //===================== attachment icon btn ========================
                                .attachment-active-btn {
                                    background-image: data-uri("@{main-url-img}/clip_active.svg");
                                    background-repeat: no-repeat;
                                }

                                .attachment-inactive-btn {
                                    background-image: data-uri("@{main-url-img}/clip_inactive.svg");
                                    background-repeat: no-repeat;
                                }
                                //==================== voice messages icon btn =====================
                                .voice-messages-active-btn {
                                    background-image: data-uri("@{main-url-img}/sound_active.svg");
                                    background-repeat: no-repeat;
                                }

                                .voice-messages-inactive-btn {
                                    background-image: data-uri("@{main-url-img}/sound_inactive.svg");
                                    background-repeat: no-repeat;
                                }
                            }
                            //======================= assigned icon ============================
                            .user-photo-btn {
                                padding: 0;
                                background: none;
                                width: 25px;
                                height: 25px;

                                .user-photo-img {
                                    max-width: 100%;
                                    max-height: 100%;
                                    border-radius: 50%;
                                    width: 30px;
                                    height: 30px;
                                }
                            }

                            .user-without-photo-btn {
                                padding: 0;
                                background: none;
                                width: 25px;
                                height: 25px;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/share_icon_inactive.svg");
                                    }
                                }
                            }
                            //=========================== extra icon btn =======================
                            .more-active-btn {
                                padding: 0;
                                background: none;
                                width: 25px;
                                height: 25px;
                                background-repeat: no-repeat;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/more_active.svg");
                                    }
                                }
                            }

                            .more-inactive-btn {
                                padding: 0;
                                background: none;
                                width: 25px;
                                height: 25px;
                                background-repeat: no-repeat;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/more_inactive.svg");
                                    }
                                }
                            }
                            //========================== archive icon ============================
                            .archive-inactive-btn {
                                padding: 0;
                                background: none;
                                width: 25px;
                                height: 25px;
                                background-repeat: no-repeat;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/archive_icon_inactive.svg");
                                    }
                                }
                            }

                            .archive-active-btn {
                                padding: 0;
                                background: none;
                                width: 25px;
                                height: 25px;
                                background-repeat: no-repeat;

                                .span {
                                    &:before {
                                        background-image: data-uri("@{main-url-img}/archive_icon_active.svg");
                                    }
                                }
                            }
                        }
                    }

                    &.edit-tr {
                        td {
                            vertical-align: middle;
                        }

                        .actions-td {
                            padding-top: 8px;
                        }

                        .name-td {
                            padding-top: 6px;
                        }

                        .intel-td {
                            padding-top: 9px;

                            .other-actions {
                                margin-top: 10px;
                                display: block;
                                text-align: center;
                                margin-bottom: 4px;
                            }
                        }
                    }
                }
            }

            .empty-follower-tasks-label {
                text-align: center;
                padding-top: 40px;
            }
        }
    }

    .empty-project-tasks-label {
        text-align: center;
        margin-top: -105px;
    }

    .tasks-footer {
        margin-top: 10px;
        background-color: #fff;
        height: 30px;
        border-radius: 4px;

        .view-block {
            display: inline-block;
            display: inline-block;

            .eyes {
                display: inline-block;
                background-image: data-uri("@{notification-img-url}/ViewEye_Icon.svg");
                width: 20px;
                height: 20px;
                margin-left: 20px;
                margin-bottom: 5px;
                margin-top: 5px;
            }

            .count-block {
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                padding-left: 20px;
                padding-bottom: 20px;

                a {
                    padding-right: 20px;

                    .counter {
                        font-size: 12px;
                        font-weight: bold;
                        display: inline-block;
                        color: #464646;

                        &.active {
                            font-weight: bold;
                            border-bottom: 2px solid #464646;
                        }
                    }
                }
            }
        }

        .pagination-block {
            display: inline-block;
            float: right;
            margin-top: 5px;
            width: 120px;
            text-align: center;

            .pagination-pages {
                display: inline;
                position: relative;

                .page {
                    color: #464646;
                    font-size: 12px;
                    display: inline-block;
                    width: 50px;

                    .current-page {
                        display: inline-block;
                        width: 5px;
                    }

                    .total-page {
                        display: inline-block;
                        width: 5px;
                    }
                }

                .first-page {
                    display: inline-block;
                    width: 9px;
                    height: 8px;
                    padding: 0;
                    border: none;
                    background: none;
                    background-repeat: no-repeat;
                    background-image: data-uri("@{main-url-img}/arrow_left2.svg");
                    margin-right: 5px;

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .prev-page {
                    display: inline-block;
                    width: 5px;
                    height: 8px;
                    padding: 0;
                    border: none;
                    background: none;
                    background-repeat: no-repeat;
                    background-image: data-uri("@{main-url-img}/arrow_left1.svg");

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .next-page {
                    display: inline-block;
                    width: 5px;
                    height: 8px;
                    padding: 0;
                    border: none;
                    background: none;
                    background-repeat: no-repeat;
                    background-image: data-uri("@{main-url-img}/arrow_right1.svg");

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .last-page {
                    display: inline-block;
                    width: 9px;
                    height: 8px;
                    padding: 0;
                    border: none;
                    background: none;
                    background-repeat: no-repeat;
                    background-image: data-uri("@{main-url-img}/arrow_right2.svg");
                    margin-left: 5px;

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .inactive {
                    opacity: 0.7;
                    cursor: default;
                    pointer-events: none;
                }
            }
        }
    }
}
