﻿@model SectorViewModule


<link rel="stylesheet" href="~/Content/styles/main.css">
<link rel="stylesheet" href="~/Content/styles/white-theme.css">

<div Id="sectorFormDialog" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade template-dialog">
    @using (Html.BeginForm("SectorCreateFormDialog", "Templates", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <div class="modal-dialog  modal-sm">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div Id="modalTitle" class="modal-title">Add Sector</div>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-4 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="field-container">
                                    <span class="title-select">Sector</span>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "simple-input", @placeholder = "Add sector name" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<script src="~/Content/js/relay/dot-net-date.module.js"></script>
<script src="~/Content/js/relay/dialogs/choose-teammate-dialog.module.js"></script>
<script src="~/Content/lib/angular/angular.js"></script>
<script src="~/Content/js/relay/dialogs/form-dialog.module.js"></script>
<script src="~/Content/js/relay/global-ajax-error-handler.module.js"></script>
<script src="~/Content/js/relay/dialogs/init-input-fields.module.js"></script>
<script src="~/Content/js/relay/dialogs/simple-dialogs.module.js"></script>
<script src="~/Content/js/relay/dialogs/settings-dialog.module.js"></script>
<script src="~/Content/lib/autosize/dist/autosize.min.js"></script>
<script src="~/Content/lib/modernizr/modernizr.js"></script>
<script src="~/Content/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/Content/lib/magicsuggest/magicsuggest-min.js"></script>
<script src="~/Content/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="~/Content/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="~/Content/lib/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
<script src="~/Content/lib/Swiper/dist/js/swiper.min.js"></script>
<script src="~/Content/lib/purl/purl.js"></script>
<script src="~/Content/lib/lodash/lodash.js"></script>
<script src="~/Content/js/relay/url-hash.module.js"></script>
<script src="~/Content/js/relay/url-query.module.js"></script>
<script src="~/Content/js/relay/header.module.js"></script>
<script src="~/Content/js/relay/loading-animation.module.js"></script>
<script src="~/Content/js/relay/navigation-bar.module.js"></script>