﻿@model TemplateViewModel

<link rel="stylesheet" href="~/Content/styles/main.css">
<link rel="stylesheet" href="~/Content/styles/white-theme.css">

<link rel="stylesheet" href="~/Content/lib/bootstrap-select/dist/css/bootstrap-select.css">
<link rel="stylesheet" href="~/Content/lib/bootstrap-select/dist/css/bootstrap-select.min.css">
<link rel="stylesheet" href="~/Content/lib/bootstrap-combobox/css/bootstrap-combobox.css">
<link rel="stylesheet" href="~/Content/lib/magicsuggest/magicsuggest.css">
<link rel="stylesheet" href="~/Content/lib/magicsuggest/magicsuggest-min.css">
<link rel="stylesheet" href="~/Content/lib/jasny-bootstrap/dist/css/jasny-bootstrap.min.css">
<link rel="stylesheet" href="~/Content/lib/webui-popover/dist/jquery.webui-popover.min.css">
<link rel="stylesheet" href="~/Content/lib/tooltipster/dist/css/tooltipster.bundle.min.css">

<div Id="sectorTemplateFormDialog" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade template-dialog">

    @using (Html.BeginForm("CreateSectorTemplateDialog", "Templates", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <div class="modal-dialog  modal-sm">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div Id="modalTitle" class="modal-title">Add Template</div>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-4 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" style="padding-left: 0px; padding-bottom: 10px !important;">
                                <span class="title-select" style="padding-bottom: 5px;">Sector</span>
                                <div class="select-type">
                                    @Html.DropDownListFor(model => model.SelectedSectorsId, Model.Sectors, "Select a Sector", new { @class = "select-list" })
                                </div>
                            </div>
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="field-container">
                                    <span class="title-select">@Html.LabelFor(model => model.Name)</span>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "simple-input", @placeholder = "Add template name" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>

<script src="~/Content/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/Content/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="~/Content/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="~/Content/lib/webui-popover/dist/jquery.webui-popover.js"></script>
<script src="~/Content/lib/autocomplete/jquery.auto-complete.js"></script>
<script src="~/Content/lib/autocomplete/jquery.auto-complete.js"></script>
<script src="~/Content/lib/magicsuggest/magicsuggest-min.js"></script>
<script src="~/Content/lib/magicsuggest/magicsuggest.js"></script>
<script src="~/Content/lib/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Content/lib/bootstrap-select/dist/js/bootstrap-select.js"></script>
<script src="~/Content/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="~/Content/lib/bootstrap-combobox/js/bootstrap-combobox.js"></script>
<script src="~/Content/js/relay/dialogs/choose-teammate-dialog.module.js"></script>
<script src="~/Content/lib/autocomplete/autocomplete.js"></script>
<script src="~/Content/lib/autocomplete/jquery.auto-complete.js"></script>
<script src="~/Content/lib/autocomplete/jquery.auto-complete.min.js"></script>
<script src="~/Content/lib/chosen/chosen.jquery.js"></script>
<script src="~/Content/lib/modernizr/modernizr.js"></script>
<script src="~/Content/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/Content/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="~/Content/lib/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
<script src="~/Content/lib/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
<script src="~/Content/lib/Swiper/dist/js/swiper.min.js"></script>
<script src="~/Content/lib/modernizr/modernizr.js"></script>


<script>
    $(function () {

        if (window.location.search != "") {

            if (window.location.search.split() != "undefined") {

                var search = window.location.search.split('SelectSectorId=');

                if (search.length > 1) {
                    var searchText = window.location.search.split('SelectSectorId=')[1].split('&')[0];
                    $("#SelectedSectorsId").val(searchText);
                }
            }
        }


    });
</script>
