﻿@model NewTopicViewModules

<div Id="topicFormDialog" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade position-dialog">

    @using (Html.BeginForm("CreateTemplateHSETopics", "Templates", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ModuleId)
        @Html.HiddenFor(model => model.DescriptionExist)
        @Html.HiddenFor(model => model.TopicGroupId)
        @Html.HiddenFor(model => model.TopicId)
        @Html.HiddenFor(model => model.Enabled)
        @Html.HiddenFor(model => model.Metrics)
        @Html.HiddenFor(model => model.CustomTemplateReferenceName)
        @Html.HiddenFor(model => model.CustomTemplateTopicGroupName)
        @Html.HiddenFor(model => model.TemplateId)
        @Html.HiddenFor(model => model.SaveAddAnother)

        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div id="modalTitle" class="modal-title">Add HSE Topic</div>
                            </div>
                            <div class="col col-lg-5 col-md-5 col-sm-6 col-xs-5 text-right">
                                <button type="submit" class="btn btn-add-save" style="background: none;font-size: 13px; color:#F29105; margin-right: 10px; font-weight: bold;">Save & Add Another</button>
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body" templateId="@Model.TemplateId" muduleType="@ModuleType.HSE">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-left-15">
                                <div class="row no-margin">
                                    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left: 0px;">
                                        <div class="select-type">
                                            <span class="title-select" style="padding-bottom: 10px;">Section*</span>
                                            @Html.DropDownListFor(m => m.SelectSection, Model.Sections, "Select Section", new { @class = "select-list", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row no-margin">
                                    <div class="row template-row">
                                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-left-15 margin-top-20">
                                            <div class="select-type">
                                                <span class="title-select">Topic*</span>
                                                <div id="TemplateTopicsBar"></div>
                                                @Html.ValidationMessageFor(m => m.TopicGroupId)
                                                @Html.ValidationMessageFor(model => model.CustomTemplateTopicGroupName)
                                            </div>
                                        </div>
                                        <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-top-20 padding-left-15">
                                            <div class="select-type">
                                                <span class="title-select">Reference*</span>
                                                <div class="select-type">
                                                    <div id="ReferencesBar"></div>
                                                    @Html.ValidationMessageFor(m => m.TopicId)
                                                    @Html.ValidationMessageFor(model => model.CustomTemplateReferenceName)
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                        <span class="title-select">Notes</span>
                                        @Html.TextAreaFor(model => model.Description, new { @class = "textarea simple-textarea textarea-stretch", @rows = "3", @maxlength = "500", @placeholder = "Add notes" })
                                    </div>


                                    @if (Model.SaveAddAnother.HasValue && !Model.SaveAddAnother.Value)
                                    {
                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                            <div class="radio-btn-group">
                                                @Html.LabelFor(m => m.Metrics, new { @class = "title-select" })
                                                <label class="trueMetrics">
                                                    @Html.RadioButtonFor(m => m.MetricsFalse, true, new { @class = "metricsYes" })
                                                    <span class="radio-label">Yes</span>
                                                </label>
                                                <label class="NoMetrics">
                                                    @Html.RadioButtonFor(m => m.MetricsFalse, false, new { @class = "metricsNo" })
                                                    <span class="radio-label">No</span>
                                                </label>
                                                <div class="select-type units-select" metric-val="@Model.UnitsSelectedType">
                                                    @Html.DropDownListFor(m => m.UnitsSelectedType, Model.Units, "Units", new { @class = "select-list units-list" })
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                            <div class="radio-btn-group">
                                                @Html.LabelFor(m => m.Metrics, new { @class = "title-select" })
                                                <label class="trueMetrics">
                                                    @Html.RadioButtonFor(m => m.Metrics, true, new { @class = "metricsYes" })
                                                    <span class="radio-label">Yes</span>
                                                </label>
                                                <label class="NoMetrics">
                                                    @Html.RadioButtonFor(m => m.Metrics, false, new { @class = "metricsNo" })
                                                    <span class="radio-label">No</span>
                                                </label>
                                                <div class="select-type units-select" metric-val="@Model.UnitsSelectedType">
                                                    @Html.DropDownListFor(m => m.UnitsSelectedType, Model.Units, "Units", new { @class = "select-list units-list" })
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    @if (Model.SaveAddAnother.HasValue && !Model.SaveAddAnother.Value)
                                    {
                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                            <p style="text-align:center; color:green;">Topic created. Add more above.</p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $(function (){
        $("#SaveAddAnother").val(false);
        $("#Description").val(null);
        $("#DescriptionExist").val(null);

        var result = $(".units-select").attr("metric-val");

        if (result != null && result) {
            $(".units-select").show();
        }
        else {
            $(".units-select").hide();
        }

        $(".trueMetrics").on("change", function () {
            $('#Metrics').val($(".metricsYes").val());
            $("input[name='Metrics'][value='Yes']").prop('checked', true);
            $("input[name='Metrics'][value='true']").prop('checked', true);
            $(".units-select").show();
        });

        $(".NoMetrics").on("change", function () {
            $('#Metrics').val($(".metricsNo").val());
            $("input[name='Metrics'][value='false']").prop('checked', false);
            $("input[name='Metrics'][value='No']").prop('checked', false);
            $(".units-select").hide();
        });

    //////////////////////////////////////////////////////////////////////

        $.validator.setDefaults({
            ignore: "#CustomTemplateReferenceName, #CustomTemplateTopicGroupName"
        });

     var templateTopicsBar = initializeTemplateTopicsBar();
     $(templateTopicsBar).on('selectionchange', templateTopicsBarSelectionChange);

      var referencesBar = initializeReferencesBar();
     $(referencesBar).on('selectionchange', referencesBarSelectionChange);

        function initializeTemplateTopicsBar()
        {
            return $('#TemplateTopicsBar').magicSuggest({
                valueField: 'Value',
                displayField: 'Text',
                cls: 'templateBar',
                inputCfg: { "class": "simple-input" },
                infoMsgCls: 'hidden',
                maxSelection: 1,
                typeDelay: 100,
                allowFreeEntries: true,
                method: 'post',
                hideTrigger: false,
                toggleOnClick: true,
                placeholder: 'Select/Add topics name',
                @*data: '@Url.Action("GetTemplateTopics", "Templates", new { moduleType = ModuleType.HSE, templateId = @Model.TemplateId, moduleId =  @Model.ModuleId })',*@
                value: [@Html.Raw(Model.TopicGroupId.GetValue())]
            });

        }

        var templateId = $(".modal-body").attr("templateId");
        var muduleType = $(".modal-body").attr("muduleType");

        $.ajax({
            url: "/Templates/GetTemplateTopics",
            method: "GET",
            data: { moduleType: muduleType, templateId: templateId }
        })
            .done(function (result) {
                clearTemplateTopicsBar();
                templateTopicsBar.setData(result);
            });

        function templateTopicsBarSelectionChange()
        {
            var selectedTemplateTopicGroup = this.getValue();
            $(this.input[0]).trigger("input");
            if (!_.isEmpty(selectedTemplateTopicGroup)) {
                if (isGuid(selectedTemplateTopicGroup)) {
                    $("#TopicGroupId").val(selectedTemplateTopicGroup);

                    $(".simple-input").css("width", "5px !important");
                    $(".simple-input").css("min-width", "5px !important;");

                    $.ajax({
                        url: "/Templates/GetTemplateReferencesByTopicGroupId",
                        method: "GET",
                        data: { topicGroupId: selectedTemplateTopicGroup }
                    })
                        .done(function (result) {
                            clearReferencesBar();
                            referencesBar.setData(result);
                        });

                }
                else {
                    $("#CustomTemplateTopicGroupName").val(selectedTemplateTopicGroup);

                    $.ajax({
                        url: "/Templates/GetTemplateReferencesByTopicGroupId",
                        method: "GET",
                        data: { topicGroupId: selectedTemplateTopicGroup }
                    })
                        .done(function (result) {
                            clearReferencesBar();
                            referencesBar.setData(result);
                        });
                }
            }
            else {
                clearTemplateTopicsBar();
            }
        }


        function clearTemplateTopicsBar() {
            $("#TopicGroupId").val('');
            templateTopicsBar.clear(true);
        }


        function initializeReferencesBar()
        {
            return  $('#ReferencesBar').magicSuggest({
                valueField: 'Value',
                displayField: 'Text',
                cls: 'templateBar',
                inputCfg: { "class": "simple-input" },
                infoMsgCls: 'hidden',
                maxSelection: 1,
                typeDelay: 100,
                allowFreeEntries: true,
                method: 'get',
                hideTrigger: false,
                toggleOnClick: true,
                placeholder: 'Select/Add reference',
                data: '@Url.Action("GetTemplateReferences", "Templates", new { moduleType = ModuleType.HSE})',
                value: [@Html.Raw(Model.TopicId.GetValue())]
            });
        }

        function referencesBarSelectionChange()
        {
            var selectedReference = this.getValue();
            $(this.input[0]).trigger("input");
            if (!_.isEmpty(selectedReference)) {
                if (isGuid(selectedReference)) {
                    $("#TopicId").val(selectedReference);
                    var templateId = $(".modal-body").attr("templateId");
                    var topicGroupId = $("#TopicGroupId").val();

                    $.ajax({
                        url: "/Templates/IfExistTopicAndTopicGroup",
                        method: "GET",
                        data: { topiId: selectedReference, topicGroupId: topicGroupId, templateId: templateId}
                    })
                        .done(function (result) {
                            if (result != null || result != "") {
                                var infoDlg = Relay.InfoDialog(result);
                                infoDlg.open();
                            }
                        });

                    $.ajax({
                        url: "/Templates/GetReferenceNotes",
                        method: "GET",
                        data: { topicId: selectedReference }
                    })
                        .done(function (result) {
                            if (result != null || result != "") {
                                $('#DescriptionExist').val(result);
                                $('#Description').val(result);
                                $('#Description').css("pointer-events", "none");
                                $('#Description').css("opacity", "0.5")
                                document.getElementById('Description').disabled = true;
                            }
                        });

                    $.ajax({
                        url: "/Templates/GetMetricsReferences",
                        method: "GET",
                        data: { topicId: selectedReference }
                    })
                        .done(function (result) {
                            if (result == true && result != null) {
                                $('#Metrics').val(result);
                                $(".metricsYes").val(result);
                                $("input[name='Metrics'][value='Yes']").prop('checked', true);
                                $("input[name='Metrics'][value='true']").prop('checked', true);
                                $(".units-select").show();

                                $(':radio:not(:checked)').attr('disabled', true);

                                $.ajax({
                                    url: "/Templates/GetUnitsReferences",
                                    method: "GET",
                                    data: { topicId: selectedReference }
                                })
                                    .done(function (result) {
                                        document.getElementsByClassName('units-list').value = result.Value;
                                        document.getElementsByClassName('units-list').val = result.Value;
                                        document.getElementsByClassName('units-list').text = result.Text;
                                        document.getElementsByClassName('units-list')[0].innerText = result.Text;

                                        $('#UnitsSelectedType').val(result.Value);

                                        $(".units-list").css("pointer-events", "none");
                                        $(".units-list").css("opacity", "0.5");
                                        document.getElementsByClassName("units-list").disabled = true;
                                    });
                            }
                        });
                }
                else {
                    $("#CustomTemplateReferenceName").val(selectedReference);
                }
            }
            else {
                clearReferencesBar();
            }
        }

        function clearReferencesBar() {
            $("#TopicId").val('');
            referencesBar.clear(true);
        }


        function isGuid(string) {
            if (string[0] === "{") {
                string = string.substring(1, string.length - 1);
            }
            var regexGuid = /^(\{){0,1}[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}(\}){0,1}$/gi;
            return regexGuid.test(string);
        }


        $(".btn-add-save").on("click", function () {
            $("#SaveAddAnother").val(true);
        });

     });
</script>