﻿@model TemplatesViewModel
@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}


<div id="templateHeader" class="panel panel-default" style="margin-top: 30px">

    @using (Html.BeginForm("Index", "Templates", new { Id = "templateForm", template = @Model.SelectedTemplate, module = @Model.SelectedModule }, FormMethod.Get))
    {
        <div class="panel-heading panel-heading-icon-right" style="padding-bottom:35px !important;">
            <div class="row vertical-center">
                <div class="col col-lg-5 col-sm-7 col-md-7 col-xs-10 select-template">
                    @Html.DropDownListFor(
                        model => model.SelectedTemplate,
                        Model.Templates,
                        "Select a Template",
                        new { @class = "form-control", onchange = "this.form.submit();" })
                </div>
                @if (Model.Template != null)
                {
                    <div class="col col-lg-2 col-sm-2 col-md-2 col-xs-2 no-padding template-btn-control">
                        <a href="javascript:void(0)" class="no-decoration icon-right btn btn-link template-edit-btn pull-left" Id="@Model.Template.Id">
                            <span class="glyphicon glyphicon-pencil span"></span>
                        </a>
                    </div>

                    if (Model.IsViewGlobalTemplates == null && Model.IsRedirectFromCreatesUser == null)
                    {
                        <div class="col col-lg-2 col-sm-2 col-md-2 col-xs-2 no-padding template-btn-control">
                            <a href="javascript:void(0)" class="no-decoration icon-right btn btn-link template-copy-btn pull-left" Id="@Model.Template.Id">
                                <span class="glyphicon glyphicon-pencil span"></span>
                            </a>
                        </div>
                    }

                    if (Model.IsViewGlobalTemplates.HasValue)
                    {
                        <div class="col col-lg-2 col-sm-2 col-md-2 col-xs-2 no-padding template-btn-control">
                            <a href="@Url.Action("Index", "GlobalTemplates", new { templateId = Model.Template.Id })" class="no-decoration icon-right btn btn-link returnGlobalTemplates pull-left"></a>
                        </div>

                        <div class="col col-lg-2 col-sm-2 col-md-2 col-xs-2 no-padding template-btn-control">
                            <a href="javascript:void(0)" class="no-decoration icon-right btn btn-link global-template-copy-btn pull-left" Id="@Model.Template.Id">
                                <span class="glyphicon glyphicon-pencil span"></span>
                            </a>
                        </div>
                    }

                    if (Model.IsRedirectFromCreatesUser.HasValue)
                    {
                        <div class="col col-lg-2 col-sm-2 col-md-2 col-xs-2 no-padding template-btn-control" style="margin-left: 10px;">
                            <a href="@Url.Action("Index", "TeamRotations")" class="no-decoration icon-right btn btn-link template-done-btn pull-left" Id="@Model.Template.Id"></a>
                        </div>
                    }


                }
                else
                {
                    <div class="col col-lg-offset-5 col-lg-2 col-sm-offset-3 col-sm-2 col-md-offset-3 col-md-2 col-xs-2 template-btn-control">
                        <a href="javascript:void(0)" class="icon-right plus-btn btn-circle btn btn-link template-create-btn pull-right">
                            <span class="glyphicon span"></span>
                        </a>
                    </div>
                }
            </div>
        </div>

    }

    @if (Model.Template != null && !Model.SelectedModule.HasValue)
    {
        @*@Html.Partial("~/Views/Framework/Templates/Shared/_Modules.cshtml", Model)*@
        @Html.Partial("~/Views/Framework/Templates/Shared/_ModulesNew.cshtml", Model)
    }

    @if (Model.SelectedModule.HasValue)
    {
        @Html.Partial("~/Views/Framework/Templates/Shared/_Module.cshtml", Model)
    }

    @if (Model.Template != null && !Model.SelectedModule.HasValue)
    {
        <div class="panel-footer">
            <br />
        </div>
    }
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {

            $(".select-template").on('change', function () {
                $('#loading-animation').show();
            });

            $(".template-create-btn").click(createTemplateFormDialog);
            $(".template-edit-btn").click(editTemplateFormDialog);
            $(".template-copy-btn").click(copyTemplateFormDialog);
            $(".template-done-btn").click(doneCreatedUserFormDialog);
            $(".global-template-copy-btn").click(copyRelayTemplateFormDialog);

            function copyRelayTemplateFormDialog(e) {
                var relayTemplateId = e.currentTarget.id;
                $.ajax({
                    url: "/Templates/CopyRelayTemplate",
                    method: "GET",
                    data: { relayTemplateId: relayTemplateId }
                })
                .done(function (data) {
                    location.reload();
                });
            }

            function doneCreatedUserFormDialog() {
                window.location.href = '/MyTeam';
            }

            function createTemplateFormDialog() {
                var formDialog = Relay.FormDialog({
                    url: "/Templates/CreateTemplateDialog",
                    method: "GET",
                    dialogId: "templateFormDialog"
                });

                formDialog.setSubmitEvent(function () {
                    var newTemplateId = $("#templateFormDialog #Id").val();
                    window.location.href = '/Framework/Templates?SelectedTemplate=' + newTemplateId;
                });
                formDialog.open();
            }

            function editTemplateFormDialog(e) {
                var formDialog = Relay.FormDialog({
                    url: "/Templates/EditTemplateDialog/" + e.currentTarget.id,
                    method: "GET",
                    dialogId: "templateFormDialog"
                });
                formDialog.setSubmitEvent(function () {
                    location.reload();
                });
                formDialog.open();
            }

                
            function copyTemplateFormDialog(e) {
                var formDialog = Relay.FormDialog({
                    url: "/Templates/CopyTemplateDialog/" + e.currentTarget.id,
                    method: "GET",
                    dialogId: "templateFormDialog"
                });
                formDialog.setSubmitEvent(function () {
                    location.reload();
                });
                formDialog.open();
            }
        });
    </script>
}
