﻿@model DailyNotesPanelViewModel

<div Id="dailyNotesPanel" class="panel panel-primary daily-notes">
    <div class="panel-heading clearfix">
        <span class="panel-title">Daily Notes</span>
        @*<span id="editRotationDates" user-id="@Model.UserID" class="edit-rotation-dates-dialog edit-rotation-dates"></span>*@
        @Html.Action("ShowConfirmButton", "Summary", new { userID = Model.UserID })
        @*@Html.Action("ShowEditDatesButton", "Summary", new { userID = Model.UserID })*@
    </div>
    <div class="panel-body" style="display: none;">
        <div class="swiper-container rotation-page-swiper">
            <div class="swiper-wrapper">
                @foreach (var dailyNote in Model.DailyNotes)
                {
                    @Html.Partial("~/Views/Rotation/DailyNotesPanel/_DailyNoteSlide.cshtml", dailyNote)
                }

                @if (Model.ShowEndSlide)
                {
                    <div class="swiper-slide long-slide vertical-center">
                        <div class="row long-slide vertical-center" style="margin: 0px !important; color: white !important">
                            <div class="col-xs-12 col-md-12 col-lg-12 text-center daily-notes-safe-trip" style="width: 45px !important; margin-top: 2px !important;"></div>
                            <div class="col-xs-12 col-md-12 col-lg-12 text-center">Have a Safe trip</div>
                            @*<div class="col-xs-12 col-md-12 col-lg-6 text-left">See you again</div>*@
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="rotation-page-swiper-prev"></div>
        <div class="rotation-page-swiper-next"></div>
    </div>
</div>

@Scripts.Render("~/bundles/scripts/daily-notes-panel")
@Scripts.Render("~/bundles/scripts/shared/dialogs")
