﻿@model DailyNoteViewModel

<div Id="dailyNoteFormDialog" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade daily-note-dialog">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.Id)

        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-7 col-md-7 col-sm-7 col-xs-7 text-right">
                                <div Id="modalTitle" class="modal-title">Daily Note</div>
                            </div>
                            <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="field-container">
                                    @*<span class="title-select">@Html.LabelFor(model => model.Notes)</span>*@
                                    @Html.TextAreaFor(model => model.Notes, new { @class = "textarea simple-textarea", @rows = "6", @maxlength = "1000", @placeholder = "Enter Text (max. 1000 characters)" })
                                    @Html.ValidationMessageFor(model => model.Notes)
                                </div>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding margin-top-20">
                                <div class="row conter-row  margin-top-20 padding-left-15">
                                    @*<div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-left">
                                            <span class="@(Model.TasksNumber > 0 ? "has-tasks-image" : "no-tasks-image")"></span>
                                            <div class="counter">
                                                @Model.TasksNumber
                                            </div>
                                        </div>*@
                                    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-left attach-btn" id="@Model.Id" style="cursor:pointer;">
                                        <span class="@(Model.AttachmentsNummer > 0 ? "has-attachments-image" : "no-attachments-image")"></span>
                                        <div class="counter">
                                            @Model.AttachmentsNummer
                                        </div>
                                    </div>
                                    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-left">
                                        @*<span class="no-voise-messages-image"></span>
                                            <div class="counter">
                                                0
                                            </div>*@
                                    </div>
                                </div>
                            </div>

                            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8 no-padding margin-top-20 text-right">
                                <div class="">
                                    <div class="checkbox" style="padding-top: 10px; color: white">
                                        <label>
                                            @Html.CheckBoxFor(model => model.ShowInReport, new { @class = "show-daily-note-in-report-btn", @checked = "checked", Id = @Model.Id }) Add to report
                                            @Html.ValidationMessageFor(model => model.ShowInReport)
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>

<script>
        $(document).ready(function ()
        {
            $(".attach-btn").click(function ()
            {
                var id = $(this).attr('id');
                var attachmentsDialog = Relay.AttachmentsDialog(id, 1, 1);

                attachmentsDialog.setCloseEvent(function () {

                    var id = $(".attach-btn").attr('id');
                    var notes = $("#Notes").val();
                    var showInReport = $("#ShowInReport").val();
                    $.ajax({
                        url: "/DailyNotesPanel/UpdateEditDailyNoteDialog",
                        method: "GET",
                        data: { Id: id, notes: notes, showInReport: showInReport }
                    })
                        .done(function (data) {
                            document.getElementsByClassName('col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-left attach-btn')[0].innerHTML = data;
                        });

                });
                attachmentsDialog.open();
            });
        });
    </script>

