﻿@model DailyNoteViewModel

@if (Model.IsSeparatorRotations)
{
    <div class="swiper-slide vertical-center">
        <div class="row long-slide vertical-center" style="margin: 0px !important; color: white !important">
            <div class="col-xs-12 col-md-12 col-lg-5 text-center daily-notes-safe-trip" style=" margin: auto; margin-top: 2px;"></div>
        </div>
    </div>
}


<div Id="@Model.Id" class="swiper-slide @(Model.HasContent ? "blue-slide" : string.Empty) @(Model.IsActiveInPanel ? "today" : string.Empty)" style="cursor:pointer;" data-active="@Model.IsActiveInPanel">

    <div class="@(Model.SafetyMessages != null ? "safety-item" : string.Empty)"
         date="@Model.NormalDate.ToISOString()"
         data-is-future="@Model.IsFuture"
         data-editable="@Model.CanBeEdited"
         has-content ="@Model.HasContent">

        @if (Model.SafetyMessages != null)
        {
            if (Model.SafetyMessages.Version == "V1")
            {
                <div class="show-safety-message" safety-version="@Model.SafetyMessages.Version">
                    <a href="javascript:void(0)">
                        <div class="slide-title"><span>@Model.Date</span></div>
                        @if (Model.SafetyMessages.MessagesNumber == 1)
                        {
                            <img src="@Url.Action("GetImage", "Media", new { imageId = (Model.SafetyMessages as SafetyMessagesV1).ImageId, width = 100, height = 100 })" class="main-picture">
                        }
                        else
                        {
                            <div class="many-messages"><span>@Model.SafetyMessages.MessagesNumber</span></div>
                        }
                    </a>
                </div>
            }
            if (Model.SafetyMessages.Version == "V2")
            {
                <div class="show-safety-message" safety-version="@Model.SafetyMessages.Version">
                    <a href="javascript:void(0)">
                        <div class="slide-title"><span>@Model.Date</span></div>
                        @*@if (Model.SafetyMessages.MessagesNumber == 1)
                        {
                            <img src="@((Model.SafetyMessages as SafetyMessagesV2).IconUrl)" class="main-picture">
                        }
                        else
                        {
                            <div class="many-messages"><span>@Model.SafetyMessages.MessagesNumber</span></div>
                        }*@
                    </a>
                </div>
            }
        }
        else
        {
            <div class="edit-daily-note">
                <div class="slide-title">
                    <span>@Model.Date</span>
                </div>
                @*<div class="circle @(Model.HasContent ? "blue-slide" : "circle-grey") @(!Model.IsFuture ? "cursor-pointer" : string.Empty)"></div>*@
            </div>
            @*<div class="actions-block">
                <div class="inner-block tasks-btn tooltipster" @Html.TooltipAttritutes("Tasks")>
                    <span class="@(Model.TasksNumber == 0 ? "ok-inactive" : "ok-active")">@Model.TasksNumber</span>
                </div>
                <div class="inner-block tooltipster" @Html.TooltipAttritutes("Attachments")>
                    <span class="@(Model.AttachmentsNummer == 0 ? "clip-inactive" : "clip-active")">@Model.AttachmentsNummer</span>
                </div>
                <div class="inner-block tooltipster" @Html.TooltipAttritutes("Voice Messages") style="opacity: 0.7 !important; cursor: not-allowed !important">
                        <span class="sound-inactive" data-toggle="modal" data-target="#popupVoiceMessages">0</span>
                    </div>
            </div>*@
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".inner-block").tooltipster({
            debug: false
        });
    });
</script>
