﻿@model DailyNoteViewModel


<div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-left attach-btn" id="@Model.Id" style="cursor:pointer; width: 46px;">
    <span class="@(Model.AttachmentsNummer > 0 ? "has-attachments-image" : "no-attachments-image")"></span>
    <div class="counter">
        @Model.AttachmentsNummer
    </div>
</div>

