﻿@model SettingsDialogAccessViewModel

<div Id="settingsDialog" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade settings-dialog">
  <div class="modal-dialog">
    <div class="theme">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <div class="col col-lg-9 col-md-9 col-sm-9 col-xs-9">
              <div class="navigation-block row">
                <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12">
                  <ul class="nav nav-tabs">
                    @if (Model.ProfileTab)
                    {
                          <li class="active"><a href="#Profile" data-toggle="tab">Profile</a></li>
                    }
                    @if (Model.AdminTab)
                    {
                          <li class="@(@Model.ProfileTab == false ? "active" : "")"><a href="#Administration" data-toggle="tab">Administration</a></li>
                    }
                  </ul>
                </div>
              </div>
            </div>
            <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
              <button type="submit" class="btn btn-save">Save</button>
              <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
              <ul class="tab-content">
                @if (Model.ProfileTab)
                {
                  <li class="profile-tab-block tab-pane active" Id="Profile">
                    @Html.Partial("~/Views/Settings/Profile/_ProfileTabPanel.cshtml", Model)
                  </li>
                }
                @if (Model.AdminTab)
                {
                  <li class="administration-tab-block tab-pane @(@Model.ProfileTab == false ? "active" : "")" Id="Administration">
                    @Html.Partial("~/Views/Settings/Administration/_AdministrationTabPanel.cshtml", Model)
                  </li>
                }
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
