﻿@using MomentumPlus.Relay.Roles
@model IEnumerable<TasksTopicViewModel>

<div Id="tasksSection">
    <div class="panel-body grey-panel">
        <div class="navbar navbar-blue" id="Tasks"><span class="label">Tasks</span></div>
    </div>
    <div class="table-block">
        @if (!Model.Any())
        {
            <div>
                <div class="no-items">No Tasks</div>
            </div>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th class="actions-title">Actions</th>
                        <th class="type-title">Location</th>
                        <th class="reference-title">Task Name</th>
                        <th class="notes-title">Notes</th>
                        <th class="status-title">Status</th>
                        <th class="priority-title">Priority</th>
                        <th class="intel-title">Intel</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var topic in Model)
                    {
                        <tr>
                            @Html.Hidden("Id", topic.Id)

                            <td class="actions-body">
                                @if (topic.IsCustom)
                                {
                                    if (topic.IsContributor || topic.IsOwnerOrCreator || User.IsInRole(iHandoverRoles.Relay.iHandoverAdmin)
                                                 || User.IsInRole(iHandoverRoles.Relay.Administrator)
                                                 || User.IsInRole(iHandoverRoles.Relay.HeadLineManager)
                                                 || User.IsInRole(iHandoverRoles.Relay.LineManager))
                                    {
                                        <div class="btn btn-circle remove-btn tooltipster" topic-val="@topic.IsNullReport.ToString().ToLower()" @Html.TooltipAttritutes("Delete")>
                                            <span class="glyphicon span"></span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="btn none-btn btn-circle">
                                            <span class="glyphicon span"></span>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="btn btn-circle none-btn">
                                        <span class="glyphicon span"></span>
                                    </div>
                                }

                                @*<div class="btn btn-circle arrows-btn tooltipster" topic-val="@topic.IsFeedbackRequired.ToString().ToLower()" @Html.TooltipAttritutes("Hand-back")>
                                      <span class="glyphicon span"></span>
                                    </div>*@

                                <div class="btn none-btn btn-circle">
                                    <span class="glyphicon span"></span>
                                </div>

                                @if (topic.IsPinned.HasValue)
                                {
                                    <div class="btn btn-circle note-btn tooltipster" topic-val="@topic.IsPinned.Value.ToString().ToLower()" @Html.TooltipAttritutes("Pin")>
                                        <span class="glyphicon span"></span>
                                    </div>
                                }
                                else
                                {
                                    <div class="btn btn-circle pin-inactive-btn tooltipster" @Html.TooltipAttritutes("Pin")>
                                        <span class="glyphicon span"></span>
                                    </div>
                                }
                            </td>
                            <td class="type-body">
                                @topic.Location
                            </td>
                            <td class="reference-body">
                                @topic.Name
                            </td>
                            <td class="notes-body">
                                <p class="note-short">@topic.Notes</p>
                                <div class="field-of-edit">
                                    <textarea class="change-note" maxlength="600"></textarea>
                                    <div topic-val="@topic.IsFinalized.ToString().ToLower()" class="accept-btn finalise-btn tooltipster" @Html.TooltipAttritutes("Finalise")></div>
                                </div>
                                @*<div class="contributes-users">
                                    @Html.Partial("~/Views/Rotation/Shared/ShowIconContributorUsers.cshtml", topic.EditorUsers)
                                </div>*@
                            </td>
                            <td class="status-body">
                                <div class="status" topic-val="@topic.ChildCompleteStatus" status="@topic.Status">
                                    <div class="complete-status" style="display: none;">
                                        @topic.ChildCompleteStatus
                                    </div>
                                    <div class="btn none-btn btn-circle no-complete-status">
                                        <span class="glyphicon span"></span>
                                    </div>
                                </div>
                            </td>
                            <td class="priority-body">
                                <div topic-val="@topic.Priority.ToString()" class="btn-priority"></div>
                            </td>
                            <td class="intel-body">

                                @Html.Action("ManagerCommentButton", "Tasks", new ManagerCommentButtonViewModel { ItemId = topic.Id.Value, HasComments = topic.HasComments })

                                <div class="btn btn-circle user-photo-btn team-btn tooltipster" topic-val="@topic.TeammateId.ToString()" status="@topic.Status" owner-Id="@topic.OwnerId" data-rotation-mode="@topic.IsRotationMode" status="@topic.Status" @Html.TooltipAttritutes("Assignee")>
                                    <img src="@Url.Action("GetAvatarForEmployee", "Media", new {area = "", employeeId = topic.TeammateId, width = 25, height = 25 })"
                                         class="user-photo-img" />
                                </div>
                                <div class="btn btn-circle more-btn tooltipster" @Html.TooltipAttritutes("Extras")>
                                    <span class="glyphicon span"></span>
                                </div>
                                <div class="other-actions">
                                    <button topic-val="@topic.HasAttachments.ToString().ToLower()" class="action-btn attachments-btn tooltipster" @Html.TooltipAttritutes("Attachments")></button>
                                    @*<button topic-val="@topic.HasVoiceMessages.ToString().ToLower()" class="action-btn voice-msg-btn tooltipster" @Html.TooltipAttritutes("Voice Messages") disabled style="cursor: not-allowed!important"></button>*@
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>