﻿@model IEnumerable<TasksTopicViewModel>

<div Id="tasksSection">
    <div class="panel-body grey-panel">
        <div class="navbar navbar-blue" id="Tasks"><span class="label">Tasks</span></div>
    </div>
    <div class="table-block">
        @if (Model != null && Model.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th class="actions-title">Actions</th>
                        <th class="type-title">Location</th>
                        <th class="reference-title">Task Name</th>
                        <th class="notes-title">Notes</th>
                        <th class="status-title">Status</th>
                        <th class="priority-title">Priority</th>
                        <th class="intel-title">Intel</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var topic in Model)
                    {
                        <tr is-complete="@topic.IsComplete.ToString()">
                            @Html.Hidden("Id", topic.Id)

                            <td class="actions-body">
                                <div class="btn btn-circle none-btn">
                                    <span class="glyphicon span"></span>
                                </div>

                               <button type="button" class="btn btn-circle  @(topic.IsFeedbackRequired ? "hand-back-active-btn" : "hand-back-inactive-btn") tooltipster" @Html.TooltipAttritutes("Hand-back")>
                                   <span class="glyphicon span"></span>
                               </button>

                                @if (topic.IsSharingTopic)
                                {
                                    <div class="is-shared">S</div>
                                }
                                else
                                {
                                    <div class="btn none-btn btn-circle">
                                        <span class="glyphicon span"></span>
                                    </div>
                                }
                            </td>
                            <td class="type-body">
                                @topic.Location
                            </td>
                            <td class="reference-body">
                                @topic.Name
                            </td>
                            <td class="notes-body">
                                <p class="note-short">@(topic.IsNullReport ? "All good." : topic.Notes)</p>
                                <div class="field-of-edit">
                                    <textarea class="change-note" maxlength="600"></textarea>
                                    <div topic-val="@topic.IsFinalized.ToString().ToLower()" class="accept-btn finalise-btn tooltipster" @Html.TooltipAttritutes("Finalise")></div>
                                </div>
                                @*<div class="contributes-users">
                                    @Html.Partial("~/Views/Rotation/Shared/ShowIconContributorUsers.cshtml", topic.EditorUsers)
                                </div>*@
                            </td>
                            <td class="status-body">
                                <div class="complite-status">
                                    @topic.CompleteStatus
                                </div>
                            </td>
                            <td class="priority-body">
                                <div topic-val="@topic.Priority.ToString()" class="btn-priority"></div>
                            </td>
                            <td class="intel-body">

                                @Html.Action("ManagerCommentButton", "Tasks", new ManagerCommentButtonViewModel { ItemId = topic.Id.Value, HasComments = topic.HasComments })

                                <button type="button" topic-val="@topic.TeammateId.ToString()" data-rotation-mode="@topic.IsRotationMode" class="btn btn-circle user-photo-btn team-btn tooltipster" @Html.TooltipAttritutes("Assignee")>
                                    <img src="@Url.Action("GetAvatarForEmployee", "Media", new {area = "", employeeId = topic.TeammateId, width = 25, height = 25})"
                                         class="user-photo-img" />
                                </button>

                                <div class="btn btn-circle more-btn tooltipster" @Html.TooltipAttritutes("Extras")>
                                    <span class="glyphicon span"></span>
                                </div>
                                <div class="other-actions">
                                    <button topic-val="@topic.HasAttachments.ToString().ToLower()" class="action-btn attachments-btn tooltipster" @Html.TooltipAttritutes("Attachments")></button>
                                    @*<button topic-val="@topic.HasVoiceMessages.ToString().ToLower()" class="action-btn voice-msg-btn tooltipster" @Html.TooltipAttritutes("Voice Messages") disabled style="cursor: not-allowed!important"></button>*@
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="text-center" style="margin: 10px">No Tasks</div>
        }
    </div>
</div>