﻿@model RotationPatternViewModel

<div Id="rotationPatternFormDialog" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade rotation-pattern-dialog">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)

        <div class="modal-dialog  modal-sm">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div Id="modalTitle" class="modal-title">@ViewBag.Title</div>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                                <div class="field-container padding-right-15">
                                    <span class="title-select">@Html.LabelFor(model => model.DayOn)</span>
                                    @Html.EditorFor(model => model.DayOn, new { htmlAttributes = new { @class = "simple-input", @min = "1", @max = "100", @placeholder = "Enter Day On" } })
                                    @Html.ValidationMessageFor(model => model.DayOn)
                                </div>
                            </div>
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                                <div class="field-container padding-left-15">
                                    <span class="title-select">@Html.LabelFor(model => model.DayOff)</span>
                                    @Html.EditorFor(model => model.DayOff, new {htmlAttributes = new {@class = "simple-input", @min = "0", @max = "100", @placeholder = "Enter Day Off" } })
                                    @Html.ValidationMessageFor(model => model.DayOff)
                                </div>
                            </div>
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin-top-20">
                                @Html.ValidationMessage("AlreadyExist")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
