﻿@import "pages/sign-in-page";


@import "pages/loading-animation";

.auth-center-block {
    height: 90%;
    height: ~"calc(100% - 62px)";
    width: 100%;
    text-align: center;

    &:before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    & > .container {
        max-width: 100%;
        display: inline-block;
        vertical-align: middle;
    }
}

