﻿.notification-page {
    .page-content {
        padding-top: 50px;

        .notification-message-table {
            overflow-x: auto;

            .table tbody tr td:last-child, .table tbody tr td:first-child {
                padding: 0px;
            }

            .col {
                min-width: 100px;
            }

            .message-col {
                font-size: 12px;
                font-weight: bold;
                min-width: 390px;
                max-width: 700px;
                padding-left: 17px !important;
                padding: 0px;
                line-height: 1;
                height: 30px;
                vertical-align: middle;
            }

            .date-time-col {
                padding: 0px;
                line-height: 1;
                height: 30px;
                vertical-align: middle;
                font-size: 12px;
                font-weight: bold;
                text-align: center;
            }

            .table-header {
                background-color: white;
                padding: 10px;
                font-size: 12px;
                font-weight: 800;
                color: #454545;
            }

            .table-content {
                .spacer-row {
                    height: 5px;
                }

                td {
                    height: 58px;
                }

                .empty-content {
                    text-align: center;
                    font-size: 14px;
                    font-weight: bold;
                    margin: 0px auto;
                    padding: 0px;
                    height: 20px;
                }

                .message-row {
                    background-color: white;
                    cursor: pointer;

                    &.unread {
                        background-color: rgba(0,175,240, 0.15);
                    }

                    .message-col {
                        .notification-icon {
                            width: 45px;
                            display: inline-block;

                            img {
                                width: 30px;
                                height: 30px;
                            }
                        }

                        .notification-message {
                            font-size: 14px;
                            font-weight: normal;
                            display: inline-block;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            vertical-align: middle;
                            margin-top: 10px;

                            &.bold {
                                font-weight: bold;
                            }
                        }
                    }

                    .date-td {
                        vertical-align: middle;
                    }

                    .time-td {
                        vertical-align: middle;
                    }

                    .notification-date {
                    }

                    .notification-time {
                    }
                }

                .pagination-block {
                    background-color: white;
                }
            }
        }

        .footer-block {
            background-color: #fff;
            height: 30px;

            .view-block {
                display: inline-block;

                .eyes {
                    display: inline-block;
                    background-image: data-uri("@{notification-img-url}/ViewEye_Icon.svg");
                    width: 20px;
                    height: 20px;
                    margin-left: 20px;
                    margin-bottom: 5px;
                    margin-top: 5px;
                }

                .count-block {
                    display: inline-block;
                    vertical-align: middle;
                    text-align: center;
                    padding-left: 20px;
                    padding-bottom: 20px;

                    a { 
                        padding-right: 20px;
                    }
                    .counter {
                        font-size: 12px;
                        font-weight: bold;
                        display: inline-block;
                        color: #464646;

                        &.active {
                            font-weight: bold;
                            border-bottom: 2px solid #464646;
                        }
                    }
                }
            }

            .pagination-block {
                display: inline-block;
                float: right;
                margin-top: 5px;
                width: 150px;
                text-align: center;

                .pagination-pages {
                    display: inline;
                    position: relative;

                    .page {
                        color: @main-brown;
                    }

                    .first-page {
                        position: absolute;
                        top: 4px;
                        left: -55px;
                        width: 9px;
                        height: 8px;
                        padding: 0;
                        border: none;
                        background: none;
                        background-repeat: no-repeat;
                        background-image: data-uri("@{main-url-img}/arrow_left2.svg");

                        &:hover {
                            opacity: 0.7;
                        }
                    }

                    .prev-page {
                        position: absolute;
                        top: 4px;
                        left: -30px;
                        width: 5px;
                        height: 8px;
                        padding: 0;
                        border: none;
                        background: none;
                        background-repeat: no-repeat;
                        background-image: data-uri("@{main-url-img}/arrow_left1.svg");

                        &:hover {
                            opacity: 0.7;
                        }
                    }

                    .next-page {
                        position: absolute;
                        top: 4px;
                        right: -30px;
                        width: 5px;
                        height: 8px;
                        padding: 0;
                        border: none;
                        background: none;
                        background-repeat: no-repeat;
                        background-image: data-uri("@{main-url-img}/arrow_right1.svg");

                        &:hover {
                            opacity: 0.7;
                        }
                    }

                    .last-page {
                        position: absolute;
                        top: 4px;
                        right: -55px;
                        width: 9px;
                        height: 8px;
                        padding: 0;
                        border: none;
                        background: none;
                        background-repeat: no-repeat;
                        background-image: data-uri("@{main-url-img}/arrow_right2.svg");

                        &:hover {
                            opacity: 0.7;
                        }
                    }

                    .inactive {
                        opacity: 0.7;
                        cursor: default;
                    }
                }
            }
        }
    }
}
