﻿@model IPagedList<ArchivedSafetyMessageV2ViewModel>

@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}

<div class="safety-archive-v2-page">
    <div class="page-content">
        <div class="safety-message-table">
            <table class="table">
                <thead>
                    <tr class="table-header">
                        <td class="col-md-7 message-col">
                            Message History (@Model.TotalItemCount)
                        </td>
                        <td class="col col-xs-1 padding-top-10 text-center">
                            Schedule Date
                        </td>
                        <td class="col col-xs-1 padding-top-10 text-center">
                            # Opens
                        </td>
                        <td class="col col-xs-1 padding-top-10 text-center">
                            # Late Opens
                        </td>
                        <td class="col col-xs-1 padding-top-10 text-center">
                            # Unopened
                        </td>
                        <td class="col-xs-1"> </td>
                    </tr>
                </thead>
                <tbody class="table-content">
                    <tr class="spacer-row"></tr>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var archivedSafetyMessage in Model)
                        {
                            <tr class="safety-message-row">
                                <td class="col-xs-7 message-col">
                                    <div class="safety-message">
                                        <span class="major-hazard-name ">
                                            @archivedSafetyMessage.MajorHazardName
                                        </span>
                                        @archivedSafetyMessage.MessageText
                                    </div>
                                </td>
                                <td class="col col-xs-1 no-padding text-center">
                                    <span class="message-date">
                                        @archivedSafetyMessage.ScheduledDate
                                    </span>
                                </td>
                                <td class="col col-xs-1 no-padding text-center">
                                    <span class="stat-counter @(archivedSafetyMessage.OpenUsers.Any() ? "active" : null)" @Html.PopoverFromList(archivedSafetyMessage.OpenUsers)>
                                        @archivedSafetyMessage.OpenUsers.Count()
                                    </span>
                                </td>
                                <td class="col col-xs-1 no-padding text-center">
                                    <span class="stat-counter @(archivedSafetyMessage.LateOpenUsers.Any() ? "active" : null)" @Html.PopoverFromList(archivedSafetyMessage.LateOpenUsers)>
                                        @archivedSafetyMessage.LateOpenUsers.Count()
                                    </span>
                                </td>
                                <td class="col col-xs-1 no-padding text-center">
                                    <span class="stat-counter @(archivedSafetyMessage.UnopenedUsers.Any() ? "active" : null)"  @Html.PopoverFromList(archivedSafetyMessage.UnopenedUsers)>
                                        @archivedSafetyMessage.UnopenedUsers.Count()
                                    </span>
                                </td>
                                <td class="col-xs-1 no-padding text-center action-col">
                                    <button class="btn btn-reschedule" message-Id="@archivedSafetyMessage.MessageId"></button>
                                </td>
                            </tr>
                        }

                    }
                    <tr class="spacer-row"></tr>
                </tbody>
            </table>
        </div>
        <div class="pagination-block">
            <div class="pagination-pages">
                @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
                    .DisplayTemplate("BootstrapPagination")
                    .MaxNrOfPages(1)
                    .DisplayFirstAndLastPage())
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        $('.stat-counter').webuiPopover({
            hideEmpty: true,
            style: 'rPopover',
            type: 'html',
            width: '165',
            trigger: 'click',
            multi: true,
            dismissible: true,
            //trigger: 'hover',
            animation: 'pop'
        });


        $(".safety-archive-v2-page .btn-reschedule").click(function ()
        {
            var messageId = $(this).attr("message-Id");

            var safetyForm = Relay.FormDialog({
                url: "/SafetyShedulerV2/RescheduleSafetyMessageDialog",
                method: "GET",
                dialogId: "rescheduleSafetyMessageV2Dialog",
                data: { safetyMessageId: messageId }
            }).open();
        });

    });
</script>