﻿@model ConfirmRotationViewModel

<div Id="confirmRotationDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade confirm-rotation-dialog">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.PrevRotationEndDate)
        @Html.HiddenFor(m => m.UserId)

        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div Id="modalTitle" class="modal-title">Confirm Working Pattern</div>
                            </div>
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                                <button type="submit" class="btn btn-save">Confirm</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        @Html.Hidden("ConfirmState", (int)Model.ConfirmState)
                        @Html.ValidationMessage("Confirm")

                        @Html.HiddenFor(m => m.StartSwingDate)
                        @Html.HiddenFor(m => m.EndSwingDate)
                        @Html.HiddenFor(m => m.BackOnSiteDate)

                        <div class="row" style="margin:0px !important;">

                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding inline-mini-calendar" Id="miniCalendar" style="pointer-events: none; margin-top: 12px;"></div>

                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding-left:60px;">
                                <div class="row">
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                        <div class="field-container">
                                            @Html.LabelFor(m => m.StartSwingDate, new { @class = "title-select" })
                                            <div class="date-container">
                                                <div class="simple-input" Id="StartSwingDateDay"></div>
                                                <div class="simple-input" Id="StartSwingDateMonth"></div>
                                                <div class="simple-input" Id="StartSwingDateYear"></div>
                                            </div>
                                            <div class="choose-date-btn start-date-btn">Choose Date</div>
                                            @Html.ValidationMessageFor(m => m.StartSwingDate)
                                        </div>
                                    </div>
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding padding-top-20">
                                        <div class="field-container">
                                            @Html.LabelFor(m => m.EndSwingDate, new { @class = "title-select" })
                                            <div class="date-container">
                                                <div class="simple-input" Id="EndSwingDateDay"></div>
                                                <div class="simple-input" Id="EndSwingDateMonth"></div>
                                                <div class="simple-input" Id="EndSwingDateYear"></div>
                                            </div>
                                            <div class="choose-date-btn end-date-btn">Choose Date</div>
                                            @Html.ValidationMessageFor(m => m.EndSwingDate)
                                        </div>
                                    </div>
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding padding-top-20">
                                        <div class="field-container">
                                            @Html.LabelFor(m => m.BackOnSiteDate, new { @class = "title-select" })
                                            <div class="date-container">
                                                <div class="simple-input" Id="BackOnSiteDateDay"></div>
                                                <div class="simple-input" Id="BackOnSiteDateMonth"></div>
                                                <div class="simple-input" Id="BackOnSiteDateYear"></div>
                                            </div>
                                            <div class="choose-date-btn back-date-btn">Choose Date</div>
                                            @Html.ValidationMessageFor(m => m.BackOnSiteDate)
                                        </div>
                                    </div>
                                    <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5 no-padding padding-top-20">
                                        <div class="select-type">
                                            @Html.LabelFor(m => m.RepeatTimes, new { @class = "title-select" })
                                            @Html.DropDownListFor(m => m.RepeatTimes, Model.RepeatRotationRange, new { @class = "select-list" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            ; (function ()
            {
                //------------------------------------------------------------------------------
                //------------------ Init -------------------------------------
                var dialog = $("#confirmRotationDialog");

                var prevRotationEndDate = Relay.DotNetDate.dateStringToDate($("#PrevRotationEndDate", dialog).val());

                var calendarContainer = $("#miniCalendar", dialog);
                var calendar = $(calendarContainer).datepicker({ todayBtn: false });
                var chooseHandlerId = null;


                calendar.on('changeDate', function ()
                {
                    if (chooseHandlerId)
                    {
                        switch (chooseHandlerId)
                        {
                            case "StartSwingDate":
                                $("#EndSwingDate", dialog).val('');
                                updateDateField("EndSwingDate");
                            case "EndSwingDate":
                                $("#BackOnSiteDate", dialog).val('');
                                updateDateField("BackOnSiteDate");
                        }

                        $('#' + chooseHandlerId, dialog).val(Relay.DotNetDate.dateToDateString($(this).datepicker('getDate')));

                        updateDateField(chooseHandlerId);

                        $("button[type=submit]", dialog).trigger("activate");
                    }
                });

                $(".prev", calendar).text("");
                $(".next", calendar).text("");

                updateDateField("StartSwingDate");
                updateDateField("EndSwingDate");
                updateDateField("BackOnSiteDate");
                //-------------------------------------------------------------
                function updateDateField(Id)
                {
                    var date = Relay.DotNetDate.dateStringToDate($('#' + Id, dialog).val());
                    if (date)
                    {
                        $('#' + Id + "Day", dialog).text(moment(date).format("DD"));
                        $('#' + Id + "Month", dialog).text(moment(date).format("MMM"));
                        $('#' + Id + "Year", dialog).text(moment(date).format("YYYY"));

                        //REL-1450
                        if (Id)
                        {
                            switch (Id)
                            {
                                case "StartSwingDate":
                                    $(".end-date-btn", dialog).click();
                                case "EndSwingDate":
                                    $(".back-date-btn", dialog).click();
                            }
                        }
                        //
                    }
                    else
                    {
                        $('#' + Id + "Day", dialog).text("DD");
                        $('#' + Id + "Month", dialog).text("MMM");
                        $('#' + Id + "Year", dialog).text("YYYY");
                    }
                }

                function onCalendar()
                {
                    calendarContainer.removeAttr("style");
                }
                function offCalendar()
                {
                    calendarContainer.attr("style", "pointer-events: none;");
                }
                //----------------------------------------------------------------
                dialog.bind("click", function ()
                {
                    offCalendar();
                    $(".field-container", dialog).removeClass("active");
                });

                $(".start-date-btn", dialog).bind("click", function (event)
                {

                    calendar.datepicker("setStartDate", prevRotationEndDate);

                    onCalendar();
                    $(".field-container", dialog).removeClass("active");
                    $(this).parent().addClass("active");
                    chooseHandlerId = "StartSwingDate";
                    event.stopPropagation();
                });

                $(".end-date-btn", dialog).bind("click", function (event)
                {
                    var startEndDateString = $("#StartSwingDate", dialog).val();

                    if (startEndDateString)
                    {
                        var startEndDate = Relay.DotNetDate.dateStringToDate(startEndDateString);
                        startEndDate.setDate(startEndDate.getDate() + 1);
                        calendar.datepicker("setStartDate", startEndDate);

                        onCalendar();
                        $(".field-container", dialog).removeClass("active");
                        $(this).parent().addClass("active");
                        chooseHandlerId = "EndSwingDate";
                    }

                    event.stopPropagation();
                });

                $(".back-date-btn", dialog).bind("click", function (event)
                {
                    var startBackDateString = $("#EndSwingDate", dialog).val();

                    if (startBackDateString)
                    {
                        var startBackDate = Relay.DotNetDate.dateStringToDate(startBackDateString);
                        startBackDate.setDate(startBackDate.getDate() + 1);
                        calendar.datepicker("setStartDate", startBackDate);

                        onCalendar();
                        $(".field-container", dialog).removeClass("active");
                        $(this).parent().addClass("active");
                        chooseHandlerId = "BackOnSiteDate";
                    }

                    event.stopPropagation();
                });

                //------------------------------------------------------------------------------
                var ConfirmStateField = $("#ConfirmState", dialog);

                var ConfirmState = {
                    NoOperation: 0,
                    RequestCustomPatern: 1,
                    AcceptCustomPatern: 2,
                    DenieCustomPatern: 3
                };

                $('.selectSection', dialog).selectpicker({
                    style: 'select-class',
                    size: 7
                });

                if (ConfirmStateField.val() == ConfirmState.RequestCustomPatern)
                {
                    var confirmCustomPatternDialog = Relay.ConfirmDialog("Working Pattern confirmation",
                    "These dates do not match your working pattern. Do you want to continue anyway?",
                    "Yes",
                    "No");
                    confirmCustomPatternDialog.setOkEvent(function ()
                    {
                        ConfirmStateField.val(ConfirmState.AcceptCustomPatern);
                        $(".btn-save", dialog).click();
                        $('#loading-animation').show();
                    });
                    confirmCustomPatternDialog.setCancelEvent(function ()
                    {
                        ConfirmStateField.val(ConfirmState.DenieCustomPatern);
                    });
                    confirmCustomPatternDialog.open();

                    
                }
                //------------------------------------------------------------------------------

                //REL-1450

                $(".start-date-btn", dialog).click();

            })();
        </script>
    }
</div>