﻿@model ConfirmShiftV2ViewModel

<div Id="confirmShiftDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade confirm-shift-dialog-v2">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ShiftEndType)
        @Html.HiddenFor(model => model.TodayShiftEndLimitDateTime)
        @Html.HiddenFor(model => model.ShiftOwnerId)

        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div Id="modalTitle" class="modal-title">Confirm Shift</div>
                            </div>
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                                <button type="submit" class="btn btn-save">Confirm</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <span>When is your shift ending?</span>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20 text-center">
                                        <div class="field-container shiftEndType-group">
                                            <button type="button" class="btn today-date-btn @(Model.ShiftEndType == ShiftEndType.Today ? "active" : "")">
                                                Today
                                            </button>
                                            <button type="button" class="btn tomorrow-date-btn @(Model.ShiftEndType == ShiftEndType.Tomorrow ? "active" : "")">
                                                Tomorrow
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-40 text-center">
                                        <div class="field-container">
                                            <span class="time-label">Time:</span>
                                            <div class="time-container">
                                                <div class="select-type time-select">
                                                    @Html.DropDownListFor(model => model.ShiftEndHour, Enumerable.Range(0, 24).Select(i =>
                                                        new SelectListItem
                                                        {
                                                            Value = i.ToString(),
                                                            Text = i.ToString("D2")
                                                        }), "HH", new { @class = "select-list hours-list" })
                                                </div>
                                                <script>
                                                    $('.hours-list').on('changed.bs.select', function (e) {
                                                        $('.minutes-list').selectpicker('val', ['0']);
                                                    });
                                                </script>
                                                <div class="select-type time-select">
                                                    @Html.DropDownListFor(model => model.ShiftEndMinutes, Enumerable.Range(0, 12).Select(i =>
                                                        new SelectListItem
                                                        {
                                                            Value = (i * 5).ToString(),
                                                            Text = (i * 5).ToString("D2")
                                                        }), "MM" , new { @class = "select-list minutes-list" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-10 text-center">
                                        @Html.ValidationMessage("Confirm")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <script>
        limitHours();

        $('.shiftEndType-group').on('click', '.btn', function () {
            $(this).addClass('active').siblings().removeClass('active');
        });

        $('.today-date-btn').click(function () {
            $("#ShiftEndType").val('Today');
            limitHours();
            clearHoursAndMinutes($(this));
        });

        $('.tomorrow-date-btn').click(function () {
            $("#ShiftEndType").val('Tomorrow');
            clearHoursLimits();
            clearHoursAndMinutes($(this));
        });

        function clearHoursAndMinutes(element) {
            if (!$(element).hasClass("active")) {
                $('.hours-list').selectpicker('render');
                $('.minutes-list').selectpicker('render');
                $('.hours-list').selectpicker('val', ['']);
                $('.minutes-list').selectpicker('val', ['']);
                $('.select-list').selectpicker('refresh');
            }
        }

        function limitHours() {
            var currentDateAndTime = moment(Relay.DotNetDate.dateStringToDate($("#TodayShiftEndLimitDateTime").val()));

            var currentHour = currentDateAndTime.hour();

            if (currentHour === 23) {
                setTimeout(function () {
                    $('.tomorrow-date-btn').click();
                    $('.today-date-btn').prop("disabled", true);
                }, 100);
            }
            else {
                $('.hours-list').children('option').each(function () {
                    if ($(this).val() < currentHour + 1) {
                        if ($(this).val() !== '') {
                            $(this).hide();
                        }
                    }
                });
            }
        }

        function clearHoursLimits() {
            $('.hours-list').children('option').each(function () {
                $(this).show();
            });
        }

    </script>
</div>


