﻿<div Id="editRotationDatesDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade rotation-dates-dialog">
  <div class="modal-dialog  modal-sm">
    <div class="theme">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row vertical-center">
            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div Id="modalTitle" class="modal-title">Edit Handover</div>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
              <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                <p>Current handover is not confirmed.</p>
              <p>You have no possibility to edit it.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>