﻿.global-report-table {
    @media (max-width: 999px) {
        overflow-x: scroll;
    }

    overflow-x: visible;


    .table {
        margin-bottom: 0px;
    }

    .table-header {
        background-color: white;
        color: #454545;
        height: 30px;

        td:first-child {
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        td:last-child {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        td {
            font-size: 12px;
            font-weight: bold;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 0px;

            .select-type .bootstrap-select.btn-group {
                border: none;
            }

            .bootstrap-select.btn-group .dropdown-toggle {
                .btn .dropdown-toggle {
                    padding-bottom: 0px;
                    margin-bottom: -5px;
                    padding-top: 0px;
                    padding-left: 0px;
                }

                .filter-option {
                    font-size: 12px;
                    font-weight: bold;
                    color: #464646;
                    height: 22px;
                    padding-right: 75px;
                    overflow: hidden;
                    word-wrap: normal;
                    max-width: 170px;
                    min-width: initial;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .caret {
                    right: 85px;
                    margin-top: -9px;
                }
            }

            .select-class {
                padding-bottom: 0px;
                margin-bottom: -5px;
                padding-top: 0px;
                padding-left: 0px;
                background: none;

                &:focus, &:hover {
                    background: none;
                }

                .bs-caret {
                    .caret {
                        background-image: data-uri("@{main-url-img}/down_arrow_light.svg");
                    }
                }
            }

            .open {
                .bs-caret {
                    .caret {
                        background-image: data-uri("@{main-url-img}/up_arrow_light.svg");
                    }
                }
            }

            .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
                width: 100% !important;
            }

            .dropdown-menu {

                &.open {
                    border: 1.5px solid #464646;
                    box-shadow: none !important;
                    padding-top: 1px;
                    padding-bottom: 1px;
                    padding-right: 1px;
                    background-color: #fff;

                    ul {
                        background-color: #fff;

                        li .selected {
                            background-color: #00AFF0 !important;
                        }
                    }
                }

                li {
                    a {
                        color: #464646;

                        &:hover {
                            background-color: transparent;
                            opacity: 0.5;
                            color: #00aff0;
                        }

                        &:active {
                            background-color: transparent;
                        }

                        &:focus {
                            background: transparent;
                            color: #00aff0;
                        }
                    }

                    &.active {
                        a {
                            background-color: #fff;
                            color: #00aff0;
                        }
                    }
                }

                &::-webkit-scrollbar {
                    width: 1em;
                }

                &::-webkit-scrollbar-track {
                    background-color: grey;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #454545;
                    border: 3px solid transparent;
                    border-radius: 9px;
                    background-clip: content-box;
                }

                a {
                    padding-left: 10px;
                }

                .no-results {
                    background-color: #fff;
                    color: #464646;
                    height: 25px;
                    width: 260px;
                    padding-left: 2px;
                }
            }

            .bs-searchbox {

                input {
                    background-color: #fff;
                    color: #464646;
                    height: 25px;
                    width: 260px;
                    border: none;
                    border-bottom: 1px solid #464646;
                    border-radius: 0;
                    box-shadow: none;
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
        }

        .date-title {
            width: 150px;
        }


        .topic-name-title {
            width: 120px;
        }


        .topic-reference-title {
            width: 120px;
        }

        .topic-owner-title {
            width: 270px;
        }

        .topic-notes-title {
            width: 485px;
        }

        .received-from-title {
            width: 200px;
        }

        .position-title {
            width: 285px;
        }

        .handover-recipient-title {
            width: 285px;
        }

        .rotation-type-title {
            width: 135px;
            padding-right: 0px;
            padding-left: 10px !important;
        }

        .items-title {
            width: 120px;
        }


        .type-title {
            width: 135px;
            padding-left: 2px !important;
        }

        .attachments-title {
            width: 120px;
        }

        .tasks-title {
            width: 155px;
        }

        .action-icon-title {
            width: 210px;
        }

        .manager-title {
            .manager {
                background-image: data-uri("@{main-url-img}/Comments.svg");
                background-repeat: no-repeat;
                cursor: pointer;
                width: 20px;
                height: 20px;
            }
        }

        .attach-title {
            .attach {
                background-image: data-uri("@{main-url-img}/Attachments.svg");
                background-repeat: no-repeat;
                cursor: pointer;
                height: 25px;
                width: 25px;
                margin-bottom: 3px;
            }
        }
    }

    .table-content {
        .spacer-row {
            height: 5px;
        }

        .empty-content {
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            margin: 0px auto;
            padding: 0px;
            height: 20px;
        }

        .report-row {
            padding: 10px 0;
            background-color: white;
            border-bottom: 3px solid #efefef;

            td:first-child {
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
            }

            td:last-child {
                border-bottom-right-radius: 4px;
                border-top-right-radius: 4px;
            }

            td {
                height: 56px;
                font-size: 14px;
                font-weight: normal;
                padding: 10px 20px;
                vertical-align: middle;
                border-top: none;
            }

            .date-body {
                width: 150px;
                padding-right: 0px;
            }

            .received-from-body {
                width: 200px;

                img {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }

                .user-name {
                    display: inline-block;
                    overflow: hidden;
                    word-wrap: normal;
                    max-width: 170px;
                    min-width: initial;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin-bottom: -8px;
                }
            }

            .position-body {
                width: 285px;
                overflow: hidden;
                word-wrap: normal;
                max-width: 170px;
                min-width: initial;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .handover-recipient-body {
                img {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }

                .user-name {
                    display: inline-block;
                    overflow: hidden;
                    word-wrap: normal;
                    max-width: 170px;
                    min-width: initial;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin-bottom: -8px;
                }
            }

            .rotation-type-body {
                width: 135px;
                padding-right: 0px;
            }

            .manager-body {
                width: 90px;
                padding-top: 16px;
                color: #464646;

                .circle {
                    background-color: #B4B4B4;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;

                    .count {
                        color: #fff;
                        text-align: center;
                        padding-top: 7px;
                    }
                }
            }

            .manager-body:hover {
                text-decoration: underline;
            }


            .type-body {
                width: 120px;
            }


            .items-body {
                width: 90px;
                color: #464646;

                .circle {
                    background-color: #B4B4B4;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;

                    .count {
                        color: #fff;
                        text-align: center;
                        padding-top: 7px;
                    }
                }
            }

            .items-body:hover {
                text-decoration: underline;
            }

            .tasks-body {
                width: 155px;

                .circle {
                    background-color: #B4B4B4;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;

                    .count {
                        color: #fff;
                        text-align: center;
                        padding-top: 7px;
                    }
                }
            }

            .tasks-body:hover {
                text-decoration: underline;
            }

            .action-icon-body {
                width: 210px;
                padding: 10px 5px 0 0;

                .pdf-report {
                    cursor: pointer;
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    background-image: url("@{main-url-img}/pdf_report_icon.svg");
                }

                .go-to-report {
                    cursor: pointer;
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    background-image: data-uri("@{main-url-img}/go_to_report_icon.svg");
                    margin-right: 5px;
                }

                .qme-pdf-report {
                    cursor: pointer;
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    background-image: data-uri("@{main-url-img}/qme_report_icon.svg");
                    margin-left: 5px;
                }
            }
        }

        .pagination-block {
            background-color: white;
        }
    }
}
