﻿.report-container {
    .report-side-menu {
        text-align: center;

        .nav {
            display: inline-block;
            border: none;
            padding-top: 50px !important;
            padding-bottom: 25px;

            li {
                display: inline-block;
                background-color: #fff;
                width: 110px;
                height: 36px;
                padding-top: 7px;
                margin-right: 30px;
                margin-bottom: 0px;
                border-radius: 6px;

                a, a:focus {
                    background-color: #B4B4B4;
                    width: 90px;
                    height: 16px;
                    display: inline-block;
                    margin: 0px;
                    padding: 0px;
                    font-size: 12px;
                    font-weight: bold;
                    color: #fff;
                    border-radius: 2px;
                    border: 1px solid #B4B4B4;
                    line-height: 1.3;
                }
            }

            .active {
                a, a:focus {
                    background-color: #00AFF0;
                    border: 1px solid #00aff0;
                }
            }
        }
    }

}
