﻿.landscape {
    background-color: white !important;
    width: 1610px;

    .topic-pdf {
        .table-head {
            border-bottom: 2px #B4B4B4 solid;
            width: 100%;

            td {
                &:first-child {
                    border-right: solid 2px #B4B4B4;
                }

                &.title-td {
                    width: 246px;

                    .report-title {
                        font-weight: bold;
                        padding-left: 28px;
                        font-size: 28px;
                    }

                    .report-date {
                        padding-left: 40px;
                        font-size: 18px;
                    }
                }

                &.criteria-td {
                    width: 1076px;
                    padding-left: 40px;
                    padding-bottom: 20px;
                    padding-top: 15px;
                    padding-right: 10px;

                    .criteria-title {
                        font-weight: bold;
                        font-size: 18px;
                    }

                    .topic-criteria {
                        .title {
                            display: inline-block;
                            font-size: 14px;
                        }

                        .topic-list {
                            word-break: normal;
                            word-wrap: break-word;
                            display: inline-block;
                            font-size: 14px;
                        }
                    }

                    .date-criteria {
                        .title {
                            display: inline-block;
                            font-size: 14px;
                        }

                        .date-range {
                            display: inline-block;
                            word-break: normal;
                            word-wrap: break-word;
                            font-size: 14px;
                        }
                    }

                    .employees-criteria {
                        .title {
                            display: inline-block;
                            font-size: 14px;
                        }

                        .employees {
                            display: inline-block;
                            word-break: normal;
                            word-wrap: break-word;
                            font-size: 14px;
                        }
                    }
                }

                &.logo-td {
                    width: 200px;
                    text-align: right;

                    .company-logo {
                        margin: 10px;

                        img {
                            width: 196px;
                            height: 105px;
                        }
                    }
                }
            }
        }

        .table-body {
            width: 100%;

            thead {
                width: 100%;

                tr {
                    width: 100%;
                    height: 31px;

                    td {
                        font-weight: bold;
                        font-size: 12px;

                        &.date {
                            width: 118px;
                        }

                        &.creator {
                            width: 182px;
                        }

                        &.topic {
                            width: 180px;
                        }

                        &.reference {
                            width: 190px;
                        }

                        &.notes {
                            width: 300px;
                        }

                        &.tags {
                            width: 100px;
                        }

                        &.attachments {
                            width: 200px;
                        }
                    }
                }
            }

            tr {
                border-bottom: 2px solid #B4B4B4;
            }

            tbody {
                width: 100%;

                tr {
                    width: 100%;
                    page-break-inside: avoid !important;

                    td {
                        padding-top: 10px;
                        padding-bottom: 10px;
                        font-size: 14px;
                        vertical-align: top;

                        &.create-name {
                            max-width: 140px;
                            overflow: hidden;
                            word-wrap: normal;
                            min-width: initial;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        &.reference {
                            max-width: 180px;
                            overflow: hidden;
                            word-wrap: normal;
                            min-width: initial;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        &.name {
                            max-width: 190px;
                            overflow: hidden;
                            word-wrap: normal;
                            min-width: initial;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        &.notes {
                            word-wrap: break-word;
                            word-break: break-word;
                        }

                        &.tags-body-first {
                            padding-top: 15px;
                            padding-right: 0px;
                            width: auto;
                            min-width: 50px;
                            max-width: 90px;

                            p.clip {
                                background-color: gray;
                                color: white;
                                border-radius: 9px;
                                text-align: center;
                                width: auto;
                                min-width: 50px;
                                max-width: 90px;
                                font-size: 12px;
                                height: 18px;
                            }
                        }

                        &.tags-body-more {
                            padding-top: 12px;
                            padding-left: 0px;
                            width: 20px;

                            .more-btn-tags {
                                padding: 0;
                                background: none;
                                height: 20px;

                                .span {
                                    background-image: data-uri("@{main-url-img}/more-btn-tags.svg");
                                    background-repeat: no-repeat;
                                    height: 20px;
                                    width: 20px;
                                }
                            }
                        }

                        &.items-body {
                            width: 90px;

                            .circle {
                                background-color: #B4B4B4;
                                border-radius: 50%;
                                width: 30px;
                                height: 30px;

                                .count {
                                    color: #fff;
                                    text-align: center;
                                    padding-top: 7px;
                                }
                            }
                        }

                        &.tasks-body {
                            width: 155px;

                            .circle {
                                background-color: #B4B4B4;
                                border-radius: 50%;
                                width: 30px;
                                height: 30px;

                                .count {
                                    color: #fff;
                                    text-align: center;
                                    padding-top: 7px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
