﻿.topic-report-container {

    .btn-save-pdf {
        float: right;
        width: 150px;
        height: 40px;
        font-size: 16px;
    }

    .radio-btn-group {
        float: right;
    }

    .ms-ctn {
        &.form-control {
            height: auto;
            min-height: 40px;
            padding: 8px 12px;
        }

        &.topicGroupFilterBar {
            padding-right: 5px;
        }

        span&.ms-helepr {
            display: none !important;
        }


        &.topicPeriod {

            span&.ms-helepr {
                display: none !important;
            }

            .ms-trigger {
                left: 0;
                border: none;
                margin: 0;
                background: none;
                width: 40px;

                &:hover {
                    background-position: 0;
                    border: none;
                    margin: 0;
                    background: none;

                    .ms-trigger-ico {
                        background-position: 0;
                    }
                }

                .ms-trigger-ico {
                    background-image: data-uri("@{main-url-img}/Calendar_2.svg");
                    width: 30px;
                    height: 30px;
                    border: none;
                    margin: 0;
                    margin-top: 4px;
                    background-repeat: no-repeat;
                    margin-left: 10px;

                    &:hover {
                        border: none;
                        margin: 0;
                        margin-top: 4px;
                        background-repeat: no-repeat;
                        margin-left: 10px;
                    }
                }
            }
        }

        .ms-trigger {
            left: 0;
            border: none;
            margin: 0;
            background: none;
            width: 40px;

            &:hover {
                background-position: 0;
                border: none;
                margin: 0;
                background: none;

                .ms-trigger-ico {
                    background-position: 0;
                }
            }

            .ms-trigger-ico {
                background-image: data-uri("@{main-url-img}/search_grey_icon.svg");
                width: 30px;
                height: 30px;
                border: none;
                margin: 0;
                margin-top: 4px;
                background-repeat: no-repeat;
                margin-left: 10px;

                &:hover {
                    border: none;
                    margin: 0;
                    margin-top: 4px;
                    background-repeat: no-repeat;
                    margin-left: 10px;
                }
            }
        }

        .ms-sel-ctn {
            margin-left: 37px;
            margin-right: -23px;

            input {
                min-width: auto !important;
            }

            .ms-sel-item {
                background-color: #00AFF0;
                color: #fff;

                .ms-close-btn {
                    width: 7px;
                    height: 7px;
                    background: none;
                    margin-top: 4px;
                    background-repeat: no-repeat;
                    border: none;
                    background-image: data-uri("@{main-url-img}/modal-close-white.svg");
                    margin: 5px 2px 0 10px;

                    &:hover {
                        opacity: 0.75;
                    }
                }
            }
        }
    }

    .dropdown-menu {
        color: #464646;
        background-color: #fff;

        .ms-res-item {
            color: #464646;
        }

        .ms-res-item-active {
            color: #fff;
        }

        &::-webkit-scrollbar {
            width: 1em;
        }

        &::-webkit-scrollbar-track {
            background-color: grey;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #454545;
            border: 3px solid transparent;
            border-radius: 9px;
            background-clip: content-box;
        }
    }

    .menu-btn {
        display: inline-block;
        border: 10px solid #fff;
        background-color: #B4B4B4;
        width: 110px;
        height: 36px;
        color: #fff;
        width: 110px;
        height: 39px;
        margin-right: 30px;
        margin-bottom: 0px;
        border-radius: 6px;
    }

    .active-menu-btn {
        display: inline-block;
        border: 10px solid #fff;
        background-color: #00AFF0;
        width: 110px;
        height: 36px;
        color: #fff;
        width: 110px;
        height: 39px;
        margin-right: 30px;
        margin-bottom: 0px;
        border-radius: 6px;
    }
}
