﻿.topic-report-container {
    .footer-block {
        background-color: #fff;
        height: 30px;
        border-radius: 4px;

        .view-block {
            display: inline-block;

            .eyes-block {
                padding-left: 20px;
                display: inline-block;

                .eyes {
                    background-image: data-uri("@{notification-img-url}/ViewEye_Icon.svg");
                    width: 20px;
                    height: 20px;
                    margin-bottom: -7px;
                }
            }

            .count-block {
                display: inline-block;
                padding-top: 5px;
                padding-left: 20px;

                a {
                    padding-right: 20px;
                    outline: none;
                    text-decoration: none;

                    &:hover {
                        outline: none;
                        border: none;
                    }

                    .counter {
                        font-size: 12px;
                        font-weight: bold;
                        display: inline-block;
                        color: #464646;

                        &.active {
                            font-weight: bold;
                            border-bottom: 2px solid #464646;
                        }
                    }
                }
            }
        }

        .pagination-block {
            display: inline-block;
            float: right;
            margin-top: 5px;
            width: 150px;
            text-align: center;

            .pagination-pages {
                .page {
                    color: @main-brown;
                    display: inline-block;
                    min-width: 50px;
                    max-width: 100px;
                }

                .first-page {
                    display: inline-block;
                    margin-right: 10px;
                    width: 9px;
                    height: 8px;
                    padding: 0;
                    border: none;
                    background: none;
                    background-repeat: no-repeat;
                    background-image: data-uri("@{main-url-img}/arrow_left2.svg");

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .prev-page {
                    display: inline-block;
                    margin-right: 10px;
                    width: 5px;
                    height: 8px;
                    padding: 0;
                    border: none;
                    background: none;
                    background-repeat: no-repeat;
                    background-image: data-uri("@{main-url-img}/arrow_left1.svg");

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .next-page {
                    display: inline-block;
                    margin-left: 10px;
                    width: 5px;
                    height: 8px;
                    padding: 0;
                    border: none;
                    background: none;
                    background-repeat: no-repeat;
                    background-image: data-uri("@{main-url-img}/arrow_right1.svg");

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .last-page {
                    display: inline-block;
                    margin-left: 10px;
                    width: 9px;
                    height: 8px;
                    padding: 0;
                    border: none;
                    background: none;
                    background-repeat: no-repeat;
                    background-image: data-uri("@{main-url-img}/arrow_right2.svg");

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .inactive {
                    opacity: 0.7;
                    cursor: default;
                }
            }
        }
    }
}
