﻿.project-followers-dialog {

    .modal-dialog {
        width: 600px !important;

        .modal-body {
            padding: 15px !important;
        }


        .inner-addon {

            .glyphicon {
                position: absolute;
                top: 14px;
                left: 450px;
                z-index: 1;
                cursor: pointer;
                color: #000;
                border-color: #F0F0F0;
                background-color: #F0F0F0;
                text-align: right;
                align-items: flex-end;
            }

            .search-control {
                font-family: 'Proxima-Nova-Regular';
                vertical-align: middle;
                position: absolute;
                top: 10px;
                left: 445px;
                display: block;
                width: 20%;
                height: 20px;
                padding-left: 30px;
                font-size: 12px;
                line-height: 1.42857143;
                background-color: #F0F0F0;
                border: 1px solid #F0F0F0;
                border-radius: 15px;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            }
        }

        .active {

            .glyphicon {
                position: absolute;
                top: 14px;
                left: 370px;
                z-index: 1;
                cursor: pointer;
                color: #000;
                border-color: #F0F0F0;
                background-color: #F0F0F0;
                text-align: right;
                align-items: flex-end;
            }

            .search-control {
                position: absolute;
                top: 10px;
                left: 365px;
                display: block;
                width: 35%;
                height: 20px;
                padding-left: 25px;
                font-size: 12px;
                line-height: 1.42857143;
                color: black;
                font-weight: bold;
                background-color: #F0F0F0;
                border: 1px solid #F0F0F0;
                border-radius: 15px;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            }
        }

        .project-teams-tabs {
            height: 277px;

            .teams-tab {
                display: initial;
                width: 100%;

                .row {
                    margin-bottom: 100px;
                    margin-top: 10px;
                    margin-left: -5px;
                    margin-right: 0px;

                    .team-item {
                        display: inline-block;
                        background-color: #787878;
                        border-radius: 3px;
                        margin: 4px;
                        overflow: auto;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        padding-left: 5px;
                        padding-right: 5px;
                        float: left;
                        color: #fff;
                        cursor: default;
                    }

                    .active {
                        background-color: #00aff0;
                    }
                }
            }
        }

        .project-team-members-tabs {

            .team-members {
                width: 95%;
                display: table;
                margin-top: 20px;

                .team-container {
                    display: table-row-group;

                    .title-container {
                        display: table-row;
                        display: flex;
                        border-bottom: 2px solid #F0F0F0;

                        .title-select {
                            font-size: 11px;
                        }

                        .icon-column {
                            display: table-cell;
                            width: 23px;
                        }

                        .name-column {
                            text-align: left;
                            display: table-cell;
                            width: 165px;
                            max-width: 165px;
                            padding-right: 5px;
                            cursor: default;
                        }

                        .position-column {
                            text-align: left;
                            display: table-cell;
                            width: 165px;
                            max-width: 165px;
                            padding-right: 5px;
                            cursor: default;
                        }

                        .team-name-column {
                            text-align: left;
                            display: table-cell;
                            width: 165px;
                            max-width: 165px;
                            padding-right: 5px;
                            cursor: default;
                        }

                        .check-column {
                            display: table-cell;
                        }
                    }

                    .swiper-container {
                        height: 250px;
                        width: 100%;
                        border-bottom: 2px solid #F0F0F0;

                        .follower-slide {
                            display: table-row;
                            padding: 10px 0;
                            border-bottom: 1px solid #F0F0F0;
                            color: #F0F0F0;

                            .follower-team-tabs-icon {
                                display: table-cell;

                                .circle {
                                    width: 12px;
                                    height: 12px;
                                    border-radius: 50%;
                                    display: block;
                                }

                                .pink {
                                    background-color: @danger-color;
                                }

                                .green {
                                    background-color: @success-color;
                                }

                                .grey {
                                    background-color: gray;
                                }

                                .gray {
                                    background-color: gray;
                                }
                            }

                            .follower-team-tabs-name {
                                display: table-cell;
                                max-width: 165px;
                                width: 165px;
                                font-size: 14px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                padding-right: 5px;
                                text-align: left;
                                padding-left: 10px;
                                cursor: default;
                            }

                            .follower-team-tabs-position {
                                display: table-cell;
                                width: 165px;
                                max-width: 165px;
                                font-size: 14px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                padding-right: 5px;
                                padding-left: 10px;
                                text-align: left;
                                cursor: default;
                            }

                            .follower-team-tabs-team-name {
                                display: table-cell;
                                width: 165px;
                                max-width: 165px;
                                font-size: 14px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                padding-left: 10px;
                                padding-right: 5px;
                                text-align: left;
                                cursor: default;
                            }

                            .follower-team-tabs-check {
                                display: table-cell;

                                [type="checkbox"]:not(:checked),
                                [type="checkbox"]:checked {
                                    position: relative;
                                    padding-left: 25px;
                                    cursor: pointer;
                                }

                                [type="checkbox"]:not(:checked):before,
                                [type="checkbox"]:checked:before {
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    top: -2px;
                                    width: 17px;
                                    height: 17px;
                                    border: 1px solid #000;
                                    background: #fff;
                                    border-radius: 3px;
                                    box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
                                }

                                [type="checkbox"]:not(:checked):after,
                                [type="checkbox"]:checked:after {
                                    content: "✔";
                                    position: absolute;
                                    top: -14px;
                                    left: 1px;
                                    font-size: 24px;
                                    color: #09ad7e;
                                    transition: all .2s;
                                }

                                [type="checkbox"]:not(:checked):after {
                                    opacity: 0;
                                    transform: scale(0);
                                }

                                [type="checkbox"]:checked:after {
                                    opacity: 1;
                                    transform: scale(1);
                                }

                                [type="checkbox"]:disabled:not(:checked):before,
                                [type="checkbox"]:disabled:checked:before {
                                    box-shadow: none;
                                    border-color: #bbb;
                                    background-color: #ddd;
                                }

                                [type="checkbox"]:disabled:checked:after {
                                    color: #999;
                                }

                                [type="checkbox"]:disabled {
                                    color: #aaa;
                                }

                                label:hover:before {
                                    border: 1px solid #4778d9 !important;
                                }
                            }
                        }
                    }

                    .team-members-swiper-prev {
                        position: absolute;
                        width: 8px;
                        height: 5px;
                        top: 75px;
                        right: 0px;
                        background-image: data-uri("@{main-url-img}/arrow_top.svg");
                        cursor: pointer;

                        &:hover {
                            opacity: 0.75;
                        }
                    }

                    .team-members-swiper-next {
                        position: absolute;
                        width: 8px;
                        height: 5px;
                        bottom: 1px;
                        right: 0px;
                        background-image: data-uri("@{main-url-img}/arrow_down.svg");
                        cursor: pointer;

                        &:hover {
                            opacity: 0.75;
                        }
                    }

                    .swiper-button-disabled {
                        opacity: 0.75;
                        cursor: default;
                    }
                }
            }
        }
    }
}
