.modal {
    .modal-dialog {
        .theme {
            .modal-content {
                background-color: #464646;

                .title-select {
                    color: #fff;
                }

                .simple-input, .simple-textarea {
                    .placeholder(#ffffff);
                }

                .modal-body {
                    .tab-content {

                    }
                }
            }
        }
    }
}
