.modal {
    /*z-index: 990;*/
    background-color: @main-background-popup;

    .modal-dialog {
        margin-top: 200px;

        .modal-content {
            background-color: @main-brown;
            color: @simple-white;
            font-family: 'Proxima-Nova-Regular';
            padding: 16px 20px 20px 20px;
            border: none;

            .btn {
                border: none;
                padding: 0px;
            }

            .modal-header {
                border: none;
                padding: 0px;

                .modal-title {
                    font-size: 14px;
                    font-weight: bold;
                }

                .btn-save {
                    font-size: 12px;
                    font-weight: bold;
                    background: none;
                    border: none;
                    color: #787878;
                    padding-right: 8px;

                    &.active {
                        /*color: #00AFF0 !important;*/
                        color: #b4b4b4 !important;
                    }

                    &:hover {
                        opacity: 0.75;
                    }
                }

                .btn-close {
                    width: 10px;
                    height: 10px;
                    background: none;
                    background-repeat: no-repeat;
                    border: none;
                    background-image: data-uri("@{main-url-img}/modal-close-white.svg");

                    &:hover {
                        opacity: 0.75;
                    }
                }
            }

            .modal-body {
                color: @text-grey;
                padding: 20px 15px;

                .bootstrap-select.btn-group .dropdown-toggle {
                    .filter-option {
                        height: 22px;
                        padding-right: 15px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .caret {
                        right: 1px;
                        margin-top: -5px;
                    }
                }

                .select-class {
                    .bs-caret {
                        .caret {
                            background-image: data-uri("@{main-url-img}/down-arrow-dark.svg");
                        }
                    }
                }

                .open {
                    .bs-caret {
                        .caret {
                            background-image: data-uri("@{main-url-img}/up-arrow-dark.svg");
                        }
                    }
                }

                .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
                    width: 100% !important;
                }

                .textarea {
                    overflow-x: hidden;
                    word-wrap: break-word;
                    overflow-y: visible;
                }

                .simple-textarea {
                    width: 100%;
                    padding: 0px !important;
                    margin-bottom: 0px !important;
                }

                .datepicker {
                    padding: 0px;
                    height: 23px;
                }

                .dropdown-menu {

                    &.open {
                        border: 1.5px solid #00AFF0;
                        box-shadow: none !important;
                        padding-top: 1px;
                        padding-bottom: 1px;
                        padding-right: 1px;

                        ul {
                            li .selected {
                                background-color: #00AFF0 !important;
                            }
                        }
                    }

                    li {
                        a {
                            color: @simple-white;

                            &:hover {
                                background-color: transparent;
                                opacity: 0.5;
                                color: #00AFF0;
                            }

                            &:active {
                                background-color: transparent;
                            }

                            &:focus {
                                background: transparent;
                                color: #00AFF0;
                            }
                        }
                    }

                    &::-webkit-scrollbar {
                        width: 1em;
                    }

                    &::-webkit-scrollbar-track {
                        background-color: grey;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #454545;
                        border: 3px solid transparent;
                        border-radius: 9px;
                        background-clip: content-box;
                    }
                }

                .tags-input-container {
                    padding-left: 0px;
                    padding-top: 0px;
                    padding-bottom: 0px;

                    .ms-helper {
                        font-size: 10px;
                        position: absolute;
                        top: -19px;
                        left: 30px;
                        right: 0;
                        color: orange;
                    }


                    .title-select {
                        margin-bottom: 5px;
                    }

                    .form-control {
                        padding: 0px;
                    }

                    .ms-ctn {
                        padding-left: 0px;
                    }

                    .ms-ctn .ms-sel-ctn {
                        margin-left: 0px;

                        input {
                            .placeholder(#ffffff);
                        }

                        .ms-sel-item {
                            background-color: #00AFF0;
                            color: #ffffff;
                            font-size: 12px;
                            line-height: normal;
                            padding-left: 7px;
                            padding-right: 7px;
                            margin-right: 10px;
                            height: 16px;
                            margin-left: 0px;

                            .ms-close-btn {
                                width: 7px;
                                height: 7px;
                                background: none;
                                margin-top: 4px;
                                background-repeat: no-repeat;
                                border: none;
                                background-image: data-uri("@{main-url-img}/modal-close-white.svg");

                                &:hover {
                                    opacity: 0.75;
                                }
                            }
                        }
                    }

                    .ms-ctn .ms-sel-ctn input {
                        font-size: 14px;
                        font-weight: normal;
                        min-width: 100px !important;
                    }
                }

                .vertical-center {

                    .btn-ok {
                        float: right;
                        font-size: 12px;
                        font-weight: bold;
                        background: none;
                        border: none;
                        margin: 5px 0 0 0;
                        color: @main-blue;

                        &:hover {
                            opacity: 0.75;
                        }
                    }

                    .btn-cancel {
                        float: right;
                        font-size: 12px;
                        font-weight: bold;
                        background: none;
                        border: none;
                        margin: 5px 0 0 0;
                        color: @main-blue;

                        &:hover {
                            opacity: 0.75;
                        }
                    }
                }
            }


            .simple-textarea {

                &.input-validation-error {
                    background: url("@{main-url-img}/line-orange.png") !important;
                }
            }
        }
    }
}
