﻿@model ChangeEmployeePasswordViewModel

<div Id="changeEmployeePasswordFormDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" data-keyboard="false" data-backdrop="static" aria-hidden="true" class="modal fade">
    @using (Html.BeginForm("ChangeEmployeePasswordDialog", "Employees", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.EmployeeId)

        <div class="modal-dialog  modal-sm">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div Id="modalTitle" class="modal-title">Change Password</div>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
                                <button type="submit" class="btn btn-save">Change</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="field-container">
                                    <span class="title-select">@Html.LabelFor(model => model.NewPassword)</span>
                                    @Html.PasswordFor(model => model.NewPassword, new { @class = "simple-input", @placeholder = "Enter New Password" })
                                    @Html.ValidationMessageFor(model => model.NewPassword)
                                </div>
                            </div>
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">
                                <div class="field-container">
                                    <span class="title-select">@Html.LabelFor(model => model.ConfirmNewPassword)</span>
                                    @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "simple-input", @placeholder = "Confirm New Password" })
                                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>
