﻿@model ShareReportUsersViewModel

<div Id="shareReportBtn">
    <div class="share-report-icon @(Model.ShareReportCount > 0 ? "share-report-icon-active" : "share-report-icon-inactive") stat-counter tooltipster" @(Model.UsersList.Any() ? @Html.PopoverFromList(Model.UsersList) : @Html.TooltipAttritutes("This report is not shared with any users."))>
        <div class="count">@Model.ShareReportCount</div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.stat-counter').webuiPopover({
            hideEmpty: true,
            style: 'rPopover',
            type: 'html',
            color: 'black',
            width: '280',
            top: '100',
            right: '255',
            radius:'50',
            multi: true,
            dismissible: true,
            trigger: 'hover'
        });

    });
</script>