﻿@model ShareReportViewModel

<div Id="shareReportDialog" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal fade share-report-dialog">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ReportId)
        @Html.HiddenFor(model => model.ReportType)

        <div Id="DeleteRelationsIds" style="display: none"></div>
        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div Id="modalTitle" class="modal-title">Share Report</div>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-4 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                                @if (Model.Recipients != null && Model.Recipients.Any())
                                {
                                    <div class="select-type">
                                        <span class="title-select">Users</span>
                                        @Html.ListBoxFor(m => m.RecipientsIds, Model.Recipients, new { @class = "select-list", @multiple = "", @title = "Enter/Select User to add to List" })
                                    </div>
                                }
                                else
                                {
                                    <div class="field-container">
                                        <span class="title-select">@Html.LabelFor(m => m.Recipients)</span>
                                        @Html.Label("Recipients", "You have not any recipients", new { @class = "simple-input" })
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row margin-top-50">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="share-report-container">
                                    <div class="title-container">
                                        <div class="title-email">Name/E-mail</div>
                                        <div class="title-position">Position</div>
                                    </div>
                                    <div class="swiper-container share-recipient swiper-container-vertical">
                                        <div class="swiper-wrapper swiper-recipient">
                                            @if (Model.ReportRelations != null && Model.ReportRelations.Any())
                                            {
                                                foreach (var reportRelation in Model.ReportRelations)
                                                {
                                                    <div class="swiper-slide recipient-slide" relation-Id="@reportRelation.RelationId">
                                                        <div class="recipient-image @(reportRelation.RecipientId.HasValue ? "" : "at-icon")">
                                                            <img src="@Url.Action("GetAvatarForEmployee", "Media", new { employeeId = reportRelation.RecipientId, width = 30, height = 30 })" alt="@reportRelation.RecipientTitle" />
                                                        </div>
                                                        <div class="recipient-email">@reportRelation.RecipientTitle</div>
                                                        <div class="recipient-position">@reportRelation.RecipientPosition</div>
                                                        <div class="recipient-remove-action">×</div>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                    <div class="empty-recipient">
                                                        This report is not shared with any users.
                                                    </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="recipient-swiper-prev"></div>
                                    <div class="recipient-swiper-next"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            (function () {
                var deleteRelationsIds = $("#shareReportDialog #DeleteRelationsIds");

                var shareEmployeeSwiper = new Swiper($(".share-recipient"), {
                    direction: 'vertical',
                    height: 40,
                    nextButton: $(".recipient-swiper-next"),
                    prevButton: $(".recipient-swiper-prev")
                });

                $("#shareReportDialog .recipient-remove-action").click(removeRecipientFromShare);

                $(".select-list").attr("data-live-search", true);

                $(".select-list").on("shown.bs.select", function () {
                    $("input", ".select-list").attr("placeholder", "Search");
                });

                function removeRecipientFromShare() {

                    var _this = $(this).parent();

                    var confirmDialog = Relay.ConfirmDialog(
                        "Are you sure you want to un-share this report?",
                        "",
                        "Yes",
                        "No"
                    );

                    confirmDialog.setCancelEvent(function () { });

                    confirmDialog.setOkEvent(function () {
                        var reportRelationId = _this.attr("relation-Id");

                        var newInput = document.createElement("input");
                        newInput.setAttribute("name", "DeleteRelationsIds[]");
                        newInput.setAttribute("value", reportRelationId);

                        deleteRelationsIds.append(newInput);

                        $("#shareReportDialog button[type=submit]").trigger("activate");

                        _this.hide();
                    });

                    confirmDialog.open();
                }
            })();
        </script>
    }
</div>