﻿.multi-tenancy-white {
    .daily-reports {
        border: 1px solid #b4b4b4;

        .panel-heading {
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
            background-color: #fff;
            color: #464646;
            width: 100%;
            text-align: center;
            border-bottom: 2px solid #F0F0F0;

            .edit-rotation-dates {
                background-image: data-uri("@{main-url-img}/edit-rotation.svg");
                width: 27px;
                height: 27px;
                background-repeat: no-repeat;
                float: right;
                cursor: pointer;
            }

            /*.start-new-handover {
                //  background-image: data-uri("@{main-url-img}/Start-New-Handover.svg");
                padding: 3px 17px;
                border-radius: 15px;
                color: #464646;
                background-color: rgba(120, 120, 120, 0.25);
                font-size: 12px;
                font-weight: bold;
                margin: 0 10px 0 10px;
                cursor: pointer;
            }*/

            .panel-title {
                position: initial;
            }
        }

        .panel-body {
            height: 150px;
            padding-right: 30px;
            padding-left: 30px;

            .daily-swiper-container {
                text-align: center;

                .daily-report-swiper {
                    height: 130px;
                    margin-right: 10px;
                    margin-left: 10px;

                    .swiper-wrapper {

                        .swiper-slide {
                            width: 130px;
                            height: 130px;

                            &.active {
                                .daily-report-item {
                                    border: 4px solid #0096C8 !important;

                                    .slide-title {
                                        margin-top: -4px;
                                    }
                                }

                                .safety-message {
                                    border: 4px solid #00aff0 !important;

                                    .slide-title {
                                        margin-top: -4px;
                                    }
                                }
                            }

                            &.long-slide {
                                width: 420px !important;
                                text-align: left;

                                .daily-report-item {
                                    width: 420px !important;
                                }

                                .slide-title {
                                    display: inline-block;
                                    margin-left: 10px;
                                    margin-top: 45px;
                                    font-size: 20px !important;
                                    font-weight: normal !important;
                                }

                                .circle {
                                    float: left;
                                    display: inline-block;
                                    margin-top: 40px !important;
                                    margin-left: 40px !important;
                                }
                            }

                            .daily-report-item {
                                background-color: #464646;
                                border-radius: 5px;
                                width: 130px;
                                height: 130px;

                                a {
                                    width: 100%;
                                    height: 100%;
                                    text-decoration: none;
                                    display: block;
                                }

                                .slide-title {
                                    text-align: center;
                                    padding-top: 7px;
                                    font-size: 12px;
                                    font-weight: bold;
                                    color: #fff;
                                }

                                .circle {
                                    width: 50px;
                                    height: 50px;
                                    margin: 9px auto;
                                    border-radius: 50%;
                                }

                                .circle-blue {
                                    background-image: data-uri("@{main-url-img}/daily-report-blue.svg");
                                }

                                .circle-grey {
                                    background-image: data-uri("@{main-url-img}/daily-report-grey.svg");
                                }

                                .circle-double {
                                    background-image: data-uri("@{main-url-img}/daily-report-double-blue.svg");
                                }

                                .cursor-pointer {
                                    cursor: pointer;
                                }

                                .daily-report-user {
                                    color: #fff;
                                    font-size: 12px;
                                    font-weight: bold;
                                    padding-top: 14px;
                                    overflow: hidden;
                                    word-wrap: normal;
                                    max-width: 130px;
                                    min-width: initial;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    padding-left: 10px;
                                    padding-right: 10px;
                                }
                            }

                            .safety-message {
                                width: 130px;
                                height: 130px;
                                background-color: #F29105;
                                border-radius: 5px;

                                img {
                                    width: 85px;
                                    height: 85px;
                                }

                                .slide-title {
                                    text-align: center;
                                    padding-top: 7px;
                                    font-size: 12px;
                                    font-weight: bold;
                                    color: #fff;
                                }

                                .message-counter {
                                    background-image: data-uri("@{main-url-img}/bgd.svg");
                                    width: 85px;
                                    height: 85px;
                                    margin: 9px auto;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    font-size: 37px;
                                    color: #ffffff;
                                    padding-top: 15px;
                                }
                            }
                        }
                    }
                }

                .daily-report-swiper-next {
                    position: absolute;
                    top: 65px;
                    right: 20px;
                    width: 13px;
                    height: 13px;
                    background-image: data-uri("@{main-url-img}/arrow_right1.svg");
                    background-repeat: no-repeat;
                    cursor: pointer;
                    z-index: 300;
                }

                .daily-report-swiper-prev {
                    position: absolute;
                    top: 65px;
                    left: 22px;
                    width: 13px;
                    height: 13px;
                    background-image: data-uri("@{main-url-img}/arrow_left1.svg");
                    background-repeat: no-repeat;
                    cursor: pointer;
                    z-index: 300;
                }

                .swiper-button-disabled {
                    opacity: 0.75;
                    cursor: default;
                }
            }

            .daily-container {
                position: absolute;
                top: 10px;
                right: 0px;
                width: 195px;
                height: 150px;
                background-color: #B4B4B4;
                margin-top: -10px;
                border-bottom-right-radius: 6px;

                .daily-item {
                    background-color: #fff;
                    width: 130px;
                    height: 130px;
                    border-radius: 6px;
                    margin: 0px auto;
                    margin-top: 10px;
                    text-align: center;

                    .block-from {
                        color: #464646;
                        font-size: 12px;
                        font-weight: bold;
                        padding-top: 7px;
                    }

                    .block-to {
                        color: #464646;
                        font-size: 12px;
                        font-weight: bold;
                    }

                    .icon-block {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: #B4B4B4;
                        margin: 15px auto;
                        cursor: pointer;
                        font-size: 40px;
                        font-weight: bold;
                        color: #fff;
                        line-height: 1.3;

                        &.active {
                            background-color: #F29105;
                        }
                    }
                }
            }
        }
    }
}
