﻿@model int

<div class="notification-container" msg-count="@Model">
    <div class="notification notification-inactive">
        <span class="counter-block">
            <span class="count"></span>
        </span>
    </div>
</div>