﻿@model IPagedList<NotificationMessageItemViewModel>

@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}

@Html.Hidden("pageSize", Model)

<div class="notification-page" Id="gridcontainer">
    <div class="page-content">
        @if (Model != null && Model.Any())
        {
            <div class="notification-message-table">
                <table class="table">
                    <thead>
                        <tr class="table-header">
                            <td class="col-md-10 message-col">
                                Notifications (@Model.TotalItemCount)
                            </td>
                            <td class="col col-xs-1 date-time-col">
                                Date
                            </td>
                            <td class="col col-xs-1 date-time-col">
                                Time
                            </td>
                        </tr>
                    </thead>
                    <tbody class="table-content">
                        <tr class="spacer-row"></tr>
                        @foreach (var notification in Model)
                        {
                            <tr class="message-row @(notification.IsOpened ? "" : "unread") @notification.TypeClass" notification-Id="@notification.Id" relation-Id="@notification.RelationId" shift-id="@notification.ShiftId" swing-id="@notification.SwingId">
                                <td class="col-xs-10 message-col">
                                    <div class="row no-padding no-margin">
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding notification-icon"><img src="@notification.UrlImage" /></div>
                                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 no-padding notification-message">@notification.Message</div>
                                    </div>
                                </td>
                                <td class="col col-xs-1 no-padding text-center date-td">
                                    <div class="notification-date">@notification.Timestapm.ToString("dd MMM yyyy")</div>
                                </td>
                                <td class="col col-xs-1 no-padding text-center time-td">
                                    <div class="notification-time">@notification.Timestapm.ToString("HH:mm")</div>
                                </td>
                            </tr>
                        }
                        <tr class="spacer-row"></tr>
                    </tbody>
                </table>
            </div>
            <div class="footer-block">
                <div class="view-block">
                    <div class="eyes"></div>
                    <div class="count-block">
                        <a href="@Url.Action("Index", "Notification", new { pageSize = 10 })"><div class="counter @(Model.PageSize == 10 ? "active" : "" )">10</div></a>
                        <a href="@Url.Action("Index", "Notification", new { pageSize = 50 })"><div class="counter @(Model.PageSize == 50 ? "active" : "" )">50</div></a>
                        <a href="@Url.Action("Index", "Notification", new { pageSize = 100 })"><div class="counter @(Model.PageSize == 100 ? "active" : "" )">100</div></a>
                        <a href="@Url.Action("Index", "Notification", new { pageSize = (Model.TotalItemCount != 0 ?  Model.TotalItemCount : 10) })"><div class="counter @(Model.PageSize == Model.TotalItemCount && Model.TotalItemCount != 10 && Model.TotalItemCount != 50 && Model.TotalItemCount != 100 ? "active" : "" )">All</div></a>
                    </div>
                </div>
                <div class="pagination-block">
                    <div class="pagination-pages">
                        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
                        .DisplayTemplate("BootstrapPagination")
                        .MaxNrOfPages(1)
                        .DisplayFirstAndLastPage())
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-default text-center">
                <div class="panel-body">
                    <strong>You have no notifications.</strong>
                </div>
            </div>
        }
    </div>
</div>

@Scripts.Render("~/bundles/scripts/shared/notification-page")