﻿<div Id="notificationPopover" class="popover-content" data-placement="bottom-right">
    <div class="notification-content">
        <div class="messege-content">
            @Html.Action("GetNotificationMessageForPopover", "Notification")
        </div>

        <a href="@Url.Action("Index", "Notification")">
            <div class="see-all">
                See all
            </div>
        </a>
    </div>
</div>