﻿.report-preview-dialog {
    .modal-dialog {
        .modal-content {
            .modal-body {
                padding: 20px 0 0 0 !important;

                .report-preview-template {
                    padding: 20px 40px;
                    background-color: #fff;
                    min-height: 840px;

                    span, p {
                        font-family: 'Proxima-Nova-Regular';
                        color: @main-brown;
                    }

                    .logo {
                        width: 150px;
                        height: 99px;
                        /*background-image: data-uri("@{main-url-img}/CompanyLogoBox.svg");*/
                    }

                    .report-title {
                        display: block;
                        font-size: 25px;
                        line-height: 20px;
                        letter-spacing: 1px;
                        text-align: center;
                        color: @main-brown;
                    }

                    .report-date {
                        display: block;
                        border-top: 1px solid @main-brown;
                        border-bottom: 1px solid @main-brown;
                        color: @main-brown;
                        line-height: 32px;
                        padding: 10px 0;
                        text-align: center;
                        width: 255px!important;
                    }

                    .report-type {
                        display: block;
                        line-height: 10px;
                        text-align: center;
                        font-size: 15px;
                        letter-spacing: 1px;
                        color: @main-brown;
                    }

                    .source-block {
                        text-align: center;
                        line-height: 45px;
                        border-top: 2px solid @horizontal-line-grey;
                        border-bottom: 2px solid @horizontal-line-grey;
                    }

                    .source {
                        font-size: 12px;
                        text-transform: uppercase;
                        color: @main-brown;
                    }

                    .name {
                        font-size: 17px;
                        letter-spacing: -0.5px;
                        color: @main-brown;
                    }

                    .vertical-line {
                        border-right: 1px solid @main-brown;
                        height: 10px;
                    }

                    .module-block {
                        border-bottom: 2px solid @module-block-underline;
                        padding-bottom: 3px;

                        &:after {
                            content: '';
                            display: block;
                            border-bottom: 2px solid @module-block-underline;
                        }
                    }

                    .module-title {
                        text-align: center;
                        font-size: 20px;
                        margin: 45px 0 20px 0;
                        width: 100%;
                        display: block;
                    }

                    .message-title {
                        font-size: 14px;
                        color: @main-brown;
                        line-height: 45px;
                        letter-spacing: -0.3px;
                    }

                    .null-report {
                        margin-top: 10px;
                        display: inline-block;
                    }


                    .task-priority {
                        font-size: 12px;
                    }


                    .topic-block {
                        border-bottom: 2px solid @inderline-row;
                        word-wrap: break-word;
                    }
                    /*.topic-block:last-child {
                        border-bottom: none;
                    }*/
                    .task-block {
                        page-break-inside: avoid !important;
                        display: block;

                        .col-xs-3 {
                            .icon {
                                margin-top: 10px;
                            }
                        }
                    }

                    .message-title-block {
                        display: inline-block;
                    }

                    .task-column {
                        text-decoration: underline;
                        display: block;
                        text-align: center;
                        padding-top: 18px;
                    }
                }

                .report-preview-template-footer {
                    background-color: #fff;

                    .report-preview-footer {
                        height: 80px;
                    }

                    .main-logo {
                        width: 100px;
                        height: 50px;
                        background-image: url("@{main-url-img}/PreviewRelayLogo.svg");
                    }
                }

                .icon {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                .pin-enable-icon {
                    background-image: url("@{main-url-img}/PreviewWhitePinIcon.svg");
                }

                .pin-disable-icon {
                    background-image: url("@{main-url-img}/PreviewBluePinIcon.svg");
                }

                .hand-back-icon {
                    background-image: url("@{main-url-img}/PreviewHandbackIcon.svg");
                }

                .attachments-icon {
                    background-image: url("@{main-url-img}/PreviewAttachmentsIcon.svg");
                }

                .voice-message-icon {
                    background-image: url("@{main-url-img}/PreviewVoiceMessagesIcon.svg");
                }

                .task-icon {
                    background-image: url("@{main-url-img}/PreviewTaskIcon.svg");
                }

                .n-report-icon {
                    background-image: url("@{main-url-img}/PreviewNoReportIcon.svg");
                    margin-top: 10px;
                }

                .topic-type-icon {
                    width: 50px;
                    background-image: url("@{main-url-img}/PreviewDraftButton.svg");
                }
            }
        }
    }
}
