.voice-messages-dialog {
    width: ~'calc(100% - 40px)';
    position: relative;

    .list-container {
        // overflow-x: scroll;
        // overflow-y: hidden;
        overflow: hidden;

        .horizontal-title-container {
            display: flex;

            .title-select {
                border-bottom: 1px solid @inactive-name-of-tabs;
                background-color: @main-brown;
                z-index: 2;
            }

            .name-block {
                // width: 290px;
                min-width: 290px;
            }

            .simple-column {
                width: 80px;
                min-width: 80px;
                border-bottom: 1px solid @inactive-name-of-tabs;
            }

            .singl-button {
                width: 30px;
                min-width: 30px;
                border-bottom: 1px solid @inactive-name-of-tabs;
            }
        }

        .voice-messages-content {
            .swiper-container {
                height: 200px;
                overflow: visible;
            }

            .name-block {
                padding-top: 10px;
                // width: 290px;
                min-width: 290px;
                border-bottom: 1px solid @inactive-name-of-tabs;
            }

            .simple-column {
                padding-top: 10px;
                width: 80px;
                min-width: 80px;
                border-bottom: 1px solid @inactive-name-of-tabs;
            }

            .singl-button {
                min-width: 30px;
                border-bottom: 1px solid @inactive-name-of-tabs;
            }

            .swiper-slide {
                font-size: 12px;
                color: @simple-white;
                display: flex;
                height: auto !important;
            }

            .circle {
                display: inline-block;
                width: 10px;
                height: 10px;
                background-color: @simple-white;
                border-radius: 50%;
            }
        }
    }

    .swiper-prev {
        z-index: 1;
        position: absolute;
        width: 16px;
        height: 10px;
        top: 0;
        right: -30px;
        background-image: data-uri("@{main-url-img}/arrow_top.svg");
        cursor: pointer;
    }

    .swiper-next {
        z-index: 1;
        position: absolute;
        width: 16px;
        height: 10px;
        bottom: 0;
        right: -30px;
        background-image: data-uri("@{main-url-img}/arrow_down.svg");
        cursor: pointer;
    }

    .btn-close {
        margin: 5px auto;
        float: none;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }

    .player-container {
        width: 100%;
        height: 50px;
        border-top: 1px solid @inactive-name-of-tabs;
        border-bottom: 1px solid @inactive-name-of-tabs;
    }

    .voices-list-container {
    }

    .add-new-voice-message {
        .btn-plus-white {
            margin-top: 3px;
            width: 25px;
            height: 25px;
            background: none;
            border: none;
            cursor: pointer;

            &:hover {
                opacity: 0.75;
            }

            .span {
                width: 100%;
                height: 100%;
                display: block;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 10px;
                background-image: data-uri("@{main-url-img}/plus_white.svg");
            }
        }
    }
}
