﻿@model IPagedList<SharedTopicGlobalReportItemViewModel>
@{
    Layout = "~/Views/Reports/GlobalReports/_Layout.cshtml";
}
<div class="page-content">
  <div class="global-report-table">
    <table class="table">
      <thead>
          <tr class="table-header">
              <td class="date-title" style="width: 150px;">Date</td>
              <td class="topic-owner-title">Owner</td>
              <td class="topic-name-title">Topic</td>
              <td class="topic-reference-title">Reference</td>
              <td class="topic-notes-title">Notes</td>
              @*<td class="tasks-title"># Tasks</td>*@
              <td class="attachments-title" style="width:200px;"># Comments</td>
              <td class="attachments-title" style="width:130px;"># Attachments</td>
              @*<td class="action-icon-title"></td>*@
          </tr>
      </thead>
      <tbody class="table-content">
        <tr class="spacer-row"></tr>
        @if (Model.Any())
        {
          foreach (var item in Model)
          {
        <tr class="report-row">
            <td class="date-body">@item.DateString</td>
            <td class="handover-recipient-body">
                <img src="@Url.Action("GetAvatarForEmployee", "Media", new { employeeId = item.OwnerId })" />
                <div class="user-name">@item.Owner</div>
            </td>
            <td class="reference-body" Id="@item.Id" style="cursor: pointer">
                @item.Reference
            </td>
            <td class="received-from-body">
                @item.Name
            </td>
            <td class="rotation-type-body">
                @item.Notes
            </td>
            @*<td class="tasks-body">
          <div class="circle">
            <div class="count" topicid="@item.Id" style="cursor: pointer">@item.TaskCounter</div>
          </div>
        </td>*@
            <td class="manager-body" topicid="@item.Id" style="text-decoration: none;">
                <div class="circle">
                    <div class="count" topicid="@item.Id" style="cursor: pointer">@item.ManagerCommentsCounter</div>
                </div>
            </td>
            <td class="items-body" style="padding-right: 0px;text-decoration: none;">
                <div class="circle">
                    <div class="count" topicid="@item.Id" style="cursor: pointer">@item.AttachmentsCounter</div>
                </div>
            </td>
            @*<td class="action-icon-body">
          <a class="go-to-report" href="@Url.Action("DraftForShare", "ReportBuilder", new { reportId = item.SourceId, reportType = item.RotationType })"></a>
          <div class="pdf-report" source-Id="@item.SourceId" source-type="@item.RotationType"></div>
          <div class="qme-pdf-report" source-Id="@item.SourceId" source-type="@item.RotationType"></div>
        </td>*@
        </tr>
          }
        }
        else
        {
        <tr class="report-row">
          <td colspan="7" class="text-center">
            <strong>No topics to display.</strong>
          </td>
        </tr>
        }
        <tr class="spacer-row"></tr>
      </tbody>
    </table>
  </div>
  @if (Model.TotalItemCount > 5)
  {
  <div class="footer-block">
    <div class="view-block">
      <div class="eyes"></div>
      <div class="count-block">
        <a href="@Url.Action("SharedTopics", "GlobalReports", new {pageSize = 5})">
          <div class="counter @(Model.PageSize == 5 ? "active" : "" )">5</div>
        </a>
        <a href="@Url.Action("SharedTopics", "GlobalReports", new {pageSize = 10})">
          <div class="counter @(Model.PageSize == 10 ? "active" : "" )">10</div>
        </a>
        <a href="@Url.Action("SharedTopics", "GlobalReports", new {pageSize = 15})">
          <div class="counter @(Model.PageSize == 15 ? "active" : "" )">15</div>
        </a>
        <a href="@Url.Action("SharedTopics", "GlobalReports", new {pageSize = (Model.TotalItemCount != 0 ? Model.TotalItemCount : 5)})">
          <div class="counter @(Model.PageSize == Model.TotalItemCount && Model.TotalItemCount != 5 && Model.TotalItemCount != 10 && Model.TotalItemCount != 15 ? "active" : "" )">All</div>
        </a>
      </div>
    </div>
    <div class="pagination-block">
      <div class="pagination-pages">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
            .DisplayTemplate("BootstrapPagination")
            .MaxNrOfPages(1)
            .DisplayFirstAndLastPage())
      </div>
    </div>
  </div>
  }
  <script>
      $(function ()
      {

        $('a').on('change', function () {
            $('#loading-animation').show();
        });
        $('a').on('click', function () {
            $('#loading-animation').show();
        });

        $(".reference-body").click(viewTopicInfo);
        $(".items-body .circle .count").click(viewTopicAttaschments);
        $(".tasks-body .circle .count").click(viewTopicTasks);
        $(".manager-body").click(viewTopicManagerComments);

          function viewTopicInfo(e) {
              var formDialog = Relay.FormDialog({
                  url: "/Topic/TopicDetailsDialog?topicId=" + e.currentTarget.id,
                  method: "GET",
                  dialogId: "topicDetailsDialog"
              });
              formDialog.setSubmitEvent(function () {
                  location.reload();
              });
              formDialog.open();
          }

          function viewTopicAttaschments(e) {
              var id = $(this).attr('topicid');
              var attachmentsDialog = Relay.AttachmentsDialog(id, 2, 1);
              attachmentsDialog.setCloseEvent(function () {
              });
              attachmentsDialog.open();
          }


          function viewTopicTasks(e) {
              var id = $(this).attr('topicid');
              var tasksDialog = Relay.TasksListDialog(3, id);
              tasksDialog.setCloseEvent(function () {
              });
              tasksDialog.open();
          }

          function viewTopicManagerComments(e) {
              var id = $(this).attr('topicid');
              var managerCommentsDialog = Relay.ManagerCommentsDialog(id, 2, 1);
              managerCommentsDialog.setCloseEvent(function () {
              });
              managerCommentsDialog.open();
          }

      });
  </script>
</div>