﻿@model MomentumPlus.Relay.Models.SearchViewModel

@{
    ViewBag.Title = "DoSearch";
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}

<h2>DoSearch</h2>

<div>
    <h4>SearchViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SearchQuery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SearchQuery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncludeTopics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncludeTopics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncludeTopicAttachments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncludeTopicAttachments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncludeTopicVoiceMessages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncludeTopicVoiceMessages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncludeTasks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncludeTasks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncludeTaskAttachments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncludeTaskAttachments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncludeTaskVoiceMessages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncludeTaskVoiceMessages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoFiltersApplied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoFiltersApplied)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* Id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
