.multi-tenancy-white {
    .newUserBtn {
        background-image: data-uri("@{main-url-img}/NewUser1.png");
        width: 100px !important;
        height: 35px !important;
        background-repeat: no-repeat;
        float: right;
        cursor: pointer;
        /*margin-bottom: 10px;*/
        margin-top: 10px;
    }

    .my-team {
        margin-top: 50px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        .panels-block {
            margin-top: 0px;
            margin-bottom: -30px;

            .panels {
                padding: 0;
                background-color: @simple-white;
                position: relative;
                margin-bottom: 30px !important;
                height: 160px;
                border-radius: 6px;
                display: block;
                border: solid 1px #b4b4b4;

                &:hover, &:focus {
                    .user-data {
                        .user-container {
                            .handover-icon {
                                .edit-user {
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }

                @media screen and (max-width: 1200px) {
                    .user-photo {
                        padding-left: 15px !important;
                        padding-top: 15px !important;

                        .user-photo-img {
                            height: 60px !important;
                            width: 60px !important;

                            .team-icon {
                                cursor: pointer;

                                .contributes-icon {

                                    img {
                                        background-image: data-uri("@{main-url-img}/Team.svg");
                                        width: 25px !important;
                                        height: 25px !important;
                                        background-repeat: no-repeat;
                                        position: absolute;
                                        top: 20px !important;
                                        left: 65px !important;
                                    }
                                }
                            }

                            img {
                                height: 52px !important;
                                width: 52px !important;
                            }
                        }
                    }
                }

                @media screen and (max-width: 1024px) {
                    .user-photo {
                        padding-left: 15px !important;
                        padding-top: 15px !important;


                        .user-photo-img {
                            height: 60px !important;
                            width: 60px !important;

                            .team-icon {
                                cursor: pointer;

                                .contributes-icon {

                                    img {
                                        background-image: data-uri("@{main-url-img}/Team.svg");
                                        width: 25px !important;
                                        height: 25px !important;
                                        background-repeat: no-repeat;
                                        position: absolute;
                                        top: 20px !important;
                                        left: 65px !important;
                                    }
                                }
                            }

                            img {
                                height: 52px !important;
                                width: 52px !important;
                            }
                        }
                    }
                }

                @media screen and (max-width: 800px) {
                    .user-photo {
                        padding-left: 15px !important;
                        padding-top: 15px !important;

                        .user-photo-img {
                            height: 60px !important;
                            width: 60px !important;

                            .team-icon {
                                cursor: pointer;

                                .contributes-icon {

                                    img {
                                        background-image: data-uri("@{main-url-img}/Team.svg");
                                        width: 25px !important;
                                        height: 25px !important;
                                        background-repeat: no-repeat;
                                        position: absolute;
                                        top: 20px !important;
                                        left: 65px !important;
                                    }
                                }
                            }

                            img {
                                height: 52px !important;
                                width: 52px !important;
                            }
                        }
                    }
                }

                @media screen and (max-width: 1280px) and (max-height: 800px) {
                    .user-photo {
                        padding-left: 15px !important;
                        padding-top: 15px !important;

                        .user-photo-img {
                            height: 60px !important;
                            width: 60px !important;

                            .team-icon {
                                cursor: pointer;

                                .contributes-icon {

                                    img {
                                        background-image: data-uri("@{main-url-img}/Team.svg");
                                        width: 25px !important;
                                        height: 25px !important;
                                        background-repeat: no-repeat;
                                        position: absolute;
                                        top: 20px !important;
                                        left: 65px !important;
                                    }
                                }
                            }

                            img {
                                height: 52px !important;
                                width: 52px !important;
                            }
                        }
                    }
                }

                @media screen and (orientation: portrait) and (max-width: 768px) {
                    .user-photo {
                        padding-left: 15px !important;
                        padding-top: 15px !important;

                        .user-photo-img {
                            height: 60px !important;
                            width: 60px !important;

                            .team-icon {
                                cursor: pointer;

                                .contributes-icon {

                                    img {
                                        background-image: data-uri("@{main-url-img}/Team.svg");
                                        width: 25px !important;
                                        height: 25px !important;
                                        background-repeat: no-repeat;
                                        position: absolute;
                                        top: 20px !important;
                                        left: 65px !important;
                                    }
                                }
                            }

                            img {
                                height: 52px !important;
                                width: 52px !important;
                            }
                        }
                    }
                }

                @media screen and (max-width: 480px) {
                    .user-photo {
                        padding-left: 15px !important;
                        padding-top: 15px !important;

                        .user-photo-img {
                            height: 60px !important;
                            width: 60px !important;

                            .team-icon {
                                cursor: pointer;

                                .contributes-icon {

                                    img {
                                        background-image: data-uri("@{main-url-img}/Team.svg");
                                        width: 25px !important;
                                        height: 25px !important;
                                        background-repeat: no-repeat;
                                        position: absolute;
                                        top: 20px !important;
                                        left: 65px !important;
                                    }
                                }
                            }

                            img {
                                height: 52px !important;
                                width: 52px !important;
                            }
                        }
                    }
                }

                @media screen and (orientation: portrait) and (max-width: 414px) {
                    .user-photo {
                        padding-left: 15px !important;
                        padding-top: 15px !important;

                        .user-photo-img {
                            height: 60px !important;
                            width: 60px !important;


                            .team-icon {
                                cursor: pointer;

                                .contributes-icon {

                                    img {
                                        background-image: data-uri("@{main-url-img}/Team.svg");
                                        width: 25px !important;
                                        height: 25px !important;
                                        background-repeat: no-repeat;
                                        position: absolute;
                                        top: 20px !important;
                                        left: 65px !important;
                                    }
                                }
                            }

                            img {
                                height: 52px !important;
                                width: 52px !important;
                            }
                        }
                    }
                }

                @media screen and (max-width: 375px) {
                    .user-photo {
                        padding-left: 15px !important;
                        padding-top: 15px !important;

                        .user-photo-img {
                            height: 60px !important;
                            width: 60px !important;

                            .team-icon {
                                cursor: pointer;

                                .contributes-icon {

                                    img {
                                        background-image: data-uri("@{main-url-img}/Team.svg");
                                        width: 25px !important;
                                        height: 25px !important;
                                        background-repeat: no-repeat;
                                        position: absolute;
                                        top: 20px !important;
                                        left: 65px !important;
                                    }
                                }
                            }


                            img {
                                height: 52px !important;
                                width: 52px !important;
                            }
                        }
                    }
                }

                @media screen and (max-width: 360px) {
                    .user-photo {
                        padding-left: 15px !important;
                        padding-top: 15px !important;

                        .user-photo-img {
                            height: 60px !important;
                            width: 60px !important;

                            .team-icon {
                                cursor: pointer;

                                .contributes-icon {

                                    img {
                                        background-image: data-uri("@{main-url-img}/Team.svg");
                                        width: 25px !important;
                                        height: 25px !important;
                                        background-repeat: no-repeat;
                                        position: absolute;
                                        top: 20px !important;
                                        left: 65px !important;
                                    }
                                }
                            }

                            img {
                                height: 52px !important;
                                width: 52px !important;
                            }
                        }
                    }
                }

                @media screen and (max-width: 320px) {
                    .user-photo {
                        padding-left: 15px !important;
                        padding-top: 15px !important;

                        .user-photo-img {
                            height: 60px !important;
                            width: 60px !important;

                            .team-icon {
                                cursor: pointer;

                                .contributes-icon {

                                    img {
                                        background-image: data-uri("@{main-url-img}/Team.svg");
                                        width: 25px !important;
                                        height: 25px !important;
                                        background-repeat: no-repeat;
                                        position: absolute;
                                        top: 20px !important;
                                        left: 65px !important;
                                    }
                                }
                            }

                            img {
                                height: 52px !important;
                                width: 52px !important;
                            }
                        }
                    }
                }

                .user-photo {
                    display: inline-block;
                    padding-left: 22px !important;
                    padding-top: 22px !important;

                    .user-photo-img {

                        .team-icon {
                            cursor: pointer;

                            .contributes-icon {

                                img {
                                    background-image: data-uri("@{main-url-img}/Team.svg");
                                    height: 35px;
                                    width: 35px;
                                    background-repeat: no-repeat;
                                    position: absolute;
                                    top: 25px;
                                    left: 105px;
                                }
                            }
                        }

                        img {
                            border-radius: 50%;
                            height: 108px;
                            width: 108px;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            -khtml-border-radius: 50%;
                        }

                        border-radius: 50%;
                        border: 4px solid #00aff0;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -khtml-border-radius: 50%;
                        height: 116px;
                        width: 116px;
                    }
                }

                .user-data {
                    display: inline-block;

                    .user-status {
                        width: 67px;
                        color: #fff;
                        text-align: center;
                        float: right;
                        border-top-right-radius: 6px;
                        font-size: 14px;
                        font-weight: normal;

                        &.inactive {
                            background-color: #BE005A;
                        }
                    }

                    .user-contact {
                        padding-left: 20px;

                        .user-block {
                            padding-right: 5px;
                            max-width: 150px;
                            min-width: initial;
                            overflow: hidden;
                            word-wrap: normal;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            display: inline-block;
                        }

                        .user-name, strong {
                            font-size: 14px;
                            font-weight: bold;
                            letter-spacing: -0.02em;
                            color: #464646;
                            text-decoration: none;
                        }

                        .user-email, .user-position {
                            a {
                                font-size: 14px;
                                letter-spacing: -0.02em;
                                color: #464646;
                                text-decoration: none;
                            }

                            padding-right: 5px;
                            max-width: 190px;
                            min-width: initial;
                            overflow: hidden;
                            word-wrap: normal;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            font-size: 14px;
                            letter-spacing: -0.02em;
                            color: #464646;
                        }

                        .circle {
                            display: inline-block;
                            width: 13px;
                            height: 13px;
                            border-radius: 50%;
                            margin-bottom: 5px;
                        }

                        .pink {
                            background-color: @danger-color;
                        }

                        .green {
                            background-color: @success-color;
                        }

                        .grey {
                            background-color: grey;
                        }
                    }

                    .user-container {
                        padding-left: 20px;

                        .handover {
                            font-size: 10px;
                            font-weight: bold;
                            margin-top: 10px;
                            cursor: default;
                        }

                        .handover-icon {
                            margin-top: 8px;
                            margin-left: 5px;
                            cursor: pointer;

                            &.disable {
                                pointer-events: none;
                            }

                            img {
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                                cursor: pointer;
                                background-repeat: no-repeat;
                            }

                            .edit-user {
                                background-image: data-uri("@{main-url-img}/pencil_dark.svg");
                                width: 16px;
                                height: 16px;
                                background-repeat: no-repeat;
                                display: none;
                                position: relative;
                                top: 5px;
                                left: 5px;
                            }
                        }

                        .view-team-btn {
                            width: 90px;
                            height: 20px;
                            background-color: #464646;
                            border-radius: 10px;
                            color: white;
                            font-family: 'Proxima-Nova-Regular';
                            font-size: 10px;
                            text-align: center;
                            padding-top: 2px;
                            margin-top: 47px;
                        }
                    }
                }
            }
        }

        .footer-block {
            background-color: #fff;
            height: 30px;
            margin-top: 30px;
            border: solid 1px #b4b4b4;
            border-radius: 4px;

            .view-block {
                display: inline-block;

                .eyes {
                    display: inline-block;
                    background-image: data-uri("@{notification-img-url}/ViewEye_Icon.svg");
                    width: 20px;
                    height: 20px;
                    margin-left: 20px;
                    margin-bottom: 5px;
                    margin-top: 5px;
                }

                .count-block {
                    display: inline-block;
                    vertical-align: middle;
                    text-align: center;
                    padding-left: 20px;
                    padding-bottom: 20px;

                    a {
                        padding-right: 20px;
                    }

                    .counter {
                        font-size: 12px;
                        font-weight: bold;
                        display: inline-block;
                        color: #464646;
                        line-height: 1;

                        &.active {
                            font-weight: bold;
                            border-bottom: 2px solid #464646;
                        }
                    }
                }
            }

            .pagination-block {
                display: inline-block;
                float: right;
                margin-top: 5px;
                width: 150px;
                text-align: center;

                .pagination-pages {
                    display: inline;
                    position: relative;

                    .page {
                        color: @main-brown;
                    }

                    .first-page {
                        position: absolute;
                        top: 4px;
                        left: -55px;
                        width: 9px;
                        height: 8px;
                        padding: 0;
                        border: none;
                        background: none;
                        background-repeat: no-repeat;
                        background-image: data-uri("@{main-url-img}/arrow_left2.svg");

                        &:hover {
                            opacity: 0.7;
                        }
                    }

                    .prev-page {
                        position: absolute;
                        top: 4px;
                        left: -30px;
                        width: 5px;
                        height: 8px;
                        padding: 0;
                        border: none;
                        background: none;
                        background-repeat: no-repeat;
                        background-image: data-uri("@{main-url-img}/arrow_left1.svg");

                        &:hover {
                            opacity: 0.7;
                        }
                    }

                    .next-page {
                        position: absolute;
                        top: 4px;
                        right: -30px;
                        width: 5px;
                        height: 8px;
                        padding: 0;
                        border: none;
                        background: none;
                        background-repeat: no-repeat;
                        background-image: data-uri("@{main-url-img}/arrow_right1.svg");

                        &:hover {
                            opacity: 0.7;
                        }
                    }

                    .last-page {
                        position: absolute;
                        top: 4px;
                        right: -55px;
                        width: 9px;
                        height: 8px;
                        padding: 0;
                        border: none;
                        background: none;
                        background-repeat: no-repeat;
                        background-image: data-uri("@{main-url-img}/arrow_right2.svg");

                        &:hover {
                            opacity: 0.7;
                        }
                    }

                    .inactive {
                        opacity: 0.7;
                        cursor: default;
                    }
                }
            }
        }
    }
}
