﻿@model TopicReportPdfViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8" />
    <title>RelayWorks Report</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Styles.Render("~/bundles/styles/layouts/auth-main")
    <link href="~/Content/styles/main.css" rel="stylesheet" />
</head>
<body class="portrait">
    <div class="topic-pdf">

        @if (Model.typeFilter == TypeFilter.Topics || Model.typeFilter == 0)
        {
            <table class="table-head">
                <tbody>
                    <tr>
                        <td class="title-td">
                            <div class="report-title">
                                Topic Search
                            </div>
                            <div class="report-date">
                                @Model.ReportDate
                            </div>
                        </td>
                        <td class="criteria-td">
                            <div class="criteria-title">
                                Search Criteria
                            </div>
                            <div class="topic-criteria">
                                <div class="title">
                                    Topics in Search:
                                </div>
                                <div class="topic-list">
                                    @Model.TopicsInSearch
                                </div>
                            </div>
                        </td>
                        <td class="logo-td">
                            <div class="company-logo">
                                @if (!Model.CompanyLogoImageId.HasValue)
                                {
                                    <img class="logo" src="~/Content/img/svg/CompanyLogoBox.svg" />
                                }
                                else
                                {
                                    <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.FileLogo.BinaryData))" class="logo" />
                                }
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table-body">
                <thead>
                    <tr>
                        <td class="date"  style="width:120px !important;">Date</td>
                        <td class="creator">Creator</td>
                        <td class="topic">Topic</td>
                        <td class="reference">Reference</td>
                        <td class="notes">Notes</td>
                        <td class="tags"></td>
                        <td class="tags"></td>
                        <td class="attachments"># Comments</td>
                        <td class="attachments"># Attachments</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Topics != null)
                    {
                        foreach (var topic in Model.Topics)
                        {
                    <tr>
                        <td>
                            <div class="date bold" style="width:120px !important;">
                                @topic.CreatedDate
                            </div>
                        </td>
                        <td class="create-name">@topic.CreatorName</td>
                        <td class="name">@topic.Name</td>
                        <td class="reference">@topic.Reference</td>
                        <td class="notes">
                            @if (topic.Notes != null)
                            {
                                @topic.Notes
                            }
                            else
                            {
                                @: -
                            }
                        </td>
                        <td class="tags-body-first">
                            @if (topic.FirstTagTopic != null)
                            {
                                <p class="clip tooltipster" alt="@topic.FirstTagTopic" title="@topic.FirstTagTopic">@topic.FirstTagTopic</p>
                            }
                        </td>

                        <td class="tags-body-more">
                            @if (topic.MoreTags)
                            {
                                <div class="btn btn-circle more-btn-tags">
                                    <span class="glyphicon span"></span>
                                </div>
                            }
                        </td>
                        <td class="items-body">
                            <div class="circle">
                                <div class="count" topicid="@topic.Id" style="cursor: pointer">@topic.ManagerCommentsCounter</div>
                            </div>
                        </td>
                        <td class="items-body">
                            <div class="circle">
                                <div class="count" topicid="@topic.Id" style="cursor: pointer">@topic.AttachmentsCounter</div>
                            </div>
                        </td>
                    </tr>
                        }
                        if (Model.Topics == null || !Model.Topics.Any())
                        {
                            <tr>
                                <td colspan="9" class="text-center">
                                    <strong>No items to display.</strong>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        @if (Model.typeFilter == TypeFilter.Metrics)
        {
            <table class="table-head">
                <tbody>
                    <tr>
                        <td class="title-td">
                            <div class="report-title">
                                Topic Search
                            </div>
                            <div class="report-date">
                                @Model.ReportDate
                            </div>
                        </td>
                        <td class="criteria-td">
                            <div class="criteria-title">
                                Search Criteria
                            </div>
                            <div class="topic-criteria">
                                <div class="title">
                                    Topics in Search:
                                </div>
                                <div class="topic-list">
                                    @Model.TopicsInSearch
                                </div>
                            </div>
                        </td>
                        <td class="logo-td">
                            <div class="company-logo">
                                @if (!Model.CompanyLogoImageId.HasValue)
                                {
                                    <img class="logo" src="~/Content/img/svg/CompanyLogoBox.svg" />
                                }
                                else
                                {
                                    <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.FileLogo.BinaryData))" class="logo" />
                                }
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table-body">
                <thead>
                    <tr>
                        <td class="date"  style="width:120px !important;">Date</td>
                        <td class="creator">Creator</td>
                        <td class="topic">Topic</td>
                        <td class="reference">Reference</td>
                        <td class="notes">Notes</td>
                        <td class="tags"></td>
                        <td class="tags"></td>
                        <td class="reference">Plan</td>
                        <td class="reference">Actual</td>
                        <td class="reference">Variance</td>
                        <td class="attachments"># Comments</td>
                        <td class="attachments"># Attachments</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Topics != null)
                    {
                        foreach (var topic in Model.Topics)
                        {
                    <tr>
                        <td>
                            <div class="date bold"  style="width:120px !important;">
                                @topic.CreatedDate
                            </div>
                        </td>
                        <td class="create-name">@topic.CreatorName</td>
                        <td class="reference">@topic.Name</td>
                        <td class="name">@topic.Reference</td>
                        <td class="notes">
                            @if (topic.Notes != null)
                            {
                                @topic.Notes
                            }
                            else
                            {
                                @: -
                            }
                        </td>
                        <td class="tags-body-first">
                            @if (topic.FirstTagTopic != null)
                            {
                                <p class="clip tooltipster" alt="@topic.FirstTagTopic" title="@topic.FirstTagTopic">@topic.FirstTagTopic</p>
                            }
                        </td>

                        <td class="tags-body-more">
                            @if (topic.MoreTags)
                            {
                                <div class="btn btn-circle more-btn-tags">
                                    <span class="glyphicon span"></span>
                                </div>
                            }
                        </td>
                        <td class="reference">@topic.Planned</td>
                        <td class="reference">@topic.Actual</td>
                        <td class="reference">@topic.Variance</td>
                        <td class="items-body">
                            <div class="circle">
                                <div class="count" topicid="@topic.Id" style="cursor: pointer">@topic.ManagerCommentsCounter</div>
                            </div>
                        </td>
                        <td class="items-body">
                            <div class="circle">
                                <div class="count" topicid="@topic.Id" style="cursor: pointer">@topic.AttachmentsCounter</div>
                            </div>
                        </td>
                    </tr>
                        }
                        if (Model.Topics == null || !Model.Topics.Any())
                        {
                            <tr>
                                <td colspan="12" class="text-center">
                                    <strong>No items to display.</strong>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }

        @if (Model.typeFilter == TypeFilter.Shared)
        {
            <table class="table-head">
                <tbody>
                    <tr>
                        <td class="title-td">
                            <div class="report-title">
                                Topic Search
                            </div>
                            <div class="report-date">
                                @Model.ReportDate
                            </div>
                        </td>
                        <td class="criteria-td">
                            <div class="criteria-title">
                                Search Criteria
                            </div>
                            <div class="topic-criteria">
                                <div class="title">
                                    Topics in Search:
                                </div>
                                <div class="topic-list">
                                    @Model.TopicsInSearch
                                </div>
                            </div>
                        </td>
                        <td class="logo-td">
                            <div class="company-logo">
                                @if (!Model.CompanyLogoImageId.HasValue)
                                {
                                    <img class="logo" src="~/Content/img/svg/CompanyLogoBox.svg" />
                                }
                                else
                                {
                                    <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.FileLogo.BinaryData))" class="logo" />
                                }
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table-body">
                <thead>
                    <tr>
                        <td class="date"  style="width:120px !important;">Date</td>
                        <td class="creator">Creator</td>
                        <td class="topic">Topic</td>
                        <td class="reference">Reference</td>
                        <td class="notes">Notes</td>
                        <td class="tags"></td>
                        <td class="tags"></td>
                        <td class="attachments"># Comments</td>
                        <td class="attachments"># Attachments</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Topics != null)
                    {
                        foreach (var topic in Model.Topics)
                        {
                    <tr>
                        <td>
                            <div class="date bold" style="width:120px !important;">
                                @topic.CreatedDate
                            </div>
                        </td>
                        <td class="create-name">@topic.CreatorName</td>
                        <td class="name">@topic.Name</td>
                        <td class="reference">@topic.Reference</td>
                        <td class="notes">
                            @if (topic.Notes != null)
                            {
                                @topic.Notes
                            }
                            else
                            {
                                @: -
                            }
                        </td>
                        <td class="tags-body-first">
                            @if (topic.FirstTagTopic != null)
                            {
                                <p class="clip tooltipster" alt="@topic.FirstTagTopic" title="@topic.FirstTagTopic">@topic.FirstTagTopic</p>
                            }
                        </td>

                        <td class="tags-body-more">
                            @if (topic.MoreTags)
                            {
                                <div class="btn btn-circle more-btn-tags">
                                    <span class="glyphicon span"></span>
                                </div>
                            }
                        </td>
                        <td class="items-body">
                            <div class="circle">
                                <div class="count" topicid="@topic.Id" style="cursor: pointer">@topic.ManagerCommentsCounter</div>
                            </div>
                        </td>
                        <td class="items-body">
                            <div class="circle">
                                <div class="count" topicid="@topic.Id" style="cursor: pointer">@topic.AttachmentsCounter</div>
                            </div>
                        </td>
                    </tr>
                        }
                        if (Model.Topics == null || !Model.Topics.Any())
                        {
                            <tr>
                                <td colspan="9" class="text-center">
                                    <strong>No items to display.</strong>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        @if (Model.typeFilter == TypeFilter.Tags)
        {
            <table class="table-head">
                <tbody>
                    <tr>
                        <td class="title-td">
                            <div class="report-title">
                                Tag Search
                            </div>
                            <div class="report-date">
                                @Model.ReportDate
                            </div>
                        </td>
                        <td class="criteria-td">
                            <div class="criteria-title">
                                Search Criteria
                            </div>
                            <div class="topic-criteria">
                                <div class="title">
                                    Tag in Search:
                                </div>
                                <div class="topic-list">
                                    @Model.TopicsInSearch
                                </div>
                            </div>
                        </td>
                        <td class="logo-td">
                            <div class="company-logo">
                                @if (!Model.CompanyLogoImageId.HasValue)
                                {
                                    <img class="logo" src="~/Content/img/svg/CompanyLogoBox.svg" />
                                }
                                else
                                {
                                    <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.FileLogo.BinaryData))" class="logo" />
                                }
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table-body">
                <thead>
                    <tr>
                        <td class="date"  style="width:120px !important;">Date</td>
                        <td class="creator">Creator</td>
                        <td class="topic">Topic</td>
                        <td class="reference">Reference</td>
                        <td class="notes">Notes</td>
                        <td class="tags"></td>
                        <td class="tags"></td>
                        <td class="attachments"># Comments</td>
                        <td class="attachments"># Attachments</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Topics != null)
                    {
                        foreach (var topic in Model.Topics)
                        {
                    <tr>
                        <td>
                            <div class="date bold" style="width:120px !important;">
                                @topic.CreatedDate
                            </div>
                        </td>
                        <td class="create-name">@topic.CreatorName</td>
                        <td class="name">@topic.Name</td>
                        <td class="reference">@topic.Reference</td>
                        <td class="notes">
                            @if (topic.Notes != null)
                            {
                                @topic.Notes
                            }
                            else
                            {
                                @: -
                            }
                        </td>
                        <td class="tags-body-first">
                            @if (topic.FirstTagTopic != null)
                            {
                                <p class="clip tooltipster" alt="@topic.FirstTagTopic" title="@topic.FirstTagTopic">@topic.FirstTagTopic</p>
                            }
                        </td>

                        <td class="tags-body-more">
                            @if (topic.MoreTags)
                            {
                                <div class="btn btn-circle more-btn-tags">
                                    <span class="glyphicon span"></span>
                                </div>
                            }
                        </td>
                        <td class="items-body">
                            <div class="circle">
                                <div class="count" topicid="@topic.Id" style="cursor: pointer">@topic.ManagerCommentsCounter</div>
                            </div>
                        </td>
                        <td class="items-body">
                            <div class="circle">
                                <div class="count" topicid="@topic.Id" style="cursor: pointer">@topic.AttachmentsCounter</div>
                            </div>
                        </td>
                    </tr>
                        }
                        if (Model.Topics == null || !Model.Topics.Any())
                        {
                            <tr>
                                <td colspan="9" class="text-center">
                                    <strong>No items to display.</strong>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }

        @if (Model.typeFilter == TypeFilter.Tasks)
        {
            <table class="table-head">
                <tbody>
                    <tr>
                        <td class="title-td">
                            <div class="report-title">
                                Task Search
                            </div>
                            <div class="report-date">
                                @Model.ReportDate
                            </div>
                        </td>
                        <td class="criteria-td">
                            <div class="criteria-title">
                                Task Criteria
                            </div>
                            <div class="topic-criteria">
                                <div class="title">
                                    Task in Search:
                                </div>
                                <div class="topic-list">
                                    @Model.TopicsInSearch
                                </div>
                            </div>
                        </td>
                        <td class="logo-td">
                            <div class="company-logo">
                                @if (!Model.CompanyLogoImageId.HasValue)
                                {
                                    <img class="logo" src="~/Content/img/svg/CompanyLogoBox.svg" />
                                }
                                else
                                {
                                    <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.FileLogo.BinaryData))" class="logo" />
                                }
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table-body">
                <thead>
                    <tr>
                        <td class="date"  style="width:120px !important;">Date</td>
                        <td class="creator">Creator</td>
                        <td class="topic">Assignee</td>
                        <td class="reference">Task Name</td>
                        <td class="notes">Description</td>
                        <td class="reference">Status</td>
                        <td class="attachments"># Attachments</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Tasks != null)
                    {
                        foreach (var topic in Model.Tasks)
                        {
                            <tr>
                                <td>
                                    <div class="date bold"  style="width:120px !important;">
                                        @topic.CreateDate
                                    </div>
                                </td>
                                <td class="create-name">@topic.CreatorName</td>

                                <td class="reference">@topic.AssignedTo.FullName</td>

                                <td class="name">@topic.Name</td>
                                <td class="notes">
                                    @if (topic.Description != null)
                                    {
                                        @topic.Description
                                    }
                                    else
                                    {
                                        @: -
                                    }
                                </td>
                                <td class="reference">
                                    @topic.CompleteStatus
                                </td>
                                <td class="tasks-body">
                                    <div class="circle">
                                        <div class="count" topicid="@topic.Id" style="cursor: pointer">@topic.TaskCounter</div>
                                    </div>
                                </td>
                            </tr>
                        }
                        if (Model.Tasks == null || !Model.Tasks.Any())
                        {
                            <tr>
                                <td colspan="8" class="text-center">
                                    <strong>No items to display.</strong>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }

    </div>
</body>
</html>