.employee-dialog {
    .modal-content {
        width: 600px !important;
        height: 450px !important;

        .fileinput .thumbnail > img {
            height: 100px !important;
        }

        .btn-choose-image {
            width: 16px;
            height: 16px;
            background-image: data-uri("@{main-url-img}/penciI-dark.svg");
            display: inline-block !important;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        .choose-image-title {
            color: #ffffff;
            display: inline-block !important;
            background-repeat: no-repeat;
            font-size: 10px;
            font-weight: bold;
        }

        .btn-reset-password {
            font-size: 10px;
            font-weight: bold;
            padding: 2px 10px;
            background: none;
            border: none;
            color: #000000;
            background-color: white;
            border-radius: 10px;
            margin-top: 25px;
        }

        .upload-photo {
            .fileinput-new, .fileinput-exists {
                .fileinput-preview {
                    width: 90px;
                    height: 90px;
                    margin-left: 5px;
                    border-radius: 50%;
                    padding: 0;
                    border: none;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.7;
                    }
                }

                div {
                    .btn-file {
                        border: none;
                        background: none;

                        input {
                        }
                    }
                }
            }
        }

        .upload-photo.middle-size {
            .fileinput-new, .fileinput-exists {
                margin-top: 15px;
                height: 70px;

                .fileinput-preview {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    padding: 0;
                    border: none;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.7;
                    }
                }
            }
        }


        .col {
            &.col-xs-offset-1 {
                margin-left: 6.333333% !important;
            }

            &.col-lg-4 {
                &.fix-col {
                    width: 37.333333% !important;
                }
            }
        }

        .bootstrap-select.btn-group .dropdown-toggle .caret {
            right: -1px!important;
        }
    }
}
