﻿#stepThreeFormDialog {

    .modal-content {
        width: 600px;
        height: 300px;

        .modal-header {
            .btn-save {
                color: #b4b4b4 !important;

                &.active {
                    color: #b4b4b4 !important;
                }
            }
        }

        .modal-body {
            .title-block {
                font-size: 14px;
                font-weight: normal;
                color: #464646;
            }

            .radio-btn-group {
                label {
                    font-size: 14px;
                    font-weight: normal;
                }
            }

            .select-rotation-type-row {
                padding: 0px;
                padding-bottom: 10px;

                .col {
                    padding: 0px;
                }

                .btn-group-justified {
                    text-align: center;
                    padding-top: 5px;
                }

                .title-block {
                    text-align: center;
                    font-size: 10px;
                    margin-bottom: 0;
                    font-weight: bold;
                }


                .is-shift-btn, .is-swing-btn {
                    width: 150px;
                    background-color: #F0F0F0;
                    border-radius: 20px;
                    color: #464646;
                    text-align: center;
                    font-size: 14px;
                    font-weight: bold;
                    display: inline-block;
                    cursor: pointer;
                    height: 30px;
                    margin: 0 10px;
                    top: 10px;
                    padding-top: 5px;

                    &.active {
                        background-color: #00AFF0;
                        color: white !important;
                    }
                }
            }
        }
    }
}
