﻿#stepTwoFormDialog {

    .modal-content {
        width: 600px;
        height: 450px;

        .modal-header {
            .btn-save {
                color: #b4b4b4 !important;
                /*&.active {
                    color: #b4b4b4 !important;
                }*/
            }

            .btn-next {
                color: #b4b4b4 !important;

                /*&:hover {
                    color: #b4b4b4 !important;
                }*/

                &.active-btn {
                    color: #32B49B !important;
                }
            }
        }

        .modal-body {
            .title-block {
                font-size: 14px;
                font-weight: normal;
                color: #464646;
            }

            .select-type {
                .dropdown-menu {
                    background-color: #fff;

                    .ms-res-item {
                        background-color: #fff;
                        color: #464646;
                        padding-right: 5px;
                        max-width: 225px;
                        min-width: initial;
                        overflow: hidden;
                        word-wrap: normal;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .ms-res-item-active {
                        color: #0096C8;
                    }

                    &:empty {
                        display: none !important;
                    }
                }

                .ms-ctn {
                    border: none;
                    border-bottom: solid 1px #464646;
                    box-shadow: none;
                    border-radius: 0px;
                    padding-left: 8px;

                    .ms-sel-ctn {
                        overflow: hidden;

                        input {
                            &::-webkit-input-placeholder {
                                color: #464646;
                            }

                            &::-moz-placeholder {
                                color: #464646;
                            }

                            &:-ms-input-placeholder {
                                color: #464646;
                            }

                            &:-moz-placeholder {
                                color: #464646;
                            }
                        }

                        .ms-sel-item {
                            /*height: 20px;
                            padding-right: 17px;
                            max-width: 170px;
                            min-width: initial;
                            overflow: hidden;
                            word-wrap: normal;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            margin: 0;

                            .ms-close-btn {
                                position: relative;
                                top: -12px;
                                margin: 0;
                                right: -12px;
                            }*/
                        }
                    }

                    .ms-trigger {
                        border-left: none;

                        &:hover {
                            border: none;
                            background: none;

                            .ms-trigger-ico {
                                background-position: 0;
                            }
                        }

                        .ms-trigger-ico {
                            background-image: data-uri("@{main-url-img}/arrow_down_brown.svg");
                            background-repeat: no-repeat;
                            width: 8px;
                            height: 8px;
                            border: none;
                            background-position: 0;
                            margin-left: 14px;
                        }
                    }
                }

                .ms-ctn-focus {
                    border: none;
                    border-bottom: solid 1px #464646;
                    box-shadow: none;
                    padding-left: 8px;
                }


                &.validation-error {
                    .ms-ctn {
                        border-bottom: 1px solid #f29105 !important;
                    }
                }
            }
        }
    }
}
