.dashboard-page {
    width: 100%;
    height: 100%;

    .wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -80px;

        .logo {
            display: inline-block !important;
        }

        .header-buttons {
            .btn-menu {
                width: 100px;
                display: inline-block;
                font-size: 14px;
                font-weight: bold;
                margin: 0px;
                color: #ffffff;
                background: #0096C8;
                line-height: 1.2em;
                height: 30px;
                border-radius: 50px;
                margin-top: 15px;
                margin-right: 10px;

                &.active {
                    background: orange;
                }
            }

            .btn-logout {
                width: 70px;
                display: inline-block;
                font-size: 14px;
                font-weight: bold;
                margin: 0px;
                color: #ffffff;
                background: #0096C8;
                line-height: 1.2em;
                height: 30px;
                margin-top: 15px;
                border-radius: 50px;
            }
        }

        .content-area {
            min-height: ~"calc(100vh - 160px)";
            color: white;

            .table {
                background: white;
                color: black;
                padding-top: 10px;
                border-radius: 6px;

                thead {
                    color: #0096C8;
                }

                td, th {
                    vertical-align: middle !important;
                }
            }


            .message-block {
                background: white;
                color: black;
                padding: 20px 0;
                font-size: 16px;
                font-weight: bold;
                border-radius: 6px;
                margin-top: 20px;
            }

            a:hover {
                text-decoration: none;
            }

            .btn-start-trial {
                display: inline-block;
                font-size: 14px;
                font-weight: bold;
                margin: 0px;
                color: #ffffff;
                background: orange;
                line-height: 1.2em;
                height: 30px;
                border-radius: 50px;
            }

            .btn-extend-trial {
                display: inline-block;
                font-size: 14px;
                font-weight: bold;
                margin: 0px;
                color: #ffffff;
                background: orange;
                line-height: 1.2em;
                height: 30px;
                border-radius: 50px;
            }

            .btn-delete-subscription {
                display: inline-block;
                font-size: 14px;
                font-weight: bold;
                margin: 0px;
                color: #ffffff;
                background: red;
                line-height: 1.2em;
                height: 30px;
                border-radius: 50px;
            }
        }
    }

    .footer, .clearfix {
        height: 80px;
    }

    .footer {
        margin-top: 0px;
        background: #034862;
        border: none;
        border: none;
        padding-left: 70px;
        padding-right: 70px;
        min-width: 480px;
        color: white;

        .footer-block {
            max-width: 1280px;
            margin: 0 auto;
        }

        .ihandover-logo {
            width: 118px;
            height: 18px;
            background-image: url("@{main-url-img}/ihandover-white.png");
            background-repeat: no-repeat;
            cursor: pointer;
        }

        .current-year {
            font-size: 12px;
        }

        .social-buttons {
            height: 45px;
            width: 50px;
            float: right;
            margin-top: 15px;
            border-bottom: 1px solid #80d7f7;

            .btn-twitter, .btn-linkedin {
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                padding: 0px;
                background-size: cover;
                margin-top: 5px;
            }

            .btn-twitter {
                background-image: url("@{main-url-img}/twitter-white.png");
                float: left;
            }

            .btn-linkedin {
                background-image: url("@{main-url-img}/linkedin-white.png");
                float: right;
            }
        }
    }
}
