.main-page {
    width: 100%;
    height: 100%;


    .wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -80px;


        .header-buttons {
            .btn-login {
                width: 70px;
                display: inline-block;
                font-size: 14px;
                font-weight: bold;
                margin: 0px;
                color: #ffffff;
                background: #0096C8;
                line-height: 1.2em;
                height: 30px;
                margin-top: 15px;
                border-radius: 50px;
            }
        }

        .content-area {
            min-height: ~"calc(100vh - 140px)";

            a {
                text-decoration: none;

                &:hover, &:focus, &:visited, &::active {
                    text-decoration: none;
                }
            }

            .carousel-content {
                color: black;
                min-height: ~"calc(100vh - 140px)";
                height: ~"calc(100vh - 140px)";
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .carousel-indicators {
                position: absolute;
                bottom: 10px;
                right: 0px;
                z-index: 15;
                width: 60%;
                margin-right: 0px;
                list-style: none;
                text-align: center;
                text-align: right;
                left: auto !important;
                margin-left: 0px !important;
            }

            .carousel-indicators li {
                display: inline-block;
                width: 10px;
                height: 10px;
                margin: 10px;
                text-indent: 0;
                cursor: pointer;
                border: none;
                border-radius: 50%;
                background-color: #0096C8;
                box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);

                &.disabled {
                    pointer-events: none !important;
                    cursor: not-allowed !important;
                }
            }

            .carousel-indicators .active {
                width: 12px;
                height: 12px;
                margin: 10px;
                background-color: white;
            }

            .welcome {
                text-align: center;
                color: white;
                font-size: 85px;
            }

            .btn-purchase {
                width: 120px;
                display: inline-block;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                margin: 0px;
                color: #ffffff;
                background: #035a7a;
                box-shadow: 0px 2px 0px #034862;
                height: 33px;
                border-radius: 15px;
            }
        }
    }

    .footer, .clearfix {
        height: 80px;
    }

    .footer {
        margin-top: 0px;
        background: #034862;
        border: none;
        border: none;
        padding-left: 70px;
        padding-right: 70px;
        min-width: 480px;
        color: white;

        .footer-block {
            max-width: 1280px;
            margin: 0 auto;
        }

        .ihandover-logo {
            width: 118px;
            height: 18px;
            background-image: url("@{main-url-img}/ihandover-white.png");
            background-repeat: no-repeat;
            cursor: pointer;
        }

        .current-year {
            font-size: 12px;
        }

        .social-buttons {
            height: 45px;
            width: 50px;
            float: right;
            margin-top: 15px;
            border-bottom: 1px solid #80d7f7;

            .btn-twitter, .btn-linkedin {
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                padding: 0px;
                background-size: cover;
                margin-top: 5px;
            }

            .btn-twitter {
                background-image: url("@{main-url-img}/twitter-white.png");
                float: left;
            }

            .btn-linkedin {
                background-image: url("@{main-url-img}/linkedin-white.png");
                float: right;
            }
        }
    }
}
