.sign-in-multi-tenant-page {
    height: 100%;
    width: 100%;

    .title-block {
        padding-top: 50px;
        font-size: 35px;
        color: white;
        padding-bottom: 40px;
    }


    .change-indicator {
        /*background-image: url("@{main-url-img}/change-blue.png");*/
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 58px;
        width: 58px;
        margin: 0 auto;
        position: relative;
        bottom: 28px;

        &.valid {
            /*background-image: url("@{main-url-img}/change-orange.png") !important;*/
        }
    }


    .form-block {
        width: 380px;
        height: 300px;
        background: white;
        display: inline-block;
        border-radius: 6px;

        form {
            height: 100%;
            padding: 60px;

            .field-validation-error span {
                font-size: 14px !important;
            }


            .login-error {
                font-size: 14px;
                margin-bottom: 15px;
                margin-top: -30px;
                display: block;
                width: 320px;
                margin-left: -35px;
            }

            .password-validation {
                display: block;
                height: 50px;
            }

            .form-group {
                margin: 0px;

                .form-control {
                    color: black;
                    text-align: center;
                    border: none;
                    background: none;
                    font-size: 16px;
                    box-shadow: none;
                    border-radius: 20px;
                    padding: 0px;
                    height: 20px;
                }

            }

            .blue-line {
                height: 2px;
                background-color: #0096C8;
            }

            .btn-send {
                width: 120px;
                display: inline-block;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                margin: 0px;
                color: #ffffff;
                background: #035a7a;
                box-shadow: 0px 2px 0px #034862;
                line-height: 1.2em;
                height: 33px;
                border-radius: 20px;
            }
        }
    }

    .buttons-block {
        width: 380px;
        margin: 0 auto;
        margin-top: -15px;

        .btn-remember-me {
            float: left;
        }

        .btn-forgot-password {
            float: right;
        }

        .remember-me {
            text-align: center;
            position: relative;
            cursor: pointer;
            text-decoration: none;

            .active {
                font-weight: bold;
            }

            &:after {
                position: absolute;
                content: "";
                right: 20px;
                top: 10px;
                width: 12px;
                height: 12px;
                pointer-events: none;
            }
        }



        .remember-me-checked {
            font-weight: bold;

            &:after {
                background-image: url("@{main-url-img}/tick-white.svg");
                position: absolute;
                background-size: contain;
                right: 17px;
                top: 11px;
                width: 13px;
                height: 10px;
                pointer-events: auto;
            }
        }


        .btn-remember-me, .btn-forgot-password {
            width: 120px;
            display: inline-block;
            font-size: 14px;
            background: #0096C8;
            text-transform: lowercase;
            color: white;
            width: 175px;
            height: 32px;
            border-radius: 15px;
        }
    }

    .sign-in-block {
        width: 380px;
        margin: 0 auto;
        margin-top: 40px;

        .text {
            display: inline-block;
            color: white;
            position: relative;
            font-size: 14px;
            top: 3px;
        }

        .btn-sign-up {
            width: 70px;
            height: 30px;
            color: white;
            font-size: 14px;
            font-weight: bold;
            border: 1px solid;
            border-radius: 20px;
            padding: 5px;
        }
    }

    .alerts-block {
        width: 380px;
        margin: 0 auto;

        .alert {
            margin-bottom: 50px;
            margin-top: -15px;
        }
    }

    .template-create-btn {
        height: 35px;
        width: 50px;
        background-color: #FFFFFF;
        border-radius: 4px;
        border: 1px solid #0096C8;

        &:after {
            content: 'New';
            color: #464646;
            font-size: 14px;
            position: relative;
            top: 7px;
        }

        &:hover {
            text-decoration: none;
            border: 1px solid #0096C8;
            background-position: 0;
            margin: 0;
            padding: 0;
            opacity: 1;

            &:after {
                position: relative;
                top: 7px;
                margin: 0;
                padding: 0;
                background-position: 0;
            }
        }

        .glyphicon {
            display: none;
        }
    }

    .sector-create-btn {
        height: 35px;
        width: 50px;
        background-color: #FFFFFF;
        border-radius: 4px;
        border: 1px solid #0096C8;

        &:after {
            content: 'New';
            color: #464646;
            font-size: 14px;
            position: relative;
            top: 7px;
        }

        &:hover {
            text-decoration: none;
            border: 1px solid #0096C8;
            background-position: 0;
            margin: 0;
            padding: 0;
            opacity: 1;

            &:after {
                position: relative;
                top: 7px;
                margin: 0;
                padding: 0;
                background-position: 0;
            }
        }

        .glyphicon {
            display: none;
        }
    }
}
