// Mode: media400
@media400: ~"(max-width: 400px)";

// Mode: media480
@media480: ~"(max-width: 480px)";

// Mode: media550
@media550: ~"(max-width: 550px)";

// Mode: media767
@media767: ~"(max-width: 767px)";

// Mode: media790
@media790: ~"(max-width: 790px)";

// Mode: media900
@media900: ~"(max-width: 900px)";

// Mode: media991
@media991: ~"(max-width: 991px)";

// Mode: media1199
@media1199: ~"(max-width: 1199px)";

// Mode: media1270
@media1270: ~"(max-width: 1270px)";