﻿@model rModuleViewModel
@{

    Layout = "~/Views/Framework/Modules/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-6">
        @Html.Partial("~/Views/Framework/Modules/Shared/_TopicGroups.cshtml", Model)
    </div>


    <div class="col-sm-6">
        @Html.Partial("~/Views/Framework/Modules/Shared/_Topics.cshtml", Model)
    </div>


    @*<div class="col-sm-4">
        @Html.Partial("~/Views/Framework/Modules/Shared/_Tasks.cshtml", Model)
    </div>*@
</div>
