﻿@model SecurityViewModel

<div style="display: block;" class="tab-pane" Id="profileSecurity">
    @using (Html.BeginForm("SecurityTab", "Profile", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col col-lg-6 col-sm-6 col-md-6 col-xs-6">
                <div class="field-container">
                    @Html.LabelFor(model => model.RelayEmail, new { @class = "title-select" })
                    @Html.TextBoxFor(model => model.RelayEmail, new { @class = "simple-input", @placeholder = "Enter Relay Email", @autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.RelayEmail)
                </div>
                <div class="field-container margin-top-20" style="display: none;">
                    @Html.LabelFor(model => model.Password, new { @class = "title-select" })
                    @Html.PasswordFor(model => model.Password, new { @class = "simple-input", @placeholder = "Enter Current Password", @autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div class="field-container margin-top-20" style="display: none;">
                    @Html.LabelFor(model => model.NewPassword, new { @class = "title-select" })
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "simple-input", @placeholder = "Enter New Password", @autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>
                <div class="field-container margin-top-20" style="display: none;">
                    @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "title-select" })
                    <span class="confirm-icon"></span>
                    @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "simple-input", @placeholder = "Confirm New Password", @autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                </div>
                <div class="field-container  margin-top-20">
                    <button type="button" class="btn change-password-btn">Change Password</button>
                </div>
            </div>
            <div class="col col-lg-6 col-sm-6 col-md-6 col-xs-6">
                <div class="field-container">
                    @Html.LabelFor(model => model.SecondaryEmail, new { @class = "title-select" })
                    @Html.TextBoxFor(model => model.SecondaryEmail, new { @class = "simple-input", @placeholder = "Enter Secondary Email" })
                    @Html.ValidationMessageFor(model => model.SecondaryEmail)
                </div>
            </div>
        </div>
        <script>
            (function () {
                var passField = $("#Password");
                var newPassField = $("#NewPassword");
                var confirmNewPassField = $("#ConfirmNewPassword");
                var confirmIcon = confirmNewPassField.parent().find(".confirm-icon").first();
                var changePasswordBtn = $("button.change-password-btn");

                if (passField.hasClass("input-validation-error") ||
                    newPassField.hasClass("input-validation-error") ||
                    confirmNewPassField.hasClass("input-validation-error")) {

                    changePasswordBtn.parent().attr("style", "display: none;");
                    passField.parent().removeAttr("style");
                    newPassField.parent().removeAttr("style");
                    confirmNewPassField.parent().removeAttr("style");
                }

                changePasswordBtn.bind("click", function () {
                    changePasswordBtn.parent().attr("style", "display: none;");

                    passField.parent().removeAttr("style");
                    newPassField.parent().removeAttr("style");
                    confirmNewPassField.parent().removeAttr("style");
                });

                confirmNewPassField.bind("input", function () {
                    if (newPassField.val() === confirmNewPassField.val()) {
                        confirmIcon.removeClass("confirm-icon").addClass("confirm-icon-ok");
                    }
                    else {
                        confirmIcon.removeClass("confirm-icon-ok").addClass("confirm-icon");
                    }
                });

            })();
        </script>
    }
</div>