﻿* {
    outline: none !important;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: @main-background;
    position: relative;
    font-family: 'Proxima-Nova-Regular';
}

.nav-tabs {
    padding-top: 20px !important;
}

.content {
    min-height: 80%;
    min-height: ~"calc(100% - 162px)";
}

.textarea-stretch {
    overflow-x: hidden;
    word-wrap: break-word;
    overflow-y: visible;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.actions-block .inner-block {
    cursor: pointer !important;
}


.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}



.no-decoration {
    text-decoration: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: all 5000s ease-in-out 0s;
    transition-property: background-color, color;
}



.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn:active, .btn.active {
    box-shadow: none;
}


.padding-bottom-10 {
    padding-bottom: 10px !important;
}

.padding-left-15 {
    padding-left: 15px !important;
}

.padding-left-30 {
    padding-left: 30px !important;
}

.padding-top-15 {
    padding-top: 15px !important;
}

.padding-right-15 {
    padding-right: 15px !important;
}

.padding-right-30 {
    padding-right: 30px !important;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.padding-left-20 {
    padding-left: 20px !important;
}


.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-35 {
    margin-top: 35px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-35 {
    margin-bottom: 35px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.margin-left-5 {
    margin-left: 5px !important;
}

.margin-right-20 {
    margin-right: 20px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.margin-right-15 {
    margin-right: 15px !important;
}

.margin-left-15 {
    margin-left: 15px !important;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.text-gray {
    color: @text-grey !important;
}

.border-top-solid {
    border-top: 1px solid @main-brown;
}

.border-bottom-solid {
    border-bottom: 1px solid @main-brown;
}

.align-block-centers {
    margin: 0 auto;
    float: none;
}

.no-horizontal-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}


.inmplayer-trigger {
    bottom: 0;
    height: 70px;
}


.modal-open {
    overflow: visible;
    padding-right: 0px !important;
}

.page-break-avoid {
    page-break-inside: avoid !important;
}

.swiper-button-disabled {
    opacity: 0.2 !important;
    cursor: not-allowed !important;
    z-index: 1111111111111111;
}


.avoid-clicks {
  pointer-events: none;
}
