﻿.remainingTrialDays {
    float: left;
    margin-top: 5px;
    margin-right: 15px;
    display: inline-block;

    @media @media1270 {
        margin-top: 5px;
    }

    @media screen and (orientation: portrait) and (max-width: 580px) and (max-width: 768px)and (max-height: 800px) {
        margin-top: 20px;
    }

    @media @media550 {
        margin-top: 20px;
    }

    @media @media480 {
        margin-top: 25px;
        font-size: 12px;
        text-align: center;
    }

    @media @media400 {
        margin-top: 25px;
        font-size: 12px;
        text-align: center;
    }
}
