﻿.handover-recipients-dialog {
    .modal-content {
        width: 600px !important;
        height: 300px !important;

        .handover-recipients-title {
            font-size: 10px;
            font-weight: bold;
            color: #fff;
            border-bottom: 1px solid #fff;
        }

        .handover-recipients-container {
            margin-top: 10px;
            border-bottom: 1px solid #fff;

            .swiper-container {
                min-height: 195px !important;
                max-height: 195px !important;
                height: 195px !important;
            }



            .recipients-container {
                .swiper-wrapper {
                    display: block;

                    .swiper-slide {

                        div {
                            padding-left: 0px;

                            .recipient-block {
                                cursor: pointer;

                                &.inactive {
                                    opacity: 0.25;
                                    /*cursor: default;*/
                                }

                                &.active {
                                    background-color: #F0F0F0;
                                    border-radius: 20px;

                                    .user-name {
                                        color: #464646;
                                    }

                                    .check-icon {
                                        background-repeat: no-repeat;
                                        background-image: data-uri("@{main-url-img}/check_icon.svg");
                                        position: absolute;
                                        top: 7px;
                                        left: 145px;
                                        display: block;
                                        width: 16px;
                                        height: 16px;
                                    }
                                }

                                .user-icon {
                                    width: 30px;
                                    display: inline-block;

                                    img {
                                        border-radius: 50%;
                                        width: 30px;
                                        height: 30px;
                                    }
                                }

                                .user-name {
                                    display: inline-block;
                                    color: #fff;
                                    font-size: 14px;
                                    font-weight: normal;
                                    overflow: hidden;
                                    word-wrap: normal;
                                    max-width: 105px;
                                    min-width: initial;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    vertical-align: middle;
                                }

                                .check-icon {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            .handover-recipients-swiper-prev {
                z-index: 1;
                position: absolute;
                width: 7px;
                height: 4px;
                top: 25px;
                right: 0px;
                background-image: data-uri("@{main-url-img}/arrow_top.svg");
                cursor: pointer;
            }

            .handover-recipients-swiper-next {
                z-index: 1;
                position: absolute;
                width: 7px;
                height: 4px;
                bottom: 16px;
                right: 0px;
                background-image: data-uri("@{main-url-img}/arrow_down.svg");
                cursor: pointer;
            }
        }
    }
}
