﻿@model TaskBoardCompleteTaskDialogViewModel

<div id="completeChecklistTaskFormDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" class="modal fade task-board-complete-checklist-task-dialog" data-keyboard="false" data-backdrop="static">

    @using (Html.BeginForm("CompleteTaskChecklistDialog", "TaskBoard", FormMethod.Post, new { @id = "completeChecklistTaskForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.TaskOutcomesTab.ID)
        @Html.HiddenFor(m => m.TaskDetailTab.AssignedFrom)
        @Html.HiddenFor(m => m.TaskDetailTab.Deadline)
        @Html.HiddenFor(m => m.SelectedTabNumber)
        @Html.HiddenFor(m => m.CompleteOption)
        @Html.HiddenFor(m => m.TaskOutcomesTab.IsFeedbackRequired)
        @Html.HiddenFor(m => m.ProjectDetailsTab.ProjectName)
        @Html.HiddenFor(m => m.TaskDetailTab.ItemId)
        @Html.HiddenFor(m => m.TaskDetailTab.TaskId)
        @Html.HiddenFor(m => m.TaskDetailTab.CreatorTaskId)
        @Html.HiddenFor(m => m.TaskDetailTab.IsCanEdit)

        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div id="modalTitle" class="modal-title">Complete Task</div>
                            </div>
                            <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-4 text-right">

                                <button type="button" class="btn btn-save complete @(Model.TaskOutcomesTab.IsFeedbackRequired && Model.TaskOutcomesTab.Feedback == null ? string.Empty : "active-green")" value="@CompleteDialogOption.Complete.ToString()">Complete</button>

                                @if (Model.TaskDetailTab.IsCanEdit)
                                {
                                    <button type="submit" class="btn btn-save" value="@CompleteDialogOption.Save.ToString()">Save</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-save" disabled style="pointer-events:none;cursor: not-allowed;">Save</button>
                                }

                                @*<button type="button" class="btn btn-save save" value="@CompleteDialogOption.Save.ToString()">Save</button>*@
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="tab-block">
                                    <div class="navigation-block">
                                        <ul class="nav nav-tabs">
                                            @if (Model.ProjectDetailsTab != null && Model.ProjectDetailsTab.ProjectName != null)
                                            {
                                                <li tabNumber="0"><a data-toggle="tab" href="#projectDetails">Project Details</a></li>
                                            }
                                            @if (Model.HasTopic)
                                            {
                                                <li tabNumber="1"><a data-toggle="tab" href="#topic-details">Topic Details</a></li>
                                            }
                                            <li class="@(Model.SelectedTabNumber == 0 ? "active" : "")" tabNumber="0"><a data-toggle="tab" href="#task-details">Task Details</a></li>
                                            <li class="orange @(Model.SelectedTabNumber == 2 ? "active" : "")" tabNumber="2"><a data-toggle="tab" href="#outcomes">Outcomes</a></li>
                                            <li class="" tabNumber="3"><a data-toggle="tab" href="#logs">Log</a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-content">
                                        @if (Model.ProjectDetailsTab != null && Model.ProjectDetailsTab.ProjectName != null)
                                        {
                                            <div id="projectDetails" class="tab-pane fade in">
                                                @Html.Partial("~/Views/ProjectAdmin/FollowerTasksPanel/Dialogs/_ProjectDetailsTab.cshtml", Model.ProjectDetailsTab)
                                            </div>
                                        }
                                        @if (Model.HasTopic)
                                        {
                                            <div id="topic-details" class="tab-pane fade in">
                                                @Html.Action("GetTaskBoardTopic", "TaskBoard", new { taskId = Model.TaskOutcomesTab.ID })
                                            </div>
                                        }

                                        @if (Model.TaskDetailTab.IsCanEdit)
                                        {

                                            <div id="task-details" class="tab-pane fade in @(Model.SelectedTabNumber == 0 ? "active" : "")">
                                                    <div class="row">
                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                                            <div class="row no-margin">
                                                                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding padding-right-30">
                                                                    <div class="field-container">
                                                                        @Html.LabelFor(model => model.TaskDetailTab.Name, new { @class = "title-select" })

                                                                        @if (Model.TaskDetailTab.IsCanEdit)
                                                                        {
                                                                            @Html.TextBox("TaskDetailTab.Name", Model.TaskDetailTab.Name, new { @class = "simple-input" })
                                                                            @Html.ValidationMessageFor(model => model.TaskDetailTab.Name)
                                                                        }
                                                                        else
                                                                        {
                                                                            @Html.TextBox("TaskDetailTab.Name", Model.TaskDetailTab.Name, new { @class = "simple-input", @disabled = "disabled" })
                                                                            @Html.ValidationMessageFor(model => model.TaskDetailTab.Name)
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5 no-padding padding-right-30">
                                                                    <div class="select-type">
                                                                        @Html.LabelFor(m => m.TaskDetailTab.Priority, new { @class = "title-select" })

                                                                        @if (Model.TaskDetailTab.IsCanEdit)
                                                                        {
                                                                            @Html.EnumDropDownListFor(model => model.TaskDetailTab.Priority, new { @class = "select-list" })
                                                                            @Html.ValidationMessageFor(m => m.TaskDetailTab.Priority)
                                                                        }
                                                                        else
                                                                        {
                                                                            @Html.EnumDropDownListFor(model => model.TaskDetailTab.Priority, new { @class = "select-list", @disabled = "disabled" })
                                                                            @Html.ValidationMessageFor(m => m.TaskDetailTab.Priority)
                                                                        }

                                                                    </div>
                                                                </div>
                                                                <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding">
                                                                    <div class="avatar-block">
                                                                        <span class="title-select" style="font-size: 8px !important; margin-bottom: 5px;">Assigned by</span>
                                                                        <a href="javascript:void(0)" class="team-btn">
                                                                            <img src="/Media/GetAvatarForEmployee?employeeId=@(Model.TaskDetailTab.AssignedFrom)&amp;width=90&amp;height=90"
                                                                                 class="media-object img-circle assigned-to-large-photo">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 no-padding">
                                                            <div class="field-container">
                                                                @Html.LabelFor(model => model.TaskDetailTab.TaskNotes, new { @class = "title-select" })

                                                                @if (Model.TaskDetailTab.IsCanEdit)
                                                                {
                                                                    @Html.TextArea("TaskDetailTab.TaskNotes", Model.TaskDetailTab.TaskNotes, new { @class = "textarea simple-textarea", @rows = "3", @maxlength = "500", @placeholder = "No Notes" })
                                                                    @Html.ValidationMessageFor(model => model.TaskDetailTab.TaskNotes)
                                                                }
                                                                else
                                                                {
                                                                    @Html.TextArea("TaskDetailTab.TaskNotes", Model.TaskDetailTab.TaskNotes, new { @class = "textarea simple-textarea", @rows = "3", @maxlength = "500", @placeholder = "No Notes", @disabled = "disabled" })
                                                                    @Html.ValidationMessageFor(model => model.TaskDetailTab.TaskNotes)
                                                                }

                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 no-padding">
                                                            <div class="tags-input-container padding-right-15">
                                                                @Html.LabelFor(model => model.Tags, new { @class = "title-select" })
                                                                <div class="ms-ctn form-control ms-ctn-focus tags-input"></div>
                                                                @Html.ValidationMessageFor(model => model.Tags)
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-4 col-md-4 col-sm-5 col-xs-4 margin-top-20 no-padding">
                                                            <div class="popup-actions">
                                                                <span class="title-select">@Html.LabelFor(m => m.Deadline)</span>
                                                                <div class="simple-input" id="DueDate">@Model.Deadline.CalendarFormatWidthYear()</div>
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding margin-top-20">
                                                            <div class="row conter-row  margin-top-20">
                                                                @if (Model.CanEdit)
                                                                {
                                                                    <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right">
                                                                        <span class="@(Model.TaskDetailTab.AttacmentsCounter > 0 ? "has-attachments-image" : "no-attachments-image")" task-id="@Model.TaskDetailTab.TaskId" style="cursor:pointer !important;"></span>
                                                                        <div class="counter">
                                                                            @Model.TaskDetailTab.AttacmentsCounter
                                                                        </div>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right">
                                                                    <span class="@(Model.TaskDetailTab.AttacmentsCounter > 0 ? "has-attachments-image" : "no-attachments-image")" style="pointer-events:none;cursor: not-allowed;" disabled></span>
                                                                    <div class="counter">
                                                                        @Model.TaskDetailTab.AttacmentsCounter
                                                                    </div>
                                                                </div>
                                                                }
                                                                @if (Model.TaskDetailTab.IsFeedbackRequired)
                                                                {
                                                                    <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right">
                                                                        <span class="@(Model.TaskDetailTab.IsFeedbackRequired ? "has-feedback-required-image" : "no-feedback-required-image")"></span>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        }
                                        else
                                        {
                                            <div id="task-details" class="tab-pane fade in @(Model.SelectedTabNumber == 0 ? "active" : "")">
                                                @Html.Partial("~/Views/Rotation/TaskBoard/Dialogs/_TaskDetailsTab.cshtml", Model.TaskDetailTab)
                                            </div>
                                        }

                                        <div id="outcomes" class="tab-pane fade in @(Model.SelectedTabNumber == 2 ? "active" : "")">
                                            @Html.Partial("~/Views/Rotation/TaskBoard/Dialogs/_TaskEditableOutcomesTab.cshtml", Model.TaskOutcomesTab)
                                        </div>
                                        <div id="logs" class="tab-pane fade in">
                                            @Html.Action("GetTaskLogs", "Tasks", new { taskId = Model.TaskOutcomesTab.ID })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <script>
        ; (function () {

            
        var isAccess = @Json.Encode(Model.CanEdit == false);

        if(isAccess)
        {
            $("#task-details .tags-input").attr("disabled", "disabled").off('change');
            $("#task-details .has-attachments-image").attr("disabled", "disabled").off('change');
            $("#task-details .no-attachments-image").attr("disabled", "disabled").off('change');
            $("#outcomes .has-attachments-image").attr("disabled", "disabled").off('change');
            $("#outcomes .no-attachments-image").attr("disabled", "disabled").off('change');
        }

        var dialog = $("#task-details");

        var searchTags = $(".tags-input", dialog).magicSuggest({
          placeholder: 'Enter tags',
          maxSelection: 7,
          hideTrigger: true,
          toggleOnClick: true,
          name: "Tags",
          value: [@Html.Raw(Model.TagsString)]
        });

        $(searchTags).on('selectionchange', function (e, m, v)
        {
          $("button[type=submit]", dialog).trigger("activate");
        });

            $(".has-attachments-image", dialog).click(function () {
                var _this = this;
                var id = $(".has-attachments-image").attr("task-id");
                var attachmentsDialog = Relay.AttachmentsDialog(id, 2, 2);
                attachmentsDialog.setCloseEvent(function () {
                    $(_this).removeAttr("style");

                    $.ajax({
                        url: "/TaskBoard/UpdateAttachmentsCount",
                        method: "GET",
                        data: { Id: id }
                    })
                        .done(function (data) {
                            var result =  document.getElementsByClassName('col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-right');
                            if(result.length != 0) {
                                 document.getElementsByClassName('col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-right')[0].innerHTML = data;
                            }
                            document.getElementsByClassName('col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right')[0].innerHTML = data;
                        });
                });
                attachmentsDialog.open();
            });

            $(".no-attachments-image", dialog).click(function () {
                var _this = this;
                var id = $(".no-attachments-image").attr("task-id");
                var attachmentsDialog = Relay.AttachmentsDialog(id, 2, 2);
                attachmentsDialog.setCloseEvent(function () {
                    $(_this).removeAttr("style");
                    $.ajax({
                        url: "/TaskBoard/UpdateAttachmentsCount",
                        method: "GET",
                        data: { Id: id }
                    })
                        .done(function (data) {
                            var result =  document.getElementsByClassName('col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-right');
                            if(result.length != 0) {
                                 document.getElementsByClassName('col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-right')[0].innerHTML = data;
                            }
                           document.getElementsByClassName('col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right')[0].innerHTML = data;
                        });
                });
                attachmentsDialog.open();
            });

         var deadline = $("#Deadline", dialog).datepicker({
             format: "dd M yyyy",
             container: dialog,
             todayBtn: false
           });

           deadline.on('changeDate', function ()
           {
             $(this).datepicker('hide');
             $("button[type=submit]", dialog).trigger("activate");
           });

        //------------------------------

            var isFeedbackRequired = $("#TaskOutcomesTab_IsFeedbackRequired").val() === "True";

            $(".btn-save").click(function () {
                $("#CompleteOption").val($(this).val());
                $("#completeChecklistTaskForm").submit();
            });

            $("#TaskOutcomesTab_Feedback").bind("input", function () {
                if (isFeedbackRequired) {
                    if ($(this).val())
                        $(".complete").addClass("active-green");
                    else
                        $(".complete").removeClass("active-green");
                }
                $(".save").addClass("active");
            });

            $(".has-attachments-image", "#TaksDetailsTab").click(function () {
                var _this = this;
                $(_this).attr("style", "pointer-events: none;");
                var id = $("#TaskOutcomesTab_ID", "#completeChecklistTaskFormDialog").val();
                var attachmentsDialog = Relay.AttachmentsDialog(id, 2, 2);
                attachmentsDialog.setCloseEvent(function () {
                    $(_this).removeAttr("style");
                    $.ajax({
                        url: "/TaskBoard/UpdateAttachmentsCount",
                        method: "GET",
                        data: { Id: id }
                    })
                        .done(function (data) {
                            document.getElementsByClassName('col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-right')[0].innerHTML = data;
                            document.getElementsByClassName('col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right')[0].innerHTML = data;
                        });
                });
                attachmentsDialog.open();
            });

            $(".no-attachments-image", "#TaksDetailsTab").click(function () {
                var _this = this;
                $(_this).attr("style", "pointer-events: none;");
                var id = $("#TaskOutcomesTab_ID", "#completeChecklistTaskFormDialog").val();
                var attachmentsDialog = Relay.AttachmentsDialog(id, 2, 2);
                attachmentsDialog.setCloseEvent(function () {
                    $(_this).removeAttr("style");
                    $.ajax({
                        url: "/TaskBoard/UpdateAttachmentsCount",
                        method: "GET",
                        data: { Id: id }
                    })
                        .done(function (data) {
                            document.getElementsByClassName('col col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding text-right')[0].innerHTML = data;
                            document.getElementsByClassName('col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right')[0].innerHTML = data;
                        });
                });
                attachmentsDialog.open();
            });

            $(".has-attachments-image", "#TopicDetailsDialog").click(function () {
                var _this = this;
                $(_this).attr("style", "pointer-events: none;");
                var id = $("#TaskDetailTab_ItemId", "#completeChecklistTaskFormDialog").val();
                var attachmentsDialog = Relay.AttachmentsDialog(id, 2, 1);
                attachmentsDialog.setCloseEvent(function () {
                    $(_this).removeAttr("style");
                });
                attachmentsDialog.open();
            });
        })();
    </script>
</div>