﻿@model TaskBoardTaskDetailsDialogViewModel

<div id="taskDetailsFormDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" class="modal fade task-board-complete-checklist-task-dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        @Html.HiddenFor(m => m.TaskOutcomesTab.ID)
        @Html.HiddenFor(m => m.TaskDetailTab.ItemId)
        <div class="theme">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row vertical-center">
                        <div class="col col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <div id="modalTitle" class="modal-title">View Task</div>
                        </div>
                        <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-4 text-right">
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                            <div class="tab-block">
                                <div class="navigation-block">
                                    <ul class="nav nav-tabs">
                                        @if (Model.ProjectDetailsTab != null)
                                        {
                                            <li tabNumber="0"><a data-toggle="tab" href="#projectDetails">Project Details</a></li>
                                        }
                                        <li tabNumber="1"><a data-toggle="tab" href="#task-details">Task Details</a></li>
                                        <li class="orange active" tabNumber="2"><a data-toggle="tab" href="#outcomes">Outcomes</a></li>
                                        <li tabNumber="3"><a data-toggle="tab" href="#logs">Log</a></li>
                                    </ul>
                                </div>
                                <div class="tab-content">
                                    @if (Model.ProjectDetailsTab != null)
                                    {
                                        <div id="projectDetails" class="tab-pane fade in">
                                            @Html.Partial("~/Views/ProjectAdmin/FollowerTasksPanel/Dialogs/_ProjectDetailsTab.cshtml", Model.ProjectDetailsTab)
                                        </div>
                                    }
                                    <div id="task-details" class="tab-pane fade in">
                                        @Html.Partial("~/Views/Rotation/TaskBoard/Dialogs/_TaskDetailsTab.cshtml", Model.TaskDetailTab)
                                    </div>
                                    <div id="outcomes" class="tab-pane fade in active">
                                        @Html.Partial("~/Views/Rotation/TaskBoard/Dialogs/_TaskOutcomesTab.cshtml", Model.TaskOutcomesTab)
                                    </div>
                                    <div id="logs" class="tab-pane fade in">
                                        @Html.Action("GetTaskLogs", "Tasks", new {taskId = Model.TaskOutcomesTab.ID})
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(".has-attachments-image", "#task-details").click(function () {
                var _this = this;
                $(_this).attr("style", "pointer-events: none;");
                var id = $("#TaskOutcomesTab_ID", "#taskDetailsFormDialog").val();
                var attachmentsDialog = Relay.AttachmentsDialog(id, 2, 2);
                attachmentsDialog.setCloseEvent(function () {
                    $(_this).removeAttr("style");
                });
                attachmentsDialog.open();
            });
        </script>
    </div>
</div>