﻿@model TaskBoardCompleteTaskDetailTabViewModel

@Html.HiddenFor(m => m.CreatorTaskId)
@Html.HiddenFor(m => m.TaskId)

<div id="TaksDetailsTab">
    <div class="row">
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="row no-margin">
                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding padding-right-30">
                    <div class="field-container">
                        @Html.LabelFor(model => model.Name, new { @class = "title-select" })

                        @if (Model.IsCanEdit)
                        {
                            @Html.TextBox("TaskDetailTab.Name", Model.Name, new { @class = "simple-input" })
                            @Html.ValidationMessageFor(model => model.Name)
                        }
                        else
                        {
                            @Html.TextBox("TaskDetailTab.Name", Model.Name, new { @class = "simple-input", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.Name)
                        }

                    </div>
                </div>
                <div class="col col-lg-5 col-md-5 col-sm-5 col-xs-5 no-padding padding-right-30">
                    <div class="select-type">
                        @Html.LabelFor(m => m.Priority, new { @class = "title-select" })

                        @if (Model.IsCanEdit)
                        {
                            @Html.EnumDropDownListFor(model => model.Priority, new { @class = "select-list" })
                            @Html.ValidationMessageFor(m => m.Priority)
                        }
                        else
                        {
                            @Html.EnumDropDownListFor(model => model.Priority, new { @class = "select-list", @disabled = "disabled", @readonly = "" })
                            @Html.ValidationMessageFor(m => m.Priority)
                        }

                    </div>
                </div>
                <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding">
                    <div class="avatar-block">
                        <span class="title-select" style="font-size: 8px !important; margin-bottom: 5px;">Assigned by</span>
                        <a href="javascript:void(0)" class="team-btn">
                            <img src="/Media/GetAvatarForEmployee?employeeId=@(Model.AssignedFrom)&amp;width=90&amp;height=90"
                                 class="media-object img-circle assigned-to-large-photo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 no-padding">
            <div class="field-container">
                @Html.LabelFor(model => model.TaskNotes, new { @class = "title-select" })

                @if (Model.IsCanEdit)
                {
                    @Html.TextArea("TaskDetailTab.TaskNotes", Model.TaskNotes, new { @class = "textarea simple-textarea", @rows = "3", @maxlength = "500", @placeholder = "No Notes" })
                    @Html.ValidationMessageFor(model => model.TaskNotes)
                }
                else
                {
                    @Html.TextArea("TaskDetailTab.TaskNotes", Model.TaskNotes, new { @class = "textarea simple-textarea", @rows = "3", @maxlength = "500", @placeholder = "No Notes", @disabled = "disabled" , @readonly = "" })
                    @Html.ValidationMessageFor(model => model.TaskNotes)
                }

            </div>
        </div>
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20 no-padding">
            <div class="tags-input-container padding-right-15">
                @Html.LabelFor(model => model.Tags, new { @class = "title-select" })
                <div class="ms-ctn form-control ms-ctn-focus tags-input"></div>
                @Html.ValidationMessageFor(model => model.Tags)
            </div>
        </div>
        <div class="col col-lg-4 col-md-4 col-sm-5 col-xs-4 margin-top-20 no-padding">
            <div class="popup-actions">
                <span class="title-select">@Html.LabelFor(m => m.Deadline)</span>
                <div class="simple-input" id="DueDate">@Model.Deadline.CalendarFormatWidthYear()</div>
            </div>
        </div>
        <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding margin-top-20">
            <div class="row conter-row  margin-top-20">

                @if (Model.IsCanEdit)
                {
                    <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right">
                        <span class="@(Model.AttacmentsCounter > 0 ? "has-attachments-image" : "no-attachments-image")"></span>
                        <div class="counter">
                            @Model.AttacmentsCounter
                        </div>
                    </div>
                }
                else
                {
                    <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right">
                        <span class="@(Model.AttacmentsCounter > 0 ? "has-attachments-image" : "no-attachments-image")" disabled="disabled" style="pointer-events:none; cursor: not-allowed !important;"></span>
                        <div class="counter">
                            @Model.AttacmentsCounter
                        </div>
                    </div>
                }

                @if (Model.VoiceMessagesCounter > 0)
                {
                    <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right">
                        <span class="@(Model.VoiceMessagesCounter > 0 ? "has-voise-messages-image" : "no-voise-messages-image")"></span>
                        <div class="counter">
                            @Model.VoiceMessagesCounter
                        </div>
                    </div>
                }
                @if (Model.IsFeedbackRequired)
                {
                    <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right">
                        <span class="@(Model.IsFeedbackRequired ? "has-feedback-required-image" : "no-feedback-required-image")"></span>
                    </div>
                }
            </div>
        </div>
    </div>

    <script>
         $(document).ready(function () {

         var isAccess = @Json.Encode(Model.IsCanEdit == false);

        if(isAccess)
        {
            $(".has-attachments-image").attr("disabled", "disabled").off('click');
            $(".tags-input").attr("disabled", "disabled").off('change');
        }

            $('#TaksDetailsTab .tags-input').magicSuggest({
                placeholder: 'No Tags',
                maxSelection: 10,
                hideTrigger: true,
                toggleOnClick: true,
                name: "Tags",
                value: [@Html.Raw(Model.TagsString)]
            });


            $(".has-attachments-image").click(function () {
                var _this = this;
                $(_this).attr("style", "pointer-events: none;");
                var id = $("#TaskOutcomesTab_ID", "#taskDetailsFormDialog").val();
                var attachmentsDialog = Relay.AttachmentsDialog(id, 2, 2);
                attachmentsDialog.setCloseEvent(function () {
                    $(_this).removeAttr("style");

                     $.ajax({
                        url: "/TaskBoard/UpdateAttachmentsCount",
                        method: "GET",
                        data: { Id: id }
                     })
                        .done(function (data) {
                            var result =  document.getElementsByClassName('col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right');
                            if(result.length != 0) {
                                 document.getElementsByClassName('col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right')[0].innerHTML = data;
                            }
                        });
                });
                attachmentsDialog.open();
            });

         $(".no-attachments-image").click(function () {
                var _this = this;
                $(_this).attr("style", "pointer-events: none;");
                var id = $("#TaskOutcomesTab_ID", "#taskDetailsFormDialog").val();
                var attachmentsDialog = Relay.AttachmentsDialog(id, 2, 2);
                attachmentsDialog.setCloseEvent(function () {
                    $(_this).removeAttr("style");

                    $.ajax({
                        url: "/TaskBoard/UpdateAttachmentsCount",
                        method: "GET",
                        data: { Id: id }
                     })
                        .done(function (data) {
                            var result =  document.getElementsByClassName('col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right');
                            if(result.length != 0) {
                                 document.getElementsByClassName('col col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding text-right')[0].innerHTML = data;
                            }
                        });

                });
                attachmentsDialog.open();
            });

        });
    </script>
</div>