﻿@model TaskBoardCompleteTaskDialogViewModel

    <span class="@(Model.TaskDetailTab.AttacmentsCounter > 0 ? "has-attachments-image" : "no-attachments-image")" task-id="@Model.TaskDetailTab.TaskId" style="cursor: pointer;"></span>
    <div class="counter">
        @Model.TaskDetailTab.AttacmentsCounter
    </div>