﻿@model PreferencesSettingsViewModel

<div style="display: block;" class="tab-pane" Id="administrationPreferences">
    @using (Html.BeginForm("PreferencesTab", "Administration", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col col-lg-8 col-sm-8 col-md-8 col-xs-8">
                <div class="row">
                    <div class="col col-lg-7 col-sm-7 col-md-7 col-xs-7">
                        <div class="select-type">
                            <span class="title-select">@Html.LabelFor(m => m.HandoverTriggerType)</span>
                            @Html.EnumDropDownListFor(model => model.HandoverTriggerType, new { @class = "select-list" })
                            @Html.ValidationMessageFor(m => m.HandoverTriggerType)
                        </div>
                    </div>
                    <div class="col col-lg-5 col-sm-5 col-md-5 col-xs-5">
                        <div class="select-type">
                            <span class="title-select">@Html.LabelFor(m => m.HandoverTriggerTime)</span>
                            @Html.DropDownListFor(model => model.HandoverTriggerTime,
                                Enumerable.Range(00, 24).Select(i =>
                                    new SelectListItem
                                    {
                                        Value = DateTime.Today.Subtract(-TimeSpan.FromHours(i)).ToString("hh:mmtt").ToLower(),
                                        Text = DateTime.Today.Subtract(-TimeSpan.FromHours(i)).ToString("hh:mmtt").ToLower()
                                    }), null, new { @class = "select-list" })
                        </div>
                    </div>
                </div>
                <div class="row margin-top-20">
                    <div class="col col-lg-7 col-sm-7 col-md-7 col-xs-7">
                        <div class="select-type">
                            <span class="title-select">@Html.LabelFor(m => m.HandoverPreviewType)</span>
                            @Html.EnumDropDownListFor(model => model.HandoverPreviewType, new {@class = "select-list"})
                            @Html.ValidationMessageFor(m => m.HandoverPreviewType)
                        </div>
                    </div>
                    <div class="col col-lg-5 col-sm-5 col-md-5 col-xs-5">
                        <div class="select-type">
                            <span class="title-select">@Html.LabelFor(m => m.HandoverPreviewTime)</span>
                            @Html.DropDownListFor(model => model.HandoverPreviewTime,
                                Enumerable.Range(00, 24).Select(i =>
                                    new SelectListItem
                                    {
                                        Value = DateTime.Today.Subtract(-TimeSpan.FromHours(i)).ToString("hh:mmtt").ToLower(),
                                        Text = DateTime.Today.Subtract(-TimeSpan.FromHours(i)).ToString("hh:mmtt").ToLower()
                                    }), "never", new {@class = "select-list"})
                        </div>
                    </div>
                </div>
                <div class="row margin-top-20">
                    @*<div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="select-type">
                            <span class="title-select">@Html.LabelFor(m => m.Timezone)</span>
                            @Html.DropDownListFor(model => model.Timezone,
                                TimeZoneInfo.GetSystemTimeZones().Select(zone =>
                                    new SelectListItem
                                    {
                                        Value = zone.Id,
                                        Text = zone.DisplayName.Substring(0, zone.DisplayName.IndexOf(" ", StringComparison.Ordinal)) + " " + TZNames.GetNamesForTimeZone(zone.Id, "en-GB").Generic
                                    }).OrderByDescending(zone => zone.Text), null, new { @class = "select-list" })
                        </div>
                    </div>*@
                    <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="select-type">
                            <span class="title-select">@Html.LabelFor(m => m.Timezone)</span>
                            @Html.DropDownListFor(model => model.Timezone,
                                TimeZoneInfo.GetSystemTimeZones().Select(zone =>
                                    new SelectListItem
                                    {
                                        Value = zone.Id,
                                        Text = zone.DisplayName
                                    }).OrderBy(zone => zone.Text), null, new { @class = "select-list" })
                        </div>
                    </div>
                </div>
                <div class="row margin-top-20">
                    <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="tags-input-container">
                            <label class="tags-input-title">Allowed File Types</label>
                            <div class="ms-ctn form-control ms-ctn-focus tags-input"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-sm-4 col-md-4 col-xs-4">
                <div class="row text-center">
                    <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12">

                        <div class="upload-photo margin-top-20" style="height: 100px;">
                            <div data-provides="fileinput" class="fileinput fileinput-new">
                                <div data-trigger="fileinput" class="fileinput-preview thumbnail">
                                    @if (!Model.LogoImageId.HasValue)
                                    {
                                        <img src="~/Content/img/no-image.png" class="media-object img-circle assigned-to-large-photo avatar-image" />
                                    }
                                    else
                                    {
                                        <img src="/Media/GetImage?imageId=@(Model.LogoImageId)&width=90&height=90&@(Guid.NewGuid())"
                                             class="media-object img-circle assigned-to-large-photo avatar-image">
                                    }
                                </div>
                                <div>
                                    <span class="btn btn-default btn-file">
                                        <input Id="logoImage" name="logoImage" type="file" accept="image/*" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12 edit-photo">
                        <div style="cursor: pointer;" onclick="javascript: $('#logoImage').click()">
                            <span class="glyphicon glyphicon glyphicon-upload edit-photo" aria-hidden="true"></span>
                            <span>choose company logo</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>

            var tagsInput = $('#administrationPreferences .tags-input').magicSuggest({
                maxSelection: 100,
                placeholder: 'Type some file types',
                hideTrigger: true,
                allowDuplicates: false,
                allowFreeEntries: true,
                toggleOnClick: true,
                name: "AllowedFileTypes",
                value: [ @Html.Raw(Model.AllowedFileTypesString)]
            });
        </script>

    }
</div>
