﻿@model IEnumerable<UserDetailsViewModel>

<div style="display: block;" class="tab-pane" Id="administrationUsers">
    <div class="users-container">
        <div class="list-container">
            <div class="users-title-container">
                <span class="title-select user-type-column"></span>
                <span class="title-select user-full-name-column">Full Name</span>
                <span class="title-select user-last-login-column">Last Login</span>
                <span class="title-select user-status-column"></span>
                <span class="title-select user-delete-btn-column"></span>
            </div>
            <div class="users-content">
                <div class="user-list-container">
                    @foreach (var user in Model)
                    {
                        <div user-Id="@user.Id" class="swiper-slide swiper-slide-active">
                            <span class="title-select user-type-column">@Html.RoleAlias(user.Role)</span>
                            <div class="user-full-name-column">@user.FullName</div>
                            <div class="user-last-login-column">@(string.IsNullOrWhiteSpace(user.LastLogin) ? "-" : user.LastLogin )</div>
                            <div class="user-status-column">
                                <div class="status @(!user.IsLock ? "inactive" : "active")" is-lock="@user.IsLock.ToString()" user-count="@Model.Count(u => !u.IsLock)" is-editable="@user.CanDelete.ToString()" style="@(user.CanDelete ? "" : "cursor: no-drop!important;" )">
                                    @(!user.IsLock ? "Deactivate" : "Activate")
                                </div>
                            </div>
                            <div class="user-delete-btn-column" can-delete="@user.CanDelete.ToString()" style="@(user.CanDelete ? "" : "cursor: no-drop!important;" )">×</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <script>
        (function ()
        {
            $("#administrationUsers .status").click(function ()
            {
                var _this = this;

                var isLock = $(this).attr("is-lock") === "True";

                var userId = $(_this).parent().parent().attr("user-Id");

                var confirmMessege = isLock ? "Are you sure you want to activate this user?" : "Are you sure you want to deactivate this user?";

                var isEditable = $(this).attr("is-editable") === "True";
                var usersCount = $(this).attr("user-count");
 
                if (isEditable)
                {
                    console.log(isEditable)


                    var confirmDialog = Relay.ConfirmDialog(
                        "",
                        confirmMessege,
                        "Yes",
                        "No"
                    );
                    confirmDialog.setOkEvent(function ()
                    {
                        $.ajax({
                            url: "/Administration/ReactivateUser",
                            method: "POST",
                            data: {
                                userId: userId,
                                status: !isLock,
                                usersCount: usersCount
                            }
                        })
                            .done(function (data) {
                                reloadSection();
                            })
                            .fail(function (data)
                            {
                                var infoDlg = Relay.InfoDialog(/*data.responseJSON.message*/
                                    "You have reached the limit of active users on your subscription. Please " +
                                    '<a href="/Upgrade" title="upgrade">upgrade</a>' +
                                    " to add further users."
                                );
                                infoDlg.open();
                               // Relay.ErrorDialog().open();
                            });
                    }.bind(this));
                    confirmDialog.open();
                }
            });

            $("#administrationUsers .user-delete-btn-column").click(function ()
            {
                var _this = this;
                var name = $(this).parent().find(".user-full-name-column").text();

                if ($(_this).attr("can-delete") === "True")
                {

                    var confirmDialog = Relay.ConfirmDialog(
                        "",
                        "User '" + name + "' will be removed. Are you sure?",
                        "Yes",
                        "No"
                    );
                    confirmDialog.setOkEvent(function ()
                    {
                        removeUser($(_this).parent().attr("user-Id"));
                    }.bind(this));
                    confirmDialog.open();
                }
            });

            function removeUser(Id)
            {
                $.ajax({
                    url: "/Administration/RemoveUser",
                    method: "POST",
                    data: { userId: Id }
                })
                    .done(function (data)
                    {
                        reloadSection();
                    })
                    .fail(function ()
                    {
                        Relay.ErrorDialog().open();
                    });
            }

            function reloadSection()
            {
                var adminSection = $("#administrationUsers");

                $.ajax({
                    url: "/Administration/UsersTab",
                    method: "GET"
                })
                    .done(function (data)
                    {
                        adminSection.parent().html($(data));
                    })
                    .fail(function ()
                    {
                        Relay.ErrorDialog().open();
                    });
            }
        })();
    </script>
</div>