﻿@model ProjectDialogViewModel

<div Id="editProjectFormDialog" tabindex="-1" role="dialog" aria-labelledby="labelTags" aria-hidden="true" data-keyboard="false" data-backdrop="static" class="modal project-dialog fade">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)

        <div class="modal-dialog">
            <div class="theme">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row vertical-center">
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div Id="modalTitle" class="modal-title">Edit Project</div>
                            </div>
                            <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                                <button type="submit" class="btn btn-save">Save</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row vertical-center">
                            <div class="col col-lg-3 col-sm-3 col-md-3 col-xs-3 text-center">
                                <div class="project-image">
                                    <img src="@Url.Action("GetProjectAvatar", "Media", new { area = "", projectId = @Model.Id, width = 120, height = 120 })"
                                         class="img-circle" />

                                </div>
                            </div>
                            <div class="col col-lg-9 col-sm-9 col-md-9 col-xs-9">
                                <div class="row">
                                    <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                        <div class="field-container">
                                            <span class="title-select">@Html.LabelFor(model => model.Name)</span>
                                            @Html.TextBoxFor(model => model.Name, new { @class = "simple-input", @placeholder = "Enter Project Name" })
                                            @Html.ValidationMessageFor(model => model.Name)
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-top-20">
                                    <div class="col col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                        <div class="field-container">
                                            <span class="title-select">@Html.LabelFor(model => model.StartDate)</span>
                                            @{ Html.EnableClientValidation(false); }
                                            @Html.TextBox("StartDate", Model.StartDate.CalendarFormatWidthYear(), new { @class = "simple-input datepicker", @placeholder = "Project Start Date" })
                                            @Html.ValidationMessageFor(m => m.StartDate)
                                            @{ Html.EnableClientValidation(true); }

                                        </div>
                                    </div>
                                    <div class="col col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                        <div class="field-container">
                                            <span class="title-select">@Html.LabelFor(model => model.EndDate)</span>
                                            @{ Html.EnableClientValidation(false); }
                                            @Html.TextBox("EndDate", Model.EndDate.CalendarFormatWidthYear(), new { @class = "simple-input datepicker", @placeholder = "Project End Date" })
                                            @Html.ValidationMessageFor(m => m.EndDate)
                                            @{ Html.EnableClientValidation(true); }

                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-top-20">
                                    <div class="col col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                        <div class="select-type">
                                            <span class="title-select">@Html.LabelFor(model => model.ProjectStatus)</span>
                                            @Html.TextBoxFor(model => model.ProjectStatus, new {@class = "simple-input", @readonly = "readonly", @placeholder = "Project Status"})
                                        </div>
                                    </div>
                                    <div class="col col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                        <div class="select-type">
                                            <span class="title-select">@Html.LabelFor(model => model.ProjectManagerId)</span>
                                            @Html.DropDownListFor(m => m.ProjectManagerId, Model.Employees, "Choose PM", new { @class = "select-list" })
                                            @Html.ValidationMessageFor(m => m.ProjectManagerId)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-20">
                            <div class="col col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                <div class="field-container">
                                    @Html.LabelFor(model => model.Description, new { @class = "title-select" })
                                    @Html.TextAreaFor(model => model.Description, new { @class = "simple-textarea", @rows = "3", @maxlength = "250", @style = "overflow-x: hidden; word-wrap: break-word; overflow-y: visible;", @placeholder = "Enter Description (250 characters)" })
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="~/Content/js/relay/project-admin/dialogs/project-dialog.module.js"></script>
    }
</div>