﻿@model ProjectSlideViewModel

<div class="@(Model.ProjectStatus == MomentumPlus.Relay.ProjectStatus.Active.ToString() ? "active-project" : "inactive-project")">
    <div class="project-status">
        <span></span>
    </div>
    <div class="project-image">
        <img src="@Url.Action("GetProjectAvatar", "Media", new {area = "", projectId = @Model.Id, width = 100, height = 100, guid = Guid.NewGuid()})"
             alt="@Model.Name"
             class="img-circle" />
    </div>
    <div class="project-name">
        @Model.Name
    </div>
</div>