﻿@model ProjectFullSlideViewModel

<div class="full-slide">
    <div class="@(Model.ProjectStatus.ToString() == MomentumPlus.Relay.ProjectStatus.Active.ToString() ? "active-project" : "inactive-project")">
        <div class="container table-container">
            <div class="row table-row">
                <div class="col col-lg-2 col-sm-4 col-md-3 col-xs-5 table-col project-image-block text-center">
                    <img src="@Url.Action("GetProjectAvatar", "Media", new {area = "",  projectId = @Model.Id, width = 150, height = 150, guid = Guid.NewGuid()})"
                         alt="@Model.Name"
                         class="img-circle" />
                </div>
                <div class="col col-lg-5 col-sm-8 col-md-9 col-xs-7  table-col">
                    <div class="row">
                        <div class="col col-lg-12">
                            <span class="project-name">
                                @Model.Name | @Model.ActivePeriod
                            </span>
                        </div>
                    </div>
                    <div class="row hidden-sm hidden-xs description-row">
                        <div class="col col-lg-12">
                            <span class="project-description">
                                @Model.Description
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-5 hidden-md hidden-sm hidden-xs table-col">
                    <div class="row project-information-row">
                        <div class="col col-lg-6 no-padding">
                            <div class="created-by-block">
                                Created by
                                <span class="creator-label">
                                    @Model.CreatedBy
                                </span>
                            </div>
                            <div class="created-on-block">
                                Created on
                                <span class="created-label">
                                    @Model.CreatedOn
                                </span>
                            </div>
                        </div>
                        <div class="col col-lg-6">
                            <div class="status-block">
                                Status
                                <span class="status-label">
                                    <span class="status-flag"></span>
                                    @Model.ProjectStatus.ToString()
                                </span>
                            </div>
                            <div class="pm-block">
                                PM
                                <span class="pm-label">
                                    @Model.ProjectManager
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="close close-full-slide">&times;</button>
</div>