﻿@model GlobalTemplatesViewModel
@{

    Layout = "~/Views/Framework/MasterLists/_Layout.cshtml";
    var currentController = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-icon-right">
            <strong style="font-size: 20px !important;">
                Sectors
            </strong>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                @if (Model != null)
                {
                    foreach (var sector in Model.Sectors)
                    {
                        <li class="list-group-item list-group-item-action@(Model.ActiveSector == sector.Value ? " active" : "")">

                            <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(),
                                                     Request.QueryString.AddOrUpdate(new Dictionary<string, object>
                                                     {
                                                         {"sectorId", sector.Value}
                                                     }))">
                                @sector.Text
                            </a>
                        </li>
                    }
                    if (!Model.Sectors.Any())
                    {
                        <li class="list-group-item text-center">No sectors..</li>
                    }
                }
                else
                {
                    <li class="list-group-item text-center">No sectors..</li>
                }
            </ul>

        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-icon-right">
            <strong style="font-size: 20px !important;">
                RelayWorks Templates
            </strong>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                @if (Model != null)
                {
                    if (Model.ActiveSector != null && Model.GlobalTemplates.Any())
                    {
                        foreach (var template in Model.GlobalTemplates)
                        {

                            <li class="list-group-item list-group-item-action@(Model.ActiveTemplate == template.Value ? " active" : "")">
                                <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(),
                                                                 Request.QueryString.AddOrUpdate(new Dictionary<string, object>
                                                                 {
                                                                     {"templateId", template.Value}
                                                                 }))">
                                    @template.Text
                                </a>

                                    <a class="glyphicon glyphicon-eye-open pull-right" href="@Url.Action("Index", "Templates", new { selectedTemplate = template.Value, isViewGlobalTemplates = true })"></a>
                            </li>
                        }

                        if (!Model.GlobalTemplates.Any())
                        {
                            <li class="list-group-item text-center">No templates..</li>
                        }
                    }
                    else
                    {
                        <li class="list-group-item text-center">
                            Select a sector.
                        </li>
                    }
                }
                else
                {
                    <li class="list-group-item text-center">No templates..</li>
                }
            </ul>

        </div>
    </div>
</div>
    <script>
    $(window).load(function ()
    {
        $(".company-create-btn").click(createCompanyFormDialog);
        $(".company-edit-btn").click(editCompanyFormDialog);
        $(".company-remove-btn").click(removeCompanyFormDialog);

        function createCompanyFormDialog(e)
        {
            var formDialog = Relay.FormDialog({
                url: "/Companies/CreateCompanyDialog",
                method: "GET",
                dialogId: "companyFormDialog"
            });
            formDialog.setSubmitEvent(function ()
            {
                location.reload();
            });
            formDialog.open();
        }

        function editCompanyFormDialog(e)
        {
            var formDialog = Relay.FormDialog({
                url: "/Companies/EditCompanyDialog/" + e.currentTarget.id,
                method: "GET",
                dialogId: "companyFormDialog"
            });
            formDialog.setSubmitEvent(function ()
            {
                location.reload();
            });
            formDialog.open();
        }

        function removeCompanyFormDialog() {

            var confirmDialog = Relay.ConfirmDialog(
                "Remove Companies",
                "Are you sure that you want to delete the company?",
                "Yes",
                "No"
            );
            confirmDialog.setOkEvent(removeCompany);
            confirmDialog.setCancelEvent();
            confirmDialog.open();
        }


        function removeCompany() {

            var companyId = $(".company-remove-btn").attr('Id');

            $.ajax({
                url: "/Companies/RemoveCompany",
                method: "POST",
                data: { companyId: companyId }
            })
                .done(function (data) {
                    if (data == "") {
                        location.reload();
                    }
                    var infoDlg = Relay.InfoDialog(data);
                    infoDlg.open();

                });
        }

    });
    </script>
