﻿@model TaskBoardViewModel

@{
    Layout = "~/Views/Shared/Layouts/Main/Authorized_Layout.cshtml";
}

@if (Model.IsViewMode)
{
    @Html.Partial("~/Views/Rotation/Shared/_ViewModePanel.cshtml", Model.OwnerName)
}
<div class="task-board-page" user-id="@Model.UserId.ToString()">
    <div class="panel panel-primary task-board-page">
        <div class="panel-heading clearfix">
            <div class="task-board-title">
                <span class="panel-title">Task List</span>
            </div>
            <div class="task-board-controls">
                @if (!User.IsInRole("Executive User"))
                {
                    <div class="plus-btn" style="display: none;"></div>
                }

                <div class="filter-btn"></div>
                <div class="pdf-report"></div>
            </div>
        </div>
        <div class="panel-body main-panel">
            <div class="navbar navbar-brown navbar-white">
                <div class="row no-margin">
                    <div class="task-board-side-menu">
                        <ul class="nav nav-tabs" role="tablist">
                            @Html.MvcSiteMap().Menu(
                                templateName: "BootstrapMenuHelperModel",
                                startingNode: Html.MvcSiteMap().SiteMap.CurrentNode.ParentNode,
                                startingNodeInChildLevel: true,
                                showStartingNode: true
                            )
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="task-board-page-content">
            @RenderBody()
        </div>

        @section Scripts
        {
            @RenderSection("Scripts", required: false)
        }
    </div>
</div>