﻿@model TaskBoardEditCompleteMenuViewModel

<div id="taskBoardMenuPopover" task-id="@Model.TaskId" class="task-board-menu-popover-content" data-placement="bottom">
    <div class="filter-content">
        <div class="filter-row" id="edit" user-id="@Model.UserId" task-id="@Model.TaskId">
            Reassign
        </div>
        <div class="filter-row" id="complete" user-id="@Model.UserId" task-id="@Model.TaskId">
            View
        </div>
    </div>
    <script>
        (function () {
            var taskBoardMenuPopover = $(".task-board-menu-popover-content[task-id='@Model.TaskId']");

            $("#edit", taskBoardMenuPopover).click(function () {

                var editTaskDialog = Relay.FormDialog({
                    url: "/TaskBoard/EditTaskDialog",
                    data: {
                        userId: $(this).attr("user-id"),
                        taskId: $(this).attr("task-id")
                    }
                });
                editTaskDialog.setSubmitEvent(function () {
                    location.reload();
                });
                editTaskDialog.open();

                $($(this).parent().parent().parent().parent().parent()).hide();
            });

            $("#complete", taskBoardMenuPopover).click(function () {

                var completeTaskDialog = Relay.FormDialog({
                    url: "/TaskBoard/CompleteTaskChecklistDialog",
                    data: {
                        taskId: $(this).attr("task-id")
                    }
                });
                completeTaskDialog.setSubmitEvent(function () {
                    location.reload();
                });
                completeTaskDialog.open();

                $($(this).parent().parent().parent().parent().parent()).hide();
            });

        })();
    </script>
</div>
